<template>
    <div class="usablePointContainer">
         <div class="header">
             <span>可调用点位</span>
         </div>
         <div class="videoNumerTable">
             <div class="table_header">
                <div class="table_header_item">序号</div>
                <div class="table_header_item">居村</div>
                <div class="table_header_item">点位名称</div>
                <div class="table_header_item">状态</div>
            </div>
            <div
            class="table_body"
            v-for="(item, index) in byCameraList.results"
            :key="index"
            >
            <div class="table_body_item">{{ `${index+1}` }}</div>
            <el-tooltip
                class="item"
                effect="dark"
                :content="item.properties.villageName"
                placement="top"
            >
                <div class="table_body_item">{{ item.properties.villageName }}</div>
            </el-tooltip>
            <el-tooltip
                class="item"
                effect="dark"
                :content="item.nickname"
                placement="top"
            >
                <div class="table_body_item">{{ item.nickname }}</div>
            </el-tooltip>

            <el-tooltip
                class="item"
                effect="dark"
                :content="`${item.status == 'ACTIVE'? '可用' :'不可用'}`"
                placement="top"
            >
                <div class="table_body_item">{{ item.status == 'ACTIVE'? '可用' :"不可用" }}</div>
            </el-tooltip>
            </div>
         </div>
         <div class="usablepointlistPage">
             <el-pagination
                 @current-change="handleCurrentChange"
                 :page-size="10"
                layout="total, prev, pager, next, jumper"
                :total="byCameraList.pagination.total">
            </el-pagination>
         </div>
         <div class="close" @click="close"> </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import Vue from "vue"
export default {
    data(){
        return{

        }
    },
    methods:{
        close(){
            this.$store.commit("SET_USABLE_POINT_VISIBLE",false);
            console.log("点击")
        },
        handleCurrentChange(index){
            console.log(index);
            let params = {
                start:(index-1)*10,
                count:10,
                sourceUrn:this.usablePointParams.sourceUrn,
                district:Vue.ls.get('districtId'),
            }
            this.$store.dispatch("available",params);
        }
    },
    created(){

    },
    mounted(){

    },
    components:{

    },
    computed:{
        ...mapState({
            byCameraList:state=>state.videoAggregation.available,
            usablePointParams:state=>state.videoAggregation.usablePointParams,
        })
    }
}
</script>

<style scoped lang="less">
    .usablePointContainer{
        height: 55%;
        width: 30%;
        background: red;
        position: absolute;
        top: 20%;
        left: 35%;
        background: url('~@/assets/images/videoAggregation/globlepopbg@2x.png');
        background-size: 100% 100%;
        .header{
            height: 8%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size:72px ;
            color:#00FAFF ;
        }
        .videoNumerTable {
            // background: oldlace;
            overflow: hidden;
            width: 100%;
            height: 80%;
            box-sizing: border-box;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .table_header {
            width: 97%;
            height: 150px;
            // background: #fed;
            border: 2px solid #3d6b81;
            display: grid;
            grid-template-columns: 15% 35% 35% 15%;
            grid-auto-rows: 100%;
            .table_header_item {
                border-right: 2px solid #3d6b81;
                background: rgba(1, 49, 72, 0.5);
                text-align: center;
                line-height: 140px;
                font-size: 60px;
                color: #19daee;
            }
            .table_header_item:last-child {
                border: none;
            }
            }
            .table_body {
            width: 97%;
            height: 150px;
            border-width: 0 2px 2px 2px;
            border-style: solid;
            border-color: #3d6b81;
            display: grid;
            grid-template-columns: 15% 35% 35% 15%;
            grid-auto-rows: 100%;
            .table_body_item {
                border-right: 2px solid #3d6b81;
                text-align: center;
                line-height: 140px;
                font-size: 55px;
                padding: 0 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .table_body_item:last-child {
                border: none;
            }
            }
        }
        .close{
            position: absolute;
            height: 100px;
            width: 100px;
            top:20px;
            right: 20px;
            background: url('~@/assets/images/videoAggregation/图层 706@2x.png');
            background-size: 100% 100%;
            // background: red;

        }
        
    }
</style>

<style lang="less" >
.usablepointlistPage {
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .el-pagination .el-pagination__total {
    font-size: 50px;
    color: oldlace;
    padding-top: 15px;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    background: transparent;
    font-size: 50px;
    color: white;
    padding-top: 15px;
  }
  .el-dialog,
  .el-pager li {
    background: transparent;
    color: white;
    font-size: 50px;
    padding-top: 15px;
  }
  .el-pager li.active {
    color: #409eff;
  }
  .el-pagination .btn-next .el-icon,
  .el-pagination .btn-prev .el-icon {
    font-size: 35px;
  }
  .el-pagination .el-pagination__jump {
    color: white;
    font-size: 50px;
  }
  .el-pagination .el-pagination__jump .el-input .el-input__inner {
    background: transparent;
    //   height: 40px;

    font-size: 45px;
    // padding: 10px;
    color: white;
  }
  .el-pagination__editor.el-input .el-input__inner {
    height: 60px;
  }
}
</style>