.container{
    height: 100%;
    width: 100%;
    background-image:url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/starfish-v3/managetasktablebg.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-size: 1rem;
        color: #55AADE;
        font-weight: 600;
        position: absolute;
        top: 1rem;
        // left: 27rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding-top: 0.5rem;
    }
    .closeimg{
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .zhishouboxcol{
        display: flex;
        width: 100%;
        // height: 2.8rem;
        margin-top: 0.5rem;
        .zhishouboxrow{
            flex: 1;
            height: 1.5rem;
            text-align: center;
            line-height:1.5rem;
            font-size: 0.8rem;
            color: #0dfbfe;
            font-weight: 900;
        }
    }
    .zhishouboxcol_item{
        display: flex;
        // margin-top: 0.2rem;
        .zhishouboxrow_item{
            flex: 1;
            height: 50px;
            text-align: center;
            line-height: 80px;
            font-size: 0.8rem;
            color: #57a9db;
            
            .img{
                height: 60%;
                width: 70%;
                margin-top: 10%;
                margin-right: 2%;
            }
            
        }
     .first{
            color: #0dfbfe;
        }
        .second{
            color: #dfd31d;
        }
        
        .third{
            color: #25c405;
        }
        
        
    }
    .zhishouboxcol_item:nth-child(2n){
        background-color: #0b305d;
        width: 98%;
        display: flex;
        flex-direction: row;
        margin-left: 1%;
        
    }
    // .zhishouboxcol_item{
    //     display: flex;
    //     height: 60px;
    //     .zhishouboxrow_item{
    //         flex: 1;
    //         height: 60px;
    //         text-align: center;
    //         line-height: 60px;
    //         font-size: 1.5rem;
    //         color: #57a9db;
            
    //         .img{
    //             height: 60%;
    //             width: 100%;
    //             margin-top: 2%;
    //         }
            
    //     }
    //  .first{
    //         color: #0dfbfe;
    //     }
    //     .second{
    //         color: #dfd31d;
    //     }
        
    //     .third{
    //         color: #25c405;
    //     }
        
        
    // }
    // .zhishouboxcol_item:nth-child(2n){
    //     background-color: #0b305d;
       
        
    // }
}