.video-popup-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    .popup-container {
        width: 637px*4;
        height: 479px*4;
        position: absolute;
        left: 0;
        right: 0;
        top: 1000px;
        bottom: 0;
        margin: auto;
        border: 4px solid #00749A;
        border-radius: 4px;
        background-color: #161647;
        // z-index: 9999;
        .title-cha {
            position: absolute;
            user-select: none;
            cursor: pointer;
            top: 0px;
            right: 0;
            height: 30px*4;
            width: 30px*4;
            z-index: 102;
        }

        .left-top-corder {
            height: 50px;
            width: 34px;
            border-top: 8px solid #00A0FF;
            border-left: 8px solid #00a0ff;
            border-top-left-radius: 4px;
            position: absolute;
            top: -6px;
            left: -6px;
        }

        .right-top-corder {
            height: 50px;
            width: 34px;
            border-top: 8px solid #00A0FF;
            border-right: 8px solid #00a0ff;
            border-top-right-radius: 4px;
            position: absolute;
            top: -6px;
            right: -6px;
        }

        .left-bottom-corder {
            height: 50px;
            width: 34px;
            border-bottom: 8px solid #00A0FF;
            border-left: 8px solid #00a0ff;
            border-bottom-left-radius: 4px;
            position: absolute;
            bottom: -6px;
            left: -6px;
        }

        .right-bottom-corder {
            height: 50px;
            width: 34px;
            border-bottom: 8px solid #00A0FF;
            border-right: 8px solid #00a0ff;
            border-bottom-right-radius: 4px;
            position: absolute;
            bottom: -6px;
            right: -6px;
        }

        .title-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 354px;
            z-index: 101;




            .title-container-img {
                height: 40px;
                width: 354px;
            }

            .title-container-inner {
                text-align: center;
                position: absolute;
                width: 100%;
                color: #00CAF9;
                font-size: 26px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        .video-inner-container {
            z-index: 100;
            width: 100%;
            height: 475px*4;
            position: absolute;
            top: 0;
            background-color: #eeeeee;
        }

        .btn-container {
            height: 37px*4;
            width: 30%;
            position: absolute;
            bottom: 13px*4;
            left: 0;
            right: 0;
            margin: auto;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            font-size: 20px*4;
            // background-color: #ccc;
            .left-btn {
                margin: 0 auto;
                user-select: none;
                cursor: pointer;
                width: 134px*4;
                height: 37px*4;
                line-height: 37px*4;
                text-align: center;
                color: #59BAF2;
                background-size: 100% 100%;
                background-image: url('https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/video-bottom-btn-bg.png');
            }

            // .left-btn:active {
            //     margin-top: 2px;
            //     margin-right: 2px;
            // }

            .right-btn {
                user-select: none;
                cursor: pointer;
                line-height: 37px;
                text-align: center;
                color: #59BAF2;
                width: 134px;
                height: 37px;
                background-size: 100% 100%;
                background-image: url('https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/video-bottom-btn-bg.png');
            }

            .right-btn:active {
                margin-top: 2px;
                margin-left: 2px;
            }
        }

        .modal-container {
            height: 202px;
            width: 415px;
            background-color: #031435;
            border-radius: 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
            margin: auto;
            border: 2px solid #00749A;
            z-index: 109;

            .content-container {
                position: absolute;
                top: 10px;
                margin: auto;
                left: 0;
                right: 0;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 50%;
                font-size: 20px;
                width: 90%;
                color: #59BAF2;
            }

        }
    }
}