<template>
  <div class="warningEchart">
    <div class="echartBox">
      <div class="echartBox_header">
        <div class="echartbox_title">客流分析</div>
        <div class="echartbox_close" @click="closeDialog">
          <i class="el-icon-circle-close"></i>
        </div>
      </div>
      <div class="echartBox_echart_top">
        <div class="echartBox_echart_anjian">
          <div class="echartBox_anjian_item">
            <div class="echartBox_anjian_cycle">
              <div ref="peopleEchart" style="width: 100%; height: 75%"></div>
              <div>进客流量</div>
            </div>
            <div class="echartBox_anjian_cycle">
              <el-progress
                type="circle"
                :percentage="Number(exitCountper) > 100 ? 100 : Number(exitCountper)"
                :stroke-width="10"
                color="#6babe7"
                :format="format"
              ></el-progress>
              <p class="">出客流量</p>
            </div>
            <div class="echartBox_anjian_cycle">
              <el-progress
                type="circle"
                :percentage="Number(zhiliuCountper)"
                :stroke-width="10"
                color="#fbd37e"
                 :format="format2"
              ></el-progress>
              <p>滞留流量</p>
            </div>
          </div>
          <div class="echartBox_anjian_item">
            <div ref="anjinaline" style="width: 100%; height: 100%"></div>
          </div>
        </div>
      </div>
      <div class="echartBox_echart_bottom">
        <div class="echartBox_echart_warning">
          <div class="echartBox_echart_warning_item">
            <div ref="anjinatiao" style="width: 100%; height: 100%">
              <el-input placeholder="输入关键字进行过滤" v-model="filterText">
              </el-input>

              <el-tree
                style="background-color: #072450; color: #ffffff"
                :data="cameratreelist"
                :props="defaultProps"
                :highlight-current="false"
                @node-click="handleNodeClick"
              ></el-tree>
            </div>
          </div>
          <!-- <div class="echartBox_echart_warning_item"></div> -->
          <div class="echartBox_echart_warning_item">
            <div class="videoBox">
              <div v-for="(item, index) in cameralist" :key="index">
                <hlsVideoContainer
                  :visible="true"
                  :node="item"
                  :url="item.hlsUrl"
                  :reffer="item.ponitType + '_' + item.id"
                ></hlsVideoContainer>
              </div>
              <!-- <hlsVideoContainer ></hlsVideoContainer>
                    <hlsVideoContainer ></hlsVideoContainer>
                    <hlsVideoContainer ></hlsVideoContainer> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echart from "echarts";
// import { swiper, swiperSlide } from "vue-awesome-swiper";
import hlsVideoContainer from "@/components/hlsVideoContainer.vue";

export default {
  data() {
    return {
      filterText: "",
      defaultProps: {
        children: "list",
        label: "address"
      },
      cycleData: [],
      exitCountper: 0,
      zhiliuCountper: 0,
      cameralist: [{ hlsUrl: "" }, { hlsUrl: "" }, { hlsUrl: "" }],
      index: 3,
      ids: []
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    format(){
      return this.customerTongji.exitCount;
    },
    format2(){
      return this.customerTongji.retentionCount;
    },
    closeDialog() {
      this.cameralist.forEach(item=>{
        if(item.id){
          this.$store.dispatch("disConnectStream", { id: item.id });
        }
         
      })
      this.$store.commit("ANALYSE_PERSON_POP_VISIBLE", false);
    },
    handleNodeClick(node) {
      if (node.id) {
        // 开流
        this.$store.dispatch("connectStream", { id: node.id });

        this.index++;
        if (this.index > 3) {
          this.ids = [];
          let i = this.index % 3 == 0 ? 2 : (this.index % 3) - 1;
          // 被覆盖的闭流
          let replaceItem = this.cameralist[i];
          this.$store.dispatch("disConnectStream", { id: replaceItem.id });
          // 替换成新的流
          this.cameralist.splice(i, 1, node);
          // console.log(this.cameralist);
          // this.cameralist.forEach((item) => {
          //   this.ids.push(item.id);
          // });
          // console.log(this.ids);
          // this.$store.dispatch("saveDefaultConfig", { ids: this.ids });
        } else {
          this.cameralist.push(node);
        }
      }
    },
    initLine(data) {
      let myChart = echart.init(this.$refs.anjinaline);
      myChart.setOption({
        grid: {
          left: "3%",
          right: "4%",
          bottom: "15%",
          containLabel: true
        },
        tooltip: {
            trigger: 'item',
            formatter: "数量 <br/>{b} : {c} ",
        },
        dataZoom: [
          {
            type: "slider",
            show: true,
            xAxisIndex: [0],
            bottom: 10,
            end: 90, //初始化滚动条
            backgroundColor: "#254180",
            fillerColor: "#315bbe",
            height: 10,
            textStyle: false,
            handleIcon: "path://M0,0 v9.7h5 v-9.7h-5 Z",
            handleSize: 22
          }
        ],
        xAxis: {
          nameTextStyle: {
            color: "#b3b8c2",
            fontSize: 12
          },
          type: "category",
          boundaryGap: false, // 不留白，从原点开始
          data: data.timeArray,
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#102f62",
              width: 1 //这里是为了突出显示加上的
            }
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8aadc1" //这里用参数代替了
            }
          }
        },
        yAxis: {
          type: "value",
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#102f62"],
              width: 1,
              type: "solid"
            }
          },
          axisLine: {
            show: false
          },
          axisTick: {
            //y轴刻度线
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#e2e5ee" //这里用参数代替了
            }
          }
        },
        series: [
          {
            showSymbol: true,
            symbol: "circle", //折点设定为实心点
            symbolSize: 3, //设定实心点的大小
            data: data.exitLine,
            type: "line",
            smooth: true,
            itemStyle: {
              normal: {
                color: "#ff7a00",
                lineStyle: {
                  color: "#ff7a00"
                }
              }
            },
            areaStyle: {
              normal: {
                color: {
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#5b55a9" // 0% 处的颜色
                    },
                    {
                      offset: 0.7,
                      color: "#0c295f" // 100% 处的颜色
                    }
                  ],
                  globalCoord: false // 缺省为 false
                }
              }
            }
          },
          {
            showSymbol: true,
            symbol: "circle", //折点设定为实心点
            symbolSize: 3, //设定实心点的大小
            data: data.enterLine,
            type: "line",
            smooth: true,
            itemStyle: {
              normal: {
                color: "#81aff5",
                lineStyle: {
                  color: "#81aff5"
                }
              }
            },
            areaStyle: {
              normal: {
                color: {
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#5b55a9" // 0% 处的颜色
                    },
                    {
                      offset: 0.7,
                      color: "#0c295f" // 100% 处的颜色
                    }
                  ],
                  globalCoord: false // 缺省为 false
                }
              }
            }
          }
        ]
      });
    },
    initCycle(data) {
      let myChart = echart.init(this.$refs.peopleEchart);
      myChart.setOption({
        tooltip: {
          trigger: "item"
        },
        title: {
          text: data[0].value+data[1].value, //图形标题，配置在中间对应效果图的80%
          left: "center",
          top: "45%",
          textStyle: {
            color: "rgb(96,98,102)",
            fontSize: 14,
            align: "center"
          }
        },
        series: [
          {
            name: "人数",
            type: "pie",
            radius: ["55%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center"
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "20",
                fontWeight: "bold"
              }
            },
            labelLine: {
              show: false
            },
            data: data
          }
        ]
      });
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("findTree", { cameraType: 0 });
    let keliudata = [
      { name: "出客流量", value: this.customerTongji.exitCount },
      { name: "滞留流量", value: this.customerTongji.retentionCount || 1 }
    ];
    this.exitCountper = (
      (this.customerTongji.exitCount / this.customerTongji.enterCount) *
      100
    ).toFixed(2);
    this.zhiliuCountper = (
      (this.customerTongji.retentionCount / this.customerTongji.enterCount) *
      100
    ).toFixed(2);

    this.initLine(this.statisticCount);
    this.initCycle(keliudata);
    // this.cycleData = [
    //   {name:'进客流量',value:customerTongji}
    // ]
  },
  watch: {},
  computed: {
    ...mapState({
      customerTongji: (state) => state.oldStreet.customerTongji,
      cameratreelist: (state) => state.oldStreet.cameratreelist,
      statisticCount: (state) => state.oldStreet.statisticCount
    }),

    ...mapGetters([])
  },
  components: {
    hlsVideoContainer
  }
};
</script>

<style lang='less' scoped>
.warningEchart {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
  .echartBox {
    width: 70%;
    height: 35rem;
    background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E4%BA%8C%E7%BA%A7/kuang.png)
      no-repeat;
    background-size: 100% 100%;
    .echartBox_header {
      height: 3.5rem;
      width: 100%;
      display: grid;
      grid-template-columns: auto 3.5rem;
      grid-template-rows: 100%;
      .echartbox_title {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
      }
      .echartbox_close {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .echartbox_close,
      .echartbox_title {
        color: #5cbbcf;
      }
    }
    .echartBox_echart_top {
      height: 15rem;
      padding: 0 1rem;
      .echartBox_echart_anjian {
        width: 100%;
        height: 100%;
        display: grid;
        background: #002354;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        border: 1px solid #1f5e88;
        .echartBox_anjian_item {
          display: flex;

          .echartBox_anjian_cycle {
            padding: 2rem 0;
            flex: 1;
            text-align: center;
            color: white;
          }
          .echartBox_anjian_cycle:first-child {
            padding: 0;
          }
        }
      }
    }
    .echartBox_echart_bottom {
      margin: 1rem 0;
      height: 14rem;
      padding: 0 1rem;
      box-sizing: border-box;
      .echartBox_echart_warning {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 100%;
        border: 1px solid #1f5e88;

        .echartBox_echart_warning_item:first-child {
          overflow-y: scroll;
        }
        .echartBox_echart_warning_item {
          background: #002452;
          .anjinatiao {
            background-color: #072450;
          }
          .handleProcess_title {
            height: 2rem;
            line-height: 2rem;
            padding-left: 0.5rem;
            color: #3daeb9;
            font-size: 1.2rem;
          }
          .videoBox {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            grid-template-rows: 100%;
            // background: orangered;
            // .video{
            //     height: 50%;
            // }
          }
          .handleProcess_con {
            height: 11rem;
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: 100%;
            .handleProcess_con_item {
              overflow: hidden;
              .all_text {
                color: white;
                text-align: center;
                padding-top: 2rem;
                box-sizing: border-box;
              }
              .all_number {
                padding-top: 1rem;
                box-sizing: border-box;
                text-align: center;
                color: #538bb7;
                .all_num {
                  color: #d0c860;
                  font-size: 1.5rem;
                  font-weight: 800;
                }
              }
            }
            .handleProcess_con_item:first-child {
              border-right: 1px solid #5ce2f4;
            }
          }
        }
        .echartBox_echart_warning_item:nth-child(2) {
          border: none;
          background: none;
        }
      }
    }
  }
}
.content-row {
  display: flex;
  width: 100%;
  color: #ffffff;
  align-items: center;
  .itemtitle {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.4rem;
    color: #09c5c4;
  }

  .itemtitle.second,
  .itemtitle.third,
  .itemtitle.forth,
  .itemtitle.status {
    flex: 1.5;
  }
}

.content-row.title {
  margin: 0.4rem 0;
  text-align: center;
}

.swiper_box {
  width: 100%;
  height: 100%;

  .swiper_box_ul {
    width: 100%;
    height: 100%;
    display: flex;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    .item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.4rem;
      // padding: 0.3rem 0;
      img {
        width: 100%;
      }
    }

    .item.first {
      color: #09c5c4;
    }

    .item.second,
    .item.third,
    .item.forth,
    .item.fifth,
    .item.status {
      flex: 1.5;
    }
  }
  .swiper_box_ul:nth-child(2n) {
    background-color: #01456f;
  }
}
</style>
<style>
.el-input {
  background: 072450;
}
.el-input__inner {
  background: #072450;
  border: 1px solid #072450;
}
.el-tree .filter-tree {
  background: #072450;
}
.el-tree {
  background: none;
}
.el-tree-node__content:hover {
  background-color: #072450;
}
.el-tree-node__content:focus {
  background-color: #072450;
  color: black;
}
.el-tree-node__content {
  background-color: #072450;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color: #315bbe;
}
</style>