<template>
  <div class="warningEchart">
    <div class="echartBox">
      <div class="echartBox_header">
        <div class="echartbox_title">车流分析</div>
        <div class="echartbox_close" @click="closeDialog">
          <i class="el-icon-circle-close"></i>
        </div>
      </div>
      <div class="echartBox_echart_top">
        <div class="echartBox_echart_anjian">
          <div class="echartBox_anjian_item">
            <div class="echartBox_anjian_cycle">
              <div ref="peopleEchart" style="width: 100%; height: 75%"></div>
              <div>进车流量</div>
            </div>
            <div class="echartBox_anjian_cycle">
              <el-progress
                type="circle"
                :percentage="30"
                :stroke-width="10"
                color="#6babe7"
              ></el-progress>
              <p class="">出车流量</p>
            </div>
            <div class="echartBox_anjian_cycle">
              <el-progress
                type="circle"
                :percentage="70"
                :stroke-width="10"
                color="#fbd37e"
              ></el-progress>
              <p>滞留车辆</p>
            </div>
          </div>
          <div class="echartBox_anjian_item">
            <div ref="anjinaline" style="width: 100%; height: 100%">
                
            </div>
          </div>
        </div>
      </div>
      <div class="echartBox_echart_bottom">
        <div class="echartBox_echart_warning">
          <div class="echartBox_echart_warning_item">
            <div ref="anjinatiao" style="width: 100%; height: 100%">
              <el-input
                  placeholder="输入关键字进行过滤"
                  v-model="filterText">
                </el-input>

                <el-tree
                  class="filter-tree"
                  :data="data"
                  :props="defaultProps"
                  default-expand-all
                  :filter-node-method="filterNode"
                  ref="tree">
                </el-tree>
            </div>
          </div>
          <!-- <div class="echartBox_echart_warning_item"></div> -->
          <div class="echartBox_echart_warning_item">
                <div class="videoBox">
                    <hlsVideoContainer ></hlsVideoContainer>
                    <hlsVideoContainer ></hlsVideoContainer>
                    <hlsVideoContainer ></hlsVideoContainer>
                    <!-- <hlsVideoContainer ></hlsVideoContainer>
                    <hlsVideoContainer ></hlsVideoContainer>
                    <hlsVideoContainer ></hlsVideoContainer> -->
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echart from "echarts";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import hlsVideoContainer from "@/components/hlsVideoContainer.vue";

export default {
  data() {
    return {
        filterText: '',
        data: [{
          id: 1,
          label: '一级 1',
          children: [{
            id: 4,
            label: '二级 1-1',
            children: [{
              id: 9,
              label: '三级 1-1-1'
            }, {
              id: 10,
              label: '三级 1-1-2'
            }]
          }]
        }, {
          id: 2,
          label: '一级 2',
          children: [{
            id: 5,
            label: '二级 2-1'
          }, {
            id: 6,
            label: '二级 2-2'
          }]
        }],
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeDialog(){
        this.$store.commit("ANALYSE_CAR_POP_VISIBLE",false);
    },
    initLine() {
      let myChart = echart.init(this.$refs.anjinaline);
      myChart.setOption({
        grid: {
          left: "3%",
          right: "4%",
          bottom: "15%",
          containLabel: true
        },
        dataZoom: [
          {
            type: "slider",
            show: true,
            xAxisIndex: [0],
            bottom: 10,
            end: 90, //初始化滚动条
            backgroundColor: "#254180",
            fillerColor: "#315bbe",
            height: 10,
            textStyle: false,
            handleIcon: "path://M0,0 v9.7h5 v-9.7h-5 Z",
            handleSize: 22
          }
        ],
        xAxis: {
          type: "category",
          boundaryGap: false, // 不留白，从原点开始
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
          axisLine: {
            lineStyle: {
              color: "#102f62",
              width: 1 //这里是为了突出显示加上的
            }
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8aadc1" //这里用参数代替了
            }
          }
        },
        yAxis: {
          type: "value",
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#102f62"],
              width: 1,
              type: "solid"
            }
          },
          axisLine: {
            show: false
          },
          axisTick: {
            //y轴刻度线
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#e2e5ee" //这里用参数代替了
            }
          }
        },
        series: [
          {
            showSymbol: true,
            symbol: "circle", //折点设定为实心点
            symbolSize: 3, //设定实心点的大小
            data: [8, 93, 90, 93, 129, 13, 132],
            type: "line",
            smooth: true,
            itemStyle: {
              normal: {
                color: "#9b7ce4",
                lineStyle: {
                  color: "#9b7ce4"
                }
              }
            },
            areaStyle: {
              normal: {
                color: {
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#5b55a9" // 0% 处的颜色
                    },
                    {
                      offset: 0.7,
                      color: "#0c295f" // 100% 处的颜色
                    }
                  ],
                  globalCoord: false // 缺省为 false
                }
              }
            }
          }
        ]
      });
    },
        initCycle() {
      let myChart = echart.init(this.$refs.peopleEchart);
      myChart.setOption({
        tooltip: {
          trigger: "item"
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: ["55%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center"
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "20",
                fontWeight: "bold"
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: 1048, name: "搜索引擎" },
              { value: 735, name: "直接访问" }
            ]
          }
        ]
      });
    },

  },

  created() {},
  mounted() {
    
    this.initLine();
    this.initCycle();
  },
  watch: {},
  computed: {
    ...mapState({
      
    }),

    ...mapGetters([])
  },
  components: {
    hlsVideoContainer
  }
};
</script>

<style lang='less' scoped>
.warningEchart {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
  .echartBox {
    width: 70%;
    height: 35rem;
    background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E4%BA%8C%E7%BA%A7/kuang.png)
      no-repeat;
    background-size: 100% 100%;
    .echartBox_header {
      height: 3.5rem;
      width: 100%;
      display: grid;
      grid-template-columns: auto 3.5rem;
      grid-template-rows: 100%;
      .echartbox_title {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
      }
      .echartbox_close {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .echartbox_close,
      .echartbox_title {
        color: #5cbbcf;
      }
    }
    .echartBox_echart_top {
      height: 15rem;
      padding: 0 1rem;
      .echartBox_echart_anjian {
        width: 100%;
        height: 100%;
        display: grid;
        background: #002354;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        border: 1px solid #1f5e88;
        .echartBox_anjian_item {
          display: flex;

          .echartBox_anjian_cycle {
            padding: 2rem 0;
            flex: 1;
            text-align: center;
            color: white;
          }
          .echartBox_anjian_cycle:first-child {
            padding: 0;
          }
        }
      }
    }
    .echartBox_echart_bottom {
      margin: 1rem 0;
      height: 14rem;
      padding: 0 1rem;
      box-sizing: border-box;
      .echartBox_echart_warning {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 100%;
          border: 1px solid #1f5e88;

        .echartBox_echart_warning_item {
          background: #002452;
          .handleProcess_title {
            height: 2rem;
            line-height: 2rem;
            padding-left: 0.5rem;
            color: #3daeb9;
            font-size: 1.2rem;
          }
          .videoBox{
              height: 100%;
              width: 100%;
              display: grid;
              grid-template-columns: 33.33% 33.33% 33.33%;
              grid-template-rows: 100%;
              // background: orangered;
              // .video{
              //     height: 50%;
              // }
          }
          .handleProcess_con {
            height: 11rem;
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: 100%;
            .handleProcess_con_item {
              overflow: hidden;
              .all_text {
                color: white;
                text-align: center;
                padding-top: 2rem;
                box-sizing: border-box;
              }
              .all_number {
                padding-top: 1rem;
                box-sizing: border-box;
                text-align: center;
                color: #538bb7;
                .all_num {
                  color: #d0c860;
                  font-size: 1.5rem;
                  font-weight: 800;
                }
              }
            }
            .handleProcess_con_item:first-child {
              border-right: 1px solid #5ce2f4;
            }
          }
        }
        .echartBox_echart_warning_item:nth-child(2) {
          border: none;
          background: none;
        }
      }
    }
  }
}
.content-row {
  display: flex;
  width: 100%;
  color: #ffffff;
  align-items: center;
  .itemtitle {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.4rem;
    color: #09c5c4;
  }

  .itemtitle.second,
  .itemtitle.third,
  .itemtitle.forth,
  .itemtitle.status {
    flex: 1.5;
  }
}

.content-row.title {
  margin: 0.4rem 0;
  text-align: center;
}

.swiper_box {
  width: 100%;
  height: 100%;

  .swiper_box_ul {
    width: 100%;
    height: 100%;
    display: flex;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    .item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.4rem;
      // padding: 0.3rem 0;
      img {
        width: 100%;
      }
    }

    .item.first {
      color: #09c5c4;
    }

    .item.second,
    .item.third,
    .item.forth,
    .item.fifth,
    .item.status {
      flex: 1.5;
    }
  }
  .swiper_box_ul:nth-child(2n) {
    background-color: #01456f;
  }
}
</style>
<style>
      .el-input{
          background: black;
      }
       .el-input__inner{
          background: #072450;
          border: 1px solid #072450;
      }
      .el-tree .filter-tree{
          background: #072450;
      }
      .el-tree{
          background:none ;
      }
</style>