<template>
  <div class="container">
    <div class="leftBox">
      <div class="itemImgbox">
        <span class="itemNum">{{ customerTongji.enterCount || 0 }}</span>
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/jinkeliuliang_blue.png"
          alt=""
          class="img"
        />
        <br />
        进客流量
      </div>
      <div class="itemImgbox">
        <span class="itemNum">{{ customerTongji.exitCount || 0 }}</span>
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/chukeliuliang_Orange.png"
          alt=""
          class="img"
        />
        <br />
        出客流量
      </div>
    </div>
    <div class="rightBox" ref="analyse"></div>
  </div>
</template>

<script>
import echarts from "echarts";
import { mapState } from "vuex";
import { concat } from "@amcharts/amcharts4/.internal/core/utils/Iterator";
export default {
  data() {
    return {};
  },
  methods: {
    init(data) {
      var faultStatisticsChart = echarts.init(this.$refs.analyse);
      let option = {
        color: ["#81aff5", "#eaca73"],
        legend: {
          data: ["摄像头", "line2"],
          textStyle: {
            color: "#fff" //坐标值得具体的颜色
          }
        },
        tooltip: {
            trigger: 'item',
            formatter: "数量 <br/>{b} : {c} ",
        },
        grid: {
          left: "3%",
          right: "13%",
          top: "20%",
          bottom: "15%",
          containLabel: true
        },
        dataZoom: [
          {
            type: "slider",
            show: true,
            xAxisIndex: [0],
            bottom: 10,
            end: 30, //初始化滚动条
            backgroundColor: "#254180",
            fillerColor: "#315bbe",
            height: 10,
            textStyle: false,
            handleIcon: "path://M0,0 v9.7h5 v-9.7h-5 Z",
            handleSize: 22
          }
        ],
        xAxis: {
          // name: "单位:日",
          // name: "单位:日",
          nameTextStyle: {
            color: "#b3b8c2",
            fontSize: 12
          },

          type: "category",
          data: data.timeArray,
          // data: xArr,
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#193b6c", //左边线的颜色
              width: "1" //坐标线的宽度
            }
          },
          axisLabel: {
            textStyle: {
              color: "#fff" //坐标值得具体的颜色
            }
          },
          axisTick: false,
          boundaryGap: false
        },
        yAxis: {
          name: "单位:个",
        //   minInterval: 1,
          nameTextStyle: {
            color: "#b3b8c2",
            fontSize: 12
          },

          type: "value",
          axisLine: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: "#fff" //坐标值得具体的颜色
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#193b6c"],
              width: 1,
              type: "solid"
            }
          }
          //   splitArea: { show: true } //保留网格区域
        },
        series: [
          {
            name: "进客流量",
             showSymbol: true,
            data: data.enterLine,
            // data: yArr,
            symbolSize: 2,
            symbol: "circle",
            type: "line",
            smooth: true,
            lineStyle: {
              color: "#81aff5",
              width: 2
            },
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#81aff5" },
                  { offset: 1, color: "transparent" }
                ])
              }
            },
            itemStyle: {
              normal: {
                color: "#81aff5",
                lineStyle: {
                  color: "#81aff5"
                }
              }
            }
          },
          {
            name: "出客流量",
             showSymbol: true,
            data: data.exitLine,
            // data: yArr,
            symbolSize: 2,
            symbol: "circle",
            type: "line",
            smooth: true,
            lineStyle: {
              color: "#ff7a00",
              width: 2
            },
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#ff7a00" },
                  { offset: 1, color: "transparent" }
                ])
              }
            },
            itemStyle: {
              normal: {
                color: "#ff7a00",
                lineStyle: {
                  color: "#ff7a00"
                }
              }
            }
          }
          // {
          //   name: "line2",
          //   data: [120, 532, 910, 94, 1290, 130, 1120],
          //   type: "line",
          //   smooth: true,
          //   lineStyle: {
          //     color: "#eaca73",
          //     width: 2
          //   },
          //   showSymbol: false
          // }
        ]
      };
      faultStatisticsChart.setOption(option);
    }
  },
  mounted() {
    this.$store.dispatch("countStatistics", this.customerParams);
    this.$store.dispatch("lineStatistics", this.customerParams);
    // console.log(this.statisticCount)
  },
  watch: {
    statisticCount: function (newval) {
      this.init(newval);
    }
  },
  computed: {
    ...mapState({
      customerTongji: (state) => state.oldStreet.customerTongji,
      customerParams: (state) => state.oldStreet.customerParams,
      statisticsLine: (state) => state.oldStreet.statisticsLine,
      statisticCount: (state) => state.oldStreet.statisticCount
    })
  }
};
</script>

<style scoped lang="less">
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  .leftBox {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    .itemImgbox {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: blue;
      color: white;
      justify-content: center;
      font-size: 0.5rem;
      position: relative;
      .itemNum {
        display: block;
        position: absolute;
        top: 2rem;
        text-align: center;
      }
      .img {
        height: 4rem;
        width: 4rem;
        background-size: 100% 100%;
      }
    }
  }
  .rightBox {
    height: 100%;
    width: 80%;
  }
}
</style>