<template>
  <div id="metarialContainer" style="width: 100%;height: 100%">
    <div class="header">
      <div class="font-img"></div>
    </div>
    <div class="echart_liqing">
      <div class="liqing_header" style="width: 100%; height: 12%">
        <div class="liqing_title">
          <span>沥青库存</span>
        </div>
        <div class="liqing_icon">
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-lan%402x.png"
            alt=""
            v-if="!showBaojing"
          />
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-hong%402x.png"
            alt=""
            v-if="showBaojing"
          />
        </div>
      </div>
      <div style="width: 100%; height: 88%" ref="echart_liqing"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
import { WSconnect } from "@/utils/socket";
export default {
  data() {
    return {
      showBaojing: false,
      showBaojing1: false
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    init() {
      let that = this;
      let xline = [],
        temperature = [],
        volume = [];
      this.liqingList.forEach(item => {
        xline.push(item.name);
        volume.push(item.volume);
        temperature.push(item.temperature);
      });
      var myChart = echarts.init(this.$refs.echart_liqing);
      let option = {
        color: ["#84dbfb", "#f2a859"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: xline,
            axisTick: {
              alignWithLabel: true
            },
            axisPointer: {
              type: "shadow"
            },
            splitLine: { show: false }, //去除网格线
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#bdc2cb",
                fontSize: "16"
              }
            }
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "库存量(T)",
            nameTextStyle: {
              color: "#7dd0ef",
              fontSize: 20
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#2c496c"],
                width: 1,
                type: "solid"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              textStyle: {
                color: "#6bb7d7",
                fontSize: "16"
              }
            }
          }
        ],
        series: [
          {
            name: "库存量(T)",
            type: "bar",
            data: volume,
            barWidth: 16,
            itemStyle: {
              normal: {
                color: function(params) {
                  var color;
                  if (
                    180 <=
                    that.liqingList[params.dataIndex].temperature <
                    200
                  ) {
                    color = "#850101";
                  } else if (
                    140 <=
                    that.liqingList[params.dataIndex].temperature <
                    180
                  ) {
                    color = "#FF0000";
                  } else if (
                    100 <=
                    that.liqingList[params.dataIndex].temperature <
                    140
                  ) {
                    color = "#F2A859";
                  } else if (
                    60 <=
                    that.liqingList[params.dataIndex].temperature <
                    100
                  ) {
                    color = "#FFEF34";
                  } else if (
                    that.liqingList[params.dataIndex].temperature < 60
                  ) {
                    color = "#84DBFB";
                  }
                  return color;
                },
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    //数值样式
                    color: "#6bb7d7",
                    fontSize: 20,
                    fontWeight: 600
                  }
                }
              }
            }
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }
  },

  created() {
    this.$store.dispatch("getliqingEchart");
  },
  mounted() {
    setTimeout(() => {
      WSconnect();
    }, 3000);
  },
  watch: {
    liqingList: function(val) {
      if (val.length > 0) {
        this.init();
        val.forEach(item => {
          if (item.alarmStatus === 1) {
            this.showBaojing = true;
          }
        });
      }
    }
  },
  computed: {
    ...mapState({
      liqingList: state => state.liqingchang.liqingList
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
/*.MaterialInventory {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #0d1a30; //  071125*/
.header {
  box-sizing: border-box;
  color: #a2bdec;
  font-size: 40px;
  display: flex;
  align-items: center;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/head.png")
    no-repeat;
  background-size: 100% 100%;
  padding-left: 3%;
  .font-img {
    height: 100%;
    width: 100%;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/font.png")
      no-repeat;
    background-position-y: center;
    background-size: 48% 65%;
  }
}
.echart_liqing {
  height: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bgg.png")
    no-repeat;
  background-size: 100% 100%;
}
.echart_shiliao {
  height: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bgg.png")
    no-repeat;
  background-size: 100% 100%;
}
//}
.liqing_header {
  .liqing_title {
    color: #70f7fc;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding-top: 1rem;
  }
  .liqing_icon {
    color: #8da7d5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .img {
      height: 25px;
      width: 25px;
      background-size: 100% 100%;
    }
  }
}
</style>
