<template>
  <div id="metarialContainer">
    <img
      class="jiaoicon"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
      alt=""
    />
    <img
      class="jiaoicon jiaoyouicon"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
      alt=""
    />
    <div class="echart_liqing">
      <div class="liqing_header" style="width: 100%; height: 12%">
        <div class="liqing_title">
          <span>沥青库存</span>
        </div>
        <div class="liqing_icon">
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-lan%402x.png"
            alt=""
            v-if="!showBaojing"
          />
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-hong%402x.png"
            alt=""
            v-if="showBaojing"
          />
        </div>
      </div>
      <div style="width: 100%; height: 86%" ref="echart_liqing"></div>
    </div>
    <div class="echart_liqing wen-liqing-kucun">
      <div style="width: 100%; height: 12%" class="liqing_header">
        <div class="liqing_title">
          <span>能源消耗</span>
        </div>
      </div>
      <div class="wen-nengyuan" style="width: 100%; height: 88%">
        <div class="wen-nengyuan-box">
          <div class="wen-nengyuan-title">
            <img
              class="wen-title-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
              alt=""
            />
            天然气
            <img
              class="wen-title-icon wen-direct"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
              alt=""
            />
          </div>
          <div class="wen-nengyuan-body">
            <div class="wen-nengyuan-body-part">
              <div class="wen-count-box" style="width: 50%">
                <div class="countline1">
                  <span class="countfont">{{
                    naturalGas.dailyConsumption
                  }}</span
                  >立方
                </div>
                <div class="countline1 countline2">今日用量</div>
              </div>
              <div class="wen-count-box" style="width: 50%">
                <div class="countline1">
                  <span class="countfont">{{
                    naturalGas.monthlyConsumption
                  }}</span
                  >立方
                </div>
                <div class="countline1 countline2">本月累计用量</div>
              </div>
            </div>
            <div class="wen-nengyuan-body-part wen-count-box-nian">
              <div class="wen-count-box" style="width: 100%">
                <div class="countline1">
                  <span class="countfont">{{
                    naturalGas.yearlyConsumption
                  }}</span
                  >立方
                </div>
                <div class="countline1 countline2">本年累计用量</div>
              </div>
            </div>
          </div>
        </div>
        <div class="wen-nengyuan-box">
          <div class="wen-nengyuan-title">
            <img
              class="wen-title-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
              alt=""
            />
            电力
            <img
              class="wen-title-icon wen-direct"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
              alt=""
            />
          </div>
          <div class="wen-nengyuan-body">
            <div class="wen-nengyuan-body-part">
              <div class="wen-count-box" style="width: 50%">
                <div class="countline1">
                  <span class="countfont">{{
                    electricity.dailyConsumption
                  }}</span
                  >度
                </div>
                <div class="countline1 countline2">今日用量</div>
              </div>
              <div class="wen-count-box" style="width: 50%">
                <div class="countline1">
                  <span class="countfont">{{
                    electricity.monthlyConsumption
                  }}</span
                  >度
                </div>
                <div class="countline1 countline2">本月累计用量</div>
              </div>
            </div>
            <div class="wen-nengyuan-body-part wen-count-box-nian">
              <div class="wen-count-box" style="width: 100%">
                <div class="countline1">
                  <span class="countfont">{{
                    electricity.yearlyConsumption
                  }}</span
                  >度
                </div>
                <div class="countline1 countline2">本年累计用量</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
import { WSconnect } from "@/utils/socket";
export default {
  data() {
    return {
      showBaojing: false,
      showBaojing1: false
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    init() {
      let that = this;
      let xline = [],
        temperature = [],
        volume = [];
      this.liqingList.forEach((item) => {
        xline.push(item.name);
        // volume.push(item.volume);
        volume.push(item.total);
        temperature.push(item.temperature);
      });
      var myChart = echarts.init(this.$refs.echart_liqing);
      let option = {
        color: ["#84dbfb", "#f2a859"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: "8%",
          right: "4%",
          bottom: "5%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: xline,
            axisTick: {
              alignWithLabel: true
            },
            axisPointer: {
              type: "shadow"
            },
            splitLine: { show: false }, //去除网格线
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#bdc2cb",
                fontSize: "16"
              }
            }
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "库存量(T)",
            nameTextStyle: {
              color: "#7dd0ef",
              fontSize: 20
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#2c496c"],
                width: 1,
                type: "solid"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              textStyle: {
                color: "#6bb7d7",
                fontSize: "16"
              }
            }
          }
        ],
        series: [
          {
            name: "库存量(T)",
            type: "bar",
            data: volume,
            barWidth: 16,
            itemStyle: {
              normal: {
                color: function (params) {
                  var color;
                  if (
                    180 <=
                    that.liqingList[params.dataIndex].temperature <
                    200
                  ) {
                    color = "#850101";
                  } else if (
                    140 <=
                    that.liqingList[params.dataIndex].temperature <
                    180
                  ) {
                    color = "#FF0000";
                  } else if (
                    100 <=
                    that.liqingList[params.dataIndex].temperature <
                    140
                  ) {
                    color = "#F2A859";
                  } else if (
                    60 <=
                    that.liqingList[params.dataIndex].temperature <
                    100
                  ) {
                    color = "#FFEF34";
                  } else if (
                    that.liqingList[params.dataIndex].temperature < 60
                  ) {
                    color = "#84DBFB";
                  }
                  return color;
                },
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    //数值样式
                    color: "#6bb7d7",
                    fontSize: 20,
                    fontWeight: 600
                  }
                }
              }
            }
          }
        ]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }
  },

  created() {
    this.$store.dispatch("getliqingEchart");
  },
  mounted() {
    setTimeout(() => {
      WSconnect();
    }, 3000);
  },
  watch: {
    liqingList: function (val) {
      if (val.length > 0) {
        this.init();
        val.forEach((item) => {
          if (item.alarm === "报警") {
            this.showBaojing = true;
          }
        });
      }
    }
  },
  computed: {
    ...mapState({
      liqingList: (state) => state.liqingchang.liqingList,
      electricity: (state) => state.liqingchang.electricity,
      naturalGas: (state) => state.liqingchang.naturalGas
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
#metarialContainer {
  width: 49.6%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: row;
}
.header {
  box-sizing: border-box;
  color: #a2bdec;
  font-size: 40px;
  display: flex;
  align-items: center;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/head.png")
    no-repeat;
  background-size: 100% 100%;
  padding-left: 3%;
  .font-img {
    height: 100%;
    width: 100%;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/font.png")
      no-repeat;
    background-position-y: center;
    background-size: 48% 65%;
  }
}
.echart_liqing {
  height: 100%;
  background-color: #082c52;
  border-radius: 0.2rem;
}
.echart_shiliao {
  height: 100%;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bgg.png")
    no-repeat;
  background-size: 100% 100%;
}
.liqing_header {
  .liqing_title {
    color: #70f7fc;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding-top: 1rem;
  }
  .liqing_icon {
    color: #8da7d5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0.5rem;
    img {
      height: 2.5rem;
      width: 2.5rem;
      margin-top: -1rem;
    }
  }
}
.jiaoicon {
  position: absolute;
  height: 1.5rem;
}
.jiaoyouicon {
  right: 0;
  transform: rotate(180deg);
}
.echart_liqing {
  height: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .wen-nengyuan {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 0.3rem;
    .wen-nengyuan-box {
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bg-da.png")
        no-repeat;
      background-size: 100% 100%;
      height: 45%;
      width: 95%;
      display: flex;
      flex-flow: column;
      padding: 0.8rem;
      .wen-nengyuan-title {
        display: flex;
        flex-flow: row;
        justify-content: center;
        font-size: 1rem;
        color: #24cbfb;
        height: 20%;
        align-items: center;
        .wen-title-icon {
          width: 5rem;
          height: 1.5em;
          margin: 0 0.5rem;
        }
        .wen-direct {
          transform: rotate(180deg);
        }
      }
      .wen-nengyuan-body {
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .wen-nengyuan-body-part {
          display: flex;
          flex-flow: row;
          flex: 0.5;
          .wen-count-box {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/double.png")
              no-repeat;
            background-size: 100% 100%;
            width: 45%;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            padding: 0.3rem;
            .countline1 {
              color: #24cbfb;
              font-size: 0.8rem;
              text-align: center;
              .countfont {
                font-size: 1.2rem;
                margin-right: 0.2rem;
              }
            }
            .countline2 {
              font-size: 1rem;
              color: #ffffff;
            }
          }
        }
        .wen-count-box-nian {
          .wen-count-box {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/nian.png")
              no-repeat !important;
            background-size: 100% 100% !important;
          }
        }
      }
    }
  }
}
</style>
