<template>
    <div class="MaterialInventory" id="metarialContainer">
        <div class="echart_shiliao">
            <div style="width: 100%; height: 12%" class="liqing_header">
                <div class="liqing_title">
                    <span id="liqingTitles">石料库存</span>
                </div>
                <div class="liqing_icon">
                    <img
                            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-lan%402x.png"
                            alt=""
                            v-if="!showBaojing1"
                    />
                    <img
                            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-hong%402x.png"
                            alt=""
                            v-if="showBaojing1"
                    />
                </div>
            </div>
            <div style="width: 100%; height: 88%" ref="echart_shiliao"></div>
        </div>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  import echarts from "echarts";
  import { WSconnect } from "@/utils/socket";
  export default {
    data() {
      return {
        showBaojing: false,
        showBaojing1: false
      };
    },
    props: [],
    methods: {
      ...mapMutations([]),
      init2() {
        var myChart = echarts.init(this.$refs.echart_shiliao);
        let xline = [],
          baseStock = [],
          stock = [];
        this.shiliaoList.forEach((item) => {
          // let a = item.name.replace("||", "\n").replace("@@", "\n");
          let a = item.name.replaceAll("||", "\n");
          // console.log(item)
          xline.push(a);
          stock.push(item.stock);
          baseStock.push(item.baseStock);
        });

        var emphasisStyle = {
          itemStyle: {
            shadowBlur: 10,
            shadowColor: "rgba(0,0,0,0.3)"
          }
        };
        let option = {
          color: ["#84dbfb", "#f2a859"],
          legend: {
            data: ["沥青基地", "新场基地"],
            right: "10%",
            textStyle: {
              //图例文字的样式
              color: "#bdc2cb",
              fontSize: 16
            }
          },
          tooltip: {},
          xAxis: [
            {
              type: "category",
              data: xline,
              axisTick: {
                alignWithLabel: true
              },
              axisPointer: {
                type: "shadow"
              },
              splitLine: { show: false }, //去除网格线
              axisLine: {
                lineStyle: {
                  color: "#445c7a",
                  width: 1 //这里是为了突出显示加上的
                }
              },
              axisLabel: {
                show: true,
                textStyle: {
                  color: "#bdc2cb",
                  fontSize: "12"
                },
                interval: 0
                // rotate: 10
              }
            }
          ],
          yAxis: [
            {
              type: "value",
              name: "库存量(T)",
              nameTextStyle: {
                color: "#7dd0ef",
                fontSize: 20
              },
              splitLine: {
                show: true,
                lineStyle: {
                  color: ["#2c496c"],
                  width: 1,
                  type: "solid"
                }
              },
              axisLine: {
                lineStyle: {
                  color: "#445c7a",
                  width: 1 //这里是为了突出显示加上的
                }
              },
              axisLabel: {
                textStyle: {
                  color: "#6bb7d7",
                  fontSize: "16"
                }
              }
            }
          ],
          grid: {
            left: "3%",
            right: "4%",
            bottom: "3%",
            containLabel: true
          },
          series: [
            {
              name: "沥青基地",
              barWidth: 16,
              type: "bar",
              stack: "one",
              emphasis: emphasisStyle,
              data: stock,
              label: {
                show: true, //开启显示
                position: "inside",
                textStyle: {
                  //数值样式
                  color: "#6bb7d7",
                  fontSize: 15
                }
              }
            },
            {
              name: "新场基地",
              barWidth: 16,
              type: "bar",
              stack: "one",
              emphasis: emphasisStyle,
              data: baseStock,
              label: {
                show: true, //开启显示
                position: "inside",
                textStyle: {
                  //数值样式
                  color: "#6bb7d7",
                  fontSize: 15
                }
              }
            }
          ]
        };

        myChart.setOption(option);
      }
    },

    created() {
      this.$store.dispatch("getshiliaoEchart");
    },
    mounted() {
      // document.getElementById("metarialContainer").style.transform = "scale(2,1)";
      // document.getElementById("metarialContainer").style.transformOrigin = "0 0";
      // document.getElementById("metarialContainer").style.width = "960px";
      setTimeout(() => {
        WSconnect();
      }, 3000);
    },
    watch: {
      shiliaoList: function (val) {
        if (val.length > 0) {
          this.init2();
          val.forEach((item) => {
            if (item.alarmStatus === 1) {
              this.showBaojing1 = true;
            }
          });
        }
      }
    },
    computed: {
      ...mapState({
        shiliaoList: (state) => state.liqingchang.shiliaoList
      }),

      ...mapGetters([])
    },
    components: {}
  };
</script>

<style lang="less" scoped>
    .MaterialInventory {
        width: 100%;
        height: 100%;
        background: #0d1a30; //  071125
        /*background-size: 100% 100%;*/
        /*display: grid;*/
        /*grid-template-columns: 100%;*/
        /*grid-template-rows: 10% 40% 50%;*/
        .header {
            box-sizing: border-box;
            color: #a2bdec;
            font-size: 40px;
            display: flex;
            align-items: center;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/head.png")
            no-repeat;
            background-size: 100% 100%;
            padding-left: 3%;
            .font-img {
                height: 100%;
                width: 100%;
                background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/font.png")
                no-repeat;
                background-position-y: center;
                background-size: 48% 65%;
            }
        }

        .echart_liqing {
            height: 100%;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bgg.png")
            no-repeat;
            background-size: 100% 100%;
        }
        .echart_shiliao {
            height: 100%;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bgg.png")
            no-repeat;
            background-size: 100% 100%;
        }
    }
    .liqing_header {
        .liqing_title {
            color: #70f7fc;
            display: flex;
            justify-content: center;
            font-size: 2.6rem;
            padding-top: 1rem;
        }
        .liqing_icon {
            color: #8da7d5;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .img {
                height: 25px;
                width: 25px;
                background-size: 100% 100%;
            }
        }
    }
</style>
