<template>
<div>
  <span>{{ datedate }}</span
  ><span>{{ xingqi }}</span
  ><span>{{ dateTime }}</span>
</div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      datedate: "",
      dateTime: "",
      xingqi: ""
    };
  },
  methods: {},
  created() {},
  mounted() {
    setInterval(() => {
      let date = new Date();
      let miao = "",
        fen = "",
        shi = "";
      if (date.getSeconds() < 10) {
        miao = `0${date.getSeconds()}`;
      } else {
        miao = date.getSeconds();
      }
      if (date.getMinutes() < 10) {
        fen = `0${date.getMinutes()}`;
      } else {
        fen = date.getMinutes();
      }
      if (date.getHours() < 10) {
        shi = `0${date.getHours()}`;
      } else {
        shi = date.getHours();
      }
      let datedate = `${date.getFullYear()}/${
        date.getMonth() + 1
      }/${date.getDate()}`;
      let dateTime = `${shi}:${fen}:${miao}`;
      this.dateTime = dateTime;
      this.datedate = datedate;
      let xingqi = "";
      switch (date.getDay()) {
        case 1:
          xingqi = "星期一";
          break;
        case 2:
          xingqi = "星期二";
          break;
        case 3:
          xingqi = "星期三";
          break;
        case 4:
          xingqi = "星期四";
          break;
        case 5:
          xingqi = "星期五";
          break;
        case 6:
          xingqi = "星期六";
          break;
        case 7:
          xingqi = "星期日";
          break;
      }
      this.xingqi = xingqi;
    }, 1000);
  },
  computed: {
    ...mapState({
    })
  },
  components: {
  },
};
</script>

<style lang="less" scoped>
.info-box {
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 6rem;
  color: #ffffff;
  align-items: center;
  font-size: 1rem;
  padding-top: 0.5rem;
  div {
    span {
      margin-right: 0.8rem;
    }
  }
}
</style>



