<template>
  <div class="container">
    <img
      class="jiaoiconleft"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
      alt=""
    />
    <img
      class="jiaoyouicon"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
      alt=""
    />
    <div class="modletitleBox">实际生产情况</div>
    <div class="table">
      <div class="titleBox" style="z-index: 9999; opacity: 1">
        <div class="itemRow titleItem" style="width: 4rem; flex-shrink: 0;padding: 0.5rem">
          序号
        </div>
        <div class="itemRow titleItem" style="width: 10rem; flex-shrink: 0;padding: 0.5rem">
          项目名称
        </div>
        <div style="flex: 1; display: flex;">
          <div class="itemRow titleItem" style="flex: 1;padding: 0.5rem">混合料规格</div>
          <div class="itemRow titleItem" style="flex: 1.3;padding: 0.5rem">当日计划量（T）</div>
          <div class="itemRow titleItem" style="flex: 1.3;padding: 0.5rem">当日生产量（T）</div>
          <div class="itemRow titleItem" style="flex: 1;padding: 0.5rem">负责人</div>
        </div>
      </div>
      <div class="swiperBox">
        <swiper :options="swiperOption" style="height: 90%" ref="mySwiper">
          <swiperSlide
            class="line-item"
            v-for="(i, index) in trueProductList"
            :key="i.id"
          >
            <div class="itemRow" style="width: 4rem; flex-shrink: 0;padding: 0.5rem">
              {{ index + 1 }}
            </div>
            <div class="itemRow" style="width: 10rem; flex-shrink: 0;padding: 0.5rem">
              {{ i.projectName }}
            </div>
            <div style="flex: 1; display: flex; flex-flow: column">
              <div
                style=" display: flex; flex-flow: row"
                v-for="j in i.dailyProducts"
                :key="j.id"
              >
                <div class="itemRow" style="flex: 1;padding: 0.5rem">
                  {{ j.specification }}
                </div>
                <div class="itemRow" style="flex: 1.3;padding: 0.5rem">
                  {{ j.expectedNum }}
                </div>
                <div class="itemRow" style="flex: 1.3;padding: 0.5rem">
                  {{ j.realNum }}
                </div>
                <div class="itemRow" style="flex: 1;padding: 0.5rem">
                  {{ j.person }}
                </div>
              </div>
            </div>
          </swiperSlide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";

export default {
  data() {
    return {
      swiperOption: {
        slidesPerView: "auto", //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 3200,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel: true,
        mousewheelControl: true,
        // height: 300,
        centeredSlides: false // 是否居中显示
      }
    };
  },
  methods: {},
  created() {},
  mounted() {
    this.$store.dispatch("getTrueProduct", {});
    // const scale = document.documentElement.clientWidth / 1920
    // 设置页面根节点字体大小（“Math.min(scale, 2)” 指最高放大比例为2，可根据实际业务需求调整）
    // document.documentElement.style.fontSize = 16 * Math.min(scale, 2) + 'px'
  },
  computed: {
    ...mapState({
      trueProductList: (state) => state.liqingchang.trueProductList
    }),
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  components: {
    swiper,
    swiperSlide
  },
  directives: {
    swiper: directive
  }
};
</script>

<style lang="less" scoped>
.jiaoiconleft {
  position: absolute;
  height: 1.5rem;
  left: 0;
  top: 0;
}
.jiaoyouicon {
  position: absolute;
  height: 1.5rem;
  right: 0 !important;
  top: 0;
  transform: rotate(180deg);
}
.container {
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: 49.6%;
  background-color: #082c52;
  border-radius: 0.2rem;
  .modletitleBox {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #70f7fc;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding: 0.5rem 0;
  }
  .table {
    border: 0.5px solid #5fd8fa;
    height: 82%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .titleBox {
    height: 10% !important;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .swiperBox {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  .line-item {
    display: flex;
    flex-flow: row;
  }
  .itemRow {
    border-bottom: 0.5px solid #5fd8fa;
    border-right: 0.5px solid #5fd8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #145ef6;*/
    color: #ffffff;
    font-size: 0.8rem !important;
    /*padding: 0.5rem;*/
  }
  .titleItem {
    color: #84dbfb;
    font-size: 1rem !important;
    box-sizing: border-box;
    height: 100%;
  }
}

.test /deep/ .el-progress-bar__inner {
  /* background-color: unset; */
  background-image: linear-gradient(to right, #0042f5 0%, #4cb4f9 100%);
}
.test /deep/ .el-progress-bar__outer {
  height: 15px !important;
  // border: 1px solid #78335f;
  background-color: #000c6b;
}
</style>
<style >
.el-progress {
  width: 100%;
}
</style>




