<template>
    <div class="container">
        <div class="top">
            <div class="titleBox">生产情况</div>
            <div class="firstrow">
                <div class="item">
                    <div class="itemfirstrow">
                        <span class="count">{{ produtionInfo.todayAllSum }}</span>
                        <span class="unit">吨</span>
                    </div>
                    <div class="itemsecrow">本日生产量</div>
                </div>
                <div class="item">
                    <div class="itemfirstrow">
                        <span class="count">{{ produtionInfo.monthAllSum }}</span>
                        <span class="unit">吨</span>
                    </div>
                    <div class="itemsecrow">本月生产量</div>
                </div>
                <div class="item">
                    <div class="itemfirstrow">
                        <span class="count">{{ produtionInfo.yearAllSum }}</span>
                        <span class="unit">吨</span>
                    </div>
                    <div class="itemsecrow">本年生产量</div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <productionMiddle  v-if="produtionInfo && produtionInfoEchart.length > 0" style="width: 100%; height: 100%"></productionMiddle>
        </div>
    </div>
</template>

<script>
  import productionMiddle from "../productionMiddle";
  import { mapState } from "vuex";
  export default {
    data() {
      return {};
    },
    created() {},
    methods: {},
    mounted() {},
    computed: {
      ...mapState({
        produtionInfo: (state) => state.liqingchang.produtionInfo,
        produtionInfoEchart: (state) => state.liqingchang.produtionInfoEchart
      })
    },
    components: {
      productionMiddle
    }
  };
</script>

<style lang="less" scoped>
    .container {
        height: 100%;
        width: 100%;
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bggg.png");
        background-size: 100% 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titleBox {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            color: #70f7fc;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 2.6rem;
            padding: 0.5rem 0;
        }

        .top {
            height: 45%;
            /*margin-bottom: 2%;*/
            .firstrow {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 60%;
                .item {
                    height:100%;
                    width: 32%;
                    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E7%BB%84%20136%402x.png");
                    background-size: 100% 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .itemfirstrow {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        .count {
                            font-size: 1.5rem;
                            color: #76d9fd;
                        }
                        .unit {
                            color: #76d9fd;
                            font-size: 1rem;
                        }
                    }
                    .itemsecrow {
                        padding: 0rem 1rem;
                        background: linear-gradient(90deg, #1b69dd, #4ab5fb);
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 1%;
                        font-size: 1rem;
                        height: 30%;
                        box-sizing: border-box;
                    }
                }
            }
        }
        .bottom {
            height: 55%;
            width: 100%;
        }
    }
</style>
