<template>
  <div class='people-number-box'>
    <div class="number-item blue-text" @click="setPoints()">
      <div class="number-item-desc">监测设备量</div>
      <div class="number-item-num">
        <span class="number-style">{{zaoyinBar.deviceActiveCount}}/{{zaoyinBar.deviceCount}}</span><span>台</span>
      </div>
    </div>

    <div class="number-item blue-text" style="cursor:pointer" @click="showTable()">
      <div class="number-item-desc">推送量</div>
      <div class="number-item-num">
        <span class="number-style">{{zaoyinBar.pushCount}}</span><span>次</span>
      </div>
    </div>

    <div class="number-item blue-text">
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props: ['zaoyinBar', 'selectType'],
  methods:{ ...mapMutations([]),
    showTable(){
      const params = {
        count: 10,
        start: 0,
        period: this.selectType
      }
      this.$store.dispatch('getVoiceList',params)
    },
    setPoints() {
      const params = {

      }
      this.$store.commit('VIOCE_TULI_VISITBLE', true)
      this.$store.dispatch('getVoicePointList',params)
    }
  },

  mounted(){},
  watch:{},
  computed:{ ...mapState({}),
  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
</style>
