<template>
  <div ref="zaoyinEchart" style="width: 100%; height: 100%;"></div>
</template>

<script>
import echart from "echarts";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props: ['zaoyinBar'],
  methods:{ ...mapMutations([])},

  mounted(){
    let myChart = echart.init(this.$refs.zaoyinEchart);
    myChart.setOption({
      color: ['#e6a23c'],
      tooltip: {
        trigger: 'axis',
        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
      },
      grid: {
        top:'22%',
        left: '5%',
        right: '4%',
        bottom: '5%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: this.zaoyinBar.xAxis,
          axisTick: {
            show: false
          },
          axisLine:{
            lineStyle:{
              type:'solid',
              color:'#23cefd',
              width:.5
            }
          },
          axisLabel:{
            textStyle:{
              fontSize: '65%',
              color:'#01a4e2'
            },
            rotate:-40
          }
        }
      ],
      yAxis: [
        {
          type: 'value',
          name:'平均分贝',
          nameTextStyle:{
            fontSize:'75%',
          },
          axisLine:{
            lineStyle:{
              type:'solid',
              color:'#23cefd',
              width:.5
            }
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle:{
                color: '#33394f',
                width: .5,
                type: 'solid'
            }
          },
          axisLabel:{
            textStyle:{
              fontSize: '65%',
              color:'#01a4e2'
            }
          }
        }
      ],
      series: [
        {
          type: 'bar',
          barWidth: '40%',
          data: this.zaoyinBar.data
        }
      ]
    });
  },
  watch:{},
  computed:{ ...mapState({}),
  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
</style>
