<template>
  <div class='out-box'>
    <div class="number-box">
      <people-number :zaoyinBar="zaoyinBar" :selectType="selectType"></people-number>
    </div>
    <div class="echart-box" v-if="rightEchartVisit">
      <people-echart :zaoyinBar="zaoyinBar"></people-echart>
    </div>
  </div>
</template>

<script>
import peopleNumber from "@/components/sanlin/rightMiddle/peopleNumber";
import peopleEchart from "@/components/sanlin/rightMiddle/peopleEchart";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props: ['zaoyinBar', 'selectType'],
  methods:{ ...mapMutations([])},

  mounted(){},
  watch:{},
  computed:{ ...mapState({
      rightEchartVisit: state => state.sanlinecharts.rightEchartVisit
    }),
  ...mapGetters([])

  },
  components: {
    peopleNumber,
    peopleEchart
  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
</style>
