<template>
  <div class="out-box">
    <div class="box-left">
      <!-- <people-number :zaoyinBar="zaoyinBar" :selectType="selectType"></people-number> -->
      <div class="box-left-up" ref="boxleftup"></div>
      <div class="box-left-bottom" ref="boxleftbottom"></div>
    </div>
    <div class="box-right">
      <!-- <people-echart :zaoyinBar="zaoyinBar"></people-echart> -->
      <div class="box-right-up" ref="boxrightup" ></div>
      <div class="box-right-bottom">
        <div class="titleheader">
          <div class="title-item" style="flex: 1.3">点位名称</div>
          <div class="title-item" style="flex: 1.4">推送时间</div>
          <div class="title-item" style="flex: 0.8">监测值</div>
          <div class="title-item">推送次数</div>
          <div class="title-item">处理结果</div>
        </div>
        <div class="tableBox">
          <swiper
            :options="swiperOption"
            ref="mySwiper"
            style="width: 100%; height: 100px;"
          >
            <swiper-slide
              class="tablelist"
              v-for="item in noiseRecordList"
              :key="item.name"
              @click.native="orderDetail(item)"
            >
              <div class="content-item" style="flex: 1.3">
                {{ item.address }}
              </div>
              <div class="content-item" style="flex: 1.4">
                {{ item.createTimeFmt }}
              </div>
              <div class="content-item" style="flex: 0.8">
                {{ item.currentDecibel }}
              </div>
              <div class="content-item">{{ item.quantity }}</div>
              <div class="content-item">{{ item.state }}</div>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import peopleNumber from "@/components/sanlin/rightMiddle/peopleNumber";
import peopleEchart from "@/components/sanlin/rightMiddle/peopleEchart";
import { mapState, mapGetters, mapMutations } from "vuex";
import echart from "echarts";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";

export default {
  data() {
    return {
      tableData: [],
      swiperOption: {
        slidesPerView: 2, //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: false,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 3200,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel: true,
        mousewheelControl: true,
        height: 80,
        centeredSlides: false // 是否居中显示
      },
      // noiseList:[]
    };
  },
  props: ["zaoyinBar", "selectType"],
  methods: {
    drawYiBiaoPan(data) {
      let yibiaopan = echart.init(this.$refs.boxleftup);
      let option = {
        series: [
          {
            type: "gauge",
            // center: ['77%', '50%'],    // 默认全局居中
            radius: "85%",
            progress: {
              show: true,
              width: 8
            },
            axisLine: {
              lineStyle: {
                width: 8
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              length: 8,
              lineStyle: {
                width: 2,
                color: "#fff"
              }
            },
            axisLabel: {
              distance: 4,
              color: "#fff",
              fontSize: 7
            },
            anchor: {
              show: true,
              showAbove: true,
              size: 15,
              itemStyle: {
                borderWidth: 2
              }
            },
            title: {
              show: true,
              name: "测试一下",
              offsetCenter: [0, "95%"],
              textStyle: {
                color: "#77D9FB"
              }
            },
            detail: {
              valueAnimation: true,
              fontSize: 15,
              offsetCenter: [0, "60%"],
              show: false
            },
            data: [
              {
                value: data[0].currentDecibel,
                name: data[0].address
              }
            ]
          }
        ]
      };
      option && yibiaopan.setOption(option);

      let yibiaopan_bottom = echart.init(this.$refs.boxleftbottom);
      let option_bottom = {
        series: [
          {
            type: "gauge",
            radius: "85%",
            progress: {
              show: true,
              width: 8
            },
            axisLine: {
              lineStyle: {
                width: 8
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              length: 8,
              lineStyle: {
                width: 2,
                color: "#fff"
              }
            },
            axisLabel: {
              distance: 4,
              color: "#fff",
              fontSize: 7
            },
            anchor: {
              show: true,
              showAbove: true,
              size: 15,
              itemStyle: {
                borderWidth: 2
              }
            },
            title: {
              show: true,
              name: "测试一下",
              offsetCenter: [0, "95%"],
              textStyle: {
                color: "#77D9FB"
              }
            },
            detail: {
              valueAnimation: true,
              fontSize: 15,
              offsetCenter: [0, "80%"],
              show: false
            },
            data: [
              {
                value: data[1].currentDecibel,
                name: data[1].address
              }
            ]
          }
        ]
      };
      option_bottom && yibiaopan_bottom.setOption(option_bottom);
    },
    drawLineEchart(data) {
      var boxrightup = echart.init(this.$refs.boxrightup);
      let option = {
        color: ["#81aff5", "#eaca73"],
        legend: {
          // data: ["摄像头", "line2"],
          textStyle: {
            color: "#fff" //坐标值得具体的颜色
          }
        },
        tooltip: {   
          
            // textStyle:{
            //   align:"center"
            // },
            trigger: 'axis',
        //     position:function(position){
        //     //获取容器的宽度
        //     var chartsWidth = $("#threadtrend").width();
        //     //判断悬停点落在容器的哪测
        //     if(position[0] < (chartsWidth/3)){
        //          position[0] = position[0]+130;
        //     }else{
        //       position[0] = position[0] - 130;
        //     }
        //     return [position[0], position[1]];
        // },
            
        },
        grid: {
          left: "3%",
          right: "5%",
          top: "24%",
          bottom: "1%",
          containLabel: true
        },
        xAxis: {
          // name: "平均分贝",
          nameTextStyle: {
            color: "#b3b8c2",
            fontSize: 12
          },

          type: "category",
          // data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
          data: data.xAxis,
          // data: xArr,
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#193b6c", //左边线的颜色
              width: "1" //坐标线的宽度
            }
          },
          axisLabel: {
            textStyle: {
              color: "#fff" //坐标值得具体的颜色
            }
          },
          axisTick: false,
          boundaryGap: false
        },
        yAxis: {
          name: "平均分贝",
          nameTextStyle: {
            color: "#fff",
            fontSize: 12
          },

          type: "value",
          axisLine: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: "#fff" //坐标值得具体的颜色
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#193b6c"],
              width: 1,
              type: "solid"
            }
          }
          //   splitArea: { show: true } //保留网格区域
        },
        series: data.series
        // series: [
        //   {
        //     name: "摄像头",
        //     // data: [20, 1532, 91, 894, 290, 1530, 120],
        //     data:data.series,
        //     // data: yArr,
        //     type: "line",
        //     smooth: true,
        //     lineStyle: {
        //       color: "#81aff5",
        //       width: 2
        //     },
        //     areaStyle: {
        //       normal: {
        //         color: new echart.graphic.LinearGradient(0, 0, 0, 1, [
        //           { offset: 0, color: "#81aff5" },
        //           { offset: 1, color: "transparent" }
        //         ])
        //       }
        //     },
        //     showSymbol: false
        //   },

        // {
        //   name: "line2",
        //   data: [120, 532, 910, 94, 1290, 130, 1120],
        //   type: "line",
        //   smooth: true,
        //   lineStyle: {
        //     color: "#eaca73",
        //     width: 2
        //   },
        //   showSymbol: false
        // }
        // ]
      };
      boxrightup.setOption(option);
    },
    noiseList() {
      this.$store.dispatch("noiseList", {}).then((res) => {
        res.results;
        // this.noiseList = res.results
        this.drawYiBiaoPan(res.results);
      });
    },
    nosieLine() {
      let params = {
        period: this.noiseTimeSelect
      };
      this.$store.dispatch("nosieLine", params).then((res) => {
        // res.results;
        this.drawLineEchart(res.result);
      });
    },
    ...mapMutations([])
  },

  mounted() {
    // this.drawYiBiaoPan();
    // this.drawLineEchart();
    this.noiseList();
    this.nosieLine();
  },
  watch: {
    noiseTimeSelect() {
      this.nosieLine();
    },
    voiceDetail(){
      this.noiseList();
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
    ...mapState({
      rightEchartVisit: (state) => state.sanlinecharts.rightEchartVisit,
      voiceDetail: (state) => state.sanlinecharts.voiceDetail,
      noiseRecordList: (state) => state.sanlinerqiV3.noiseRecordList,
      noiseTimeSelect: (state) => state.sanlinerqiV3.noiseTimeSelect
    }),
    ...mapGetters([])
  },
  components: {
    peopleNumber,
    peopleEchart,
    swiper,
    swiperSlide
  },
  directives: {
    swiper: directive
  }
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
.box-left {
  height: 100%;
  width: 30%;
  // background: red;
  display: flex;
  flex-direction: column;

  .box-left-up {
    height: 50%;
    width: 100%;
    // background: white;
  }
  .box-left-bottom {
    height: 50%;
    width: 100%;
    // background: violet;
  }
}
.box-right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  // background: red;
  // overflow: hidden;
  box-sizing: border-box;
  // padding-top: 3%;
  .box-right-up {
    height: 55%;
    width: 100%;
    
  }
  .box-right-bottom {
    height: 45%;
    width: 100%;
    overflow: hidden;
    .titleheader {
      height: 33%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .tableBox{
      width: 100%;
      height: 67%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .title-item {
      flex: 1;
      color: #69eaf8;
      font-size: 14px;
      text-align: center;
    }
    .tablelist {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .content-item {
      flex: 1;
      color: white;
      font-size: 10px;
      text-align: center;
    }
  }
}
</style>
