<template>
  <div class="container">
        <div class="problemBox">
            <div class="itemImgbox">
                <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/xunjianwenti.png" alt="" class="img">
                <br>
                巡检问题
            </div>
           
            <div class="itembox">
                <div class="type">已处理</div>
                <div class="blue">{{problemCount.taskHandleCount}}</div>
            </div>
            <div class="itembox">
                <div class="type">未处理</div>
                <div class="red">{{problemCount.taskUnHandleCount}}</div>
            </div>
        </div>
        <!-- <div class="line"></div> -->
        <div class="problemBox">
            <div class="itemImgbox">
                <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/shangbaotousu.png" alt="" class="img">
                <br>
                上报投诉
            </div>
            
            <div class="itembox">
                <div class="type">已处理</div>
                <div class="blue">{{problemCount.handleCount}}</div>
            </div>
            <div class="itembox">
                <div class="type">未处理</div>
                <div class="red">{{problemCount.unHandleCount}}</div>
            </div>
        </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{

        }
    },
    methods:{

    },
    mounted(){
        this.$store.dispatch('getProblemCount')
    },
    components:{

    },
    computed:{
        ...mapState({
            problemCount:state=>state.oldStreet.problemCount
        })
    }
}
</script>

<style lang="less" scoped>
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;;
        // background: blue;
        
        .problemBox{
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            // background-color: blue;
            // justify-content: space-around;
            align-items: center;
            
            .itemImgbox{
                height: 100%;
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: blue;
                color: white;
                justify-content: center;
                font-size: 0.5rem;
                .img{
                    height: 4rem;
                    // width: 4rem;
                    background-size: 100% 100%;
                }
            }
             .itembox{
                height: 100%;
                width: 37%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                box-sizing: border-box;
                .type{
                    color:#5779AA;
                    font-size: 1rem;
                    margin-top: 1.2rem;
                }
                .blue{
                    font-size: 1.5rem;
                    color: #4C9B3F;
                    margin-top: 1.6rem;
                }
                .red{
                    font-size: 1.5rem;
                    color: #CD3E50;
                    margin-top: 1.6rem;
                }
            }
        }
        .line{
            width: 95%;
            height: 1px;
            background: #307BB5;
        }
    }
</style>

