<template>
    <div ref="main" style="width:100%; height:100%;"></div>
</template>

<script>
    import echarts from 'echarts'
    // import {yesterdayPeopleNumPerHour} from "../../../api/components/people-counting"
import { mapState } from 'vuex'

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        mounted(){
            
        },
        computed:{
            ...mapState({
                yesterdayPeoperhour:state=>state.echarts.yesterdayPeoperhour
            })
        },
        created() {
            this.$nextTick(() => {
                this.$store.dispatch('yesterdayPeopleNumPerHour').then(res=>{
                    this.myChart = echarts.init(this.$refs['main']);
                    res.data.sort(this.sortNumber);
                    let dataX = [];
                    let dataY = [50,70,90,70,63,52,41,300,520,485,958,1560,1923,2500,4025,5023,4520,5052,3820,3552,5221,1532,574,125];
                    res.data.forEach(item => {
                        let hour = '';
                        if (item.hour < 10) {
                            hour = "0" + item.hour + ":00";
                        } else {
                            hour = item.hour + ":00";
                        }
                        dataX.push(hour);
                        dataY.push(item.count);
                    });
                    let option = this.getEchartsOption(dataX, dataY);
                    this.myChart.setOption(option);
                })
            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.hour - b.hour;
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    color: ['#19b7d0'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "时间: {b}:00<br/>{a}: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '9%',
                        top: "13%",
                        containLabel: true
                    },
                    xAxis: [
                        {
                            axisLabel: {
                                rotate: -90,
                                interval: 0
                            },
                            type: 'category',
                            splitLine:{
                                show: true,
                                interval: 0,
                                lineStyle: {
                                    color: "#1A3337"
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#56aab5',
                                    width: 2
                                }

                            },
                            data: dataX,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            name: "人次",
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#56aab5',
                                    width: 2
                                }
                            },
                            splitLine:{
                                show: true,
                                interval: 0,
                                lineStyle: {
                                    color: "#1A3337"
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '人流量',
                            type: 'bar',
                            barWidth: '60%',
                            data: dataY,
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
