<template>
    <div ref="main" style="width:100%; height:100%;"></div>
</template>

<script>
    import echarts from 'echarts'
    // import {peopleNumXiuTan} from "../../../api/components/people-counting"

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.loadPeopleNumXiuTan(0);
            })
        },
        methods: {
            loadPeopleNumXiuTan: function (dateTypes) {
                //dateType:  日:0,周:1,月:2
                let dataX = ["千汇四村","文化中心","镇政府","东港幼儿园","施湾小学","东港小学","东海学校","光明学校","祝桥小学","祝桥中学"];
                let dataY=[]
                if(dateTypes==1){
                    dataY = [1923,2500,4025,5023,4520,5052,3820,3552,5221,1532];
                }else{
                    dataY = [275,357,575,718,717,725,547,507,746,219];
                }
                let option = this.getEchartsOption(dataX, dataY);
                this.myChart.setOption(option);
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    textStyle : {
                        color: "#19B7D0"
                    },
                    color: ['#19B7D0'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "地点: {b}<br/>人流量: {c}"
                    },
                    grid: {
                        top: "2%",
                        left: '1%',
                        right: '15%',
                        bottom: '1%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            axisLabel: {
                                rotate: -60,
                                interval: 0,
                                textStyle: {
                                    fontSize: 10
                                },
                            },
                            type: 'category',
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#19B7D0',
                                    type: "dashed",
                                }
                            },
                            data: dataX,
                            axisTick: {
                                alignWithLabel: true
                            },
                        }
                    ],
                    yAxis: [
                        {
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#19B7D0',
                                    type: "dashed"
                                }
                            },
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    color: "#19B7D0",
                                    type: "dashed"
                                }
                            },
                        }
                    ],
                    series: [
                        {
                            name: '人流量',
                            type: 'bar',
                            barWidth: '40%',
                            data: dataY,
                        },

                    ],
                    itemStyle: {
                        normal: {

                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(150, 223,228, 1)'
                            }, {
                                offset: 1,
                                color: 'rgba(82, 135,255, 1)'
                            }]),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10
                        }
                    }
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
