<template>
    <div ref="main" style="width:100%; height:100%"></div>

</template>

<script>
    import echarts from 'echarts'
    import { mapState } from 'vuex'
    // import {lastWeekXiuTanPeopleNum} from "../../../api/components/people-counting"

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        computed:{
            ...mapState({
                lastWeekXiuTanPeople:state=>state.echarts.lastWeekXiuTanPeople
            })
        },
        mounted(){
            // this.$store.dispatch('lastWeekXiuTanPeopleNum')
        },
        created() {
            this.$nextTick(() => {
                // setTimeout(()=>{
                this.$store.dispatch('lastWeekXiuTanPeopleNum').then(res=>{
                    this.myChart = echarts.init(this.$refs['main']);
                    res.data.sort(this.sortNumber);
                    let dataX = [];
                    let dataY = [];
                    res.data.forEach(item => {
                        switch (item.weekDay) {
                            case 1:
                                dataX.push("周一");
                                break;
                            case 2:
                                dataX.push("周二");
                                break;
                            case 3:
                                dataX.push("周三");
                                break;
                            case 4:
                                dataX.push("周四");
                                break;
                            case 5:
                                dataX.push("周五");
                                break;
                            case 6:
                                dataX.push("周六");
                                break;
                            default:
                                dataX.push("周日");
                        }
                        dataY.push(item.count);
                    });
                    let option = this.getEchartsOption(dataX, dataY);
                    this.myChart.setOption(option);
                })    
                // },500)
            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.weekDay - b.weekDay;
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    title: {
                        textStyle: {
                            fontWeight: 'normal',
                            fontSize: 16,
                            color: '#F1F1F3'
                        },
                        left: '6%'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            lineStyle: {
                                color: '#57617B'
                            }
                        },
                        formatter: "时间: {b}<br/>{a}: {c}"
                    },
                    legend: {
                        icon: 'rect',
                        itemWidth: 14,
                        itemHeight: 5,
                        itemGap: 13,
                        right: '4%',
                        textStyle: {
                            fontSize: 12,
                            color: '#F1F1F3'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '5%',
                        top: "10%",
                        containLabel: true
                    },
                    xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        axisLine: {
                            lineStyle: {
                                color: '#69d0df'
                            }
                        },
                        data: dataX
                    }],
                    yAxis: [{
                        type: 'value',
                        splitLine: {show: false},
                        axisTick: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#69d0df'
                            }
                        },
                        axisLabel: {
                            margin: 10,
                            textStyle: {
                                fontSize: 14
                            }
                        },
//                        splitLine: {
//                            lineStyle: {
//                                color: '#57617B'
//                            }
//                        }
                    }],
                    series: [{
                        name: '人数',
                        type: 'line',
                        smooth: true,
                        symbol: 'circle',
                        symbolSize: 5,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 1
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgba(90, 79, 49, 1)'
                                }, {
                                    offset: 0.6,
                                    color: 'rgba(36, 72, 96, 1)'
                                }, {
                                    offset: 1,
                                    color: 'rgba(19, 57, 70, 1)'
                                }], false),

                                shadowBlur: 10
                            }
                        },
                        itemStyle: {
                            normal: {

                                color: 'rgb(219,50,51)',
                                borderColor: 'rgba(219,50,51,0.2)',
                                borderWidth: 12
                            }
                        },
                        data: dataY
                    },]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
