<template>
  <div class="zhoujiadu-dashboard-container">
    <div class="dashboard-header">
      <img
        style="width: 100%"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/header-bar-new.png"
        alt
      />
      <div class="title">
        <span>三林镇城市运行综合管理智慧平台</span>
      </div>
      <div class="date-week">
        <div class="date">
          <span>{{ dateString }}</span>
        </div>
        <div class="week">
          <span>星期{{ weekString }}</span>
        </div>
      </div>
      <div class="date-time">{{ timeString }}</div>
      <div class="temperature">
        <!-- <img style="width:25px;height:25px" :src="currentIcon[0].icon" alt /> -->
        <span style="margin-right: 1rem; margin-left: 1.25rem">{{
          weather.weather
        }}</span>
        <span>
          {{ weather.temperature }}
          <span>&deg;C</span>
        </span>
      </div>
    </div>
    <div class="mapContainer">
      <div class="mapBackground"></div>
      <div id="map-container">
        <!-- <div class="left-top-corner"></div>
        <div class="left-bottom-corner"></div>
        <div class="right-top-corner"></div>
        <div class="right-bottom-corner"></div> -->
        <div class="tool-box">
          <div class="toolset">
            <img
              @click="openVideo"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/settings.png"
              alt
            />

            <div class="mapType mapTypes" v-if="videoShow">
              <div class="rigthjiao"></div>
              <div class="scenescreenBox">
                <header>请选择屏幕</header>
                <div class="sceneBoxcontent">
                  <el-button
                    size="mini"
                    v-for="item in screenList"
                    :key="item.urn.id"
                    type="primary"
                    @click="lorvideo(item)"
                    >{{ item.descriptor.properties.screenName }}</el-button
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="mapIcon">
            <img
              @click="setmapShow"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/map.png"
              alt
            />
            <div class="mapType mapTypes" v-if="mapShow">
              <div class="rigthjiao"></div>
              <div class="mapbox">
                <div class="mapjiben" @click="initBasemap">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/jichu.png"
                    alt
                  />
                  <div class="maptitle">标准</div>
                </div>
                <div class="mapweixing" @click="initWeixing">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/weixing.png"
                    alt
                  />

                  <div class="maptitle">卫星</div>
                </div>
                <div class="maphei" @click="initHeisemap">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/heise.png"
                    alt
                  />
                  <div class="maptitle">魅夜黑</div>
                </div>
              </div>
            </div>
          </div>
          <div class="searchBox">
            <img
              @click="setinputShow"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/search.png"
              alt
            />
            <div class="mapType mapTypes" v-if="inputShow">
              <div class="rigthjiao"></div>
              <div class="searchInput" style="margin-bottom: 10px">
                <input
                  @input="cleartext"
                  v-model="placetxt"
                  class="inputcontent"
                  v-on:keyup.enter="placeSearch"
                  placeholder="请输入关键词"
                  type="text"
                />
                <img
                  @click="placeSearch"
                  class="inputicon"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/searchicon.png"
                  alt
                />
              </div>
              <div
                class="searchList"
                v-show="poiList !== []"
                v-for="item in poiList"
                :key="item.id"
                @click="setcenter(item)"
              >
                {{ item.name }}
              </div>
            </div>
          </div>
          <div class="menu">
            <img
              @click="sceneShow()"
              class="img-icon"
              src="../../assets/images/sanlin/changeIcon@2x.png"
              alt
            />
            <div class="mapType mapTypes" v-if="issceneShow">
              <div class="rigthjiao"></div>
              <div class="scene">
                <span class="sceneItem" @click="jumpToOtherAdress"
                  >公共设施管理</span
                >
                <span class="sceneItem" @click="jumpToOtherSanlin"
                  >三林老街项目(意静云)</span
                >
              </div>
            </div>
          </div>
          <div class="menu">
            <img
              @click="gonggongsheshiShow"
              class="img-icon"
              src="../../assets/images/sanlin/function.png"
              alt
            />
            <div class="mapType mapTypes" v-if="isgonggongsheshiShow">
              <div class="rigthjiao"></div>
              <div class="sceneBox">
                <header>请选择场景</header>
                <div class="sceneBoxcontent">
                  <el-button
                    size="mini"
                    v-for="(item, index) in devicesTagsList"
                    :key="index"
                    :type="item.signType"
                    @click="selectSign(index)"
                    >{{ item.name.value }}</el-button
                  >
                </div>
                <footer>
                  <el-button size="mini" type="success" @click="sureselectSign"
                    >确定</el-button
                  >
                </footer>
              </div>
            </div>
          </div>
          <div class="fangda">
            <img
              @click="zoom('in')"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bigger.png"
              alt
            />
          </div>

          <div class="suoxiao">
            <img
              @click="zoom('out')"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/smaller.png"
              alt
            />
          </div>
          <div class="clear">
            <img
              @click="clearIcons()"
              class="img-icon"
              src="../../assets/images/sanlin/clearIcon@2x.png"
              alt
            />
          </div>
        </div>

        <!--    查看位置    -->
        <div class="tuli" v-if="voiceTuliVisitble">
          <div class="tuli-item" @click="selectMaker('normal')">
            <img
              class="img-icon"
              src="../../assets/images/sanlin/zaoyin_normal@2x.png"
              alt
            />
            正常
          </div>
          <div class="tuli-item" @click="selectMaker('unnormal')">
            <img
              class="img-icon"
              src="../../assets/images/sanlin/zaoyin_unnormal@2x.png"
              alt
            />
            不正常
          </div>
        </div>
        <!-- <div class="tablea">
          <draggable tag="div" v-bind="{animation: 1000}" v-model="list">
            <transition-group>
                <p style="width:100px;height:20px;border:1px solid #ccc;float:left" v-for="(item,index) in list" :key='index'>{{item.name}}</p>
            </transition-group>
            
          </draggable>
          
        </div>-->
      </div>
    </div>

    <div class="dashLeft">
      <div class="dashleftItem">
        <weikakou @openErjiPop="openErjiPop"></weikakou>
      </div>
      <div class="dashleftItem">
        <peopleDensity></peopleDensity>
      </div>
    </div>
    <div class="dashRight">
      <div class="dashrightItem" style="overflow: hidden">
        <weizhangParking></weizhangParking>
      </div>
      <div class="dashrightItem">
        <zaoyinWatch></zaoyinWatch>
      </div>
      <div class="garbagetopright" v-if="garbagelsitVisible">
        <garbageList></garbageList>
      </div>
    </div>
    <div class="dashBottom">
      <div class="dashBottomItem">
        <yijian-lunxun></yijian-lunxun>
      </div>
      <div class="dashBottomItem1">
        <gongdanFenxi></gongdanFenxi>
      </div>
      <div class="dashBottomItem">
        <garbageWatch></garbageWatch>
      </div>
    </div>

    <cameralocal
      v-if="controlLRvisiable"
      @lockVideo="lockVideo"
      :screenList="screenList"
    ></cameralocal>
    <video-popup
      :visible="videoVisible"
      @video:close="handleCloseVideo"
      :node="videoRtsp[0]"
    ></video-popup>
    <warnPeopleInfo></warnPeopleInfo>
    <weikakouPop></weikakouPop>
    <locusPop></locusPop>
    <escapePeople></escapePeople>
    <deviceProbing></deviceProbing>
    <deviceProbingpic></deviceProbingpic>
    <zhuapai-pic-list></zhuapai-pic-list>
    <trend v-if="gongdanTrendvisible"></trend>
    <trend-of-garbage v-if="garbageTrendvisible"></trend-of-garbage>
    <div class="video-box" v-if="videoBoxvisible" @click.stop="closeVoiceVideo">
      <div class="video-box-item">
        <video-container
          :reffer="voiceLiveReffer"
          :node="voiceLiveNode"
          :url="lingangUrl"
        ></video-container>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import cameralocal from "@/components/cameraLocal.vue";
import Vue from "vue";
import videoPopup from "@/components/videoPopup.vue";
import axios from "axios";
import weikakou from "@/components/sanlin/echarts/weikakou.vue";
import peopleDensity from "@/components/sanlin/echarts/peopleDensity.vue";
import garbageWatch from "@/components/sanlin/echarts/garbageWatch.vue";
import gongdanFenxi from "@/components/sanlin/echarts/gongdanFenxi.vue";
import weizhangParking from "@/components/sanlin/echarts/weizhangParking.vue";
import zaoyinWatch from "@/components/sanlin/echarts/zaoyinWatch.vue";
import yijianLunxun from "@/components/sanlin/echarts/yijianLunxun.vue";
// import dashchart from '@/views/sanlin/dashchart.vue'
import warnPeopleInfo from "@/components/sanlin/popContainer/warnPeopleInfo.vue";
import weikakouPop from "@/components/sanlin/popContainer/weikakouPop.vue";
import locusPop from "@/components/sanlin/popContainer/locusPop.vue";
import escapePeople from "@/components/sanlin/popContainer/escapePeople.vue";
import deviceProbing from "@/components/sanlin/popContainer/deviceProbing.vue";
import deviceProbingpic from "@/components/sanlin/popContainer/deviceProbingpic.vue";
import zhuapaiPicList from "@/components/sanlin/popContainer/zhuapaiPicList.vue";
import trend from "@/components/sanlin/popContainer/trend.vue";
import garbageList from "@/components/sanlin/popContainer/garbageList.vue";
import trendOfGarbage from "@/components/sanlin/popContainer/trendOfGarbage";
import videoContainer from "../../components/videoContainer";
import AMap from "AMap";
import store from "@/store";
// 治理要素table
export default {
  data() {
    return {
      voiceLiveReffer: "voice-live-id",
      zaoyinUrl:
        "http://cmgw-vpc.lechange.com:8888/LCO/6J0788DPAJ714A8/0/1/20210107T034859/e38d5c1ba303ab613eb32e7bfca289a0.m3u8",
      node: "",
      d: new Date(),
      timeString: "",
      // videoVisible: false,
      weather: {},
      weatherIcon: [
        {
          weather: "雨",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yu.png"
        },
        {
          weather: "晴",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/qing.png"
        },
        {
          weather: "阴",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yintian.png"
        },
        {
          weather: "云",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yintian.png"
        },
        {
          weather: "雪",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/xue.png"
        }
      ],
      currentIcon: [],
      params: {},

      placetxt: "",
      poiList: [],
      inputShow: false,
      mapShow: false,
      iconShow: false,
      isgonggongsheshiShow: false,
      videoShow: false,
      isShowErjiPop: false,
      isShowLoginPop: false,
      issceneShow: false,
      signList: [
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" },
        { signType: "info" }
      ]
    };
  },
  methods: {
    lockVideo: function(data) {
      this.$store.dispatch("lockvideo", [data]);
    },
    setcenter(item) {
      this.placetxt = item.name;
      this.poiList = [];
      Vue.prototype.globalAMap.setCenter([
        item.location.lng,
        item.location.lat
      ]);
      this.inputShow = false;
    },
    cleartext() {
      if (this.placetxt == "") {
        this.poiList = [];
      }
    },
    placeSearch() {
      let that = this;
      AMap.service(["AMap.PlaceSearch"], function() {
        let placeSear = new AMap.PlaceSearch({
          pageSize: 10, // 单页显示结果条数
          pageIndex: 1, // 页码
          city: "021" // 兴趣点城市
          // citylimit: true,  //是否强制限制在设置的城市内搜索
        });
        placeSear.search(that.placetxt, (status, res) => {
          that.poiList = res.poiList.pois;
        });
      });
    },
    selectSchool() {
      if (this.params.tags == "school") {
        this.params = {};
      } else {
        this.params = {
          tags: "school"
        };
      }
      this.$store.dispatch("getDeviceList", this.params);
    },
    selectOffice() {
      if (this.params.tags == "office") {
        this.params = {};
      } else {
        this.params = {
          tags: "office"
        };
      }
      this.$store.dispatch("getDeviceList", this.params);
    },
    selectMarket() {},
    handleCloseVideo: function() {
      // this.videoVisible = false;
      this.$store.commit("HIDE_VIDEO_VISIBLE");
    },
    zoom: function(item) {
      if (item == "out") {
        this.$store.commit("ZOOM_OUT_GLOBAL");
      } else {
        this.$store.commit("ZOOM_IN_GLOBAL");
      }
    },
    clearIcons: function() {
      this.$store.commit("CLEARMARKERS");
      this.$store.commit("VIOCE_TULI_VISITBLE", false);
    },
    jumpToOtherAdress: function() {
      window.location = `http://101.231.47.117:50019/slPlatform/#/newsl`;
    },
    jumpToOtherSanlin() {
      window.location = `https://www.aifire.cn/web/login`;
    },
    initWeixing() {
      this.$store.commit("WEIXING_AMAP");
      this.mapShow = false;
    },
    initBasemap() {
      this.$store.commit("SHOW_BASE_MAP");
      this.mapShow = false;
    },
    initHeisemap() {
      this.$store.commit("SHOW_HEISE_MAP");
      this.mapShow = false;
    },
    openVideo() {
      // this.$store.commit('DIS_CONNECT_VIDEO')
      this.videoShow = !this.videoShow;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = false;
    },
    lorvideo(data) {
      console.log(data);
      open(
        `/sanlin/turning/urn:${data.urn.organization}:${data.urn.group}:${data.urn.id}?width=${data.descriptor.properties.width}&height=${data.descriptor.properties.height}&screenName=${data.descriptor.properties.screenName}`
      );
      this.videoShow = false;
      // if (index == 0) {
      //   open(
      //     `/sanlin/videoleft/urn:${data.urn.organization}:${data.urn.group}:${data.urn.id}`
      //   );
      // } else {
      //   open(
      //     `/sanlin/videoleft/urn:${data.urn.organization}:${data.urn.group}:${data.urn.id}`
      //   );
      // }
    },
    sceneShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.iconShow = false;
      this.isgonggongsheshiShow = false;
      this.issceneShow = !this.issceneShow;
      this.mapShow = false;
    },
    setinputShow() {
      this.mapShow = false;
      this.iconShow = false;
      this.issceneShow = false;
      this.videoShow = false;
      this.isgonggongsheshiShow = false;

      this.inputShow = !this.inputShow;
    },
    setmapShow() {
      this.issceneShow = false;
      this.videoShow = false;
      this.inputShow = false;
      this.iconShow = false;
      this.isgonggongsheshiShow = false;
      this.mapShow = !this.mapShow;
    },
    seticonShow() {
      this.issceneShow = false;
      this.videoShow = false;
      this.inputShow = false;
      this.mapShow = false;
      this.isgonggongsheshiShow = false;
      this.iconShow = !this.iconShow;
    },
    gonggongsheshiShow() {
      this.issceneShow = false;
      this.videoShow = false;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = false;
      this.isgonggongsheshiShow = !this.isgonggongsheshiShow;
      // debugger
      if (this.devicesTagsList.length) {
        console.log(this.devicesTagsList);
      } else {
        this.$store.dispatch("readDevicesTags", { isVisible: true });
      }
    },
    closeErjiPop() {
      this.isShowErjiPop = false;
    },
    openErjiPop() {
      this.isShowErjiPop = true;
    },
    // 展示正常的摄像头
    selectMaker(type) {
      let normalArr = { results: [] },
        unnormalArr = { results: [] };
      this.voiceList.forEach(item => {
        if (item.state === 1) {
          normalArr.results.push(item);
        } else {
          unnormalArr.results.push(item);
        }
      });
      if (type === "normal") {
        this.setMap(normalArr);
      } else {
        this.setMap(unnormalArr);
      }
    },
    setMap(voiceMarkers) {
      this.$store.commit("CLEARMARKERS");
      voiceMarkers.results.map(item => {
        if (item.lat) {
          let imgUrl = "";
          if (item.state === 1) {
            imgUrl = "/img/icons/points/zaoyin_normal@2x.png";
          } else {
            imgUrl = "/img/icons/points/zaoyin_unnormal@2x.png";
          }
          let marker = new AMap.Marker({
            position: new AMap.LngLat(item.lng, item.lat),
            extData: item,
            icon: imgUrl,
            size: 20
          });
          marker.on("click", e => {
            let deviceUrn = e.target.w.extData.deviceUrn;
            store.dispatch("getVoiceDetail", { deviceUrn: deviceUrn });
            store.commit("DEVICEPROBINGVISIBLE", true);
          });
          this.$store.state.sanlinecharts.weikakouMarkerList.push(marker);
        }
      });
      Vue.prototype.globalAMap.add(
        this.$store.state.sanlinecharts.weikakouMarkerList
      );
    },
    selectSign(index) {
      this.$store.commit("CHANGE_TAGS_TYPE", index);

      this.$store.dispatch("getSignDeviceList", [
        this.deviceListPagination,
        this.devicesTagsList[index].name.value
      ]);
    },
    sureselectSign() {
      this.$store.commit("CLEAR_MARKERS");
      let obj = Vue.ls.get("signDevice");
      let arr = [];
      for (let i in obj) {
        arr = [...arr, ...obj[i]];
      }
      // console.log(arr)
      let a = this.unique(arr);
      // console.log(a)
      if (a.length) {
        this.$store.commit("GET_DEVICE_LIST", { results: a });
      } else {
        this.$store.dispatch("getDeviceList", this.deviceListPagination);
      }
      this.isgonggongsheshiShow = false;
    },
    unique(arr) {
      // 进行chu's
      let newobj = {};
      var arr2 = arr.reduce((preVal, curVal) => {
        newobj[curVal.urn.id]
          ? ""
          : (newobj[curVal.urn.id] = preVal.push(curVal));
        return preVal;
      }, []);

      return arr2;
    },
    closeVoiceVideo() {
      this.$store.commit("VIDEO_BOX_VISIBLE", false);
      this.$store.commit("CHANGE_URL", null);
    },
    handleClick() {},
    ...mapMutations([])
  },
  created() {
    // connect()
    // localStorage.removeItem('closeLandR')
    // localStorage.setItem('lockList',JSON.stringify(this.lockList))
  },
  mounted() {
    window.onload = () => {
      Vue.ls.remove("signDevice");
    };
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);

    let width = document.body.clientWidth;
    console.log(width);
    let size = (width / 1920) * 16;
    let html = document.documentElement;
    html.style.fontSize = size + "px";
    let dd = document.getElementById("app");
    dd.style.transform = "none";
    dd.style.transformOrigin = "0 0";

    const token = Vue.ls.get("token");
    if (!token) {
      alert("登陆已过期，请重新登录");
      this.$router.push("/login");
    }
    this.$store.commit("INIT_AMAP");
    setTimeout(() => {
      this.$store.dispatch("getDeviceList", this.deviceListPagination);
    }, 2500);
    //高德天气
    axios
      .get(
        "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=cb3b07794f3bcac8dc6188757a5386c1"
      )
      .then(res => {
        if (res.data.info == "OK") {
          this.weather = res.data.lives[0];
          this.currentIcon = this.weatherIcon.filter(item => {
            return this.weather.weather.indexOf(item.weather) !== -1;
          });
        }
      });
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
    this.$store.dispatch("configList");
  },
  watch: {
    screenList: function(val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
      }
    }
  },

  computed: {
    weekString: function() {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function() {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    imgPrefix: function() {
      return process.env.VUE_APP_SECRET;
    },
    lingangUrl: function() {
      return this.voiceLiveNode.metadata.url;
    },
    ...mapState({
      screenList: state => state.mapdevice.screenList,
      videoRtsp: state => state.mapdevice.videoRtsp,
      devicesTagsList: state => state.mapdevice.devicesTagsList,
      videoVisible: state => state.mapdevice.videoVisible,
      globalAMap: state => state.tools.globalAMap,
      controlLRvisiable: state => state.tools.controlLRvisiable,
      lockList: state => state.mapdevice.lockList,
      deviceListPagination: state => state.mapdevice.deviceListPagination,
      configLists: state => state.sanlinecharts.configLists,
      voiceTuliVisitble: state => state.sanlinecharts.voiceTuliVisitble,
      voiceList: state => state.sanlinecharts.voiceList,
      gongdanTrendvisible: state => state.sanlinecharts.gongdanTrendvisible,
      garbagelsitVisible: state => state.sanlinecharts.garbagelsitVisible,
      garbageTrendvisible: state => state.sanlinecharts.garbageTrendvisible,
      videoBoxvisible: state => state.sanlinecharts.videoBoxvisible,
      voiceLiveNode: state => state.sanlinecharts.voiceLiveNode
    }),
    ...mapGetters([])
  },
  components: {
    videoPopup,
    cameralocal,
    peopleDensity,
    weikakou,
    garbageWatch,
    gongdanFenxi,
    weizhangParking,
    zaoyinWatch,
    yijianLunxun,
    warnPeopleInfo,
    weikakouPop,
    locusPop,
    escapePeople,
    deviceProbing,
    deviceProbingpic,
    zhuapaiPicList,
    trend,
    garbageList,
    trendOfGarbage,
    videoContainer
  }
};
</script>

<style lang="less">
@import "~@/assets/less/sanlin/dashboardv2.less";

.video-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.video-box-item {
  width: 40%;
  height: 50%;
  margin: 0 auto;
  margin-top: 10%;
  z-index: 9999;
}

.amap-logo {
  display: none !important//去掉高德地图logo;
}
.amap-copyright {
  opacity: 0 !important//去掉高德的版本号;
}
.searchList {
  width: 100%;
  height: 35px;
  background: #152e5c;
  color: #00caf9;
  line-height: 35px;
  padding: 0 5px;
  border-bottom: 1px solid #1e3d67;
  overflow: hidden;
  flex: 2;
}
</style>
