<template>
  <div class="operation-container">
    <h3 class="title">12345热线</h3>
    <el-button type="primary" class="btn_add" @click="createEvent('12345')">新增</el-button>
    <el-table :data="oneList" border class="tb_12345">
      <el-table-column label="编号" type="index" align="center" width="70"></el-table-column>
      <el-table-column prop="assigneeusername" label="处理人" width="70" align="center"></el-table-column>
      <el-table-column prop="status" label="状态" width="70" align="center"></el-table-column>
      <el-table-column prop="province" label="操作" align="center">
        <template slot-scope="scope">
          <!-- <el-button @click="handleClick(scope.row)" type="primary" size="mini">查看</el-button> -->
          <div>
            <el-button type="primary" size="mini" @click="clearStatus(scope.row)">清除数据-1</el-button>
            <el-button type="primary" size="mini" @click="jiedan(scope.row)">管理事项未接单0</el-button>
            <el-button type="primary" size="mini" @click="yichuli(scope.row)">管理事项已接单1</el-button>
            <el-button type="primary" size="mini" @click="shagnbao(scope.row)">管理事项已处理2</el-button>
            <el-button type="info" size="mini" @click="liqudShangbao(scope.row)">动态流程上报3</el-button>
            <el-button type="info" size="mini" @click="liqudChuzhi(scope.row)">动态流程处置4</el-button>
            <el-button type="info" size="mini" @click="liqudJiean(scope.row)">动态流程结案5</el-button>
            <el-button type="info" size="mini" @click="liqudRuku(scope.row)">动态流程入库6</el-button>
            <el-button type="warning" size="mini" @click="selfJiean(scope.row)">自治共治结案7</el-button>
            <el-button type="warning" size="mini" @click="selfXietong(scope.row)">自治共治协同8</el-button>
            <el-button type="warning" size="mini" @click="selfFinished(scope.row)">自治共治完成9</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <h3 class="title">隔离观察</h3>
    <el-button type="primary" class="btn_add" @click="createEvent('geli')">新增</el-button>
    <el-table :data="geliList" border class="tb_12345">
      <el-table-column label="编号" type="index" align="center" width="70"></el-table-column>
      <el-table-column prop="title" label="事件名称" width="70" align="center"></el-table-column>
      <el-table-column prop="status" label="状态" width="70" align="center"></el-table-column>

      <el-table-column prop="province" label="操作" align="center">
        <template slot-scope="scope">
          <!-- <el-button @click="handleClick(scope.row)" type="primary" size="mini">查看</el-button> -->
          <div>
            <el-button type="primary" size="mini" @click="clearStatus(scope.row)">清除数据-1</el-button>
            <el-button type="primary" size="mini" @click="jiedan(scope.row)">管理事项接单0</el-button>
            <el-button type="primary" size="mini" @click="yichuli(scope.row)">管理事项已处理1</el-button>
            <el-button type="primary" size="mini" @click="shagnbao(scope.row)">管理事项已上报2</el-button>
            <el-button type="info" size="mini" @click="liqudShangbao(scope.row)">动态流程上报3</el-button>
            <el-button type="info" size="mini" @click="liqudChuzhi(scope.row)">动态流程处置4</el-button>
            <el-button type="info" size="mini" @click="liqudJiean(scope.row)">动态流程结案5</el-button>
            <el-button type="info" size="mini" @click="liqudRuku(scope.row)">动态流程入库6</el-button>
            <el-button type="warning" size="mini" @click="selfJiean(scope.row)">自治共治结案7</el-button>
            <el-button type="warning" size="mini" @click="selfXietong(scope.row)">自治共治协同8</el-button>
            <el-button type="warning" size="mini" @click="selfFinished(scope.row)">自治共治完成9</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <h3 class="title">违停占道</h3>
    <el-button type="primary" class="btn_add" @click="createEvent('weiting')">新增</el-button>
    <el-table :data="weitingList" border class="tb_12345">
      <el-table-column label="编号" type="index" align="center" width="70"></el-table-column>
      <el-table-column prop="title" label="事件名称" width="70" align="center"></el-table-column>
      <el-table-column prop="status" label="状态" width="70" align="center"></el-table-column>

      <el-table-column prop="province" label="操作" align="center">
        <template slot-scope="scope">
          <!-- <el-button @click="handleClick(scope.row)" type="primary" size="mini">查看</el-button> -->
          <div>
            <el-button type="primary" size="mini" @click="clearStatus(scope.row)">清除数据-1</el-button>
            <el-button type="primary" size="mini" @click="jiedan(scope.row)">管理事项接单0</el-button>
            <el-button type="primary" size="mini" @click="yichuli(scope.row)">管理事项已处理1</el-button>
            <el-button type="primary" size="mini" @click="shagnbao(scope.row)">管理事项已上报2</el-button>
            <el-button type="info" size="mini" @click="liqudShangbao(scope.row)">动态流程上报3</el-button>
            <el-button type="info" size="mini" @click="liqudChuzhi(scope.row)">动态流程处置4</el-button>
            <el-button type="info" size="mini" @click="liqudJiean(scope.row)">动态流程结案5</el-button>
            <el-button type="info" size="mini" @click="liqudRuku(scope.row)">动态流程入库6</el-button>
            <el-button type="warning" size="mini" @click="selfJiean(scope.row)">自治共治结案7</el-button>
            <el-button type="warning" size="mini" @click="selfXietong(scope.row)">自治共治协同8</el-button>
            <el-button type="warning" size="mini" @click="selfFinished(scope.row)">自治共治完成9</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <h3 class="title">新增违建</h3>
    <el-button type="primary" class="btn_add" @click="createEvent('weijian')">新增</el-button>
    <el-table :data="weijianList" border class="tb_12345">
      <el-table-column label="编号" type="index" align="center" width="70"></el-table-column>
      <el-table-column prop="title" label="事件名称" width="70" align="center"></el-table-column>
      <el-table-column prop="status" label="状态" width="70" align="center"></el-table-column>

      <el-table-column prop="province" label="操作" align="center">
        <template slot-scope="scope">
          <!-- <el-button @click="handleClick(scope.row)" type="primary" size="mini">查看</el-button> -->
          <div>
            <el-button type="primary" size="mini" @click="clearStatus(scope.row)">清除数据-1</el-button>
            <el-button type="primary" size="mini" @click="jiedan(scope.row)">管理事项接单0</el-button>
            <el-button type="primary" size="mini" @click="yichuli(scope.row)">管理事项已处理1</el-button>
            <el-button type="primary" size="mini" @click="shagnbao(scope.row)">管理事项已上报2</el-button>
            <el-button type="info" size="mini" @click="liqudShangbao(scope.row)">动态流程上报3</el-button>
            <el-button type="info" size="mini" @click="liqudChuzhi(scope.row)">动态流程处置4</el-button>
            <el-button type="info" size="mini" @click="liqudJiean(scope.row)">动态流程结案5</el-button>
            <el-button type="info" size="mini" @click="liqudRuku(scope.row)">动态流程入库6</el-button>
            <el-button type="warning" size="mini" @click="selfJiean(scope.row)">自治共治结案7</el-button>
            <el-button type="warning" size="mini" @click="selfXietong(scope.row)">自治共治协同8</el-button>
            <el-button type="warning" size="mini" @click="selfFinished(scope.row)">自治共治完成9</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      tableData: [
        {
          name: "乱扔垃圾"
        }
      ],
      mapMethods: null
    };
  },
  methods: {
    clearStatus: function(data) {
      this.$store.dispatch("updateEventStatus", { status: -1, id: data.id });
    },
    jiedan: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 0, id: data.id });
    },
    yichuli: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 1, id: data.id });
    },
    shagnbao: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 2, id: data.id });
    },
    liqudShangbao: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 3, id: data.id });
    },
    liqudChuzhi: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 4, id: data.id });
    },
    liqudJiean: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 5, id: data.id });
    },
    liqudRuku: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 6, id: data.id });
    },
    selfJiean: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 7, id: data.id });
    },
    selfXietong: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 8, id: data.id });
    },
    selfFinished: function(data) {
      this.$store.dispatch("updateEventStatus", { status: 9, id: data.id });
    },
    createEvent: function(type) {
      switch (type) {
        case "12345":
          this.$store.dispatch("createEvent", { type: 2 });
          break;
        case "geli":
          this.$store.dispatch("createEvent", { type: 5 });
          break;
        case "weiting":
          this.$store.dispatch("createEvent", { type: 9 });
          break;
        case "weijian":
          this.$store.dispatch("createEvent", { type: 3 });
          break;
        default:
          break;
      }
    },
    ...mapMutations([])
  },

  mounted() {
    [2, 3, 9, 5].forEach(item => {
      this.$store.dispatch("getEventList", { type: item });
    });
  },
  watch: {},
  computed: {
    ...mapState({
      oneList: state => state.operation.oneList,
      weijianList: state => state.operation.weijianList,
      weitingList: state => state.operation.weitingList,
      geliList: state => state.operation.geliList
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
.operation-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.tb_12345 {
  width: 95%;
  margin: auto;
  overflow: auto;
  margin-bottom: 20px;
}
.btn_add {
  margin-left: 20px;
  margin-bottom: 10px;
}
.title {
  margin-left: 10px;
}
.el-button {
  margin-top: 5px;
  margin-left: 10px;
}
</style>
