<template>
  <div class="monitor-info-container" v-if="cameralistFour.length > 0">
    <div class="video_item" v-for="(item, index) in cameralistFour" :key="index">
      <hlsVideoContainer
        :visible="true"
        :node="item"
        :url="item.hlsUrl"
        :reffer="item.id"
        :markVisible="0"
      ></hlsVideoContainer>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import hlsVideoContainer from "@/components/hlsVideoContainer.vue";

export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {
    this.$store.dispatch("getDefaultConfig");
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      cameralistFour: state => state.oldStreet.cameralistFour
    }),
    ...mapGetters([])
  },
  components: { hlsVideoContainer }
};
</script>

<style lang="less" scoped>
.monitor-info-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.video_item{
  width: 100%;
  height:100%;
}
.video_item:first-child{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.video_item:nth-child(3){
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
</style>
