<template>
  <div class="monitor-popup">
    <div class="monitor-popup-inner">
      <img
        @click="closePopup"
        class="monitor-close"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/guanbi.png"
        alt=""
        srcset=""
      />
      <div class="monitor-title"><span>监控情况</span></div>

      <div class="monitor-body">
        <div class="monitor-body-left">
          <div class="monitor-body-left-title"><span>监控点位</span></div>
          <div class="monitor-body-left-body">
            <div class="tree-container">
              <div class="tree-container-inner">
                <el-tree
                  style="background-color: #072450; color: #ffffff"
                  :data="cameratreelist"
                  :props="defaultProps"
                  :highlight-current="false"
                  @node-click="handleNodeClick"
                ></el-tree>
              </div>
            </div>
          </div>
        </div>
        <div class="monitor-body-right">
          <div class="video-home" v-for="(item,index) in cameralist" :key="index">
            <hlsVideoContainer
              :visible="true"
              :node="item"
              :url="item.hlsUrl"
              :reffer="item.ponitType + '_' + item.id"
            ></hlsVideoContainer>
          </div>
          <!-- <div class="video-home"></div>
          <div class="video-home"></div>
          <div class="video-home"></div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import hlsVideoContainer from "@/components/hlsVideoContainer.vue";

export default {
  data() {
    return {
      // treeData: [
      //   {
      //     label: "东门",
      //     children: [
      //       { label: "东门一号机" },
      //       { label: "东门二号机" },
      //       { label: "东门三号机" }
      //     ]
      //   },
      //   {
      //     label: "北门",
      //     children: [
      //       { label: "东门一号机" },
      //       { label: "东门二号机" },
      //       { label: "东门三号机" }
      //     ]
      //   },
      //   {
      //     label: "南门",
      //     children: [
      //       { label: "东门一号机" },
      //       { label: "东门二号机" },
      //       { label: "东门三号机" }
      //     ]
      //   },
      //   {
      //     label: "西门",
      //     children: [
      //       { label: "西门一号机" },
      //       { label: "西门二号机" },
      //       { label: "西门三号机" }
      //     ]
      //   }
      // ],
      defaultProps: {
        children: "list",
        label: "address"
      },
      cameralist:[{},{},{},{}],
      index:4,
      ids:[]
    };
  },
  methods: {
    closePopup: function () {
      this.$store.dispatch('getDefaultConfig')
      this.$emit("monitorPopup:close");
    },
    handleNodeClick: function (node) {
      if(node.id){
        // 开流
        this.$store.dispatch('connectStream',{id:node.id})
        
        this.index++
        if(this.index>4){
          this.ids=[]
          let i =this.index%4==0?3:this.index%4-1
          // 被覆盖的闭流
          let replaceItem = this.cameralist[i]
          this.$store.dispatch('disConnectStream',{id:replaceItem.id})
          // 替换成新的流
          this.cameralist.splice(i,1,node)
          console.log(this.cameralist)
          this.cameralist.forEach(item=>{
            this.ids.push(item.id)
          })
          console.log(this.ids)
          this.$store.dispatch('saveDefaultConfig',{ids:this.ids})
        }else{
          this.cameralist.push(node)
        }
      }
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("findTree");
    this.cameralist=this.cameralistFour
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      cameratreelist: (state) => state.oldStreet.cameratreelist,
      cameralistFour: (state) => state.oldStreet.cameralistFour,
    }),
    ...mapGetters([])
  },
  components: { hlsVideoContainer }
};
</script>

<style lang="less" scoped>
.monitor-popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 98;
  position: fixed;
  top: 0;
  .monitor-popup-inner {
    .monitor-close {
      position: absolute;
      right: 5px;
      top: 5px;
      height: 25px;
      width: 25px;
      cursor: pointer;
    }
    width: 654px;
    height: 345px;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E4%BA%8C%E7%BA%A7/xiaotanchuang%402x.png");
    background-size: 100% 100%;
    padding: 12px;
    box-sizing: border-box;
    .monitor-title {
      position: absolute;
      color: #63c1c3;
      top: 5px;
      left: 5px;
      font-size: 23px;
      height: 30px;
      line-height: 30px;
    }
    .monitor-body {
      border: 1px solid #206689;
      width: calc(100% - 24px);
      height: calc(100% - 35px - 24px);
      position: absolute;
      top: 35px;
      background-color: #072450;
      display: grid;
      grid-template-columns: 30% 1fr;
      grid-template-rows: 1fr;
      .monitor-body-left::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }
      scrollbar-width: none; /* Firefox */

      .monitor-body-left {
        height: 100%;
        overflow-y: scroll;
        border-right: 1px solid grey;

        .monitor-body-left-title {
          font-size: 20px;
          color: #63c1c3;
        }
        .monitor-body-left-body {
          height: calc(100% - 28px);

          .tree-container {
            height: 100%;
            .tree-container-inner {
              position: relative;
              height: calc(100% - 28px);
              // height: 300px;
              // max-height: calc(100% - 28px);
              /deep/ .el-tree-node__content:hover {
                background-color: #072450;
              }
              /deep/ .el-tree-node__content:focus {
                background-color: #072450;
              }
              /deep/ .el-tree-node__content {
                background-color: #072450;
              }
            }
          }
        }
      }
      .monitor-body-right {
        .video-home {
          border: 1px solid grey;
        }
        padding: 5px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
}
</style>
