<template>
  <div
    :class="getblurval ? ['selectTime', 'selected'] : ['selectTime', 'selected']"
    @click="getBlurs"
  >
    <div class="selectValue">
      <span>{{ value }}</span>
      <span v-if="!getblurval"><i class="el-icon-arrow-down"></i></span>
      <span v-if="getblurval"><i class="el-icon-arrow-up"></i></span>
    </div>
    <div class="selectList" v-show="getblurval">
        <div class="selectItem" v-for="(item,index) in options" :key="index">
            <span @click="getValue(item)">{{item.label}}</span>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      getblurval: false,
      value: "东入口",
      options: []
    };
  },
  props: ['selectOption'],
  methods: {
    getBlurs(){
      this.getblurval = !this.getblurval; 
    },
    getValue(item){
        this.value = item.label
        this.$emit('getval',item)
        setTimeout(() => {
            this.getblurval = false
        }, 500);
    },
    ...mapMutations([])
  },

  created() {},
  mounted() {
    //   console.log(this.selectOption)
    //   console.log(JSON.parse(this.selectOption) )
      this.options = this.selectOption
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.unselected {
  border: 1px solid #003777;
}
.selected {
  border: 1px solid #00a3f0;
}
.selectTime {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  background: transparent;
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
  .selectList{
      transition: all 0.5;
      z-index: 100;
      position: absolute;
      bottom: -6rem;
      left: 0;
      width: 100%;
      .selectItem{
          background: #005290;
          margin-top: 5px;
          color: cornsilk;
          padding-left: 1rem;

      }
  }
  .selectValue {
    flex: 1;
    color: white;
    font-size: 0.7rem;
    display: flex;
    overflow: hidden;

    span {
      flex: 1;
    }
    span:last-child {
      text-align: right;
      padding: 0 0.5rem 0 0;
    }
  }
}
</style>
