<template>
  <div class="basicbox">
    <div class="people-box">
      <div class="people-item people-item-big">
        <img
          class="imgbox"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/zhibanzhuren.png"
          alt=""
        />
        <div class="text-box sizebox spec">
          <div>值班主任</div>
          <div class="line2">{{ basiInfoTongji.officeName }}</div>
          <!--                    <div class="line2">暂无</div>-->
        </div>
      </div>
      <div class="people-item people-item-big-nor">
        <img
          class="imgbox"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/zhibanrenyuan.png"
          alt=""
        />
        <div class="text-box sizebox spec">
          <div>值班人员</div>
          <div class="line2">
            <span class="numbertext">{{ basiInfoTongji.dutyCount }}</span
            ><span class="smalltext">人</span>
          </div>
        </div>
      </div>
      <div class="people-item people-item-big-nor">
        <img
          class="imgbox"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/xinxiyuan.png"
          alt=""
        />
        <div class="text-box sizebox spec">
          <div>信息员</div>
          <div class="line2">
            <span class="numbertext">{{ basiInfoTongji.messengerCount }}</span
            ><span class="smalltext">人</span>
          </div>
        </div>
      </div>
      <div class="people-item bl">
        <img
          class="imgboxdouble"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/zhanzhang.png"
          alt=""
        />
        <div class="text-box smalltext ais">
          <div>党组织书记（站长）</div>
          <div class="line2">{{ basiInfoTongji.secretaryName }}</div>
        </div>
        <div class="linepx"></div>
      </div>
      <div class="people-item bl">
        <img
          class="imgboxdouble"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/chengguan.png"
          alt=""
        />
        <div class="text-box smalltext ais">
          <div>城管（副站长）</div>
          <div class="line2">{{ basiInfoTongji.urbanName }}</div>
        </div>
        <div class="linepx"></div>
      </div>
      <div class="people-item">
        <img
          class="imgboxdouble"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/minjing.png"
          alt=""
        />
        <div class="text-box smalltext ais">
          <div>社区民警（常务副站长）</div>
          <div class="line2">{{ basiInfoTongji.policeName }}</div>
        </div>
        <div class="linepx"></div>
      </div>
    </div>
    <div class="place-box">
      <div class="title-bg">老街景点</div>
      <div class="place-box-box">
        <div class="people-item place-item bl" @click="getPoint(1)">
          <div>
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/wenbaodian.png"
              alt=""
            />
          </div>
          <div class="text-box smalllittle">
            <div>文保点</div>
            <div class="line3">
              <span class="numbertext">{{
                oldstreetTongji.oldStreetCount
              }}</span
              >个
            </div>
          </div>
          <div class="linepx"></div>
        </div>
        <div class="people-item place-item bl" @click="getPoint(2)">
          <div>
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/wenhuachanggaun.png"
              alt=""
            />
          </div>
          <div class="text-box smalllittle">
            <div>文化场馆</div>
            <div class="line3">
              <span class="numbertext">{{ oldstreetTongji.cultureCount }}</span
              >个
            </div>
          </div>
          <div class="linepx"></div>
        </div>
        <div class="people-item place-item bl" @click="getPoint(6)">
          <div>
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/huodongdian.png"
              alt=""
            />
          </div>
          <div class="text-box smalllittle">
            <div>文化活动点</div>
            <div class="line3">
              <span class="numbertext">{{ oldstreetTongji.activityCount }}</span
              >个
            </div>
          </div>
          <div class="linepx"></div>
        </div>
        <div class="people-item place-item bl" @click="getPoint(7)">
          <div>
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/tiyu.png"
              alt=""
            />
          </div>
          <div class="text-box smalllittle">
            <div>体育健身点</div>
            <div class="line3">
              <span class="numbertext">{{ oldstreetTongji.sportsCount }}</span
              >个
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import wenbaoPop from "./wenbaoPop";
export default {
  data() {
    return {
      isShow: false
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getPoint(type) {
      this.$store.dispatch("getScenicCoordinateInfo", { type });
    }
  },

  created() {},
  mounted() {
    // 人员信息及统计
    this.$store.dispatch("getPersonnelCount");
    // 老街景点及统计
    this.$store.dispatch("getOldStreetCount");
  },
  watch: {},
  computed: {
    ...mapState({
      //   oldStreet
      basiInfoTongji: state => state.oldStreet.basiInfoTongji,
      oldstreetTongji: state => state.oldStreet.oldstreetTongji,
      ScenicCoordinateInfoList: state =>
        state.oldStreet.ScenicCoordinateInfoList
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basicbox {
  height: 100%;
  padding: 0.3rem;
  .people-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #ffffff;
    font-size: 0.8rem;
    .text-box {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .spec {
      justify-content: center;
      flex: 1;
    }
  }
  .people-box {
    height: 50%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    .people-item-big {
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/zhiban_kuang.png");
      background-size: 100% 100%;
    }
    .people-item-big-nor {
      background-color: #103262;
    }
    .people-item {
      .imgbox {
        margin-left: 10px;
      }

      .line2 {
        color: #33b1c6;
        font-size: 1.2rem;
      }
    }
  }
  .place-box {
    height: 50%;
    .title-bg {
      color: #99e9ff;
      display: flex;
      font-size: 1.25rem;
      height: 38%;
      margin-top: 2%;
      margin-bottom: 2%;
      align-items: center;
      justify-content: center;
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/basictitle.png")
        no-repeat;
      background-size: 100% 100%;
    }
    .place-box-box {
      height: 50%;
      display: flex;
      flex-flow: row;
      .place-item {
        cursor: pointer;
        flex: 1;
        display: flex;
        flex-flow: row;
        color: #ffffff;
        justify-content: center;
        .line3 {
          margin-top: 2px;
        }
      }
    }
  }
}
.smalltext {
  font-size: 0.78rem;
}
.smalllittle {
  margin-left: 5px;
}
.numbertext {
  color: #21f8b8;
  font-size: 1.25rem;
}
.bl {
  position: relative;
  .linepx {
    position: absolute;
    right: -25px;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/guangxian.png");
    width: 48px;
    height: 1px;
    background-size: 100% 100%;
    transform: rotate(90deg);
  }
}
.ais {
  align-items: flex-start !important;
}
</style>
