<template>
  <div class="intellectWarning">
    <div class="intellectLeft">
      <div
        class="warningTitle"
        v-for="(item, index) in WarncountStatistics"
        :key="index"
      >
        {{ item.typeStr }}
      </div>
    </div>
    <div class="intellectline"></div>
    <div class="intellectRight" v-if="warnParams.smartType == 1">
      <div
        class="intellectProgress"
        v-for="(item, index) in WarncountStatistics"
        :key="index"
        @click="getWarnDetail(item)"
      >
        <intellectprogress
          :first="item.acceptCount"
          :last="item.unAcceptCount"
        ></intellectprogress>
      </div>
    </div>
    <div class="intellectRight" v-if="warnParams.smartType == 2">
      <div
        class="intellectProgress"
        v-for="(item, index) in WarncountStatistics"
        :key="index"
        @click="getEquiment(item)"
      >
        <div class="barBox">
          <div class="bar"></div>
          <span class="text">{{ item.acceptCount }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import intellectprogress from "@/components/oldstreet/intellectprogress.vue";
import Vue from "vue";
export default {
  data() {
    return {
      customColor: "#409eff",
      percentage: 100
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    getWarnDetail(item) {
      this.$store.commit("CHANGE_WARNINGTASK_VISIBLE", false);
      this.$store.commit("CHANGE_WARN_PARAMS_TYPE", {
        name: "type",
        value: item.type
      });
      setTimeout(() => {
        Vue.prototype.globalAMap.setZoomAndCenter(15, [121.501557, 31.139182]);
      }, 1500);
    },
    getEquiment(item) {
      this.$store.commit("CHANGE_WARNINGTASK_VISIBLE", false);
      this.$store.commit("CHANGE_WARN_EQUIMENT_TYPE", {
        name: "type",
        value: item.type
      });
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("getWarncountStatistics", this.warnParams);
  },
  watch: {},
  computed: {
    ...mapState({
      warnParams: state => state.oldStreet.warnParams,
      WarncountStatistics: state => state.oldStreet.WarncountStatistics
    }),

    ...mapGetters([])
  },
  components: { intellectprogress }
};
</script>

<style lang="less" scoped>
.intellectWarning {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 1px auto;
  grid-template-rows: 100%;
  padding: 1rem;
  .intellectline {
    width: 1px;
    height: 100%;
    background: -webkit-linear-gradient(
      top,
      #002353 10%,
      #00629d 50%,
      #002353 90%
    );
  }
  .intellectRight {
    padding: 0 1rem;
    .intellectProgress {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 1rem 0 0;
      box-sizing: border-box;
      flex-direction: column;
      .barBox {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        //  justify-content: center;
        align-items: center;
        .bar {
          height: 44%;
          width: 92%;
          border-radius: 5px;
          background-color: burlywood;
          background: linear-gradient(90deg, #db972d 0%, #ffdf93 98%);
        }
        .text {
          width: 8%;
          text-align: center;
          color: white;
          margin-left: 15px;
          font-size: 0.9rem;
        }
      }
    }
  }
  .intellectLeft,
  .intellectRight {
    display: flex;
    flex-direction: column;
    .warningTitle {
      flex: 1;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      color: white;
    }
  }
}
</style>
<style lang="less">
.el-progress-bar {
  .el-progress-bar__outer {
    background-color: #2092fd;
  }
}
</style>
