<template>
  <div class="progressline" :style="sty">
    <div class="proItem">
      <div class="protxt">{{ first }}</div>
    </div>
    <div class="proItem">
      <div class="protxt">{{ last }}</div>
    </div>
  </div>
</template>

<script>
import { percent } from "@amcharts/amcharts4/core";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      sty: {
        height: "0.7rem",
        background: "#e1a541",
        width: "100%",
        "border-radius": ".35rem",
        display: "grid",
        "grid-template-columns": "50% auto",
        "grid-template-rows": "100%"
      }
    };
  },
  props: ["first", "last"],
  methods: { ...mapMutations([]) },

  created() {},
  mounted() {
    if (this.first == 0 && this.last == 0) {
      let f = 1;
      let l = 1;
      let gridPersent = (f / (f + l)) * 100;
    //  this.gridPersent = gridPersent
      this.sty["grid-template-columns"] = `${gridPersent}% auto`;
    } else {
      let gridPersent = (this.first / (this.first + this.last)) * 100;
      // his.gridPersent = gridPersent
      this.sty["grid-template-columns"] = `${gridPersent}% auto`;
    }
  },
  watch: {
    first:function() {
      if (this.first == 0 && this.last == 0) {
      let f = 1;
      let l = 1;
      let gridPersent = (f / (f + l)) * 100;
    //  this.gridPersent = gridPersent
      this.sty["grid-template-columns"] = `${gridPersent}% auto`;
    } else {
      let gridPersent = (this.first / (this.first + this.last)) * 100;
      // his.gridPersent = gridPersent
      this.sty["grid-template-columns"] = `${gridPersent}% auto`;
    }
    }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.proItem {
  position: relative;
  font-size: 0.8rem;
  cursor: pointer;
}
.proItem:last-child {
  background: #2d99fd;
  border-radius: 0.35rem;
  .protxt {
    width: 100%;
    position: absolute;
    top: -1.4rem;
    text-align: right;
    color: white;
  }
}
.proItem:first-child {
  .protxt {
    width: 100%;
    position: absolute;
    top: -1.4rem;
    text-align: left;
    color: white;
  }
}
</style>
