<template>
  <div class="platFormJump">
    <div class="platFormItem">
      <div class="platFormTitle"></div>
      <div class="platFormTitle" @click="selectItem(1)">
        <span :style="selectIndex == 1 ? 'color:white' : ''"
          >三林塘老街智慧消防平台</span
        >
        <div></div>
      </div>
      <div class="platFormTitle" @click="selectItem(2)" v-if="false">
        <span :style="selectIndex == 2 ? 'color:white' : ''"
          >综合安防管理平台</span
        >
        <div></div>
      </div>
      <div class="platFormTitle" @click="selectItem(3)">
        <span :style="selectIndex == 3 ? 'color:white' : ''"
          >联勤联动微平台</span
        >
        <div></div>
      </div>
    </div>
    <div class="platFormImg" @click="navigateTo">
        <img :src="imgUrl" alt="">
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      selectIndex: 1,
      imgUrl:'https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/%E6%98%93%E9%9D%99%E4%BA%91.png',
      navigateUrl:'https://www.aifire.cn/web/login?redirect=%2Fweb%2FsocialManage%2FsocialHomeManage'
    };
  },
  props: [],
  methods: {
    selectItem(val) {
      this.selectIndex = val;
      switch (val) {
        case 1:
            this.imgUrl='https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/%E6%98%93%E9%9D%99%E4%BA%91.png'
            this.navigateUrl = 'https://www.aifire.cn/cloud/login'
          break;
        case 2:
            this.imgUrl='https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20210714160142.png'
          break;
        case 3:
            this.imgUrl='https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/5AC7B036-3036-4037-8BCD-603999C89ECA.png'
            this.navigateUrl = 'http://10.242.181.237/Authentication/Index '
          break;
      }
    },
    navigateTo(){
      window.open(this.navigateUrl)
    },
    ...mapMutations([])
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.platFormJump {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  .platFormItem {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 25%);
    .platFormTitle {
      text-align: center;
      color: #58b8ec;
      cursor: pointer;
      div {
        margin-top: 5px;
        width: 100%;
        height: 2px;
        background: -webkit-linear-gradient(
          left,
          #002353 30%,
          #00629d 50%,
          #002353 70%
        );
      }
    }
  }
  .platFormImg{
      padding: 2rem;
      cursor: pointer;
      img{
          width: 100%;height: 100%;
          border: 1px solid #1a4370;
      }
  }
}
</style>
