<template>
  <div class="notice-public">
    <div class="left">
      <div style="color: #fff;position: absolute;font-size: 1.2rem;line-height: 2rem;margin-left: 10px">实时播报</div>
      <img style="height: 100%;" src="@/assets/images/lingang/hong@2x.png" alt="" />
    </div>
    <div class="right">
      <div class="right-inner" :style="animationObj">
        <!-- {{scrollInfo}} -->
        <div class="right-inner-span" v-for="item in scrollInfo" :key="item.id">
          <div>{{item.address}}发生{{item.taskName}}:{{item.description}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import {WSconnect} from "@/utils/oldstreetSocket.js";
export default {
  data() {
    return {
      animationObj: "",
      selectIndex: 0,
      lgMessageList:[
          {id: 1, publishTheme: "暴雨预警", publishContext: "预警今晚8点有暴雨来袭，请做好防雨措施", publisher: "李婷婷"}
      ]
    };
  },
  props: ['isV2'],
  methods: {
    ...mapMutations([]),
    showDialog () {
      this.$store.commit('CONTROL_DIALOG', true)
      this.$store.commit('SET_DIALOG_NAME', 'unnormal')
      this.$store.commit('SET_DIALOG_INFOLIST', this.lgMessageList)
      this.$store.commit('SET_DIALOG_TITLE', '通知公告')
    }
  },

  mounted() {
    WSconnect()
    setTimeout(() => {
      this.selectIndex = this.lgMessageList[0].id
      let totalLength = 20 * this.lgMessageList[0].publishContext.length;
      this.animationObj = {
        animation: `mymove ${this.lgMessageList[0].publishContext.length}s linear infinite`
      };
      var style = document.createElement("style");
      style.type = "text/css";
      var keyframes = `  @keyframes mymove {
        from {
            left:0px;
        }

        to {
          left :-${totalLength}px;
        }
      }`;
      style.innerHTML = keyframes;
      document.getElementsByTagName("head")[0].appendChild(style);
    }, 2000);
    let index = 0
    setInterval(()=>{
      index++
      if (index < this.lgMessageList.length) {
        this.selectIndex = this.lgMessageList[index].id
        let totalLength = 20 * this.lgMessageList[index].publishContext.length;
        this.animationObj = {
          animation: `mymove ${this.lgMessageList[index].publishContext.length}s linear infinite`
        };
        var style = document.createElement("style");
        style.type = "text/css";
        var keyframes = `  @keyframes mymove {
          from {
              left:0px;
          }

          to {
            left :-${totalLength}px;
          }
        }`;
        style.innerHTML = keyframes;
        document.getElementsByTagName("head")[0].appendChild(style);
      }
    }, 60000)
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      scrollInfo: state => state.oldStreet.scrollInfo
  }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.notice-public {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  .left {
    height: 100%;
    width: 8rem;
    font-size: 1.2rem;
    img {
      float: left;
    }
  }

  .right {
    width: calc(100% - 8rem);
    height: 100%;
    line-height: 2rem;
    position: relative;
    overflow: hidden;

    .right-inner {
      font-weight: 350;
      font-size: 1.3rem;
      color: white;
      position: absolute;
      // animation: mymove 50s linear infinite;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // @keyframes mymove {
      //   from {
      //     left: 0px;
      //   }
      //   to {
      //     left: -2500px;
      //   }
      // }
      .right-inner-span {
        user-select: none;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
</style>
