<template>
  <div
    :class="
      getblurval ? ['selectTime', 'selected'] : ['selectTime', 'selected']
    "
    @click="getBlurs"
  >
    <div class="selectValue">
      <span>{{ value }}</span>
      <span v-if="!getblurval"><i class="el-icon-arrow-down"></i></span>
      <span v-if="getblurval"><i class="el-icon-arrow-up"></i></span>
    </div>
    <div class="selectList" v-show="getblurval">
      <div class="selectItem" v-for="(item, index) in options" @click="getValue(item)" :key="index">
        <span>{{ item.label }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      getblurval: false,
      value: "",
      options: []
    };
  },
  props: ["selectOption","intellValue"],
  methods: {
    getBlurs() {
      // let l = document.getElementsByClassName("selectList");

      // setTimeout(() => {
      //   l.forEach((el) => {
      //     el.style.bottom = "-" + el.clientHeight + "px";
      //   });
      // }, 1);
      this.getblurval = !this.getblurval;
    },
    getValue(item) {
      console.log(item)
      this.value = item.label;
      this.$emit("getval", item);
      setTimeout(() => {
        this.getblurval = false;
      }, 500);
    },
    ...mapMutations([])
  },

  created() {},
  mounted() {
    //   console.log(this.selectOption)
    //   console.log(JSON.parse(this.selectOption) )
    this.options = this.selectOption;
    this.value = this.intellValue;

  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.unselected {
  border: 1px solid #003777;
}
.selected {
  border: 1px solid #00a3f0;
}
.selectTime {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  background: transparent;
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
  // overflow-y: hidden;
  .selectList {
    transition: all 0.5;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100%;
    .selectItem {
      background: #005290;
      margin-top: 5px;
      color: cornsilk;
      padding-left: 1rem;
    }
  }
  .selectValue {
    flex: 1;
    color: white;
    font-size: 0.7rem;
    display: flex;
    overflow: hidden;

    span {
      flex: 1;
    }
    span:last-child {
      text-align: right;
      padding: 0 0.5rem 0 0;
    }
  }
}
</style>
