<template>
  <div class="cameraPop">
    <div class="warning_close">
      <i @click="closeWarning" class="el-icon-circle-close"></i>
    </div>
    <div class="camerabox">
      <hlsVideoContainer
        :visible="true"
        :node="camera"
        :url="camera.hlsUrl"
        :reffer="camera.id"
        :markVisible="0"
      ></hlsVideoContainer>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import hlsVideoContainer from "@/components/hlsVideoContainer.vue";
export default {
  data() {
    return {
      camera: {hlsUrl:''}
    };
  },
  props: [],
  methods: { ...mapMutations([]),
    closeWarning(){
        this.$store.dispatch('disConnectStream',{id:this.cameraSingle.id})
        this.$store.commit('CHANGE_CAMERABOX_VISIBLE',false)
    }
  },

  created() {},
  mounted() {
      this.camera = this.cameraSingle
  },
  watch: {},
  computed: {
    ...mapState({
        cameraSingle:state=>state.oldStreetmap.cameraSingle
    }),

    ...mapGetters([])
  },
  components: {
      hlsVideoContainer
  }
};
</script>

<style lang='less' scoped>
.cameraPop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .camerabox {
    width: 60rem;
    height: 30rem;
    background: floralwhite;
  }
  .warning_close{
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: white;
      font-size: 2rem;
  }
}
</style>
