<template>
    <div class="warningPop">
        <div class="warningBox">
            <div class="warningHeader">
                <div class="warning_title">
                    <span>{{ScenicOneInfo.type=='7'?'体育健身点':ScenicOneInfo.type=='6'?'文化活动点':ScenicOneInfo.type=='2'?'文化场馆':'文保点'}}</span>
                </div>
                <div class="warning_close">
                    <i class="el-icon-circle-close" @click="closePop"></i>
                </div>
            </div>
            <div class="jd-box">
                <div class="jd-item">
                    <div class="jd-name">景点名称：</div>
                    <div class="jd-value">{{ScenicOneInfo.name}}</div>
                </div>
                <div class="jd-item">
                    <div class="jd-name">景点介绍：</div>
                    <div class="jd-value" >
                        {{ScenicOneInfo.introduce}}
                    </div>
                </div>
                <div class="jd-item">
                    <div class="jd-name">景点图片：</div>
                    <div class="jd-value">
                        <img class="img-box" :src='API_HOST+ScenicOneInfo.pictureUrl' alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  export default {
    data() {
      return {
        item:{
          event:'火警事件',
          address:'上海市浦东新区三新路交叉路口往南150米,上海市浦东新区三新路交叉路口往南150米',
          device:'电弧',
          des:'漏电过高，持续10分钟',
          photo:[],
          phone:12345678978
        },
        API_HOST:'https://bh-sanlin.oss-cn-shanghai.aliyuncs.com/'
      };
    },
    filters: {
      ellipsis (value) {
        if (!value) return ''
        if (value.length > 25) {
          return value.slice(0,25) + '...'
        }
        return value
      }
    },
    props: [],
    methods: { ...mapMutations([]),
      closePop () {
        this.$store.commit('CHANGE_DEVICEINFO',false)
      }
    },

    created() {},
    mounted() {},
    watch: {},
    computed: {
      ...mapState({
          ScenicOneInfo:state=>state.oldStreet.ScenicOneInfo
      }),

      ...mapGetters([])
    },
    components: {}
  };
</script>

<style lang='less' scoped>
    .warningPop {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4000;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        ::-webkit-scrollbar{
            display:none;
        }
        .warningBox {
            width: 45%;
            min-height: 45rem;
            background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/xiaotanchuang.png)
            no-repeat;
            background-size: 100% 100%;
            overflow-y: scroll;
            .warningHeader {
                height: 5rem;
                display: grid;
                grid-template-columns: auto 5rem;
                grid-template-rows: 100%;
                .warning_title {
                    display: flex;
                    align-items: flex-end;
                    padding-left: 2rem;
                    color: #c6e2f5;
                    font-size: 2rem;
                    img {
                        padding-left: 1rem;
                        width: 8rem;
                    }
                }
                .warning_close {
                    font-size: 2rem;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding-right: 0.8rem;
                    cursor: pointer;
                    color: #5cbbcf;
                }
            }
            .jd-box{
                display: flex;
                flex-flow: column;
                min-height: 37rem;
                margin: 1rem;
                background-color: #072450;
                .jd-item{
                    display: flex;
                    flex-flow: row;
                    padding: 1rem;
                    .jd-name{
                        flex: 0.2;
                        color: #63C1C3;
                        font-size: 24px;
                    }
                    .jd-value{
                        flex: 0.8;
                        color: #FFFFFF;
                        font-size: 20px;
                        height: auto;
                        .img-box{
                            border: #206689;
                            width: 100%;
                            height: 17rem;
                            background-size: 100% 100%;
                        }
                    }
                }
            }
        }
    }
</style>
