<template>
  <div class="videoAggregation" id="videoAggregation">
    <div class="videoAggregationscreen" id="videoAggregationscreen">
      <!-- <dashboardInner></dashboardInner> -->
      <dashboardInner7680></dashboardInner7680>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
// import dashboardInner from '@/views/videoAggregation/dashboardInner.vue'
import dashboardInner7680 from "@/views/videoAggregation/dashboardInner7680.vue";
import axios from "axios";
export default {
  data() {
    return {
      
    };
  },
  props: [],
  methods: { ...mapMutations([]) },

  created() {
    
  },
  mounted() {
    // console.log(this.$route.query.v);
    if (this.$route.query.v == 1) {
      let s = {
        width: 5760,
        height: 1620,
        ratio: 32 / 9
      };
      let m = { width: 7680, height: 4320, ratio: 16 / 9 };
      let b = {
        width: window.screen.width,
        height: window.screen.height,
        ratio: 16 / 9
      };
      let f_h_w_b = s.ratio / b.ratio;
      let b_h_w_b = m.width / b.width;
      // document.getElementById("videoAggregationscreen").style.height =
      //   b.height + "px";
      // console.log(f_h_w_b);
      document.getElementById("videoAggregationscreen").style.width =
        m.width * f_h_w_b + "px";
      // console.log(
      //   document.getElementById("videoAggregationscreen").style.width
      // );
      let dd = document.getElementById("videoAggregationscreen");
      dd.style.transform =
        "scale(" + ((1 / f_h_w_b) * 1) / b_h_w_b + "," + 1 / b_h_w_b + ")";
      dd.style.transformOrigin = "0 0";
      this.$store.commit('SET_SX',1/ ((1 / f_h_w_b) * 1 / b_h_w_b))
      this.$store.commit('SET_SY',1/(1 / b_h_w_b ))
      // this.sx =1/ ((1 / f_h_w_b) * 1 / b_h_w_b);
      // this.sy = 1/(1 / b_h_w_b )
      let html = document.getElementsByTagName("html");
      // console.log(html[0].style.fontSize);
    } else {
      // console.log(22222);
      var width = window.screen.width / 7680;
      var height = window.screen.height / 4320;

      // console.log(window.screen.width);
      // console.log(window.screen.height);
      var newwidth = 1 / width;
      var newheight = 1 / height;
      // console.log(newwidth);
      // console.log(newheight);

      $("#videoAggregationscreen").css(
        "transform",
        "scale(" + width + "," + height + ")"
      );
      this.$store.commit('SET_SX',1/ width)
      this.$store.commit('SET_SY',1/height)
      // this.sx =1/ width;
      // this.sy = 1/height
      // $("#map-container").css(
      //   "transform",
      //   "scale(" + newwidth + "," + newheight + ")"
      // );
      // $(window).resize(function () {
      //   var width = $(window).outerWidth(true) / 7680;
      //   var height = $(window).outerHeight(true) / 4320;
      //   $("#videoAggregationscreen").css(
      //     "transform",
      //     "scale(" + width + "," + height + ")"
      //   );
      // });
    }
    // let m = { width: 7680, height: 4320, ratio: 16 / 9 };
    // let b = { width: 3840, height: 2160, ratio: 16 / 9 };

    // // console.log(s);
    // let f_h_w_b = s.ratio / b.ratio;
    // let s_h_w_b = s.width / m.width;

    // let height = window.screen.height;
    // let size = 0;

    // if (b.ratio == s.ratio) {
    //   console.log(s_h_w_b);
    //   let dd = document.getElementById("videoAggregationscreen");
    //   dd.style.transform = "scale(" + s_h_w_b + "," + s_h_w_b + ")";
    //   dd.style.transformOrigin = "0 0";
    //   size = ((height / 1080) * 20) / s_h_w_b;
    // } else {
    // document.getElementById("videoAggregationscreen").style.height =
    //   b.height + "px";
    // let dd = document.getElementById("videoAggregationscreen");
    // dd.style.transform = "scale(" + 1 / f_h_w_b + ","+f_h_w_b+")";
    // dd.style.transformOrigin = "0 0";
    //   size = (height / 1080) * 20;
    // }
    // console.log(size);
    // let html = document.documentElement;
    // html.style.fontSize = size + "px";
    //  $(function () {

    // $(window).resize(function () {
    //     var width = $(window).outerWidth(true) / 5760;
    //     var height = $(window).outerHeight(true) / 1620;
    //     $('#videoAggregationscreen').css('transform', 'scale(' + width + ',' + height + ')');

    // })
    // })
  },
  watch: {},
  computed: {
    ...mapState({
      
    }),

    ...mapGetters([])
  },
  components: {
    // dashboardInner
    dashboardInner7680
  }
};
</script>

<style lang='less' scoped>
.videoAggregation {
  width: 100%;
  height: 100%;
  // // background: #ccc;
}
.videoAggregationscreen {
  width: 7680px;
  height: 4320px;
  transform-origin: left top;

}
</style>
