<template>
  <div class="dashboardInner7680">
    <div class="dashboardheader">
      <div class="dashboardHeaderItem">
        <div class="temperature">
          <span>
            {{ weather.temperature }}
            <span style>&deg;C</span>
          </span>

          <span style="margin-right: 120px; margin-left: 120px">
            {{ weather.weather }}
          </span>
          <span style="margin-right: 120px"> {{ weather.wind }} </span>
          <span style="margin-right: 10px; margin-left: 120px">
            AQI:
            <span
              :style="
                weather.aqi < 50
                  ? 'color:#22f57c'
                  : weather.aqi > 50 && weather.aqi < 100
                  ? 'color:#ebfc1f'
                  : weather.aqi > 100 && weather.aqi < 150
                  ? 'color:#e2a453'
                  : weather.aqi > 150 && weather.aqi < 200
                  ? 'color:#d70740'
                  : weather.aqi > 200 && weather.aqi < 250
                  ? 'color:#621272'
                  : 'color:#5d1246 '
              "
              >{{ weather.aqi }}</span
            >
          </span>
          <span style="margin-left: 1px">
            {{ weather.quality }}
          </span>
        </div>
      </div>
      <div class="dashboardHeaderItem">{{ allTitle }}</div>
      <div class="dashboardHeaderItem">
        <div class="date_week">
          <div class="date">
            <span>{{ dateString }}</span>

            <span>星期{{ weekString }}</span>

            <span>{{ timeString }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboardtongji">
      <div class="dashboard_tongji_item">
        <span>视频总量</span>
        <span
          class="count_box"
          v-for="(item, index) in `${camerasummary.cameraTotal}`"
          :key="index"
        >
          <numberJump v-if="numbershow" :numJump="item"></numberJump>
          <span v-if="!numbershow">{{ item }}</span>
        </span>
        <span>个</span>
      </div>
      <div class="dashboard_tongji_item">
        <span>正常量</span>
        <span
          class="count_box"
          v-for="(item, index) in `${camerasummary.normal}`"
          :key="index"
        >
          <numberJump v-if="numbershow" :numJump="item"></numberJump>
          <span v-if="!numbershow">{{ item }}</span>
        </span>
        <span>个</span>
      </div>
      <div class="dashboard_tongji_item">
        <span>实时调用量</span>
        <span
          class="count_box"
          v-for="(item, index) in `${camerasummary.realCall}`"
          :key="index"
        >
          <numberJump v-if="numbershow" :numJump="item"></numberJump>
          <span v-if="!numbershow">{{ item }}</span>
        </span>
        <span>个</span>
      </div>
    </div>
    <div class="dashboardcontent">
      <div class="dashboardcontentitem">
        <div class="cameraechart">
          <div class="cameraechart_title">
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>

            <div class="cameraechart_title_name">
              <span>视频接入分析</span>
            </div>
            <div class="cameraechart_title_hei">
              <div class="cameraechart_title_hei_con"></div>
            </div>
          </div>
          <div class="echart_item videoConcat">
            <videoConcat></videoConcat>
          </div>
        </div>
        <div class="cameraechart">
          <div class="cameraechart_title">
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_name">探头调用量分析</div>
            <div class="cameraechart_title_hei">
              <div class="cameraechart_title_hei_con">
                <div class="getALL" @click="lookAll">查看全部</div>

                <div class="selectTime">
                  <el-select
                    v-model="valueBycall"
                    @change="getvalueBycall"
                    placeholder="请选择"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>
          </div>
          <div class="echart_item videoNumber">
            <videoNumber v-if="videoRankvisible"></videoNumber>
            <videoRanklist v-if="!videoRankvisible"></videoRanklist>
          </div>
        </div>
        <div class="cameraechart">
          <div class="cameraechart_title">
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_name">调用情况分析</div>
            <div class="cameraechart_title_hei">
              <div class="cameraechart_title_hei_con">
                <div class="selectTime">
                  <el-select
                    v-model="qingkuangValue"
                    @change="getCallqingkuang"
                    remote
                    placeholder="请选择"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>
          </div>
          <div class="echart_item">
            <invokingAnalyse></invokingAnalyse>
          </div>
        </div>
      </div>
      <div class="dashboardcontentitem">
        <!-- map -->
        <div class="dashboardcontentitem_map" style="overflow: hidden">
          <div style="z-index: 9999" class="fangda">
            <img
              @click="zoom('in')"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bigger.png"
              alt
            />
          </div>
          <div class="suoxiao">
            <img
              @click="zoom('out')"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/smaller.png"
              alt
            />
          </div>
          <div class="recover" title="回到中心点">
            <img
              @click="recove"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/%E5%AE%9A%20%E4%BD%8D.png"
              alt
            />
          </div>
          <div
            :style="`position: relative;
              width: 100%;
              height: 100%;
           
transform:scale(${sx},${sy});
              z-index: 99;`"
            id="map-container"
          ></div>
        </div>
      </div>
      <div class="dashboardcontentitem">
        <div class="cameraUse">
          <div class="cameraechart_title">
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_dian"></div>
            <div class="cameraechart_title_name">调用量</div>
            <div class="cameraechart_title_hei">
              <div class="cameraechart_title_hei_con">
                <div class="selectTime">
                  <el-select
                    v-model="value"
                    @change="getTimeCall"
                    remote
                    placeholder="请选择"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>
          </div>
          <div class="echart_item">
            <userTimeRanking></userTimeRanking>
          </div>
        </div>

        <div class="cameraechart">
          <div class="cameraechart_title special_title">
            <div class="special_name1">
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_name special_name">被调用量</div>
              <div class="cameraechart_title_hei">
                <div class="cameraechart_title_hei_con">
                  <!--                  <div class="selectTime">当月</div>-->
                </div>
              </div>
            </div>
            <div class="special_name2">
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_dian"></div>
              <div class="cameraechart_title_name special_name">
                被调用场景分析
              </div>
              <div class="cameraechart_title_hei">
                <div class="cameraechart_title_hei_con">
                  <div class="selectTime">
                    <el-select
                      v-model="valueFenxi"
                      @change="getCallfenxi"
                      remote
                      placeholder="请选择"
                    >
                      <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="echart_item">
            <right-bottom ref="fenxi"></right-bottom>
            <!-- 数字跳动，探头调用量列表，视频弹框 -->
          </div>
        </div>
      </div>
    </div>
    <videoMp4 v-if="mapMp4Visible"></videoMp4>
    <!-- <div v-for="(item,index) in openInfowindow" :key="index"> -->
    <video-popup
      :node="videoRtsp"
      :visible="videoVisible"
      @video:close="handleCloseVideo"
    ></video-popup>
    <!-- </div> -->

    <div class="globle-pop" v-if="usablePointVisible">
      <!-- <div class="globle-pop" v-if="false"> -->
      <usablePointList></usablePointList>
    </div>
    <!-- <div class="globle-pop"  v-if="villageAnalyseListVisible"> -->
    <div class="globle-pop" v-if="villageAnalyseListVisible">
      <villageAnalyseList></villageAnalyseList>
    </div>
    <!-- <div ref="videoAMap">1111</div> -->
  </div>
</template>

<script>
import rightBottom from "../../components/videoAggregation/rightBottom/rightBottom";
import { mapState, mapGetters, mapMutations } from "vuex";
import videoConcat from "@/views/videoAggregation/videoConcat.vue";
// import axios from "axios";
import userTimeRanking from "../videoAggregation/userTimeRanking.vue";
import videoNumber from "../videoAggregation/videoNumber.vue";
import Vue from "vue";
import invokingAnalyse from "../videoAggregation/invokingAnalyse.vue";
import videoRanklist from "@/components/videoAggregation/videoNum/videoRanklist.vue";
import numberJump from "@/components/videoAggregation/headeTongji/numberJumper.vue";
import videoMp4 from "@/components/videoAggregation/videoNum/videoMp4.vue";
import videoPopup from "@/components/videoRandomPopup.vue";
import usablePointList from "@/components/videoAggregation/pop/usablePointList.vue";
import villageAnalyseList from "@/components/videoAggregation/pop/villageAnalyseList.vue";

export default {
  data() {
    return {
      // weather: {},
      timeString: "",
      d: new Date(),
      options: [
        {
          value: "D",
          label: "当日"
        },
        {
          value: "W",
          label: "当周"
        },
        {
          value: "M",
          label: "当月"
        },
        {
          value: "Y",
          label: "当年"
        }
      ],
      value: "Y",
      qingkuangValue: "Y",
      numbershow: false,
      valueFenxi: "Y",
      valueBycall: "Y",
      cameraPage: 0,
      timer: null
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    zoom: function (item) {
      if (item == "out") {
        this.$store.commit("ZOOM_OUT_GLOBAL");
      } else {
        this.$store.commit("ZOOM_IN_GLOBAL");
      }
    },
    recove() {
      Vue.prototype.globalAMap.setZoomAndCenter(
        12,
        this.metadatas[0].districtCenter
      );
    },
    lookAll() {
      // console.log(11111)
      this.$store.commit("SET_VIDEO_RANK_VISIBLE", false);
    },
    handleCloseVideo: function () {
      // this.videoVisible = false;
      this.$store.commit("HIDE_VIDEO_RANDOM_VISIBLE");
    },
    getTimeCall() {
      Object.assign(this.callTimeParams, { timeUnit: this.value });
      Object.assign(this.callTimelongParams, { timeUnit: this.value });
      this.$store.dispatch("leadboardBySource", this.callTimeParams);
      this.$store.dispatch(
        "leadboardBySourceTimeList",
        this.callTimelongParams
      );
    },
    getCallqingkuang() {
      // qingkuangValue
      // console.log(this.qingkuangValue)
      Object.assign(this.invokingAnalyseParams, {
        timeUnit: this.qingkuangValue
      });
      Object.assign(this.invokingAnalyse2Params, {
        timeUnit: this.qingkuangValue
      });
      this.$store.dispatch("usageSummary", this.invokingAnalyseParams);
      this.$store.dispatch("usageSummary", this.invokingAnalyse2Params);
    },
    getCallfenxi() {
      Object.assign(this.searchbyParams, { timeUnit: this.valueFenxi });
      // console.log(this.searchbyParams)
      setTimeout(() => {
        this.$refs.fenxi.$children[1].checkBtn(
          this.$refs.fenxi.$children[1].checkItem
        );
      }, 1000);

      this.$store.dispatch("searchByTag", this.searchbyParams);
    },
    getvalueBycall() {
      Object.assign(this.byCameraParams, { timeUnit: this.valueBycall });
      Object.assign(this.byCameralistParams, { timeUnit: this.valueBycall });
      if (this.videoRankvisible) {
        this.$store.dispatch("searchByCamera", this.byCameraParams);
      } else {
        this.$store.dispatch("searchByCameraList", this.byCameralistParams);
      }
    }
  },

  created() {
    this.$store.dispatch("getCamerasSummary");
  },
  mounted() {
    const token = this.$route.query.token;
    this.$store.dispatch("getAllTitle", { token: token }).then((res) => {
      this.$store.commit("GET_ALL_TITLE", res);
      if (res.result.metadatas.length > 1) {
        // console.log(res.result.metadatas)
        // console.log(1111)
        // this.metadatas;
        setTimeout(() => {
          res.result.metadatas.forEach((item) => {
            this.$store.commit("POLY_VIDEO_GON", item.districtPolygon);
            //   console.log(item)
            //   item.districtPolygon.forEach(i=>{
            //     this.$store.commit('POLY_VIDEO_GON',i)
            //   })
          });
          Vue.prototype.globalAMap.setZoomAndCenter(
            12,
            res.result.metadatas[0].districtCenter
          );
        }, 1000);
        this.numbershow = true;
      } else {
        // console.log(222)
        setTimeout(() => {
          // console.log(this.metadatas[0].districtPolygon[0])
          this.$store.commit(
            "POLY_VIDEO_GON",
            res.result.metadatas[0].districtPolygon
          );
          // res.result.metadatas[0].districtPolygon.forEach(i=>{
          //   this.$store.commit('POLY_VIDEO_GON',i)
          // })
          Vue.prototype.globalAMap.setZoomAndCenter(
            13,
            res.result.metadatas[0].districtCenter
          );
        }, 1000);
        this.numbershow = true;
      }
    });
    this.$store.commit("GET_VIDEO_CONNECT");
    this.$store.commit("INIT_AMAP");
    // axios
    //   .get(
    //     "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=cb3b07794f3bcac8dc6188757a5386c1"
    //   )
    //   .then((res) => {
    //     if (res.data.info == "OK") {
    //       this.weather = res.data.lives[0];
    //       // this.currentIcon = this.weatherIcon.filter((item) => {
    //       //   return this.weather.weather.indexOf(item.weather) !== -1;
    //       // });
    //     }
    //   });
    // setInterval(() => {
    //   var d = new Date();
    //   this.timeString =
    //     (d.getHours() > 9
    //       ? d.getHours().toString()
    //       : "0" + d.getHours().toString()) +
    //     ":" +
    //     (d.getMinutes() > 9
    //       ? d.getMinutes().toString()
    //       : "0" + d.getMinutes().toString()) +
    //     ":" +
    //     (d.getSeconds() > 9
    //       ? d.getSeconds().toString()
    //       : "0" + d.getSeconds().toString());
    // }, 1000);
    // if(this.videoaggregaCameraTotal<100){

    //   return false
    // }else{
    //   console.log('还有很多数据')
    // }
    // this.timer = setInterval(() => {
    //   if(this.Cameralastpagecount==0){
    //     console.log('结束了')
    //     clearInterval(this.timer)
    //   }
    //   console.log(this.Cameralastpagecount)

    //   // this.$store.dispatch("devicesCamera", param);
    //   this.$store.dispatch("cameraPoint", param);
    //   this.cameraPage++
    // }, 1000);
    let param = {
      start: 0,
      count: 20000,
      // page: this.cameraPage,
      total: 0
    };
    this.$store.dispatch("cameraPoint", param);
  },
  watch: {},
  computed: {
    weekString: function () {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function () {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    ...mapState({
      // videoRankVisible
      videoRankvisible: (state) => state.videoRankVisible.videoRankvisible,
      mapMp4Visible: (state) => state.videoRankVisible.mapMp4Visible,
      videoRtsp: (state) => state.mapdevice.videoRtsp,
      videoVisible: (state) => state.mapdevice.videoVisible,
      sx: (state) => state.mapdevice.sx,
      sy: (state) => state.mapdevice.sy,
      camerasummary: (state) => state.videoAggregation.camerasummary,
      deviceListPagination: (state) => state.mapdevice.deviceListPagination,
      callTimeParams: (state) => state.videoAggregation.callTimeParams,
      callTimelongParams: (state) => state.videoAggregation.callTimelongParams,
      invokingAnalyseParams: (state) =>
        state.videoAggregation.invokingAnalyseParams,
      invokingAnalyse2Params: (state) =>
        state.videoAggregation.invokingAnalyse2Params,
      searchbyParams: (state) => state.videoAggregation.searchbyParams,
      byCameraParams: (state) => state.videoAggregation.byCameraParams,
      byCameralistParams: (state) => state.videoAggregation.byCameralistParams,
      allTitle: (state) => state.videoAggregation.allTitle,
      weather: (state) => state.videoAggregation.weather,
      metadatas: (state) => state.videoAggregation.metadatas,
      Cameralastpagecount: (state) => state.mapdevice.Cameralastpagecount,
      openInfowindow: (state) => state.mapdevice.openInfowindow,
      usablePointVisible: (state) => state.videoRankVisible.usablePointVisible,
      villageAnalyseListVisible: (state) =>
        state.videoRankVisible.villageAnalyseListVisible
    }),

    ...mapGetters([])
  },
  components: {
    rightBottom,
    userTimeRanking,
    videoConcat,
    videoNumber,
    invokingAnalyse,
    videoRanklist,
    numberJump,
    videoMp4,
    videoPopup,
    usablePointList,
    villageAnalyseList
  }
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/videoAggregation/dashboardInner7680.less";
</style>
<style lang="less" >
.selectTime .el-input__inner {
  color: white;
  font-size: 45px;
  background-color: rgba(255, 255, 255, 0.01);
  height: 140px;
  border: rgba(255, 255, 255, 0.01);
  display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  text-align: center;
}
.selectTime .el-input__suffix {
  display: none;
}
.selectTime.el-popper .popper__arrow {
  display: none;
}
</style>
<style lang="less">
.amap-info-content {
  background: rgba(23, 33, 64, 0.9);
  .infoBox {
    ul {
      padding-left: 15px;
      li {
        list-style-type: none;
        line-height: 30px;
        img {
          width: 25px;
          height: 28px;
          vertical-align: middle;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}
.bottom-center .amap-info-sharp {
  border-top: 8px solid rgba(23, 33, 64, 0.9);
}
.amap-info-content::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 3px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.amap-info-content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #00edfb;
}
.amap-info-content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.amap-marker-content {
  div {
    color: aliceblue !important;
  }
}
</style>
