<template>
  <div class=''>

  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {}
  },
  props:[],
  methods:{ ...mapMutations([])},

  created(){
    axios.get('/json/videoAggregation.json').then(res=>{
      this.$router.push({path:`/videoAggregation/dashboard?token=${res.data.token}`})
    })
  },
  mounted(){},
  watch:{},
  computed:{ ...mapState({}),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less'>

</style>
