<template>
  <div class="parentContainerInvokingAnalyse">
    <div class="leftChildContainer">
      <div class="titlebox">
        <span class="ranking">调用方</span>
        <span class="systemName">可调用点位数量</span>
        <span class="time">调用百分比</span>
      </div>

      <transition-group class="changebox">
        <div
          class="listItem"
          v-for="item in invokingAnalyseList"
          :key="item.category.id"
          @click="itemClick(item)"
        >
          <div class="imgBox">
             <el-tooltip
                class="item"
                effect="dark"
                :content="item.category.properties.name"
                placement="top"
              >
                <!-- <div class="rankingbg">{{ item.category.properties.name }}</div> -->
                <span class="rankingbg">{{ item.category.properties.name | ellipsis}}</span>
              </el-tooltip>
            
          </div>
          <span class="name">{{ item.category.properties.available }}</span>
          <span class="time">{{
            `${((item.category.properties.usage / item.category.properties.available) * 100).toFixed(2)}%`
          }}</span>
        </div>
      </transition-group>
    </div>
    <div class="fengexian"></div>
    <div class="rightChildContainer">
      <div class="titlebox">
        <span class="ranking">调用方</span>
        <span class="systemName special_name1">最大并发路数</span>
        <span class="systemName special_name2">并发众数</span>
        <span class="time">众数百分比</span>
      </div>

      <transition-group class="changebox">
        <div class="listItem" v-for="item in invokingAnalyse2List" :key="item.category.id" >
          <div class="imgBox">
             <el-tooltip
                class="item"
                effect="dark"
                :content="item.category.properties.name"
                placement="top"
              >
                <!-- <div class="rankingbg">{{ item.category.properties.name }}</div> -->
                <span class="rankingbg">{{ item.category.properties.name | ellipsis}}</span>
              </el-tooltip>
            <!-- <div class="rankingbg">{{ item.category.properties.name }}</div> -->
          </div>
          <span class="name special_time1">{{ item.category.properties.concurrent }}</span>
          <span class="name special_time2">{{ item.category.properties.majority }}</span>
          <span class="time">{{ 
              `${((item.category.properties.majority / item.category.properties.concurrent)* 100).toFixed(2) }%`   
          }}</span>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Vue from "vue"
export default {
  filters: {
    ellipsis(value) {
      if (!value) return "";
      if (value.length > 6) {
        return value.slice(0, 6) + "...";
      }
      return value;
    }
  },
  data() {
    return {
      testListData_left: [
        {
          name: "周浦镇",
          time: "2481",
          percent: "92%"
        },
        {
          name: "委办局",
          time: "1687",
          percent: "88%"
        },
        {
          name: "建交委",
          time: "1698",
          percent: "80%"
        },
        {
          name: "城管办",
          time: "1569",
          percent: "77%"
        },
        {
          name: "教育局",
          time: "2021",
          percent: "76%"
        },
        {
          name: "卫生局",
          time: "1521",
          percent: "73%"
        }
      ],
      testListData_right: [
        {
          name: "周浦镇",
          time: "18",
          timeall: "15",
          percent: "83%"
        },
        {
          name: "委办局",
          time: "17",
          timeall: "14",
          percent: "82%"
        },
        {
          name: "建交委",
          time: "16",
          timeall: "13",
          percent: "81%"
        },
        {
          name: "城管办",
          time: "16",
          timeall: "13",
          percent: "81%"
        },
        {
          name: "教育局",
          time: "20",
          timeall: "16",
          percent: "80%"
        },
        {
          name: "卫生局",
          time: "19",
          timeall: "15",
          percent: "78%"
        }
      ]
    };
  },
  methods: {
    testDataChangeLeft() {
      let temp = null;
      temp = this.testListData_left[2];
      this.testListData_left[3].percent = "81%";
      this.testListData_left[2] = this.testListData_left[3];
      this.testListData_left[3] = temp;
    },
    testDataChangeRight() {
      let temp = null;
      temp = this.testListData_right[2];
      this.testListData_right[3].percent = "82%";
      this.testListData_right[2] = this.testListData_right[3];
      this.testListData_right[3] = temp;
    },
    itemClick(data){
      console.log(data);
      let params = {
        
          count:6,
          start:0,
          sourceUrn:data.category.id,
          district:Vue.ls.get('districtId')
      }
      this.$store.dispatch("available",params);
      this.$store.commit("USABLE_POINT_PARAMS",params);
      this.$store.commit("SET_USABLE_POINT_VISIBLE",true);
    }
  },
  mounted() {
    // setTimeout(() => {
    //     this.testDataChangeLeft();
    //     this.testDataChangeRight();
    // }, 100000);
    this.$store.dispatch("usageSummary", this.invokingAnalyseParams);
    this.$store.dispatch("usageSummary", this.invokingAnalyse2Params);
  },
  computed: {
    ...mapState({
      invokingAnalyseParams: (state) =>
        state.videoAggregation.invokingAnalyseParams,
      invokingAnalyse2Params: (state) =>
        state.videoAggregation.invokingAnalyse2Params,
      invokingAnalyseList: (state) => state.videoAggregation.invokingAnalyseList,
      invokingAnalyse2List: (state) => state.videoAggregation.invokingAnalyse2List,
    })
  }
};
</script>

<style lang="less" scoped>
.parentContainerInvokingAnalyse {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // background: chartreuse;
  .leftChildContainer {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 1.5%;
    // border: 0.5px solid #A5F1EC;
    .titlebox {
      width: 100%;
      height: 8%;
      display: flex;
      flex-direction: row;
      // align-items: center;
      color: #00edfb;
      font-size: 56px;
      box-sizing: border-box;

      .ranking {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .systemName {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .special_name1 {
        width: 30%;
      }
      .special_name2 {
        width: 20%;
      }
      .time {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .changebox {
      width: 100%;
      height: 92%;
    }
    .listItem {
      width: 100%;
      height: 16.3%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // background:url('~@/assets/images/videoAggregation/1@2xbg.png');
      box-sizing: border-box;
      // padding: 0 40px;
      position: relative;
      background-size: 100% 100%;
      transition: transform 1s;

      .imgBox {
        height: 100%;
        width: 25%;

        .rankingbg {
          height: 220px;
          line-height: 220px;
          text-align: center;

          color: white;

          font-size: 60px;
          overflow: hidden;
          white-space: nowrap; //强制不换行
          text-overflow: ellipsis; //省略号显示
        }
      }
      .imgRanking {
        height: 90px;
        width: 90px;
        // background: yellow;
        background-size: 100% 100%;
      }
      .name {
        color: white;
        // margin-left: 30px;
        font-size: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background: chartreuse;
        cursor: pointer;
      }
      .special_time1 {
        width: 30%;
      }
      .special_time2 {
        width: 20%;
      }
      .time {
        // position: absolute;
        // right: 50px;
        color: #00edfb;
        font-size: 60px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .listItem:nth-child(2) {
      // background:url('~@/assets/images/videoAggregation/2@2xbg.png');
      background-size: 100% 100%;

      .time {
        // position: absolute;
        // right: 2rem;
        // color: #F8DD9F;
      }
    }
    .listItem:nth-child(3) {
      // background:url('~@/assets/images/videoAggregation/3@2xbg.png');
      background-size: 100% 100%;

      .time {
        // color: #91A3F2;
      }
    }
    .listItem:nth-child(4) {
      // background:url('~@/assets/images/videoAggregation/4@2xbg.png');
      background-size: 100% 100%;

      .time {
        // color: #957FFF;
      }
    }
  }
  .rightChildContainer {
    height: 100%;
    width: 52%;
    display: flex;
    flex-direction: column;
    // border: 0.5px solid #A5F1EC;
    box-sizing: border-box;
    padding-left: 1.5%;
    .titlebox {
      width: 100%;
      height: 8%;
      display: flex;
      flex-direction: row;
      // align-items: center;
      color: #00edfb;
      font-size: 56px;
      box-sizing: border-box;

      .ranking {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .systemName {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .special_name1 {
        width: 30%;
      }
      .special_name2 {
        width: 20%;
      }
      .time {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .changebox {
      width: 100%;
      height: 92%;
    }
    .listItem {
      width: 100%;
      height: 16.3%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // background:url('~@/assets/images/videoAggregation/1@2xbg.png');
      box-sizing: border-box;
      // padding: 0 40px;
      position: relative;
      background-size: 100% 100%;
      transition: transform 1s;

      .imgBox {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .rankingbg {
          height: 220px;
          line-height: 220px;
          text-align: center;

          color: white;

          font-size: 60px;
          overflow: hidden;
          white-space: nowrap; //强制不换行
          text-overflow: ellipsis; //省略号显示
        }
      }
      .imgRanking {
        height: 90px;
        width: 90px;
        // background: yellow;
        background-size: 100% 100%;
      }
      .name {
        color: white;
        // margin-left: 30px;
        font-size: 60px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background: chartreuse;
        
      }
      .special_time1 {
        width: 30%;
      }
      .special_time2 {
        width: 20%;
      }
      .time {
        // position: absolute;
        // right: 50px;
        color: #00edfb;
        font-size: 60px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .listItem:nth-child(2) {
      // background:url('~@/assets/images/videoAggregation/2@2xbg.png');
      background-size: 100% 100%;

      .time {
        // position: absolute;
        // right: 2rem;
        // color: #F8DD9F;
      }
    }
    .listItem:nth-child(3) {
      // background:url('~@/assets/images/videoAggregation/3@2xbg.png');
      background-size: 100% 100%;

      .time {
        // color: #91A3F2;
      }
    }
    .listItem:nth-child(4) {
      // background:url('~@/assets/images/videoAggregation/4@2xbg.png');
      background-size: 100% 100%;

      .time {
        // color: #957FFF;
      }
    }
  }
  .fengexian {
    height: 100%;
    width: 3px;
    background: url("~@/assets/images/videoAggregation/fengexian.png");
    background-size: 100% 100%;
  }
}
</style>