<template>
  <div class="parentContainer">
    <div class="leftChildContainer">
      <div class="titlebox">
        <div class="colorPart"></div>
        <span class="title">调用方次数排名</span>
      </div>
      <div class="randingContainer">
        <userTime></userTime>
      </div>
    </div>
    <div class="rightChildContainer">
      <div class="titlebox">
        <div class="colorPart"></div>
        <span class="title">调用方时长排名</span>
      </div>
      <div class="randingContainer">
        <div class="leftBox">
          <transition-group class="changebox">
            <div
              class="listItem"
              v-for="(item,index) in leadboardBySourcetimeList.slice(0,4)"
              :key="index+item.category.displayValue"
            >
              <img class="imgRanking" :src="item.imgUrl" />
              <el-tooltip
                class="item"
                effect="dark"
                :content="item.category.displayValue"
                placement="top"
              >
                <span class="name">{{ item.category.displayValue }}</span>
              </el-tooltip>
              <el-tooltip
                class="item"
                effect="dark"
                :content="`${item.durations}小时`"
                placement="top"
              >
                <span class="time">{{ item.durations }}小时</span>
              </el-tooltip>
            </div>
          </transition-group>
        </div>
        <div class="rightBox" v-if="leadboardBySourcetimeList.length>4">
          <div class="listItem" v-for="(item,index) in leadboardBySourcetimeList.slice(4,10)" :key="index+item.category.displayValue">
            <img
              class="imgRanking"
              :src="item.imgUrl"
            />
            <el-tooltip :content="item.category.displayValue" placement="top">
              <span class="name">{{item.category.displayValue}}</span>
            </el-tooltip>
            <span class="time">{{item.durations}}小时</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userTime from "../videoAggregation/userTime.vue";
import { mapState } from "vuex";
export default {
  filters: {
    ellipsis(value) {
      if (!value) return "";
      if (value.length > 3) {
        return value.slice(0, 3) + "...";
      }
      return value;
    }
  },
  data() {
    return {
      testListData: [
        {
          imgUrl: require("@/assets/images/videoAggregation/1@2x.png"),
          name: "城市大脑3.0",
          time: "558小时"
        },
        {
          imgUrl: require("@/assets/images/videoAggregation/2@2x.png"),
          name: "街镇2.0",
          time: "523小时"
        },
        {
          imgUrl: require("@/assets/images/videoAggregation/3@2x.png"),
          name: "联勤联动微平台",
          time: "521小时"
        },
        {
          imgUrl: require("@/assets/images/videoAggregation/4@2x.png"),
          name: "AI平台",
          time: "358小时"
        }
      ]
    };
  },
  methods: {
    // testDataChange(){
    //   //   this.testListData = this.testListChangeData;
    //   let temp = null;
    //   this.testListData[0].imgUrl = require('@/assets/images/videoAggregation/2@2x.png')
    //   temp = this.testListData[0];
    //   this.testListData[1].time = '576小时';
    //   this.testListData[1].imgUrl = require('@/assets/images/videoAggregation/1@2x.png')
    //   this.testListData[0]= this.testListData[1];
    //   this.testListData[1] = temp;
    //   // this.testListData = this.testListData.reverse();
    // }
  },
  mounted() {
    // setTimeout(() => {
    //     this.testDataChange();
    // }, 11000);
    this.$store.dispatch("leadboardBySourceTimeList", this.callTimelongParams);
  },
  components: {
    userTime
  },
  computed: {
    ...mapState({
      callTimelongParams: (state) => state.videoAggregation.callTimelongParams,
      leadboardBySourcetimeList: (state) =>
        state.videoAggregation.leadboardBySourcetimeList
    })
  }
};
</script>

<style lang='less' scoped>
.parentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftChildContainer {
  height: 100%;
  width: 35%;
}
.rightChildContainer {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.titlebox {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  .colorPart {
    height: 45%;
    width: 20px;
    background: #00faff;
    border-radius: 5%;
  }
  .title {
    color: white;
    font-size: 55px;
    margin-left: 20px;
  }
}

.randingContainer {
  height: 90%;
  width: 100%;
  // background: chocolate;
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .rightBox {
    flex: 1;
    height: 100%;
    // width: 49%;
    // background: brown;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #a5f1ec;
    .listItem {
      width: 100%;
      height: 16.6%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: url("~@/assets/images/videoAggregation/6@2xbg.png");
      box-sizing: border-box;
      padding: 0 15px;
      position: relative;
      background-size: 100% 100%;

      .imgRanking {
        height: 60%;
        // width: 15%;
        // background: yellow;
        background-size: 100% 100%;
      }
      .name {
        color: white;
        margin-left: 1rem;
        font-size: 60px;
      }
      .time {
        position: absolute;
        right: 2rem;
        color: #a5f1ec;
        font-size: 55px;
      }
    }
  }
  .leftBox {
    height: 100%;
    flex: 1;
    // background: brown;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #a5f1ec;
    .changebox {
      width: 100%;
      height: 100%;
    }

    .listItem {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: url("~@/assets/images/videoAggregation/1@2xbg.png");
      box-sizing: border-box;
      padding: 0 40px;
      position: relative;
      background-size: 100% 100%;
      transition: transform 1s;

      .imgRanking {
        height: 40%;
        // width: 16%;
        // background: yellow;
        background-size: 100% 100%;
        overflow: hidden;
        white-space: nowrap; //强制不换行
        text-overflow: ellipsis; //省略号显示
      }
      .name {
        color: white;
        margin-left: 30px;
        font-size: 60px;
      }
      .time {
        position: absolute;
        right: 50px;
        color: #ea9796;
        font-size: 55px;
      }
    }
    .listItem:nth-child(1) {
      background: url("~@/assets/images/videoAggregation/1@2xbg.png");
      background-size: 100% 100%;
      .name {
        width: 45%;
        // width: 300px;
        // background: chocolate;
        overflow: hidden;
        white-space: nowrap; //强制不换行
        text-overflow: ellipsis; //省略号显示
      }
      .time {
        color: #ea9796;
      }
    }
    .listItem:nth-child(2) {
      background: url("~@/assets/images/videoAggregation/2@2xbg.png");
      background-size: 100% 100%;
      .name {
        width: 45%;
        // background: chocolate;
        overflow: hidden;
        white-space: nowrap; //强制不换行
        text-overflow: ellipsis; //省略号显示
      }
      .time {
        // position: absolute;
        // right: 2rem;
        color: #f8dd9f;
      }
    }
    .listItem:nth-child(3) {
      background: url("~@/assets/images/videoAggregation/3@2xbg.png");
      background-size: 100% 100%;
      .name {
        width: 45%;
        // width: 300px;
        // background: chocolate;
        overflow: hidden;
        white-space: nowrap; //强制不换行
        text-overflow: ellipsis; //省略号显示
      }
      .time {
        color: #91a3f2;
      }
    }
    .listItem:nth-child(4) {
      background: url("~@/assets/images/videoAggregation/4@2xbg.png");
      background-size: 100% 100%;

      .time {
        color: #957fff;
      }
    }
  }
}
</style> 