<template>
  <div class="cameraTop">
    <div class="leftBox">
      <div class="titlebox">
        <span class="ranking">排名</span>
        <span class="systemName">调用方</span>
        <span class="time">次数</span>
      </div>

      <transition-group class="changebox">
        <div
          class="listItem"
          v-for="(item, index) in leadboardBySourceList"
          :key="index + item.category.displayValue"
        >
          <div class="imgBox">
            <img
              class="imgRanking"
              :src="item.imgUrl"
              v-if="index <= 2 ? true : false"
            />
            <div class="rankingbg" v-if="index > 2 ? true : false">
              {{ index + 1 }}
            </div>
          </div>
          <el-tooltip
            class="item"
            effect="dark"
            :content="item.category.displayValue"
            placement="top"
          >
            <span class="name">{{
              item.category.displayValue
            }}</span>
          </el-tooltip>
          <!-- <span class="name">{{item.name | ellipsis}}</span> -->
          <span class="time">{{ item.hits }}</span>
        </div>
      </transition-group>
    </div>
    <div class="fengexian"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      params: {
        sort: "HITS",
        timeUnit: "W",
        topN: 6
      }
    };
  },
  props: [],
  methods: {
    ...mapMutations([])
    // testDataChange(){
    //   //   this.testListData = this.testListChangeData;
    //   let temp = null;
    //   this.testListData[0].imgUrl = require('@/assets/images/videoAggregation/medal3.png')
    //   temp = this.testListData[0];
    //   this.testListData[2].time = '19000';
    //   this.testListData[2].imgUrl = require('@/assets/images/videoAggregation/medal1.png')
    //   this.testListData[0]= this.testListData[2];
    //   this.testListData[2] = temp;
    // }
  },

  mounted() {
    // setTimeout(() => {
    //     this.testDataChange();
    // }, 50000);
    this.$store.dispatch("leadboardBySource", this.callTimeParams);
  },

  watch: {},
  computed: {
    ...mapState({
      leadboardBySourceList: (state) =>
        state.videoAggregation.leadboardBySourceList,
      callTimeParams: (state) => state.videoAggregation.callTimeParams
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.leftBox {
  height: 100%;
  width: 97%;
  // background: brown;
  display: flex;
  flex-direction: column;
  // border: 0.5px solid #A5F1EC;
  .titlebox {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    color: #00edfb;
    font-size: 65px;
    box-sizing: border-box;

    .ranking {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .systemName {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .time {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .changebox {
    width: 100%;
    height: 92%;
  }
  .listItem {
    width: 100%;
    height: 15.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // background:url('~@/assets/images/videoAggregation/1@2xbg.png');
    box-sizing: border-box;
    // padding: 0 40px;
    position: relative;
    background-size: 100% 100%;
    transition: transform 1s;

    .imgBox {
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rankingbg {
        height: 90px;
        width: 90px;
        background: #00488e;
        border-radius: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 50px;
      }
    }
    .imgRanking {
      height: 90px;
      width: 90px;
      // background: yellow;
      background-size: 100% 100%;
    }
    .name {
      color: white;
      // margin-left: 30px;
      font-size: 65px;
      width: 50%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      text-align: center;
      overflow: hidden;
      white-space: nowrap; //强制不换行
      text-overflow: ellipsis; //省略号显示
    }
    .time {
      // position: absolute;
      // right: 50px;
      color: #00edfb;
      font-size: 50px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.cameraTop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  //   background: burlywood;
}
.fengexian {
  height: 100%;
  width: 3px;

  background: url("~@/assets/images/videoAggregation/fengexian.png");
  background-size: 100% 100%;
}
.sortCard {
  width: 100%;
  height: 100px;
  font-size: 10px;
  line-height: 100px;
  text-align: left;
  //   background: burlywood;
}

.sortCard_radius {
  width: 22px;
  height: 22px;
}
</style>
<style lang="less">
.cameraTop {
  .el-table .warning-row {
    background: #102a56;
  }

  .el-table .success-row {
    background: #102a56;
  }
  .el-table th,
  .el-table tr {
    background: #102a56;
    font-size: 40px;
    height: 25%;
  }
  .el-table__row:hover > td {
    background-color: transparent !important;
  }

  .el-table__row--striped:hover > td {
    background-color: transparent !important;
  }

  .el-table th.is-leaf {
    // border: none;
  }
  .el-table::before {
    content: none;
  }
  .el-table thead {
    color: #4dc3d7;
  }
  .el-table thead tr th {
    border-bottom: 0.5px solid #153a76;
  }
  .el-table {
    color: white;
  }
  .el-table__empty-block {
    background: #102a56;
  }
  //  .el-table__header`
  .el-table .el-table__row td {
    border: none;
    padding: 8px;
  }
}
</style>
