<template>
    <div class="videoConcatbg" style="width:100%;height:100%;position:relative">
        <div class="videoConcat" ref="piechart3d"></div>
        <div class="hideIcon"></div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";
am4core.useTheme(am4themes_animated);
export default {
  data() {
    return {
      chart: null,
      allconcat:{}
    };
  },
  props: ['allqu'],
  methods: { ...mapMutations([]) },

  created() {
    
  },
  mounted() {
    //   let that = this
    // am4core.ready(function () {
    setTimeout(() => {
      var chart = am4core.create(this.$refs.piechart3d, am4charts.PieChart3D);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
      chart.fontSize = 50
      chart.data = [
        {
          country: "国标接入量",
          litres: this.camerasummary.gbReg,
          color:am4core.color('#279daa')
        },
        {
          country: "URL接入量",
          litres: this.camerasummary.url,
          color:am4core.color('#7bc7ed')
        },
        {
          country: "地标接入量",
          litres: this.camerasummary.onvif,
           color:am4core.color('#f5b64a')
        },
        {
          country: "其他接入量",
          litres: this.camerasummary.other,
           color:am4core.color('#ee7e37')
        },
       
      ];

      chart.innerRadius = am4core.percent(40);
      chart.depth = 300;
      chart.angle = 50;
    //   chart.legend = new am4charts.Legend();

      var series = chart.series.push(new am4charts.PieSeries3D());
    //   series.colors.list = [
    //     core.color('#845EC2'),
    //     core.color('#D65DB1'),
    //     core.color('#FF6F91'),
    //     core.color('#FF9671'),
    //   ];
      series.dataFields.value = "litres";
      series.dataFields.depthValue = "litres";
      series.dataFields.category = "country";
      series.slices.template.cornerRadius = 5;
      series.colors.step = 3;
      series.ticks.template.disabled = true;
      series.labels.template.disabled = true;
      series.legendSettings.valueText = "{valueY.close}";
      series.tooltip.fontSize = 60;
      series.slices.template.propertyFields.fill = "color";
      



      chart.legend = new am4charts.Legend();
    //   chart.legend.position = "right";
      chart.legend.labels.template.text = "[bold {color}]{name}";
    //   chart.legend.color = "#fff";
    
    //    let graph = new am4charts.Graph()

      
        // console.log(chart.legend.labels.template)
      this.chart = chart;
    }, 1000);  
    // });
  },
  watch: {

  },
  computed: {
    ...mapState({
      camerasummary:state=>state.videoAggregation.camerasummary
    }),

    ...mapGetters([])
  },
  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  },
  components: {}
};
</script>

<style lang='less' scoped>
.videoConcatbg{
    background: url('../../assets/images/videoAggregation/dizuo@2x.png') no-repeat;
    background-size: 90%;
    background-position: 50% 60%;
}
.videoConcat{
    width: 100%;
    height: 100%;
    // background: olive;
}
.hideIcon{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 50px;
    background-color:#001c34;
}
</style>
