#map-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.tool-box{
    height: 350px;
    width: 75px;
    border-radius: 22px;
    background-color: #1E3D67;
    position: absolute;
    right: 25px;
    top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;

    .img-icon {
        height: 30px;
        width: 30px;
        // cursor: pointer;  
    }

    .toolset {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        box-sizing: border-box;

    }

    .mapIcon {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1E3D67;
        position: relative;
        box-sizing: border-box;

    }

    .searchBox {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1E3D67;
        position: relative;
        box-sizing: border-box;
    }

    .menu {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1E3D67;
        position: relative;
        box-sizing: border-box;
    }

    .fangda {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1E3D67;
        position: relative;
        box-sizing: border-box;
    }

    .suoxiao {
        // width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1E3D67;
        position: relative;
        box-sizing: border-box;
    }

    .mapIcon:hover .mapType {
        opacity: 1;
        margin-right: 100px;
        // background: #1E3D67 !important;
    }

    .searchBox:hover .mapType {
        opacity: 1;
        margin-right: 100px;
        // background: #1E3D67 !important;
    }

    .menu:hover .mapType {
        opacity: 1;
        margin-right: 100px;
        // background: #1E3D67 !important;
    }

    .mapType {
        z-index: -2;
        width: 200px;
        height: 50px;
        background: rgba(21, 48, 94, 0.9);
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        transition: all .5s;
        border-radius: 10px;
        // margin-right: 100px;
        .mapbox {
            display: flex;
            width: 100%;
            height: 100%;

            .mapjiben,
            .mapweixing,
            .maphei {
                flex: 1;
                width: 100%;
                height: 100%;

                // background-color: green;
                img {
                    padding-top: 6px;
                    width: 35px;
                    height: 25px;
                    // background-color: green;
                    // box-sizing: border-box;
                    // position: ab;
                }

                .maptitle {
                    color: #80AAB9;
                    font-size: 10px;
                }
            }
        }

        .searchInput {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 80% 80%;
            grid-template-rows: 100%;

            .inputcontent {
                background-color: transparent;
                border: none;
                outline: none;
                color: #8AC0D3;
                font-size: 18px;
                padding-left: 25px;
            }

            .inputcontent::-webkit-input-placeholder {
                color: #8AC0D3;
                font-size: 18px;
            }

            .inputcontent::-moz-placeholder {
                color: #8AC0D3;
                font-size: 18px;
            }

            .inputcontent:-moz-placeholder {
                color: #8AC0D3;
                font-size: 18px;
            }

            .inputcontent:-ms-input-placeholder {
                color: #8AC0D3;
                font-size: 18px;
            }

            .inputicon {
                width: 20px;
                height: 20px;
                margin-left: 10px;
                margin-top: 16px;
            }
        }

        .scene {
            display: flex;

            .sceneItem {
                flex: 1;
                color: #8AC0D3;
                font-size: 18px;
            }
            .sceneItemyello{
                flex: 1;
                color: #f1dcc0;
                font-size: 18px;
            }
        }
    }
    .mapTypes{
        opacity: 1;
        margin-right: 100px;
    }

    .rigthjiao {
        border-width: 12.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent rgba(21, 48, 94, 0.9);
        position: absolute;
        right: -25px;
        top: 12.5px;
    }


}