<template>
  <div class="anzhi-container">
    <div class="video-area" v-for="video in videoList" :key="video.idd">
      <!-- <hlsVideoContainer
        :visible="true"
        :node="video"
        :url="video.data.url"
        :reffer="video.data.id"
      ></hlsVideoContainer> -->
      <avPlayer :node="video"></avPlayer>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { WSconnect } from "@/utils/anzhiSocket";
import hlsVideoContainer from "@/components/anzhiVideoContainer.vue";
import avPlayer from "@/components/avPlayer.vue";

export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {
    WSconnect();
  },
  filters: {},
  watch: {
    videoList: function(val) {
      console.log(val);
    }
  },
  computed: {
    ...mapState({ videoList: state => state.anzhi.videoList }),
    ...mapGetters([])
  },
  components: { avPlayer }
};
</script>

<style lang="less" scoped>
.anzhi-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
</style>
