<template>
    <popContainer :title='title' v-if="deviceProbingVisible">
        <div class="h_lv2_title t_c line_h_lv2_title">
            <img :src="require('@/assets/images/sanlin/roundsquare2@2x.png')" alt="">
            <span>设备信息</span>
        </div>
        <div class="w_100_percent bor_1_out padding_half">
            <div  class="table_cell">
                <div class="cell_item">
                    <div class="cell_title">时间</div>
                    <div class="cell_title">位置</div>
                    <div class="cell_title">分贝</div>
                    <div class="cell_title">设备状态</div>
                    <div class="cell_title">现场视频</div>
                </div>
                <div class="cell_item">
                    <div class="cell_con" :title='voiceDetail.currentTime'>{{voiceDetail.currentTime}}</div>
                    <div class="cell_con" :title='voiceDetail.address'>{{voiceDetail.address}}</div>
                    <div class="cell_con" :title='voiceDetail.currentDecibel'>{{voiceDetail.currentDecibel}}</div>
                    <div class="cell_con" :title='voiceDetail.state | getName'>{{voiceDetail.state | getName}}</div>
                    <div class="cell_con showVideoPanel" @click="showVideoPanel">点击查看视频</div>
                </div>
            </div>
        </div>
    </popContainer>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
export default {
  data() {
    return {
        title:'设备监测量'
    }
  },
methods:{ ...mapMutations([]),
    showVideoPanel: function () {
        // 展示视频的弹窗并获取数据
        this.$store.commit('VIDEO_BOX_VISIBLE', true)
        this.$store.commit('DEVICEPROBINGVISIBLE', false)
        this.$store.dispatch('getVoiceLiveUrl', {deviceId: this.voiceDetail.camId})
    }
},

mounted(){},
watch:{},
computed:{ ...mapState({
    deviceProbingVisible:state=>state.sanlinecharts.deviceProbingVisible,
    voiceDetail:state=>state.sanlinecharts.voiceDetail

}),
...mapGetters([])

},
  components: {
      popContainer
  },
  filters: {
    getName(name) {
      let typeName = ''
      switch (name) {
        case 1:
          typeName = '正常'
          break;
        case 2:
          typeName = '不正常'
          break;
        case 3:
          typeName = '报警'
          break;
        default:
          break;
      }
      return typeName
    }
  }
}
</script>

<style lang='less'>
@import '~@/assets/less/sanlin/dashchart.less';
.showVideoPanel{
  color: #dea95b !important;
  cursor: pointer;
}
</style>
