<template>
    <popContainer :title='title' v-if="escapePeoplepopVisible">
        <div class="h_lv2_title t_c line_h_lv2_title">
            <img :src="require('@/assets/images/sanlin/roundsquare2@2x.png')" alt="">
            <span>人员信息</span>
        </div>
        <div class="w_100_percent bor_1_out padding_half">
            <div class="table_cell">
                <div class="cell_item">
                    <div class="cell_title">姓名</div>
                    <div class="cell_title">类型</div>
                    <div class="cell_title">性别</div>
                    <div class="cell_title">住址</div>
                    <div class="cell_title">电话</div>
                </div>
                <div class="cell_item">
                    <div class="cell_con">张三</div>
                    <div class="cell_con">XXXXXX</div>
                    <div class="cell_con">男</div>
                    <div class="cell_con">XXXXXXXXXXXXX</div>
                    <div class="cell_con">12345678901</div>
                </div>
            </div>
        </div>
        <div class="h_lv2_title t_c line_h_lv2_title margin_t_2rem">
            <img :src="require('@/assets/images/sanlin/roundsquare2@2x.png')" alt="">
            <span>摄像头信息</span>
        </div>
        <div class="w_100_percent bor_1_out padding_half">
            <div class="">
                <div class="table_cell">
                    <div class="cell_item">
                        <div class="cell_title">识别时间</div>
                        <div class="cell_title">相似率</div>
                    </div>
                    <div class="cell_item">
                        <div class="cell_con">2020-08-16</div>
                        <div class="cell_con">50%</div>
                    </div>
                    <div class="cell_item">
                        <div class="cell_title">识别位置</div>
                        <div class="cell_title">预警时间</div>
                    </div>
                    <div class="cell_item">
                        <div class="cell_con">XXXXXXX</div>
                        <div class="cell_con">2020-08-16</div>
                    </div>
                </div>
                <div class="h_12rem w_100_percent margin_t_1rem cell_img">
                    <div class="cell_itemImg_k">
                        <el-image class="cell_itemImg" src=""></el-image>
                        <div class="t_c">原始照片</div>
                    </div>
                    <div class="cell_itemImg_k">
                        <el-image class="cell_itemImg" src=""></el-image>
                        <div class="t_c">抓拍照片</div>
                    </div>
                </div>
            </div> 
        </div>
    </popContainer>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
export default {
  data() {
    return {
        title:'在逃人员'
    }
  },
methods:{ ...mapMutations([])},

mounted(){},
watch:{},
computed:{ ...mapState({
    escapePeoplepopVisible:state=>state.sanlinecharts.escapePeoplepopVisible

}),
...mapGetters([])

},
  components: {
      popContainer
  }
}
</script>

<style lang='less'>
@import '~@/assets/less/sanlin/dashchart.less';
</style>
