<template>
  <div class='dangyuanTable'>
    <div class="dangyuan-close" @click="closeDaoluTable">
        <img src="@/assets/images/sanlin/close.png" alt="">
    </div>
    <div class="content-box" v-if="isEcahrt">
      <pop-table-echarts @changeIsEchart="changeIsEchart"></pop-table-echarts>
    </div>
    <div class="content-box" v-show='!isEcahrt'>
      <div class="dangyuan-title">小区每户平均垃圾清运量列表</div>
      <div class="dangyuan-table" style="margin-bottom:1rem">
        <div class="dangyuanbox">
          <div class="dangyuanboxcol">
            <div class="dangyuanboxrow">
              小区名称
            </div>
            <div class="dangyuanboxrow">
              小区户数(户)
            </div>
            <div class="dangyuanboxrow">
              小区干垃圾量(kg)
            </div>
            <div class="dangyuanboxrow">
              小区湿垃圾量(kg)
            </div>

          </div>
          <!-- <div class="dangyuanboxcol_item" v-for="(item,index) in 4" :key="item.id" @click="getdangyuanInfo(item)">
            <div class="dangyuanboxrow_item">
              {{index+1}}
            </div>
            <div class="dangyuanboxrow_item">
              {{item+2}}
            </div>
            <div class="dangyuanboxrow_item">
              {{item+3}}
            </div> -->
            <div class="dangyuanboxcol_item" v-for="(item,index) in garbageavglist" :key="index" @click="getdangyuanInfo(item)">
                <div class="dangyuanboxrow_item" :title="item.districtName">
                    {{item.districtName.length>6?`${item.districtName.slice(0,6)}...`:item.districtName}}
                </div>
                <div class="dangyuanboxrow_item">
                    {{item.person}}
                </div>
                <div class="dangyuanboxrow_item">
                    {{item.avgGarbageG}}
                </div>
                <div class="dangyuanboxrow_item">
                    {{item.avgGarbageS}}
                </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page.sync="params.page"
        :pager-count='pagercount'
        layout=" prev, pager, next"
        :total="garbagelistTotal">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from 'vue'
import popTableEcharts from "@/components/sanlin/popContainer/popTableEcharts";
export default {
  data() {
    return {
        isEcahrt: true,
        params : {
            count:10,
            start:0
        },
        pagercount:5,

    }
  },
methods:{ ...mapMutations([]),
gotogarbagelist(){
  this.isEcahrt = !this.isEcahrt
},
  closeDaoluTable(){
    if(!this.isEcahrt){
      this.isEcahrt = !this.isEcahrt
    }else{
      this.$store.commit('GARBAGE_LIST_VISIBLE',false)
    }

  },
  handleCurrentChange(index){
      this.params.start= (index-1)*10
      console.log(this.params)
      this.$store.dispatch('garbageAvgList',this.params)
  },
  changeIsEchart () {
      this.isEcahrt = false
  }
},

mounted(){
  this.$store.dispatch('garbageAvgList',this.params)
    
},
watch:{},
computed:{ ...mapState({
    garbageavglist:state=>state.sanlinecharts.garbageavglist,
    garbagelistTotal:state=>state.sanlinecharts.garbagelistTotal,
}),
...mapGetters([])

},
  components: {
    popTableEcharts
  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/garbagetable.less";
</style>
