<template>
  <div class='info-table-list color_text_53BDC1'>
    <div class="row-item">
      <div class="name">时间</div>
      <div class="value" :title="carDetail.parkingTimeFmt">{{carDetail.parkingTimeFmt}}</div>
    </div>
    <div class="row-item">
      <div class="name">位置</div>
      <div class="value" :title="carDetail.address">{{carDetail.address}}</div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:['title', 'carDetail'],
methods:{ ...mapMutations([]),
},

mounted(){},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/popContainer.less';
</style>
