<template>
  <div class="h_lv2_title color_text_61E1FB w_100_percent">
    <span class="title-icon"></span><span>违停信息</span>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:['title'],
  methods:{ ...mapMutations([]),
  },

  mounted(){},
  watch:{},
  computed:{ ...mapState({}),
    ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/popContainer.less';
</style>
