<template>
    <popContainer :title='title' v-if="locuspopVisible">
        <div class="h_lv2_title t_c line_h_lv2_title">
            <img :src="require('@/assets/images/sanlin/roundsquare2@2x.png')" alt="">
            <span>轨迹信息</span>
        </div>
        <div class="w_100_percent bor_1_out padding_half">
            <div class="">
                <div class="table_cell">
                    <div class="cell_item">
                        <div class="cell_title">识别时间</div>
                    </div>
                    <div class="cell_item">
                        <div class="cell_con">2020-08-16</div>
                    </div>
                    <div class="cell_item">
                        <div class="cell_title">识别数量</div>
                    </div>
                    <div class="cell_item">
                        <div class="cell_con">XXXXXXX</div>
                    </div>
                </div>
                <div class="h_17rem w_100_percent margin_t_1rem cell_img">
                    <el-image class="w_100_percent h_100_percent round_1rem" src=""></el-image>
                </div>
            </div> 
        </div>
    </popContainer>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
export default {
  data() {
    return {
        title:'轨迹'
    }
  },
methods:{ ...mapMutations([])},

mounted(){},
watch:{},
computed:{ ...mapState({
    locuspopVisible:state=>state.sanlinecharts.locuspopVisible

}),
...mapGetters([])

},
  components: {
      popContainer
  }
}
</script>

<style lang='less'>
@import '~@/assets/less/sanlin/dashchart.less';
</style>
