<template>
  <popContainer :title="title">
    <div class="big-panel">
      <div class="more-button spec">
        <el-select v-model="selectCurrent" size="mini" placeholder="请选择" @change="changeProid()">
          <el-option
                  v-for="item in dropList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="w_100_percent" style="height: 15rem; position: relative">
        <!-- <div style="position:absolute:top:0;left:50%;color:#23cefd;">康达佳苑趋势图</div> -->
        <div style="width: 100%; height: 100%" ref="trendLine"></div>
      </div>
    </div>
  </popContainer>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
import echart from "echarts";
export default {
  data() {
    return {
      title: "趋势图",
      graphLinedatas: {
        xAxis: [],
        data: {}
      },
      ecahrtData: {},
      dropList: [
      // {
      //   value: '-1',
      //   label: '昨日'
      // }, {
      //   value: '0',
      //   label: '当日'
      // },
      {
        value: '1',
        label: '当周'
      }, {
        value: '2',
        label: '当月'
      }, {
        value: '3',
        label: '当季'
      }],
      selectCurrent: '当季'
    };
  },
  methods: {
    ...mapMutations([]),
    gettrendLine(data) {
      let myEchart = echart.init(this.$refs.trendLine);
      myEchart.setOption({
        xAxis: {
          type: "category",
          name: "(时间)",
          data: data.xAxis,
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          }
        },
        grid: {
          top: "14%",
          left: "4%",
          right: "10%",
          bottom: "5%",
          containLabel: true
        },
        yAxis: {
          type: "value",
          name: data.series[0].name,
          nameTextStyle: {
            fontSize: "75%"
          },
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#33394f",
              width: 0.5,
              type: "solid"
            }
          }
        },
        tooltip: {
          trigger: 'axis'
        },
        series: [
          {
            data: data.series[0].data,
            type: "line",
            smooth: true
          }
        ]
      });
    },
    changeProid () {
      this.$store.dispatch('getPeopleLineDataV3',{place: this.place,period: this.selectCurrent})
    }
  },

  mounted() {
    console.log(this.peopleMiduData);
  },
  watch: {
    peopleMiduData: {
      handler: function (newVal) {
        this.place = newVal.place
        this.$store.dispatch('getPeopleLineDataV3',{place: newVal.place,period: 3})
      },
      deep: true,
      immediate: true
    },
    peopleLineData: {
      handler: function (newVal) {
        this.gettrendLine(newVal);
      },
      deep: true,
    }
  },
  computed: {
    ...mapState({
      peopleMiduData: (state) => state.sanlinerqiV3.peopleMiduData,
      peopleLineData: (state) => state.sanlinerqiV3.peopleLineData
    }),
    ...mapGetters([])
  },
  components: {
    popContainer
  }
};
</script>

<style lang='less'>
@import "~@/assets/less/sanlin/dashchart.less";
.big-panel{
  position: relative;
  width: 100%;
  .more-button {
    width: 100px;
    position: absolute;
    right: 2%;
    color: #ffffff;
    font-size: 0.5rem;
    background: url("~@/assets//images/sanlin/more_button.png");
    background-size: 100% 100%;
    padding: 0.4rem 0.65rem;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    ///deep/ .el-dropdown {
    //  margin-top: 0.15rem;
    //}
    .el-dropdown{
      color: #eeeeee;
    }
    /deep/ .el-dropdown-link {
      color: #fff;
      font-size: 0.5rem;
    }
  }
  .el-input__inner{
    background-color: transparent;
    color: #ffffff;
    border: none;
  }
}
.popContent{
  padding-top: 0;
}

</style>
