<template>
  <div class='popContainer'>
      <div class="popInfo">
          <div class="popInfoheader">
            <div class="popInfoTitle">
              {{title}}
              <img class="popInfoTitledian" :src="require('@/assets/images/sanlin/dian.png')" alt="">
            </div>
            <div class="popInfoclose">
                <div class="closeImg" @click="closePopvisible"><i class="el-icon-close chahao"></i></div>
            </div>
          </div>
          <div class="popContent">
              <slot></slot>
          </div>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:['title'],
methods:{ ...mapMutations([]),
    closePopvisible(){
        this.$store.commit('CHANGEPOPvISIBLEV3',false)
        this.$store.commit('WARNPEOPLEPOPVISIBLE',false)
        this.$store.commit('WEIKAKOUPOPVISIBLE',false)
        this.$store.commit('LOCUSPOPVISIBLE',false)
        this.$store.commit('ESCAPEPEOPLEPOPVISIBLE',false)
        this.$store.commit('DEVICEPROBINGVISIBLE',false)
        this.$store.commit('DEVICEPROBINGPICVISIBLE',false)
        this.$store.commit('ZHUAPAIPOPVISIBLE',false)
        this.$store.commit('GONGDAN_TREND_VISITBLE',false)
        this.$store.commit('GARBAGE_TREND_VISIBLE',false)
        this.$store.commit('setPeopleMiduPopVisibleV3',false)
    }
},

mounted(){},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/popContainer.less';
</style>
