<template>
  <div class="content-box">
    <div class="dangyuan-title">垃圾分类监管</div>
    <div class="garbage-tag">
      <div class="tag1">垃圾清运量前五名小区排名</div>
      <div class="tag2"><span class="blue-dot-style"></span>干垃圾 <span class="orange-dot-style"></span>湿垃圾</div>
      <div class="tag3">
        <div @click="getGarbageDatas(0)" :class="currentIndex === 0? 'firstFive':'lastFive'">前五名</div>
        <div @click="getGarbageDatas(1)" :class="currentIndex === 1? 'firstFive':'lastFive'">后五名</div>
      </div>
    </div>
    <div class="echart-box">
      <div class="echartPic" id="garbageEchart1"></div>
      <div class="echartPic" id="garbageEchart2"></div>
    </div>
    <div class="garbage-tag">
      <div class="tag1">小区每户平均垃圾清运量</div>
      <div class="tag3">
        <div class="firstFive" @click="changeTable">全部列表</div>
      </div>
    </div>
    <div class="echart-box">
      <div class="echartPic" id="garbageEchart3"></div>
      <div class="echartPic" id="garbageEchart4"></div>
    </div>
  </div>
</template>

<script>
import echart from "echarts";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      currentIndex: 0
    }
  },
  methods:{ ...mapMutations([]),
    changeTable() {
      this.$emit('changeIsEchart')
      // this.$store.dispatch('garbageAvgList',this.params)
    },
    getGarbageDatas(index){
      let x1,y1,x2,y2
      this.currentIndex = index
      if (index === 0) { // 获取的前五的数据
        x1 = this.rankData[0].xAxis
        y1 = this.rankData[0].data
        if(this.rankData[1]){
          x2 = this.rankData[1].xAxis
          y2 = this.rankData[1].data
        }else{
          x2 = []
          y2 = []
        }
      } else { // 获取的后五的数据
        x1 = this.rankData[2].xAxis
        y1 = this.rankData[2].data
        if(this.rankData[3]){
          x2 = this.rankData[3].xAxis
          y2 = this.rankData[3].data
        }else{
          x2 = []
          y2 = []
        }
      }
      this.getEcharts(x1,y1,x2,y2)
    },
    getEcharts (x1,y1,x2,y2) {
      let garbageEchart1 = echart.init(document.getElementById('garbageEchart1'));
      let garbageEchart2 = echart.init(document.getElementById('garbageEchart2'));
      let garbageEchart3 = echart.init(document.getElementById('garbageEchart3'));
      let garbageEchart4 = echart.init(document.getElementById('garbageEchart4'));
      let option1 = {
        tooltip: {},
        color:['#178cd2'],
        xAxis: [
          {
            type: 'category',
            data: x1,
            axisTick: {
              show: false
            },
            axisLine:{
              lineStyle:{
                type:'solid',
                color:'#23cefd',
                width:.5
              }
            },
            axisLabel:{
              textStyle:{
                fontSize: '65%',
                color:'#01a4e2'
              },
              rotate:-40
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name:'人数',
            nameTextStyle:{
              fontSize:'75%',
            },
            axisLine:{
              lineStyle:{
                type:'solid',
                color:'#23cefd',
                width:.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle:{
                color: '#33394f',
                width: .5,
                type: 'solid'
              }
            },
            axisLabel:{
              textStyle:{
                fontSize: '65%',
                color:'#01a4e2'
              }
            }
          }
        ],
        // yAxis: {},
        series: [{
          name: '销量',
          type: 'bar',
          data: y1,
        }]
      };
      let option2 = {
        // title: {
        //   text: 'ECharts 入门示例'
        // },
        tooltip: {},
        // legend: {
        //   data:['销量']
        // },
        color:['#d19539'],
        // xAxis: {
        //   data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"],
        // },
        // yAxis: {},
        xAxis: [
          {
            type: 'category',
            data: x2,
            axisTick: {
              show: false
            },
            axisLine:{
              lineStyle:{
                type:'solid',
                color:'#23cefd',
                width:.5
              }
            },
            axisLabel:{
              textStyle:{
                fontSize: '65%',
                color:'#01a4e2'
              },
              rotate:-40
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name:'人数',
            nameTextStyle:{
              fontSize:'75%',
            },
            axisLine:{
              lineStyle:{
                type:'solid',
                color:'#23cefd',
                width:.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle:{
                color: '#33394f',
                width: .5,
                type: 'solid'
              }
            },
            axisLabel:{
              textStyle:{
                fontSize: '65%',
                color:'#01a4e2'
              }
            }
          }
        ],
        series: [{
          name: '销量',
          type: 'bar',
          data: y2,
        }]
      };
      let option3 = {
        // title: {
        //   text: "基础雷达图"
        // },
        tooltip: {},
        // legend: {
        //   data: ["Allocated Budget", "Actual Spending"]
        // },
        color:['#178cd2'],
        radar: {
          indicator: this.avgRankData[0].indicator
        },
        series: [{
          name: "小区每户平均垃圾清运量",
          type: "radar",
          data: this.avgRankData[0].data,
          areaStyle: {
            color: "#178cd2"
          }
        }]
      }
      let option4 = {
        // title: {
        //   text: '基础雷达图'
        // },
        tooltip: {},
        // legend: {
        //   data: ['预算分配（Allocated Budget）', '实际开销（Actual Spending）']
        // },
        color: ['#d19539'],
        radar: {
          indicator: this.avgRankData[1].indicator
        },
        series: [{
          name: "小区每户平均垃圾清运量",
          type: "radar",
          data: this.avgRankData[1].data,
          areaStyle: {
            color: "#d19539"
          }
        }]
      };
      garbageEchart1.setOption(option1);
      garbageEchart2.setOption(option2);
      garbageEchart3.setOption(option3);
      garbageEchart4.setOption(option4);
      garbageEchart1.on('click', (item) => { // 干垃圾
        let params = {
          districtName:item.name,
          type:1 // 垃圾类型 1=干垃圾 0=湿垃圾
        }
        this.$store.dispatch('getBarbageLine',params)
        this.$store.commit('GARBAGE_TREND_VISIBLE',true)
      })
      garbageEchart2.on('click', (item) => { // 湿垃圾
        console.log(item)
        let params = {
          districtName:item.name,
          type:0 // 垃圾类型 1=干垃圾 0=湿垃圾
        }
        this.$store.dispatch('getBarbageLine',params)
        this.$store.commit('GARBAGE_TREND_VISIBLE',true)
      })
    }
  },

  mounted(){
    let x1,y1,x2,y2
    x1 = this.rankData[0].xAxis
    y1 = this.rankData[0].data
    if(this.rankData[1]){
      x2 = this.rankData[1].xAxis
      y2 = this.rankData[1].data
    }else{
      x2 = []
      y2 = []
    }
    
    this.getEcharts(x1,y1,x2,y2)
    console.log(this.rankData)
  },
  watch:{
    rankData (newval, oldval) {
      let x1,y1,x2,y2
      x1 = newval[0].xAxis
      y1 = newval[0].data
      if(this.rankData[1]){
        x2 = this.rankData[1].xAxis
        y2 = this.rankData[1].data
      }else{
        x2 = []
        y2 = []
      }
      this.getEcharts(x1,y1,x2,y2)
    }
  },
  computed:{ ...mapState({
      avgRankData:state=>state.sanlinecharts.avgRankData,
      rankData:state=>state.sanlinecharts.rankData,
    }),
    ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/garbagetable.less";
</style>
