<template>
  <div class='popTableList'>
      <div class="closeImg" @click="closeZaoyin">
          <i class="el-icon-close chahao"></i>
      </div>
      <div class="popHeader">
          {{tableTitle}}
      </div>
      <div class="popContent">
          <div class="popContentheader">
              <div class="popContentheadercell" v-for="name in titleData" :key="name">{{name}}</div>
          </div>
          <div class="popContentContent" v-for="(item,index) in tableDataList" :key="index" @click="setPoint(item)">
            <div class="popContentContentcell"><div class="toolType" :title='item.portrait_name || item.place || item.address'>{{item.portrait_name || item.place || item.address}}</div></div>
            <div class="popContentContentcell" v-if="zaoyinTableVisible"><div class="toolType" :title='item.createTimeFmt'>{{item.createTimeFmt}}</div></div>
            <div class="popContentContentcell" v-else><div class="toolType" :title='item.createTimeStr || item.dateFmt'>{{item.createTimeStr || item.dateFmt}}</div></div>

            <div class="popContentContentcell"><div class="toolType" :title='item.cam_position || item.threshold || item.currentDecibel'>{{item.cam_position || item.threshold || item.currentDecibel}}</div></div>
            <div class="popContentContentcell"><div class="toolType" :title='item.scorePercent || item.current || item.pushTarget'>{{item.scorePercent || item.current || item.pushTarget}}</div></div>
          </div>
      </div>
      <div class="popBottom">
         <el-pagination
              :small="isScreen"
              @current-change="handleCurrentChange"
              :current-page="currentPage4"
              layout="total, prev, pager, next, jumper"
              :total="pageData.total">
         </el-pagination>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        titleData: [],
        isScreen:false,
        currentPage4: 1,
    }
  },
  props: ['tableTitle', 'tableDataList', 'pageData','period'],
  methods:{ ...mapMutations([]),
    closeZaoyin(){
      if (this.renkoumiduTableVisible) {
        this.$store.commit('RENKOUMIDUTABLEVISIBLEV3',false)
      } else if (this.zaoyinTableVisible){
        this.$store.commit('ZAOYINTABLEVISIBLE',false)
      } else {
        this.$store.commit('WEIKAKOUTABLEVISIBLE',false)
      }

    },
    setPoint(item){
      if (this.renkoumiduTableVisible || this.zaoyinTableVisible) {
        return false
      } else {
        const params = {
          portraitId: item.portrait_id,
        }
        if (this.weikakouPeopleType === 3606 || this.weikakouPeopleType === 3607) {
          params.id = item.id
        }
        this.$store.dispatch('getZhuapaiPoints', params)
      }
    },
    handleCurrentChange(val) {
      let start = 0
      if (val !== 1) {
        start = 10 * (val-1)
      }
      const params = {count: 10,start: start,type: this.weikakouPeopleType}
      if (this.renkoumiduTableVisible) {
        this.$store.dispatch('getRenqunMiduList',{start: start,count: 10,period: this.period})
      } else if (this.zaoyinTableVisible){
        this.$store.dispatch('getVoiceList',{start: start,count: 10, period: this.period})
      } else {
        this.$store.dispatch('getWeikakouList',params)
      }
    }
  },

  mounted(){
      if(document.body.clientWidth<1920){
          this.isScreen = true
      }
      if (this.renkoumiduTableVisible) {
        this.titleData = ['告警位置','推送时间', '阈值', '实际监测值']
      } else if (this.zaoyinTableVisible){
        this.titleData = ['告警位置','推送时间','实际监测值','推送对象']
      } else {
        this.titleData = ['姓名','告警时间','推送位置','相似度']
      }
  },
  watch:{},
  computed:{
    ...mapState({
      weikakouPeopleType: state=>state.sanlinecharts.weikakouPeopleType,
      weikakouPeopleTypeName: state=>state.sanlinecharts.weikakouPeopleTypeName,
      renkoumiduTableVisible: state => state.sanlinerqiV3.renkoumiduTableVisible,
      zaoyinTableVisible: state => state.sanlinecharts.zaoyinTableVisible,
    }),
    ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/popContainer.less';
@import '~@/assets/less/global.less';
</style>
<style lang="less">
.el-pagination{
    padding: 0 !important;
}
.el-pagination button{
    min-width: 2rem;
    height: 1.75rem;
    line-height: 1.75rem;
}
.el-pagination button:disabled{
    background: rgba(255, 255, 255, 0.1);
    color: #aaa;
}
.el-pagination .btn-next{
    background:  rgba(255, 255, 255, 0.1);
    color: white;
}
.el-pager li{
    height: 1.75rem;
    line-height: 1.75rem;
    background:  rgba(255, 255, 255, 0.1);
    color: white;
}
.el-pager .more::before{
    line-height: 1rem !important;
}
.el-pager li.btn-quicknext{
    line-height: 1.75rem;
    color: white;
}
.el-pagination .btn-prev{
    background:  rgba(255, 255, 255, 0.1);
    color: white;
}
</style>

