<template>
    <popContainer :title='title'>
        <div class="w_100_percent" style="height:15rem;position:relative;">
           <!-- <div style="position:absolute:top:0;left:50%;color:#23cefd;">康达佳苑趋势图</div> -->
           <div style="width:100%;height:100%" ref='trendLine'></div>
        </div>
    </popContainer>

</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
import echart from "echarts";
export default {
  data() {
    return {
        title:'趋势图',
        graphLinedatas:{
            xAxis:[],
            data:{}
        },
      ecahrtData: {}
    }
  },
  props: ['titleName', 'xName', 'yName', 'xData', 'yData'],
  methods:{ ...mapMutations([]),
      gettrendLine(data){
          let myEchart = echart.init(this.$refs.trendLine)
          myEchart.setOption({
              xAxis: {
                  type: 'category',
                  name:'(月份)',
                  data: data.xAxis,
                  axisLine:{
                      lineStyle:{
                          type:'solid',
                          color:'#23cefd',
                          width:.5
                      }
                  },
              },
              grid: {
                  top:'14%',
                  left: '4%',
                  right: '10%',
                  bottom: '5%',
                  containLabel: true
              },
              yAxis: {
                  type: 'value',
                  name:data.series[0].name,
                  nameTextStyle:{
                      fontSize:'75%',
                  },
                  axisLine:{
                      lineStyle:{
                          type:'solid',
                          color:'#23cefd',
                          width:.5
                      }
                  },
                  splitLine: {
                      show: true,
                      lineStyle:{
                          color: '#33394f',
                          width: .5,
                          type: 'solid'
                      }
                  },
              },
              series: [{
                  data: data.series[0].data,
                  type: 'line',
                  smooth: true
              }]
          })
      }
  },

  mounted(){
      this.$nextTick(()=>{
        console.log('工单分析折线图', this.graphLinedata)
        console.log('垃圾分类折线图', this.garbageLineData)
      })
  },
  watch:{
      garbageLineData(newval,oldval){
        this.gettrendLine(newval)
      },
  },
  computed:{
    ...mapState({
      garbageLineData:state=>state.sanlinecharts.garbageLineData,
    }),
    ...mapGetters([])
  },
  components: {
      popContainer
  }
}
</script>

<style lang='less'>
@import '~@/assets/less/sanlin/dashchart.less';
</style>
