<template>
  <popContainer :title="zhuapaiDetail.warningPush.portraitDBName" v-if="warnPeoplepopVisible">
    <div class="h_lv2_title t_c line_h_lv2_title">
      <img
        :src="require('@/assets/images/sanlin/roundsquare2@2x.png')"
        alt=""
      />
      <span>人员信息</span>
    </div>
    <div class="w_100_percent bor_1_out padding_half">
      <div class="table_cell">
        <div class="cell_item">
          <div class="cell_title">姓名</div>
          <div class="cell_title">类型</div>
<!--          <div class="cell_title">性别</div>-->
<!--          <div class="cell_title">住址</div>-->
<!--          <div class="cell_title">电话</div>-->
        </div>
        <div class="cell_item">
          <div class="cell_con" :title="zhuapaiDetail.name">{{zhuapaiDetail.name}}</div>
          <div class="cell_con" :title="zhuapaiDetail.warningPush.portraitDBName">{{zhuapaiDetail.warningPush.portraitDBName}}</div>
<!--          <div class="cell_con">男</div>-->
<!--          <div class="cell_con">XXXXXXXXXXXXX</div>-->
<!--          <div class="cell_con">12345678901</div>-->
        </div>
      </div>
    </div>
    <div class="h_lv2_title t_c line_h_lv2_title margin_t_2rem">
      <img
        :src="require('@/assets/images/sanlin/roundsquare2@2x.png')"
        alt=""
      />
      <span>摄像头信息</span>
    </div>
    <div class="w_100_percent bor_1_out padding_half">
      <div class="">
        <div class="table_cell">
          <div class="cell_item">
            <div class="cell_title">识别时间</div>
            <div class="cell_title">相似率</div>
          </div>
          <div class="cell_item">
            <div class="cell_con textEllipsis">{{zhuapaiDetail.warningPush.createTimeStr}}</div>
            <div class="cell_con">{{zhuapaiDetail.warningPush.scorePercent}}</div>
          </div>
          <div class="cell_item">
            <div class="cell_title">识别位置</div>
<!--            <div class="cell_title">轨迹</div>-->
            <div class="cell_title"></div>
          </div>
          <div class="cell_item">
            <div class="cell_con textEllipsis">{{zhuapaiDetail.warningPush.cam_position}}</div>
<!--            <div class="cell_con">点击查看轨迹</div>-->
            <div class="cell_con"></div>
          </div>
        </div>
        <div class="h_12rem w_100_percent margin_t_1rem cell_img">
          <div class="cell_itemImg_k">
            <el-image class="cell_itemImg" :src="configLists.faceServerHost + '/' + zhuapaiDetail.warningPush.portrait_url"></el-image>
            <div class="t_c">原始照片</div>
          </div>
          <div class="cell_itemImg_k">
            <el-image class="cell_itemImg" :src="configLists.faceServerHost + '/' + zhuapaiDetail.warningPush.passerby_url"></el-image>
            <div class="t_c">抓拍照片</div>
          </div>
        </div>
      </div>
    </div>
  </popContainer>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
export default {
  data() {
    return {
      title: "重点人员"
    };
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      warnPeoplepopVisible: (state) => state.sanlinecharts.warnPeoplepopVisible,
      zhuapaiDetail: (state) => state.sanlinecharts.zhuapaiDetail,
      configLists: (state) => state.sanlinecharts.configLists
    }),
    ...mapGetters([])
  },
  components: {
    popContainer
  }
};
</script>

<style lang='less'>
@import "~@/assets/less/sanlin/dashchart.less";
</style>
