<template>
    <popContainer :title='title' v-if="weikakoupopVisible">
        <div class="h_lv2_title t_c line_h_lv2_title">
            <img :src="require('@/assets/images/sanlin/roundsquare2@2x.png')" alt="">
            <span>卡口信息</span>
        </div>
        <div class="w_100_percent bor_1_out">
            <div class="table_cell padding_half">
                <div class="cell_item">
                    <div class="cell_title">地址</div>
                    <div class="cell_title">摄像头数量</div>
                </div>
                <div class="cell_item">
                    <div class="cell_con" :title='weikakouDetail.deptName'>{{weikakouDetail.deptName}}</div>
                    <div class="cell_con" :title="weikakouDetail.cameras.length">{{weikakouDetail.cameras.length}}</div>
                </div>
            </div>
        </div>
        <div class="h_lv2_title t_c line_h_lv2_title margin_t_2rem">
            <img :src="require('@/assets/images/sanlin/roundsquare2@2x.png')" alt="">
            <span>摄像头信息</span>
        </div>
        <div class="w_100_percent">
            <div class="popContentheader">
                <div class="popContentheadercell">摄像头位置</div>
                <div class="popContentheadercell">摄像头类型</div>
                <div class="popContentheadercell">抓拍图片</div>
            </div>
            <div class="popContentContent" v-for="(item,index) in weikakouDetail.cameras" :key="index">
                <div class="popContentContentcell" :title="item.position">{{item.position}}</div>
                <div class="popContentContentcell" :title="item.capTypeStr">{{item.capTypeStr}}</div>
                <div class="popContentContentcell" @click="openPics(item.id)">查看抓拍图片</div>
            </div>
        </div>
    </popContainer>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
export default {
  data() {
    return {
        title:'微卡口',
    }
  },
  methods:{
    openPics(cameraId) {
      const params = {
        count: 10,
        start: 0,
        cameraId: cameraId // 相机的id
      }
      localStorage.cameraId = cameraId
      this.$store.dispatch('getImagesList', params)
    },
    ...mapMutations([])},

  mounted(){

  },
  watch:{},
  computed:{ ...mapState({
      weikakoupopVisible:state=>state.sanlinecharts.weikakoupopVisible,
      weikakouDetail:state=>state.sanlinecharts.weikakouDetail
  }),
  ...mapGetters([])

  },
  components: {
      popContainer
  }
}
</script>

<style lang='less'>
@import '~@/assets/less/sanlin/dashchart.less';
</style>
