<template>
  <popContainer :title='title' v-if="zhuapaipopVisible">
    <div class="img-box">
      <div class="img-box-list">
        <div class="img-item" v-for="item in imageList" :key="item.id">
          <div class="photoBox"><img style="width: 100%;height: 100%;" :src="configLists.faceServerHost +'/' + item.passerby_url" alt=""></div>
          <div class="desc-box">
            <div class="desc">
              <div>{{item.createTimeStr.substring(11,19)}}</div>
              <div>{{item.createTimeStr.substring(0,10)}}</div>
            </div>
          </div>
        </div>
      </div>
      <el-pagination
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-size="10"
          layout="total, prev, pager, next, jumper"
          :total=imageListPagination.total>
      </el-pagination>
    </div>
  </popContainer>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
export default {
  data() {
    return {
      title:'设备监测量',
      currentPage: 1
    }
  },
methods:{
  handleCurrentChange(val) {
    let start = 0
    if (val !== 1) {
      start = 10 * (val-1)
    }
    this.$store.dispatch('getImagesList', {start: start,count: 10,cameraId: localStorage.cameraId})
  },
  ...mapMutations([])},

mounted(){

},
watch:{},
computed:{ ...mapState({
    zhuapaipopVisible:state=>state.sanlinecharts.zhuapaipopVisible,
    imageList:state=>state.sanlinecharts.imageList,
    imageListPagination:state=>state.sanlinecharts.imageListPagination,
    configLists:state=>state.sanlinecharts.configLists

}),
...mapGetters([])

},
  components: {
      popContainer
  },
  filters: {
    getName(name) {
      let typeName = ''
      switch (name) {
        case 1:
          typeName = '正常'
          break;
        case 2:
          typeName = '不正常'
          break;
        case 3:
          typeName = '报警'
          break;
        default:
          break;
      }
      return typeName
    }
  }
}
</script>

<style lang='less'>
@import '~@/assets/less/sanlin/dashchart.less';
/deep/ .el-pagination{
  width: 100%;
}
</style>
