<template>
  <div class="basic-info">
    <div class="basic-info-header">
      <div class="img-container">
        <img src="~@/assets/images/lingang/biaotikuang@2x.png" alt="" />
        <span class="title">{{basicInfoTitle}}</span>
      </div>
    </div>
    <div class="basic-info-inner">
      <div class="basic_info_content">
        <basicInfoStatistics v-if="basicInfoVisible"></basicInfoStatistics>
        <qiyeList v-if="qiyeListVisible"></qiyeList>
        <zhishouPowerlist v-if="zhishoulistVisile"></zhishouPowerlist>
      </div>
      <div class="left-top"></div>
      <div class="right-top"></div>
      <div class="left-bottom"></div>
      <div class="right-bottom"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import basicInfoStatistics from '@/components/lingang/basicInfo/basicInfoStatistics.vue'
import qiyeList from '@/components/lingang/basicInfo/qiyeList.vue'
import zhishouPowerlist from '@/components/lingang/basicInfo/zhishouPowerlist.vue'
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {}, 
  filters: {},
  watch: {},
  computed: { 
    ...mapState({
      basicInfoVisible:state=>state.lingangVisible.basicInfoVisible,
      qiyeListVisible:state=>state.lingangVisible.qiyeListVisible,
      zhishoulistVisile:state=>state.lingangVisible.zhishoulistVisile,
      basicInfoTitle:state=>state.lingangbasicInfo.basicInfoTitle,
    }), 
    ...mapGetters([]) },
  components: {
    basicInfoStatistics,
    qiyeList,
    zhishouPowerlist
  }
};
</script>

<style lang="less" scoped>
.basic-info {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  .basic-info-header {
    height: 23px;
    text-align: center;
    top: 4px;
    position: relative;
    .img-container {
      position: relative;
      height: 100%;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 30;
        width: 10rem;

      }
      .title {
        z-index: 31;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: -0.4rem;
        bottom: 0;
        margin: auto;
        font-size: 1.5rem;
      }
    }
  }
  .basic-info-inner {
    position: relative;
    border: 2px solid #2a7cf5;
    width: 100%;
    height: calc(100% - 23px);
    .basic_info_content{
      width: 100%;
      height: 100%;
      background: url(../../assets/images/lingang/wangge-1@2x.png) no-repeat;
      background-size: 100% 100%;

    }
    .left-top {
      height: 28px;
      width: 28px;
      border-top: 2px solid #59bdf7;
      border-left: 2px solid #59bdf7;
      position: absolute;
      top: -3px;
      left: -3px;
    }
    .right-top {
      height: 28px;
      width: 28px;
      border-top: 2px solid #59bdf7;
      border-right: 2px solid #59bdf7;
      position: absolute;
      top: -3px;
      right: -3px;
    }
    .left-bottom {
      height: 28px;
      width: 28px;
      border-bottom: 2px solid #59bdf7;
      border-left: 2px solid #59bdf7;
      position: absolute;
      bottom: -3px;
      left: -3px;
    }
    .right-bottom {
      height: 28px;
      width: 28px;
      border-bottom: 2px solid #59bdf7;
      border-right: 2px solid #59bdf7;
      position: absolute;
      bottom: -3px;
      right: -3px;
    }
  }
}
</style>
