<template>
    <div class="basic-info">
        <div class="basic-info-header">
            <div class="img-container">
                <img src="~@/assets/images/lingang/biaotikuang@2x.png" alt="" />
                <span class="title">城域状态</span>
            </div>
        </div>
        <div class="basic-info-inner">
            <div class="left-top"></div>
            <div class="right-top"></div>
            <div class="left-bottom"></div>
            <div class="right-bottom"></div>
            <!-- <datePicker class="picker"></datePicker> -->
            <div class="timeSelect">
                <timeSelect :timetype='timetype' @changeNode="getSelectNode"></timeSelect>
            </div>
            <div class="city-state">
                <div class="item-slice" @click="itemClick('井盖监测')">
                    <div class="item-slice-inner">
                        <div class="img-container">
                            <img src="~@/assets/images/lingang/jinggaijiance@2x.png" alt="" />
                        </div>
                        <div class="counter-container">
                            <span class="count"><numberJump :numJump="cityState.threeChaos"></numberJump></span>
                            <span class="content">件</span>
                        </div>
                        <div class="title-container"><span>井盖监测</span></div>
                    </div>
                </div>
                <div class="item-slice" @click="itemClick('高空抛物')">
                    <div class="item-slice-inner">
                        <div class="img-container">
                            <img src="~@/assets/images/lingang/gaokongpaowu@2x.png" alt="" />
                        </div>
                        <div class="counter-container">
                            <span class="count"><numberJump :numJump='cityState.illegalConstruction'></numberJump></span>
                            <span class="content">件</span>
                        </div>
                        <div class="title-container"><span>高空抛物</span></div>
                    </div>
                </div>
                <div class="item-slice" @click="itemClick('消防报警')">
                    <div class="item-slice-inner">
                        <div class="img-container">
                            <img src="~@/assets/images/lingang/xiaofangbaojing@2x.png" alt="" />
                        </div>
                        <div class="counter-container">
                            <span class="count"><numberJump :numJump='cityState.moveCarHelp'></numberJump></span>
                            <span class="content">件</span>
                        </div>
                        <div class="title-container"><span>消防报警</span></div>
                    </div>
                </div>
                <div class="item-slice" @click="itemClick('消防占道')">
                    <div class="item-slice-inner">
                        <div class="img-container">
                            <img src="~@/assets/images/lingang/xiaofangweiting@2x.png" alt="" />
                        </div>
                        <div class="counter-container">
                            <span class="count"><numberJump :numJump='cityState.exposedGarbage'></numberJump></span>
                            <span class="content">件</span>
                        </div>
                        <div class="title-container"><span>消防占道</span></div>
                    </div>
                </div>
                <div class="item-slice" @click="itemClick('电瓶车管理')">
                    <div class="item-slice-inner">
                        <div class="img-container">
                            <img src="~@/assets/images/lingang/dianpingche@2x.png" alt="" />
                        </div>
                        <div class="counter-container">
                            <span class="count"><numberJump :numJump='cityState.noisePollution'></numberJump></span>
                            <span class="content">件</span>
                        </div>
                        <div class="title-container"><span>电瓶车管理</span></div>
                    </div>
                </div>
                <div class="item-slice" @click="itemClick('微型消防站')">
                    <div class="item-slice-inner">
                        <div class="img-container">
                            <img src="~@/assets/images/lingang/xiaofnagzhan@2x.png" alt="" />
                        </div>
                        <div class="counter-container">
                            <span class="count"><numberJump :numJump='cityState.cdcPesticide'></numberJump></span>
                            <span class="content">件</span>
                        </div>
                        <div class="title-container"><span>微型消防站</span></div>
                    </div>
                </div>
<!--                <div class="item-slice" @click="itemClick('群组')">-->
<!--                    <div class="item-slice-inner">-->
<!--                        <div class="img-container">-->
<!--                            <img src="~@/assets/images/lingang/qunzu@2x.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="counter-container">-->
<!--                            <span class="count"><numberJump :numJump='cityState.groupRent'></numberJump></span>-->
<!--                            <span class="content">件</span>-->
<!--                        </div>-->
<!--                        <div class="title-container"><span>群 租</span></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-slice" @click="itemClick('住房保障')">-->
<!--                    <div class="item-slice-inner">-->
<!--                        <div class="img-container">-->
<!--                            <img src="~@/assets/images/lingang/zhufang@2x.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="counter-container">-->
<!--                            <span class="count"><numberJump :numJump='cityState.housingSecurity'></numberJump></span>-->
<!--                            <span class="content">件</span>-->
<!--                        </div>-->
<!--                        <div class="title-container"><span>住房保障</span></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-slice" @click="itemClick('疫情')">-->
<!--                    <div class="item-slice-inner">-->
<!--                        <div class="img-container">-->
<!--                            <img src="~@/assets/images/lingang/yiqing@2x.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="counter-container">-->
<!--                            <span class="count"><numberJump :numJump='cityState.epidemicSituation'></numberJump></span>-->
<!--                            <span class="content">件</span>-->
<!--                        </div>-->
<!--                        <div class="title-container"><span>疫 情</span></div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from "vuex";
  import datePicker from "@/components/lingang/datePicker";
  import numberJump from '@/components/lingang/numberJumper.vue'
  import timeSelect from "../lingang/timerSelect"
  import Vue from "vue"

  export default {
    data() {
      return {
        sanluanNumber:10,
        jianzhuNumber: 0,
        nuocheNumber: 0,
        lajiNumber: 160,
        zaoyinNumber: 0,
        fangyiNumber: 0,
        qunzuNumber: 60,
        zhufangNumber: 60,
        yiqingNumber: 3,
        timeValue:6,
        timetype:''
      };
    },
    methods: {
      getData(){
        let params = {
          times:3,
          districtId:Vue.ls.get('districtId')
        }
        this.$store.dispatch("cityState",params);
      },
      itemClick(infoatname){
        let params = {
          infoatname:infoatname,
          times:this.timeValue,
          districtId:Vue.ls.get('districtId')
        }
        this.$store.dispatch("findMetroPoint",params);
      },
      getSelectNode(data){
        this.timeValue = data;
        let params = {
          times:data,
          districtId:Vue.ls.get('districtId')
        }
        this.$store.dispatch("cityState",params);
        console.log(data);
      },
      ...mapMutations([]) },

    mounted() {
      this.getData();
    },
    filters: {},
    watch: {},
    computed: { ...mapState({
        cityState:state => state.lingangCityState.cityState
      }), ...mapGetters([]) },
    components: { datePicker,numberJump ,timeSelect}
  };
</script>

<style lang="less" scoped>
    .basic-info {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 3px;
        .basic-info-header {
            height: 23px;
            text-align: center;
            top: 4px;
            position: relative;
            .img-container {
                position: relative;
                height: 100%;
                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 30;
                    width: 10rem;
                }
                .title {
                    z-index: 31;
                    color: white;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -0.4rem;
                    bottom: 0;
                    margin: auto;
                    font-size: 1.5rem;
                }
            }
        }
        .basic-info-inner {
            background-image: url("~@/assets/images/lingang/wangge-1@2x.png");
            position: relative;
            .timeSelect{
                position: absolute;
                top: 5px;
                right: 5px;
                height: 5px;
                width: 85px;
            }
            .picker {
                position: absolute;
                right: 5px;
                top: 5px;
            }
            .city-state {
                height: 85%;
                width: 95%;
                // background-color: red;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                .item-slice {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    .item-slice-inner {
                        cursor: pointer;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 65%;
                        .img-container {
                            height: 4rem;
                            width: 4.5rem;
                            text-align: center;
                            img {
                                height: 100%;
                                // width: 100%;
                                
                            }
                        }
                        .title-container {
                            color: #80f6fc;
                            font-size: 1.2rem;
                            margin-top: 0.3rem;
                        }
                        .counter-container {
                            .count {
                                font-size: 30px;
                                color: #fae958;
                                display: inline;
                            }
                            .content {
                                font-size: 17px;
                                color: #55aaf6;
                                display: inline;
                            }
                        }
                    }
                }
            }
            position: relative;
            border: 2px solid #2a7cf5;
            width: 100%;
            height: calc(100% - 23px);

            .left-top {
                height: 28px;
                width: 28px;
                border-top: 2px solid #59bdf7;
                border-left: 2px solid #59bdf7;
                position: absolute;
                top: -3px;
                left: -3px;
            }
            .right-top {
                height: 28px;
                width: 28px;
                border-top: 2px solid #59bdf7;
                border-right: 2px solid #59bdf7;
                position: absolute;
                top: -3px;
                right: -3px;
            }
            .left-bottom {
                height: 28px;
                width: 28px;
                border-bottom: 2px solid #59bdf7;
                border-left: 2px solid #59bdf7;
                position: absolute;
                bottom: -3px;
                left: -3px;
            }
            .right-bottom {
                height: 28px;
                width: 28px;
                border-bottom: 2px solid #59bdf7;
                border-right: 2px solid #59bdf7;
                position: absolute;
                bottom: -3px;
                right: -3px;
            }
        }
    }
</style>
