<template>
  <div class="date-picker-container">
    <div class="left-top"></div>
    <div class="right-top"></div>
    <div class="left-bottom"></div>
    <div class="right-bottom"></div>
    <svg
      t="1615451759597"
      class="icon react"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="2182"
      width="13"
      height="13"
    >
      <path
        d="M234.88884163 377.47806845l279.65492248 279.65492248 278.8075161-278.8075161z"
        p-id="2183"
        fill="#7dfbfb"
      ></path>
    </svg>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.date-picker-container {
  background-color: red;
  height: 22px;
  width: 67px;
  position: relative;
  //   background-color: #7dfbfb;
  background-color: rgba(125, 251, 251, 0.2);
  z-index: 99;
  //   opacity: 0.2;
  .left-top {
    position: absolute;
    height: 6px;
    width: 6px;
    border-top: 2px solid #7dfbfb;
    border-left: 2px solid #7dfbfb;
    top: -1px;
    left: -1px;
    z-index: 99;
  }
  .right-top {
    position: absolute;
    height: 6px;
    width: 6px;
    border-top: 2px solid #7dfbfb;
    border-right: 2px solid #7dfbfb;
    top: -1px;
    right: -1px;
    z-index: 99;
  }
  .left-bottom {
    position: absolute;
    height: 6px;
    width: 6px;
    border-bottom: 2px solid #7dfbfb;
    border-left: 2px solid #7dfbfb;
    bottom: -1px;
    left: -1px;
    z-index: 99;
  }
  .right-bottom {
    position: absolute;
    height: 6px;
    width: 6px;
    border-right: 2px solid #7dfbfb;
    border-bottom: 2px solid #7dfbfb;
    right: -1px;
    bottom: -1px;
    z-index: 99;
  }
  
}
</style>
