<template>
  <div class="dialog-bg">
    <div class="dialog-container">
      <div class="dialog-header">
        <img src="../../assets/images/lingang/guanbi-2@2x.png" @click="closeDialog" class="close-button" alt="">
        {{dialogTitle}}
      </div>
      <div class="dialog-body">
        <slot  :name="dialogName"></slot >
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
    };
  },
  props: [],
  methods: { ...mapMutations([]),
    closeDialog () {
        this.$store.commit('CONTROL_DIALOG', false)
    }
  },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({
      dialogName: state => state.datasLibrary.dialogName,
      dialogTitle: state => state.datasLibrary.dialogTitle,
    }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/lingang/dialogs.less";
</style>
