<template>
  <div class="basic-info">
    <div class="basic-info-header">
      <div class="img-container" @click="changeTabs('order')">
        <img src="~@/assets/images/lingang/biaotikuang@2x.png" alt="" />
        <span :class="[tabs == 'order' ? 'title-light' : 'title-gray']"
          >数字工单</span
        >
      </div>
      <div class="img-container" @click="changeTabs('sanhui')">
        <img src="~@/assets/images/lingang/biaotikuang@2x.png" alt="" />
        <span :class="[tabs == 'sanhui' ? 'title-light' : 'title-gray']"
          >三会</span
        >
      </div>
    </div>
    <div class="basic-info-inner">
      <div class="left-top"></div>
      <div class="right-top"></div>
      <div class="left-bottom"></div>
      <div class="right-bottom"></div>
      <div class="timeSelect">
        <timeSelect
          :timetype="timetype"
          @changeNode="getSelectNode"
        ></timeSelect>
      </div>
      <div class="sanhui-box" v-if="tabs == 'sanhui'">
        <div class="box-right">
          <div class="titleBox">
            <div class="child-title" style="flex:1.5">发布时间</div>
            <div class="child-title" style="flex:1">会议主题</div>
            <div class="child-title" style="flex:1">发起人</div>
            <div class="child-title" style="flex:1">参与人</div>
            <div class="child-title" style="flex:1">状态</div>
          </div>
          <div class="dataBox">
            <swiper
              :options="swiperOption"
              ref="mySwiper"
              style="width:100%;height:17rem;overflow:hidden;"
            >
              <swiper-slide
                class="table"
                v-for="item in tableData_sanhui"
                :key="item.id"
                @click.native="sanhuiDetail(item)"
              >
                <div class="child-data" style="flex:1.5">
                  {{ item.timeFrom }}
                </div>
                <el-tooltip
                  class="item"
                  effect="light"
                  :content="item.title"
                  placement="top"
                >
                  <div class="child-data" style="flex:1">{{ item.title }}</div>
                </el-tooltip>

                <div class="child-data" style="flex:1">{{ item.convener }}</div>
                <el-tooltip
                  class="item"
                  effect="light"
                  :content="item.attendeeUserList"
                  placement="top"
                >
                  <div class="child-data" style="flex:1">
                    {{ item.attendeeUserList}}
                  </div>
                </el-tooltip>
                <div class="child-data" style="flex:1">
                  {{ item.meetingStatus.desc }}
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
      <div class="number-order-box" ref="box" v-if="tabs == 'order'">
        <div class="box-left">
          <div
            class="statistic"
            v-if="
              pre == '上周统计' ||
                pre == '上月统计' ||
                pre == '上季统计' ||
                pre == '上年统计'
            "
          >
            <div class="name">{{ pre }}</div>
            <div class="count">
              <div class="number">
                {{ eventList.lastMonthTaskCount }}
              </div>
              <div class="unit">件</div>
            </div>
          </div>
          <div class="statistic">
            <div class="name">{{ current }}</div>
            <div class="count">
              <!-- <div class="number">{{ eventList.totalTaskCount }}</div> -->
              <div class="number">5</div>
              <div class="unit">件</div>
            </div>
          </div>
        </div>
        <div class="diver-line"></div>
        <div class="box-right">
          <div class="titleBox">
            <div class="child-title" style="flex:1">来源</div>
            <div class="child-title" style="flex:1">工单名称</div>
            <div class="child-title" style="flex:1">发现时间</div>
            <div class="child-title" style="flex:1">地址</div>
            <div class="child-title" style="flex:1">处置部门</div>
            <div class="child-title" style="flex:1.5">状态</div>
          </div>
          <div class="dataBox">
            <swiper
              :options="swiperOption"
              ref="mySwiper"
              style="width:100%;height:17rem;overflow:hidden;"
            >
              <swiper-slide
                class="table"
                v-for="item in tableData_gongdan"
                :key="item.id"
                @click.native="orderDetail(item)"
              >
                <div class="child-data" style="flex:1">
                  {{ item.source.desc }}
                </div>
                <div class="child-data" style="flex:1">
                  {{ item.policyName }}
                </div>
                <el-tooltip
                  class="item"
                  effect="dark"
                  :content="item.createTime"
                  placement="top"
                >
                  <div class="child-data" style="flex:1">
                    {{ item.createTime  }}
                  </div>
                </el-tooltip>
                <el-tooltip
                  class="item"
                  effect="dark"
                  :content="item.targetAddress"
                  placement="top"
                >
                  <div class="child-data" style="flex:1">
                    {{ item.targetAddress  }}
                  </div>
                </el-tooltip>

                <div class="child-data" style="flex:1">
                  {{ item.deptNameList }}
                </div>
                <div class="child-data" style="flex:1.5">
                  <img
                    src="@/assets/images/lingang/jindutiao-1@2x.png"
                    alt=""
                    class="jindutiao"
                    v-if="item.status == 1"
                  />
                  <img
                    src="@/assets/images/lingang/jindutiao-2@2x.png"
                    alt=""
                    class="jindutiao"
                    v-if="item.status == 2"
                  />
                  <img
                    src="@/assets/images/lingang/jindutiao-3@2x.png"
                    alt=""
                    class="jindutiao"
                    v-if="item.status == 3"
                  />
                  <img
                    src="@/assets/images/lingang/jindutiao-3@2x.png"
                    alt=""
                    class="jindutiao"
                    v-if="item.status == 4"
                  />
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import timeSelect from "../lingang/timerSelect";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";
import Vue from "vue";
export default {
  filters: {
    ellipsis(value) {
      if (!value) return "";
      if (value.length > 5) {
        return value.slice(0, 5) + "...";
      }
      return value;
    }
  },
  data() {
    return {
      tabs: "order",
      timetype: "flow",
      swiperOption: {
        slidesPerView: 5, //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: false,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 3200,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel: true,
        mousewheelControl: true,
        height: 230,
        centeredSlides: false // 是否居中显示
      },
      current: "本月统计",
      pre: "上月统计",
      tableData_gongdan:[
        {
          id:1,
          source:{
            desc:'12345热线'
          },
          policyName:'垃圾未分类',
          createTime:'02-10 18:35:17',
          targetAddress:"建设路548号",
          deptNameList:"城管",
          status:2
        },
        {
          id:2,
          source:{
            desc:'AI智能发现'
          },
          policyName:'垃圾未分类',
          createTime:'02-09 10:55:45',
          targetAddress:"环湖西路258号",
          deptNameList:"派出所",
          status:1
        },
        {
          id:3,
          source:{
            desc:'主动上报'
          },
          policyName:'河道管理',
          createTime:'02-08 11:23:16',
          targetAddress:"塘下公路158号",
          deptNameList:"城管",
          status:3
        },
        {
          id:4,
          source:{
            desc:'AI智能发现'
          },
          policyName:'垃圾分类',
          createTime:'02-05 09:37:52',
          targetAddress:"申港大道1254号",
          deptNameList:"城管",
          status:3
        },
        {
          id:5,
          source:{
            desc:'AI智能发现'
          },
          policyName:'垃圾分类',
          createTime:'02-03 18:14:12',
          targetAddress:"方竹路247号",
          deptNameList:"城管",
          status:3
        },
         {
          id:6,
          source:{
            desc:'12345热线'
          },
          policyName:'垃圾未分类',
          createTime:'02-10 18:35:17',
          targetAddress:"建设路548号",
          deptNameList:"城管",
          status:2
        },
        {
          id:7,
          source:{
            desc:'AI智能发现'
          },
          policyName:'垃圾未分类',
          createTime:'02-09 10:55:45',
          targetAddress:"环湖西路258号",
          deptNameList:"派出所",
          status:1
        },
        {
          id:8,
          source:{
            desc:'主动上报'
          },
          policyName:'河道管理',
          createTime:'02-08 11:23:16',
          targetAddress:"塘下公路158号",
          deptNameList:"城管",
          status:3
        },
        {
          id:9,
          source:{
            desc:'AI智能发现'
          },
          policyName:'垃圾分类',
          createTime:'02-05 09:37:52',
          targetAddress:"申港大道1254号",
          deptNameList:"城管",
          status:3
        },
        {
          id:10,
          source:{
            desc:'AI智能发现'
          },
          policyName:'垃圾分类',
          createTime:'02-03 18:14:12',
          targetAddress:"方竹路247号",
          deptNameList:"城管",
          status:3
        }
      ],
      tableData_sanhui:[
        {
          timeFrom:'2-18 18:45:57',
          title:'垃圾未分类',
          convener:'潘森',
          attendeeUserList:"潘森、李飞、张强、王菲、李蒿楠",
          meetingStatus:{
            desc:"已完成"
          },
          id:1,
        },
        {
          timeFrom:'2-17 08:16:57',
          title:'违章停车',
          convener:'李婷婷',
          attendeeUserList:"李婷婷、钱立坤、张李丹、邹胡卡",
          meetingStatus:{
            desc:"已完成"
          },
          id:2,
        },
        {
          timeFrom:'2-17 15:48:14',
          title:'垃圾未分类',
          convener:'方平',
          attendeeUserList:"方平、郑明杰、马鑫、李双江",
          meetingStatus:{
            desc:"已完成"
          },
          id:3,
        },
        {
          timeFrom:'2-15 10:26:13',
          title:'违章停车',
          convener:'王建国',
          attendeeUserList:"王建国、相丽江、尚四、李太白",
          meetingStatus:{
            desc:"已完成"
          },
          id:4,
        },
        {
          timeFrom:'2-09 16:52:38',
          title:'违章停车',
          convener:'周冬雨',
          attendeeUserList:"周冬雨、秋冬湖、凯军",
          meetingStatus:{
            desc:"已完成"
          },
          id:5,
        },
         {
          timeFrom:'2-18 18:45:57',
          title:'垃圾未分类',
          convener:'潘森',
          attendeeUserList:"潘森、李飞、张强、王菲、李蒿楠",
          meetingStatus:{
            desc:"已完成"
          },
          id:6,
        },
        {
          timeFrom:'2-17 08:16:57',
          title:'违章停车',
          convener:'李婷婷',
          attendeeUserList:"李婷婷、钱立坤、张李丹、邹胡卡",
          meetingStatus:{
            desc:"已完成"
          },
          id:7,
        },
        {
          timeFrom:'2-17 15:48:14',
          title:'垃圾未分类',
          convener:'方平',
          attendeeUserList:"方平、郑明杰、马鑫、李双江",
          meetingStatus:{
            desc:"已完成"
          },
          id:8,
        },
         {
          timeFrom:'2-18 18:45:57',
          title:'垃圾未分类',
          convener:'潘森',
          attendeeUserList:"潘森、李飞、张强、王菲、李蒿楠",
          meetingStatus:{
            desc:"已完成"
          },
          id:9,
        },
        {
          timeFrom:'2-17 08:16:57',
          title:'违章停车',
          convener:'李婷婷',
          attendeeUserList:"李婷婷、钱立坤、张李丹、邹胡卡",
          meetingStatus:{
            desc:"已完成"
          },
          id:10,
        },
         {
          timeFrom:'2-17 15:48:14',
          title:'垃圾未分类',
          convener:'方平',
          attendeeUserList:"方平、郑明杰、马鑫、李双江",
          meetingStatus:{
            desc:"已完成"
          },
          id:11,
        },
         {
          timeFrom:'2-18 18:45:57',
          title:'垃圾未分类',
          convener:'潘森',
          attendeeUserList:"潘森、李飞、张强、王菲、李蒿楠",
          meetingStatus:{
            desc:"已完成"
          },
          id:12,
        },
        {
          timeFrom:'2-17 08:16:57',
          title:'违章停车',
          convener:'李婷婷',
          attendeeUserList:"李婷婷、钱立坤、张李丹、邹胡卡",
          meetingStatus:{
            desc:"已完成"
          },
          id:13,
        },
      ]
    };
  },
  methods: {
    getMeetingList(params) {
      this.$store.dispatch("meetingsList", params);
    },
    getEventList(params) {
      this.$store.dispatch("eventList", params);
    },
    changeTabs(type) {
      this.tabs = type;
    },
    sanhuiDetail(item) {
      item.popType = "SET_SANHUI_VISIBLE";
      this.$store.commit("ADD_MARKER", item);
      console.log("点击");
      // this.$store.commit('SET_SANHUI_VISIBLE',true);
    },
    orderDetail(item) {
      if (item.status == 2) {
        item.popType = "UN_SET_HOTLINE_VISIBLE";
      } else {
        item.popType = "SET_HOTLINE_VISIBLE";
      }

      this.$store.commit("ADD_MARKER", item);
      // this.$store.commit('SET_HOTLINE_VISIBLE',true);
    },
    getSelectNode(data) {
      let params = {
        districtId: Vue.ls.get("districtId"),
        type: data
      };
      this.getEventList(params);
      this.getMeetingList(params);
      console.log(data);
      switch (data) {
        case "1":
          this.pre = "昨天统计";
          this.current = "当天统计";
          break;
        case "2":
          this.pre = "上周统计";
          this.current = "本周统计";
          break;
        case "3":
          this.pre = "上月统计";
          this.current = "本月统计";
          break;
        case "4":
          this.pre = "上年统计";
          this.current = "当年统计";
          break;
        case "5":
          this.pre = "上季统计";
          this.current = "当季统计";
          break;
        case "6":
          this.pre = "全统计";
          this.current = "全部统计";
          break;
      }
    },
    ...mapMutations([])
  },

  mounted() {
    let params = {
      districtId: Vue.ls.get("districtId"),
      type: 3
    };
    this.getMeetingList(params);
    this.getEventList(params);
    // this.swiper.startAutoplay()
  },
  watch: {},
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
    ...mapState({
      meetingList: state => state.lingangflow.meetingsList,
      eventList: state => state.lingangflow.eventList
    }),
    ...mapGetters([])
  },
  components: {
    timeSelect,
    swiper,
    swiperSlide
  },
  directives: {
    swiper: directive
  }
};
</script>

<style lang="less" scoped>
.basic-info {
  height: 99%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.13rem;
  background: url("~@/assets/images/lingang/wangge-1@2x.png") no-repeat;
  background-size: 100% 100%;
  .basic-info-header {
    height: 1.3rem;
    text-align: center;
    top: 0.18rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .img-container {
      position: relative;
      height: 100%;
      width: 25%;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 30;
        width: 10rem;
        background-size: 100% 100%;
      }
      .title-light {
        z-index: 31;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: -0.4rem;
        bottom: 0;
        margin: auto;
        font-size: 1.5rem;
      }
      .title-gray {
        z-index: 31;
        color: #999999;
        position: absolute;
        left: 0;
        right: 0;
        top: -0.4rem;
        bottom: 0;
        margin: auto;
        font-size: 1.5rem;
      }
    }
  }
  .basic-info-inner {
    position: relative;
    border: 2px solid #2a7cf5;
    width: 100%;
    // background: brown;
    height: calc(100% - 23px);
    .timeSelect {
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      height: 0.3rem;
      width: 5.2rem;
    }
    .sanhui-box {
      padding: 1rem 0 0 0;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      .box-right {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 1.2rem;
        // overflow: hidden;
        .titleBox {
          height: 15%;
          width: 100%;
          // background: chartreuse;
          display: flex;
          flex-direction: row;
          .child-title {
            color: #70f7fd;
            text-align: center;
          }
        }
        .dataBox {
          height: 85%;
          // height: 480px;
          width: 100%;
          display: flex;
          flex-direction: column;
          // overflow: hidden;
          box-sizing: border-box;
          padding: 0 1rem;
          .table {
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .child-data {
              height: 60%;
              color: white;
              font-size: 0.9rem;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .table:nth-child(2n) {
            background: #18466c;
            opacity: 0.5;
          }
        }
      }
    }
    .number-order-box {
      padding: 1.1rem 0 0 0;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      // background: burlywood;

      .box-left {
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .diver-line {
        height: calc(100% - 10px);
        width: 0.05rem;
        background: #265a9e;
      }
      .box-right {
        height: 100%;
        width: 85%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 1.2rem;
        .titleBox {
          height: 15%;
          width: 100%;
          // background: chartreuse;
          display: flex;
          flex-direction: row;
          .child-title {
            color: #70f7fd;
            text-align: center;
          }
        }
        .dataBox {
          height: 85%;
          width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 0 0.9rem;
          .table {
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .child-data {
              height: 60%;
              color: white;
              font-size: 0.9rem;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              // display: flex;
              // align-items: center;
              // justify-content: center;
            }
          }
          .table:nth-child(2n) {
            background: #18466c;
            opacity: 0.5;
          }
          .jindutiao {
            width: 8.5rem;
            height: 100%;
          }
        }
      }
      .statistic {
        height: 50%;
        width: 100%;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
        // background: rosybrown;
        .name {
          height: 50%;
          // background: red;
          width: 100%;
          color: white;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .count {
          height: 50%;
          // background: red;
          width: 100%;
          display: flex;
          flex-direction: row;
          color: #fae958;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .number {
            color: #fae958;
            font-size: 1.8rem;
          }
          .unit {
            color: #55aaf6;
            font-size: 1rem;
          }
        }
      }
    }

    .left-top {
      height: 1.8rem;
      width: 1.8rem;
      border-top: 2px solid #59bdf7;
      border-left: 2px solid #59bdf7;
      position: absolute;
      top: -3px;
      left: -3px;
    }
    .right-top {
      height: 1.8rem;
      width: 1.8rem;
      border-top: 2px solid #59bdf7;
      border-right: 2px solid #59bdf7;
      position: absolute;
      top: -3px;
      right: -3px;
    }
    .left-bottom {
      height: 1.8rem;
      width: 1.8rem;
      border-bottom: 2px solid #59bdf7;
      border-left: 2px solid #59bdf7;
      position: absolute;
      bottom: -3px;
      left: -3px;
    }
    .right-bottom {
      height: 1.8rem;
      width: 1.8rem;
      border-bottom: 2px solid #59bdf7;
      border-right: 2px solid #59bdf7;
      position: absolute;
      bottom: -3px;
      right: -3px;
    }
  }
}
</style>

<style lang="less">
.swiper-wrapper {
  transition-timing-function: linear !important;
}
</style>
