<template>
  <div class="content-body">
    <div class="content-list">
      <div class="content-item">
        <div class="item-title">会议主题：</div>
        <div class="item-value">噪音干扰</div>
      </div>
      <div class="content-item">
        <div class="item-title">会议主题：</div>
        <div class="item-value">噪音干扰萨非计算机的肌肤赛季</div>
      </div>
      <div class="content-item">
        <div class="item-title">会议主题：</div>
        <div class="item-value" :class="{'item-value-more': isMore}">噪粉刷呵护萨湖活等哈厚度和户数读书忙u首都十大忙塞和杜父哈桑音干扰</div>
      </div>
      <div class="content-item">
        <div class="item-title">会议主题：</div>
        <div class="item-value"><img v-if="isImg" src="../../assets/images/lingang/jindutiao-1@2x.png" alt=""></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      isMore: true,
      isImg: true
    };
  },
  methods: { ...mapMutations([]) },

  mounted() {},
  filters: {},
  watch: {},
  computed: { ...mapState({
      dialogInfo: state => state.lingangVisible.dialogInfo
    }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.content-body{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #FFFFFF;
  padding: 0 30px;
  font-size: 18px;
  .content-list{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    .content-item{
      width: 50%;
      display: flex;
      flex-flow: row;
      flex-shrink: 0;
      margin-top: 40px;
      overflow: hidden;
      .item-title{
        flex: 0.3;
      }
      .item-value{
        flex: 0.7;
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      .item-value-more{
        display: flex;
        flex-flow: row wrap !important;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
      }
    }
  }
}
</style>
