<template>
  <div class="notice-public">
    <div class="left">
      <div style="color: #fff;position: absolute;font-size: 24px;line-height: 38px;margin-left: 10px" v-if="!isV2">通知公告</div>
      <img style="height: 100%;" v-if="!isV2" src="@/assets/images/lingang/hong@2x.png" alt="" />
      <div style="color: #fff;position: absolute;font-size: 24px;line-height: 38px;margin-left: 10px" v-if="isV2">预警消息</div>
      <img style="height: 100%;" v-if="isV2" src="@/assets/images/lingang/huangse@2x.png" alt="" />
    </div>
    <div class="right" @click="showDialog">
      <div class="right-inner" :style="animationObj" v-if="!isV2">
        <div class="right-inner-span" v-for="(item, index) in lgMessageList" :key="item.id">
          <div v-if="index+1 === selectIndex">{{ item.publishContext }}</div>
        </div>
      </div>
      <div class="right-inner" :style="animationObj" v-if="isV2">
        <div class="right-inner-span" v-for="(item, index) in lgMessageList" :key="item.id">
          <div v-if="index+1 === selectIndex">预计将会有台风，提前准备预防台风的措施</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      animationObj: "",
      selectIndex: 0,
    };
  },
  props: ['isV2'],
  methods: {
    ...mapMutations([]),
    showDialog () {
      this.$store.commit('CONTROL_DIALOG', true) // 唤起弹窗
      this.$store.commit('SET_DIALOG_NAME', 'unnormal') // 弹窗类型（unnormal为表格，normal为常规表单，video为视频）
      this.$store.commit('SET_DIALOG_INFOLIST', this.lgMessageList) // 弹窗数据（数组格式）
      this.$store.commit('SET_DIALOG_TITLE', '通知公告') // 弹窗标题
    }
  },

  mounted() {
    this.$store.dispatch('lgGetMessageList',{page: 1})
    setTimeout(() => {
      this.selectIndex = this.lgMessageList[0].id
      let totalLength = 20 * this.lgMessageList[0].publishContext.length;
      this.animationObj = {
        animation: `mymove ${this.lgMessageList[0].publishContext.length}s linear infinite`
      };
      var style = document.createElement("style");
      style.type = "text/css";
      var keyframes = `  @keyframes mymove {
        from {
            left:0px;
        }

        to {
          left :-${totalLength}px;
        }
      }`;
      style.innerHTML = keyframes;
      document.getElementsByTagName("head")[0].appendChild(style);
    }, 2000);
    let index = 0
    setInterval(()=>{
      index++
      if (index < this.lgMessageList.length) {
        this.selectIndex = this.lgMessageList[index].id
        let totalLength = 20 * this.lgMessageList[index].publishContext.length;
        this.animationObj = {
          animation: `mymove ${this.lgMessageList[index].publishContext.length}s linear infinite`
        };
        var style = document.createElement("style");
        style.type = "text/css";
        var keyframes = `  @keyframes mymove {
          from {
              left:0px;
          }

          to {
            left :-${totalLength}px;
          }
        }`;
        style.innerHTML = keyframes;
        document.getElementsByTagName("head")[0].appendChild(style);
      }
    }, 60000)
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      lgMessageList: state => state.videoSave.lgMessageList
  }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.notice-public {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-shrink: 0;
  .left {
    height: 100%;
    width: 120px;
    img {
      float: left;
    }
  }

  .right {
    width: calc(100% - 120px);
    height: 100%;
    line-height: 40px;
    position: relative;
    overflow: hidden;

    .right-inner {
      font-weight: 350;
      font-size: 20px;
      color: white;
      position: absolute;
      // animation: mymove 50s linear infinite;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // @keyframes mymove {
      //   from {
      //     left: 0px;
      //   }
      //   to {
      //     left: -2500px;
      //   }
      // }
      .right-inner-span {
        user-select: none;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
</style>
