<template>
  <span>
    <slot></slot>
    {{numTween}}
  </span>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import TWEEN from "@tweenjs/tween.js";
export default {
  data() {
    return {
      num: 0,
      numTween: 0,
      timer: null
    };
  },
  props: ['numJump'],
  methods: { ...mapMutations([]) },

  created() {
       this.numTween = this.numJump
  },
  mounted() {
      if(this.timer){
        clearInterval(this.timer)
      }else{
        this.timer = setInterval(()=>{
          this.num = Math.random()*10
        },10000)
      } 
  },
  watch: {
      num () {
        new TWEEN.Tween({
            number: this.numJump==0?0:1
        })
        .to({
            number: this.numJump
        }, 500)
        .onUpdate(tween => {
            this.numTween = tween.number.toFixed(0)
        })
        .start()
        function animate() {
          if (TWEEN.update()) {
                  requestAnimationFrame(animate);
          }
        }
        animate()
    }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less'>
</style>
