<template>
  <div class="timerSelect">
    <el-select size="mini" v-model="value" placeholder="请选择" >
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
        @click="handleNodeClick"
      ></el-option>
    </el-select>
  </div>
</template>

<script>

import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      options: [
        {
          value: "1",
          label: "当天"
        },
        {
          value: "2",
          label: "当周"
        },
        {
          value: "3",
          label: "当月"
        },
        {
          value: "5",
          label: "当季"
        },
        {
          value: "4",
          label: "当年"
        },
        
        {
          value: "6",
          label: "全部"
        }
      ],
      value: "3"
    };
  },
  props: ["timetype",] ,
  methods: {
    handleNodeClick(){
      console.log(this.value);
    },
    ...mapMutations([]) },

  created() {},
  mounted() {},
  
  watch: {
      value(){
          this.$emit('changeNode', this.value);
      }
  },
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scpoed>
.timerSelect {
  width: 100%;
  height: 100%;
}
</style>
<style lang="less">
.timerSelect {
  .el-input__inner {
      // background: #173b77;
      background: url('~@/assets/images/lingang/shaixuan@2x.png') no-repeat;
      background-size: 100% 100%;
      border: 1px solid #59bbd3;
      color: white;
  }
  .el-input__suffix{
    background:none;
  }
}
</style>
<style  >
/* .el-input__suffix{
    display:none;
  } */
</style>
