<template>
  <div class="content-body">
    <div class="table-panel">
      <div class="number-panel" v-if="dialogTitle === '传感器'">
        <span>总量：<span class="spec_sty1">710</span></span>
        <span>正常量：<span class="spec_sty1">690</span></span>
        <span>异常量：<span class="spec_sty2">110</span></span>
      </div>
      <el-table
              :data="dialogInfoList"
              height="400px"
              text-align="center"
              style="width: 100%;">
        <el-table-column
                prop="publishTime"
                label="发布时间"
                show-overflow-tooltip
                align="center">
        </el-table-column>
        <el-table-column
                prop="publisher"
                label="发布人"
                show-overflow-tooltip
                align="center">
        </el-table-column>
        <el-table-column
                prop="publishTheme"
                align="center"
                show-overflow-tooltip
                label="发布主题">
        </el-table-column>
        <el-table-column
                prop="publishContext"
                align="center"
                show-overflow-tooltip
                label="发布内容">
        </el-table-column>
        <el-table-column
                prop="publishStatus"
                label="状态"
                width="100">
          <template slot-scope="scope">
            <div :class="{'unread': scope.row.publishStatus === '未读',
             'read': scope.row.publishStatus === '已读'}">
              {{scope.row.publishStatus}}
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div class="page-bottom">
        <el-pagination
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-size="10"
                layout="total, prev, pager, next, jumper"
                :total="dialogTotal">
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentPage: 0
    };
  },
  methods: { ...mapMutations([]),
    filterTag(value, row) {
      return row.tag === value;
    },
    handleCurrentChange (value) {
      this.$store.dispatch('lgGetMessageList',{page: value})
    }
  },

  mounted() {
  },
  filters: {},
  watch: {},
  computed: { ...mapState({
      dialogTitle: state => state.datasLibrary.dialogTitle,
      dialogInfoList: state => state.datasLibrary.dialogInfoList,
      dialogTotal: state => state.videoSave.lgMessageListTotal || 10,
    }), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
  @import "~@/assets/less/lingang/dialogs.less";
  .unread{
    color: #FFCC00;
  }
</style>
