<template>
  <div class="video-body">
    <div class="video-left">
      <liveVideoContainer
              :node="123"
              :url="video.url"
              :reffer="video.url"
              :id="video.id"
              :selectId="selectId"
      ></liveVideoContainer>
    </div>
    <div class="video-right" v-if="dialogTitle === '监控画面'">
      <div class="info-item">
        <p>时间</p>
        <p>{{dateString}} &nbsp;&nbsp;&nbsp;&nbsp;星期{{weekString}}</p>
      </div>
      <div class="info-item">
        <p>地址</p>
        <p>{{location}}</p>
      </div>
      <!-- <div class="info-item">
        <p>编码</p>
        <p>38290477</p>
      </div> -->
    </div>
    <div class="video-right" v-if="dialogTitle === '轮巡切换'">
      <div class="info-item">
        <p>摄像头名称:</p>
        <input type="text" v-model="videoName" class="textbox">
      </div>
      <div class="info-item">
        <p>摄像头地址:</p>
        <input type="text" v-model="videoAdress" class="textbox">
      </div>
      <div class="info-item">
        <p>轮播频次:</p>
        <el-select v-model="videoFrequency" placeholder="请选择" @change="changeTime">
          <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import liveVideoContainer from "./liveVideoContainer";
import datasLibrary from "../../store/modules/lingang/datasLibrary";
export default {
  data() {
    return {
      selectId: '',
      id: '',
      videoName: '东门进口',
      videoAdress: '馨苑一居东门进口',
      videoFrequency: '一分钟',
      options: [{
        value: '1',
        label: '1分钟'
      }, {
        value: '5',
        label: '5分钟'
      }, {
        value: '15',
        label: '15分钟'
      }],
      d: new Date(),
    };
  },
  methods: { ...mapMutations([]),
    changeTime (val) {
      this.$store.dispatch('lgVideoTimeSet', {playChangeTime: val, districtId: this.GLOBAL.lgDistrictId})
    }
  },
  mounted() {
    console.log(this.location)
  },
  filters: {},
  watch: {},
  computed: {
    dateString: function() {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    weekString: function() {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    ...mapState({
      video: state => state.datasLibrary.dialogInfo,
      dialogTitle: state => state.datasLibrary.dialogTitle,
      location: state => state.lingangbasicInfo.location,
    }), ...mapGetters([]) },
  components: {
    liveVideoContainer
  }
};
</script>

<style lang="less" scoped>
.video-body{
  width: 100%;
  height: 300px;
  margin-top: 50px;
  color: #FFFFFF;
  font-size: 18px;
  min-height: 200px;
  display: flex;
  flex-flow: row;
  .live-video-container{
    height: 100%;
    min-height: 300px;
  }
  .video-left{
    width: 60%;
  }
  .video-right{
    width: 40%;
    font-size: 16px;
    .info-item{
      margin-top: 30px;
      margin-left: 20px;
      p{
        padding: 0;
        margin: 5px;
      }
    }
    .textbox{
      padding: 9px;
      background-color: transparent;
      color: #FFFFFF;
      border: 1px solid #1396FC;
      border-radius: 3px;
    }
    .el-select{
      width: 190px;
    }
    .el-select /deep/ .el-input__inner:hover{
      border: 1px solid #1396FC;
    }
    .el-select /deep/ .el-input__inner{
      border: 1px solid #1396FC;
    }
  }
}
</style>
