<template>
  <div class="basic-info">
    <div class="basic-info-header">
      <div class="img-container">
        <img src="~@/assets/images/lingang/biaotikuang@2x.png" alt="" />
        <span class="title">视频保障</span>
      </div>
    </div>
    <div class="basic-info-inner">
      <!-- <div
        class="left-top"
        v-for="(video, index) in lgVideoList"
        :key="video.RtspAddress"
      > -->
      <!-- <liveVideoContainer
          :node="123"
          :url="video.RtspAddress"
          :reffer="video.RtspAddress"
          :id="index"
          :selectId="selectId"
          @selectedVideo="selectedVideo(video, index)"
        ></liveVideoContainer> -->
      <div class="left-top">
        <hlsVideoContainer
          :url="lgVideoList[0].RtspAddress"
          :reffer="lgVideoList[0].RtspAddress"
          :id="index"
          :markVisible="0"
          :visible="true"
        ></hlsVideoContainer>
      </div>
      <div class="left-top">
        <hlsVideoContainer
          :url="lgVideoList[1].RtspAddress"
          :reffer="lgVideoList[1].RtspAddress"
          :id="index"
          :markVisible="0"
          :visible="true"
        ></hlsVideoContainer>
      </div>
      <div class="left-top">
        <hlsVideoContainer
          :url="lgVideoList[2].RtspAddress"
          :reffer="lgVideoList[2].RtspAddress"
          :id="index"
          :markVisible="0"
          :visible="true"
        ></hlsVideoContainer>
      </div>
      <div class="left-top">
        <hlsVideoContainer
          :url="lgVideoList[3].RtspAddress"
          :reffer="lgVideoList[3].RtspAddress"
          :id="index"
          :markVisible="0"
          :visible="true"
        ></hlsVideoContainer>
      </div>

      <!-- </div> -->
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import liveVideoContainer from "./liveVideoContainer";
import hlsVideoContainer from "../hlsVideoContainer.vue";
export default {
  data() {
    return {
      selectId: "",
      video: "",
      id: "",
      urn: ""
    };
  },
  methods: { ...mapMutations([]), selectedVideo() {} },

  mounted() {
    const params = {
      districtId: this.GLOBAL.lgDistrictId,
      index: 0,
      type: 2
    };
    this.$store.dispatch("lgGetVideoList", params);
    const that = this;
    // setInterval(() => {
    //   const params = {
    //     districtId: that.GLOBAL.lgDistrictId,
    //     index: that.lgVideoIndex,
    //     type: 2
    //   };
    //   that.$store.dispatch("lgGetVideoList", params);
    // }, that.playChangeTime * 1000 * 60);
  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      lgVideoList: state => state.videoSave.lgVideoList,
      lgVideoIndex: state => state.videoSave.lgVideoIndex,
      playChangeTime: state => state.videoSave.playChangeTime
    }),
    ...mapGetters([])
  },
  components: {
    liveVideoContainer,
    hlsVideoContainer
  }
};
</script>

<style lang="less" scoped>
.el-carousel /deep/ .el-carousel__container {
  height: 100%;
}
.basic-info {
  /*height: calc(100% - 110px);*/
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  .basic-info-header {
    height: 23px;
    text-align: center;
    top: 4px;
    position: relative;
    .img-container {
      position: relative;
      height: 100%;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 30;
        width: 10rem;
      }
      .title {
        z-index: 31;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: -0.4rem;
        bottom: 0;
        margin: auto;
        font-size: 1.5rem;
      }
    }
  }
  .basic-info-inner {
    position: relative;
    border: 2px solid #2a7cf5;
    width: 100%;
    height: calc(100% - 23px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    .left-top {
      height: 49%;
      width: 49%;
      flex-shrink: 0;
    }
  }
}
</style>
