<template>
  <div class="video-container">
    <div class="hover-mask">
    </div>
    <div class="video-inner" :id="reffer" :ref="reffer"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  props: ["reffer", "url", "node"],
  data() {
    return {
      fake: true,
      showLoading: false,
      player: "",
      currentVideoState: ""
    };
  },
  methods: {
    clickmarkCameraDamaged: function() {
      // console.log(this.node);
      // console.log(this.reffer);
      let urn = this.node.streamNode.urn;
      this.$store.dispatch("markCameraDamaged", {
        deviceUrn: `urn:${urn.organization}:${urn.group}:${urn.id}`,
        message: "人为手工标记",
        reportType: "REPORT_STREAM_INVISIBLE",
        screenUrn: sessionStorage.getItem("screen")
      });
    },
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/cyberplayer.js";
      });
    },
    ...mapActions([]),
    ...mapMutations([])
  },

  mounted() {
    setInterval(() => {
      //   console.log("Buffer: " + this.player.getBuffer());
      if (this.player) {
        this.currentVideoState = this.player.getState();
        if (this.currentVideoState == "playing") {
          this.showLoading = false;
        }
      }
      //   console.log("Video State:" + this.currentVideoState);
      //   console.log(this.player.getQualityLevels());
      //   console.log(this.player.getMeta());
      // console.log(this.player.getRenderingMode());
    }, 8000);
    // console.log(this.reffer + " mounted...");
    if (this.fake) {
      this.loadJS().then(res => {
        res;
        // console.log(this.$refs[this.reffer]);
        this.player = cyberplayer(this.reffer).setup({
          width: "100%",
          height: "100%",
          backcolor: "#FFFFFF",
          stretching: "exactfit",
          file: this.url,
          //   "rtmp://localhost:1935/localhost:1935/Users/tolerious/srs/trunk/doc/source.200kbps.768x320",
          type: "rtmp",
          rtmp: {
            reconnecttime: 2
          },
          ak: "85e0ba20cd14426a91f6732f5866c28c",
          autoStart: true,
          repeat: false,
          volume: 100,
          // controls: "none"
          controls: "over"
        });
        this.player.on("play", function() {
          console.log("视频开始播放");
          this.showLoading = false;
        });
        //   this.player.on("ready", function () {
        //     console.log("视频已就绪");
        //   });
        //   this.player.on("buffering", function () {
        //     console.log("视频缓冲中");
        //   });
        //   this.player.on("idle", function () {
        //     console.log("视频已断开");
        //     // SRS断了、
        //   });
        this.player.onConnection(function() {
          console.log("成功建立连接、");
        });
        this.player.onAlive(function() {
          console.log("监测到直播流、");
          this.showLoading = false;
        });
        this.player.onBuffer(function() {
          console.log("视频缓冲中、");
        });
        this.player.onNoLiveStream(function() {
          console.log("暂无直播流:" + this.url);
          this.showLoading = false;
          // 在这里处理没有直播流的情况、推流服务断了，SRS是正常工作的
        });
      });
    }
  },
  watch: {
    url: function(val) {
      // console.log(val);
      if (val) {
        console.log(`组件内部url发生改变:${val}`);
        if (this.player) {
          console.log("销毁视频：" + this.reffer);
          this.player.remove();
          this.player = null;
        }
        this.loadJS().then(res => {
          res;
          this.player = cyberplayer(this.reffer).setup({
            width: "100%",
            height: "100%",
            backcolor: "#FFFFFF",
            stretching: "exactfit",
            file: val,
            //   "rtmp://localhost:1935/localhost:1935/Users/tolerious/srs/trunk/doc/source.200kbps.768x320",
            type: "rtmp",
            rtmp: {
              reconnecttime: 3
            },
            ak: "85e0ba20cd14426a91f6732f5866c28c",
            autoStart: true,
            repeat: false,
            volume: 100,
            controls: "over"
          });
          this.player.play();
          var that = this;
          this.player.on("play", function() {
            let playStr = `【${that.reffer}】视频开始播放.url: ${val}`;
            console.log(playStr);
            this.showLoading = false;
          });
          this.player.on("ready", function() {
            // console.log(that.reffer + "视频已就绪");
            that.player.play();
          });
          this.player.on("buffering", function() {
            // console.log(that.reffer + "视频缓冲中");
          });
          this.player.on("idle", function() {
            // console.log(that.reffer + "视频已断开");
            // SRS断了、
          });
          this.player.onConnection(function() {
            // console.log(that.reffer + "成功建立连接、");
          });
          this.player.onAlive(function() {
            // console.log(that.reffer + "监测到直播流、");
            this.showLoading = false;
          });
          this.player.onLiveStop(function() {
            // console.log(that.reffer + "监测到直播流暂停播放、");
            this.showLoading = false;
          });
          this.player.onBuffer(function() {
            // console.log(that.reffer + "视频缓冲中、");
          });
          this.player.onNoLiveStream(function() {
            let noLiveStr = `【${that.reffer}】暂无直播流. url: ${val}`;
            console.log(noLiveStr);
            this.showLoading = false;
            // 在这里处理没有直播流的情况、推流服务断了，SRS是正常工作的
          });
        });
      }
    }
  },
  computed: {
    ...mapState({}),
    ...mapGetters([])
  },
  components: {},
  destroyed() {
    this.player.remove();
    console.log("destroyed...");
  }
};
</script>

<style lang="less" scoped>
  /deep/ .jwplayer.jw-flag-live .jw-controlbar{
    width: 100% !important;
  }
  /deep/ .jw-skin-bce .jw-controlbar{
    width: 100%;
  }
.video-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #00509b;
  .video-inner {
    position: absolute;
    z-index: 9;
  }
  .hover-mask {
    z-index: 10;
    width: 100%;
    /*height: 90%;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .hover-mask-button {
    display: none;
  }
  .hover-mask:hover {
    .hover-mask-button {
      display: block;
    }
  }
  .arc-container {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .title-container {
      letter-spacing: 5px;
      color: white;
      width: 180%;
      text-align: center;
    }
  }
}
</style>
