<template>
  <div class="basic-info">
    <div class="basic-info-header">
      <div class="img-container">
        <img src="~@/assets/images/lingang/biaotikuang@2x.png" alt="" />
        <span class="title">告警分析</span>
      </div>
    </div>
    <div class="basic-info-inner">
      <div class="left-top"></div>
      <div class="right-top"></div>
      <div class="left-bottom"></div>
      <div class="right-bottom"></div>
      <div class="echartBox">
        <div class="pieContainer" ref="pieContainer"></div>
      </div>
      <div class="timeselect">
        <timeSelect @changeNode="getSelectNode"></timeSelect>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
import timeSelect from "../lingang/timerSelect";
import Vue from "vue";

export default {
  data() {
    return {
      isshow: true
    };
  },
  methods: {
    getSelectNode(data) {
      this.getData(data);
    },
    init(data) {
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(this.$refs.pieContainer);

      // 指定图表的配置项和数据
      var option = {
        color: [
          "#c0913e",
          "#497ece",
          "#c05654",
          "#4aa1d1",
          "#466ace",
          "#59bac4"
        ],
        legend: {
          // data: [
          //   "违停告警",
          //   "垃圾未入桶",
          //   "疑似火灾",
          //   "高空抛物",
          //   "景区客流",
          //   "其他"
          // ],

          right: 10,
          bottom: 20,
          textStyle: {
            color: "#fff" //坐标值得具体的颜色
          },
          type: "scroll"
          // orient: "hori"
        },
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        series: [
          {
            name: "",
            type: "pie",
            radius: ["40%", "65%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              formatter: "{name|{b}}\n{time|{c}次}",
              minMargin: 5,
              edgeDistance: 10,
              lineHeight: 10,
              rich: {
                time: {
                  fontSize: 10,
                  color: "#999"
                }
              }
            },
            emphasis: {
              label: {
                show: true,
                fontSize: "14",
                fontWeight: "bold"
              }
            },
            labelLine: {
              show: true,
              length: 5,
              length2: 40,
              position: "left",
              lineStyle: {
                // color: 各异,
                width: 1,
                type: "solid"
              },
              maxSurfaceAngle: 80
            },
            data: data
            // data:this.dataList,
            // data: [
            //   { value: 100, name: "违停告警" },
            //   { value: 70, name: "垃圾未入桶" },
            //   { value: 200, name: "疑似火灾" },
            //   { value: 500, name: "高空抛物" },
            //   { value: 300, name: "景区客流" },
            //   { value: 180, name: "其他" }
            // ]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    },
    getData(num) {
      this.$store
        .dispatch("warnAnalyse", {
          times: num,
          districtId: Vue.ls.get("districtId")
        })
        .then(res => {
          this.isshow = true;
          if (res.data && res.data.length > 0) {
            this.init(res.data);
          } else {
            let arr = [];
            this.init(arr);
            this.isshow = false;
          }
        });
    },
    ...mapMutations([])
  },

  mounted() {
    // this.init();
    this.getData(3);
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {
    timeSelect
  }
};
</script>

<style lang="less" scoped>
.basic-info {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-right: 5px;
  background: url("~@/assets/images/lingang/wangge-1@2x.png");
  background-size: 100% 100%;
  .basic-info-header {
    height: 23px;
    text-align: center;
    top: 4px;
    position: relative;
    .img-container {
      position: relative;
      height: 100%;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 30;
      }
      .title {
        z-index: 31;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 21px;
      }
    }
  }
  .basic-info-inner {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #2a7cf5;
    width: 100%;
    // background: brown;
    height: calc(100% - 23px);
    .echartBox {
      box-sizing: border-box;
      padding: 20px 0;
      height: 99%;
      width: 100%;
    }
    .pieContainer {
      box-sizing: border-box;
      // padding: 20px 0;
      height: 100%;
      width: 100%;
      // background: burlywood;
    }
    .timeselect {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 5px;
      width: 85px;
    }

    .left-top {
      height: 28px;
      width: 28px;
      border-top: 2px solid #59bdf7;
      border-left: 2px solid #59bdf7;
      position: absolute;
      top: -2px;
      left: -2px;
    }
    .right-top {
      height: 28px;
      width: 28px;
      border-top: 2px solid #59bdf7;
      border-right: 2px solid #59bdf7;
      position: absolute;
      top: -2px;
      right: -2px;
    }
    .left-bottom {
      height: 28px;
      width: 28px;
      border-bottom: 2px solid #59bdf7;
      border-left: 2px solid #59bdf7;
      position: absolute;
      bottom: -2px;
      left: -2px;
    }
    .right-bottom {
      height: 28px;
      width: 28px;
      border-bottom: 2px solid #59bdf7;
      border-right: 2px solid #59bdf7;
      position: absolute;
      bottom: -2px;
      right: -2px;
    }
  }
}
</style>
