<template>
  <div class='basicInfoStatistics'>
      <div class="basic_zhishou">
          <!-- <div class="badic_zhishou_info_title">值守力量</div> -->
          <div class="title">基础数据</div>
          <div class="badic_zhishou_info"  @click="showZhishou(0)">
              <span class="title">中共党员</span>
              <br>
              <span class="numberV3">{{baseData.party}}</span>
          </div>
          <div class="badic_zhishou_info" @click="showZhishou(1)">
              <span class="title">一级党组织</span>
              <br>
              <span class="numberV3">{{baseData.partyOrganization}}</span>
          </div>
          <div class="badic_zhishou_info" @click="showZhishou(1)">
              <span class="title">总面积</span>
              <br>
              <span class="numberV3">{{baseData.totalArea}}</span>
          </div>
      </div>
      <div class="basic_bagua">
          <div class="bagua_png">
              
          </div>
          <div class="bagua_text left_top">
              <div class="bagua_text_item">
                  <span class="title">实有人口</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.people}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">户籍人口</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.localPeople}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">来沪人口</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.externalPeople}}</span>
              </div>
              <!-- <div class="bagua_text_item">
                  <span class="title">境外人口</span>
                  &nbsp;&nbsp;
                  <span class="number">{{basicdatapool.overseasPopulation}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">党员</span>
                  &nbsp;&nbsp;
                  <span class="number">{{basicdatapool.partyMember}}</span>
              </div> -->
          </div>
          <div class="bagua_text right_top">
              <div class="bagua_text_item">
                  <span class="title">小区数</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.building	}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">楼栋数</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.community}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">户数</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.family}}</span>
              </div>
              <!-- <div class="bagua_text_item">
                  <span class="title">空关房屋</span>
                  &nbsp;&nbsp;
                  <span class="number">{{basicdatapool.emptyHouse}}</span>
              </div> -->
          </div>
          <div class="bagua_text left_bottom">
              <div class="bagua_text_item">
                  <span class="title">非遗项目</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.intangibleProject}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">健身苑点</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.fitness}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">15分钟文化圈</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.culture}}</span>
              </div>
              <!-- <div class="bagua_text_item">
                  <span class="title">电梯</span>
                  &nbsp;&nbsp;
                  <span class="number">{{basicdatapool.elevator}}</span>
              </div> -->
          </div>
          <div class="bagua_text right_bottom">
              <div class="bagua_text_item" @click="showQiye">
                  <span class="title">学校</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.school}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title">养老院</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.nursingHome}}</span>
              </div>
              <div class="bagua_text_item">
                  <span class="title" title="社区卫生院">社区卫..</span>
                  &nbsp;&nbsp;
                  <span class="number">{{baseData.healthCenter}}</span>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from 'vue';
export default {
  data() {
    return {
      numberOfZhishou: 90,
      numberOfXietong: 90
    }
  },
  props:[],
  methods:{ 
    ...mapMutations([]),
    showZhishou(data){
        Object.assign(this.synergyParams,{type:data,page:1,districtId:Vue.ls.get("districtId")})
        this.$store.dispatch('SynergyPage',this.synergyParams)
        if(data==1){
          this.$store.commit('SET_BASICINFO_TITLE',"协同值守")
        }else{
          this.$store.commit('SET_BASICINFO_TITLE',"居村值守")
        }
        
        this.$store.commit('SET_BASICINFO_VISIBLE',false)
        this.$store.commit('SET_ZHISHOULIST_VISIBLE',true)
    },
    showQiye(){
        this.$store.commit('SET_BASICINFO_TITLE',"企业列表")
        this.$store.commit('SET_BASICINFO_VISIBLE',false)
        this.$store.commit('SET_QIYELIST_VISIBLE',true)
    },
    setZhishouNumber () {
      const that = this
      var Rank = {

        // 初始化
        init: function(number) {
          var rank_num = number;
          if(!rank_num) {
            return;
          }
          if(typeof Number(rank_num) === "number") {
            this._compute(rank_num);
          }
        },

        // 按照一定规则计算
        _compute:function(rank_num){
          var timer, temp_num, step, rate;

          // 第一次计算出一个初始值
          temp_num = Math.round(rank_num/5);

          // 每次增加数值
          if (rank_num < 100) {
            step = Math.round(Math.round(rank_num/2))/10;
          } else if (rank_num < 1000 && rank_num > 100){
            step = Math.round(Math.round(rank_num/2))/50;
          }


          // 循环更新temp_num的值
          function _count(temp_num, step){
            temp_num = Math.round(temp_num + step * Math.random());

            // 调用 _show 方法
            Rank._show(temp_num);

            // 根据条件判断，改变方法执行的时间间隔
            if (temp_num < 100) {
              rate = (temp_num / rank_num > 0.95) ? 10 : 1;
            } else if (temp_num > 100 && temp_num < 1000){
              rate = (temp_num / rank_num > 0.95) ? 50 : 10;
            }

            timer = setTimeout(function(){
              _count(temp_num, step);
            },rate);

            if (temp_num > rank_num) {
              clearTimeout(timer);
              Rank._show(rank_num);
            }
          }
          _count(temp_num, step);
        },

        // 显示数字的变化情况
        _show: function(temp_num) {

          // 数字的变化
          
          that.numberOfZhishou = temp_num
        },

      };
      setInterval(() => {
        Rank.init(200);
      }, 10000)
    },
    setXietongNumber (){
      const that = this
      var Rank = {

        // 初始化
        init: function(number) {
          var rank_num = number;
          if(!rank_num) {
            return;
          }
          if(typeof Number(rank_num) === "number") {
            this._compute(rank_num);
          }
        },

        // 按照一定规则计算
        _compute:function(rank_num){
          var timer, temp_num, step, rate;

          // 第一次计算出一个初始值
          temp_num = Math.round(rank_num/5);

          // 每次增加数值
          if (rank_num < 100) {
            step = Math.round(Math.round(rank_num/2))/5;
          } else if (rank_num < 1000 && rank_num > 100){
            step = Math.round(Math.round(rank_num/2))/50;
          }


          // 循环更新temp_num的值
          function _count(temp_num, step){
            temp_num = Math.round(temp_num + step * Math.random());

            // 调用 _show 方法
            Rank._show(temp_num);

            // 根据条件判断，改变方法执行的时间间隔
            if (temp_num < 100) {
              rate = (temp_num / rank_num > 0.95) ? 5 : 1;
            } else if (temp_num > 100 && temp_num < 1000){
              rate = (temp_num / rank_num > 0.95) ? 50 : 10;
            }

            timer = setTimeout(function(){
              _count(temp_num, step);
            },rate);

            if (temp_num > rank_num) {
              clearTimeout(timer);
              Rank._show(rank_num);
            }
          }
          _count(temp_num, step);
        },

        // 显示数字的变化情况
        _show: function(temp_num) {

          // 数字的变化
          that.numberOfXietong = temp_num
        },

      };
      setInterval(() => {
        Rank.init(90);
      }, 3000)
    }
  },

  created(){},
  mounted(){
    this.$store.dispatch('baseData',{});
  },
  watch:{},
  computed:{
    ...mapState({
      basicdatapool:state =>state.lingangbasicInfo.basicdatapool,
      synergyParams:state =>state.lingangbasicInfo.synergyParams,
      baseData:state => state.sanlinerqiV3.baseData
    },
    ),
  ...mapGetters([])
  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.basicInfoStatistics{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .basic_zhishou{
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        padding-left: 3%;
        // padding-bottom: 10%;
        padding-top: 2%;
        border-image:linear-gradient(to right,transparent,#14366d,transparent) 1 50;
        cursor: pointer;
        position: relative;
        .badic_zhishou_info_title{
            position: absolute;
            left: 0;
            top: 0;
            // background-image: -webkit-linear-gradient(top, #1bd887, #1aa8c4, #1aa8c4);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-size: 14px;
            padding: 5px;
            font-size: 1rem;

        }
        .title{
            color: #23cefd;
            // font-size: 16px;
            margin-left: 2%;
        }
        .badic_zhishou_info{
            flex: 1;
            text-align: center;
            padding-top: 12px;
            box-sizing: border-box;
            .title{
               font-size: 14px;
               color: #3ed1d8; 
            }
            .numberV3{
                // background-image: -webkit-linear-gradient(top, #1bd887, #1aa8c4, #1aa8c4);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                color: #eddd2c !important;

            }
        }
    }
    .basic_bagua{
        height: 100%;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .bagua_png{
            width: 200px;
            height: 200px;
            background: url(../../../assets/images/sanlin/baseDatabg.png) no-repeat;
            background-size: 100% 100%;
        }
        .bagua_text{
            width: calc( (100% - 200px) / 2 );
            height: 40%;
            position: absolute; 
        }
        .left_top{
            left: 20px;
            top: 0;
            .bagua_text_item:first-child{
                margin-top: 30px;
            }
            .bagua_text_item{
                font-size: 13px;
                text-align: right;
                width:150px;
                padding-right: 30px;
                // cursor: pointer; 
                box-sizing: border-box;
                display: flex;
                line-height: 25px;
                .title{
                    flex: 1;
                    color: #3ed1d8;
                }
                .number{
                    flex: 0.5;
                    color: #eddd2c;
                    margin-left: 15px;
                }
            }
        }
        .left_top::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
            transform:rotate(180deg);
            pointer-events:none;
        }
        .right_top{
            right: 20px;
            top: 0;
            .bagua_text_item:first-child{
                margin-top: 30px;
            }
            .bagua_text_item{
                font-size: 13px;

                padding-left: 30px;
                // padding-left: 5px;
                box-sizing: border-box;
                display: flex;
                line-height: 25px;
                .title{
                    flex: 1;
                    color: #3ed1d8;
                }
                .number{
                    flex:1;
                    color: #eddd2c;
                }
            }
        }
        .right_top::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
            transform:rotateX(180deg);
            pointer-events:none;

        }
        .left_bottom{
            left: 20px;
            bottom: 0;
            .bagua_text_item{
                font-size: 13px;
                text-align: right;
                padding-right: 30px;
                // padding-left: 5px;
                box-sizing: border-box;
                display: flex;
                line-height: 25px;
                .title{
                    flex: 1;
                    color: #3ed1d8;
                }
                .number{
                    flex: 0.5;
                    color: #eddd2c;
                }
            }
            .bagua_text_item:last-child{
                font-size: 13px;
                width: 200px;
                margin-left: -15px;
                // padding-left: 5px;
                box-sizing: border-box;
                display: flex;
                line-height: 25px;
                .title{
                    flex: 1;
                    color: #3ed1d8;
                }
                .number{
                    flex:1;
                    color: #eddd2c;
                }
            }
        }
        .left_bottom::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
            transform:rotateY(180deg);
            pointer-events:none;
        }
        .right_bottom{
            right: 20px;
            bottom: 0;
            .bagua_text_item:first-child{
                cursor: pointer; 
            }
            .bagua_text_item{
                font-size: 13px;

                padding-left: 30px;
                // padding-left: 5px;
                box-sizing: border-box;
                display: flex;
                line-height: 25px;
                .title{
                    flex: 1;
                    color: #3ed1d8;
                }
                .number{
                    flex:1;
                    color: #eddd2c;
                }
            }
            

        }
        .right_bottom::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
            pointer-events:none;
        }
    }
}
</style>
