<template>
  <div class='out-box'>
    <div>
      <span class="yellow-text">2456</span>
      <span class="blue-text">/</span>
      <span class="right-text blue-text">10000</span>
    </div>
    <div>
      <span class="poople-desc">
        重点人员
      </span>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
methods:{ ...mapMutations([])},

mounted(){
},
watch:{},
computed:{ ...mapState({}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
@import "~@/assets/less/sanlin/leftTop.less";
</style>
