<template>
  <div class='out-box' @click="openLogin">
      <div>
        <span class="yellow-text">{{leftTopInfo.activeCount}}</span>
        <span class="blue-text">/</span>
        <span class="right-text blue-text">{{leftTopInfo.count}}</span>
      </div>
      <div>
        <span class="poople-desc">
          {{leftTopInfo.typeName}}
        </span>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      // objectTest: this.leftTopInfo
    }
  },
  // props: ['leftTopInfo'], // todo
  props: {
    leftTopInfo: Object,
  },
  methods:{
    openLogin () {
      this.$emit('openLogin')
      // if(this.lockTimes){
      //   let t = this.$store.commit('LOCK_TIME')
      //   if(t>1800000){
      //     this.$emit('openLogin')
      //   }else{
      //     const params = {count: 10, start: 0, type: this.weikakouPeopleType}
      //     this.$store.dispatch('getWeikakouList', params)
      //   }
      // }
      
    },
    ...mapMutations([])},

  mounted(){
  },
  watch:{},
  computed:{ ...mapState({
    lockTimes:state=>state.sanlinecharts.lockTimes,
    weikakouPeopleType:state=>state.sanlinecharts.weikakouPeopleType,
  }),
  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
@import "~@/assets/less/sanlin/leftTop.less";
</style>
