<template>
    <div class="leftTopTableBox">
        <div class="table-title">{{tableTitle}}<img class="closeButton" @click="closeErjiTable" src="../../../assets/images/sanlin/close.png" alt=""></div>
        <div class="table-body">
            <el-table
                :data="tableData"
                height="100%"
                border
                style="width: 100%">
              <el-table-column
                  prop="date"
                  :label=name1>
              </el-table-column>
              <el-table-column
                  prop="name"
                  :label=name2>
              </el-table-column>
              <el-table-column
                  prop="address"
                  :label=name3>
              </el-table-column>
              <el-table-column
                  prop="address"
                  :label=name4>
              </el-table-column>
            </el-table>
        </div>
        <div class="table-foot">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage4"
                :page-size="100"
                layout="total, prev, pager, next, jumper"
                :total="400">
            </el-pagination>
        </div>
    </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      tableTitle: '人群密度告警列表',
      currentPage4: 2,
      tableData: [],
      name1: '告警位置',
      name2: '推送时间',
      name3: '阈值',
      name4: '实际检测值',
      // name1: '姓名',
      // name2: '告警位置',
      // name3: '推送时间',
      // name4: '相似度',
    }
  },
  methods:{ ...mapMutations([]),
    handleSizeChange () {

    },
    handleCurrentChange () {

    },
    closeErjiTable () {
      this.$emit('closeErjiPop')
    }

  },

  mounted(){},
  watch:{},
  computed:{ ...mapState({}),
    ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
@import "~@/assets/less/sanlin/leftTop.less";
</style>
