<template>
  <div class="container">
    <img
      class="jiaoicon"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
      alt=""
    />
    <img
      class="jiaoicon jiaoyouicon"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
      alt=""
    />
    <div class="modletitleBox">
      实际生产情况
      <div class="info-box">
        <div>
          <span>{{ weatherInfo.temperature }}℃</span
          ><span>{{ weatherInfo.weather }}</span>
          <span
            >{{ weatherInfo.winddirection }}风{{
              weatherInfo.windpower
            }}级</span
          ><span></span>
        </div>
        <time-comp></time-comp>
      </div>
    </div>
    <div class="table">
      <div class="titleBox" style="z-index: 9999; opacity: 1">
        <div class="itemRow titleItem" style="width: 8rem; flex-shrink: 0">
          序号
        </div>
        <div class="itemRow titleItem" style="width: 12rem; flex-shrink: 0">
          项目名称
        </div>
        <div style="flex: 1; display: flex">
          <div class="itemRow titleItem" style="flex: 1">混合料规格</div>
          <div class="itemRow titleItem" style="flex: 1.2">当日计划量（T）</div>
          <div class="itemRow titleItem" style="flex: 1.2">当日生产量（T）</div>
          <div class="itemRow titleItem" style="flex: 1">负责人</div>
        </div>
      </div>
      <div class="swiperBox">
        <swiper :options="swiperOption" style="height: 90%" ref="mySwiper">
          <swiperSlide
            class="line-item"
            v-for="(i, index) in trueProductList"
            :key="i.id"
          >
            <div class="itemRow" style="width: 8rem; flex-shrink: 0">
              {{ index + 1 }}
            </div>
            <div class="itemRow" style="width: 12rem; flex-shrink: 0">
              {{ i.projectName }}
            </div>
            <div style="flex: 1; display: flex; flex-flow: column">
              <div
                style="height: 30px; display: flex; flex-flow: row"
                v-for="j in i.dailyProducts"
                :key="j.id"
              >
                <div class="itemRow" style="flex: 1">
                  {{ j.specification }}
                </div>
                <div class="itemRow" style="flex: 1.2">
                  {{ j.expectedNum }}
                </div>
                <div class="itemRow" style="flex: 1.2">
                  {{ j.realNum }}
                </div>
                <div class="itemRow" style="flex: 1">
                  {{ j.person }}
                </div>
              </div>
            </div>
          </swiperSlide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";
import timeComp from "../qilingComponents/timeComp";
export default {
  data() {
    return {
      swiperOption: {
        // slidesPerView: 3, //当前box放几条数据
        slidesPerView: "auto", //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 3200,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel: true,
        mousewheelControl: true,
        height: 300,
        // slidesPerViewFit: false,
        centeredSlides: false // 是否居中显示
      },
      datedate: "",
      dateTime: "",
      xingqi: ""
    };
  },
  methods: {},
  created() {},
  mounted() {
    this.$store.dispatch("getTrueProduct");
    const scale = document.documentElement.clientWidth / 1920;
    // 设置页面根节点字体大小（“Math.min(scale, 2)” 指最高放大比例为2，可根据实际业务需求调整）
    // document.documentElement.style.fontSize = 16 * Math.min(scale, 2) + 'px'

    setInterval(() => {
      this.$store.dispatch("getWeather");
    }, 3600000);
    this.$store.dispatch("getWeather");
    setTimeout(() => {
      WSconnect();
    }, 3000);
  },
  computed: {
    ...mapState({
      produtionProgress: (state) => state.liqingchang.produtionProgress,
      trueProductList: (state) => state.liqingchang.trueProductList,
      weatherInfo: (state) => state.liqingchang.weatherInfo
    }),
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  components: {
    swiper,
    swiperSlide,
    timeComp
  },
  directives: {
    swiper: directive
  }
};
</script>

<style lang="less" scoped>
.jiaoicon {
  position: absolute;
  height: 1.5rem;
}

.jiaoyouicon {
  right: 0;
  transform: rotate(180deg);
}
.info-box {
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 6rem;
  color: #ffffff;
  align-items: center;
  font-size: 1rem;
  padding-top: 0.5rem;
  div {
    span {
      margin-right: 0.8rem;
    }
  }
}
.line-item {
  display: flex;
  flex-flow: row;
}
.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem 0.5rem 1rem;
  background-color: rgba(59, 151, 247, 0.2);
  .modletitleBox {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #70f7fc;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    position: relative;
  }
  .table {
    border: 0.5px solid #5fd8fa;
    height: 87%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .titleBox {
    height: 10% !important;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .swiperBox {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  .itemRow {
    border-bottom: 0.5px solid #5fd8fa;
    border-right: 0.5px solid #5fd8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1rem !important;
    padding: 0 1%;
  }
  .titleItem {
    color: #84dbfb;
    font-size: 1.4rem !important;
    box-sizing: border-box;
  }
}
.weatherimg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}
.test /deep/ .el-progress-bar__inner {
  background-image: linear-gradient(to right, #0042f5 0%, #4cb4f9 100%);
}
.test /deep/ .el-progress-bar__outer {
  height: 15px !important;
  // border: 1px solid #78335f;
  background-color: #000c6b;
}
</style>



