<template>
  <div class="MaterialInventory" id="metarialContainer">
    <div class="wen-liqing-box">
      <img
        class="jiaoicon"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
        alt=""
      />
      <img
        class="jiaoicon jiaoyouicon"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
        alt=""
      />
      <div class="echart_liqing wen-liqing-kucun">
        <div style="width: 100%; height: 12%" class="liqing_header">
          <div class="liqing_title">
            <span>沥青库存</span>
          </div>
          <div class="liqing_icon">
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-lan%402x.png"
              alt=""
              v-if="!showBaojing"
            />
            <img
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-hong%402x.png"
              alt=""
              v-if="showBaojing"
            />
          </div>
        </div>
        <div
          style="width: 100%; height: 88%; padding: 1rem"
          ref="echart_liqing"
        ></div>
        <img
          class="wen-line"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/linebg.png"
          alt=""
        />
      </div>
      <div class="echart_liqing wen-liqing-kucun">
        <div style="width: 100%; height: 12%" class="liqing_header">
          <div class="liqing_title">
            <span>能源消耗</span>
          </div>
        </div>
        <div class="wen-nengyuan" style="width: 100%; height: 88%">
          <div class="wen-nengyuan-box">
            <div class="wen-nengyuan-title">
              <img
                class="wen-title-icon"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
                alt=""
              />
              天然气
              <img
                class="wen-title-icon wen-direct"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
                alt=""
              />
            </div>
<!--            <div class="wen-nengyuan-body">-->
<!--              <div class="wen-count-box">-->
<!--                <div class="countline1">-->
<!--                  <span class="countfont">1200</span>立方-->
<!--                </div>-->
<!--                <div class="countline1 countline2">今日用量</div>-->
<!--              </div>-->
<!--              <div class="wen-count-box">-->
<!--                <div class="countline1">-->
<!--                  <span class="countfont">1200</span>立方-->
<!--                </div>-->
<!--                <div class="countline1 countline2">累计用量</div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="wen-nengyuan-body">
              <div class="wen-nengyuan-body-part">
                <div class="wen-count-box" style="width: 50%">
                  <div class="countline1">
                    <span class="countfont">{{naturalGas.dailyConsumption}}</span>立方
                  </div>
                  <div class="countline1 countline2">今日用量</div>
                </div>
                <div class="wen-count-box" style="width: 50%">
                  <div class="countline1">
                    <span class="countfont">{{naturalGas.monthlyConsumption}}</span>立方
                  </div>
                  <div class="countline1 countline2">本月累计用量</div>
                </div>
              </div>
              <div class="wen-nengyuan-body-part wen-count-box-nian">
                <div class="wen-count-box" style="width: 100%">
                  <div class="countline1">
                    <span class="countfont">{{naturalGas.yearlyConsumption}}</span>立方
                  </div>
                  <div class="countline1 countline2">本年累计用量</div>
                </div>
              </div>
            </div>
          </div>
          <div class="wen-nengyuan-box">
            <div class="wen-nengyuan-title">
              <img
                class="wen-title-icon"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
                alt=""
              />
              电力
              <img
                class="wen-title-icon wen-direct"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/%E5%9B%BE%E5%B1%82%20877%402x.png"
                alt=""
              />
            </div>
            <div class="wen-nengyuan-body">
              <div class="wen-nengyuan-body-part">
                <div class="wen-count-box" style="width: 50%">
                  <div class="countline1">
                    <span class="countfont">{{electricity.dailyConsumption}}</span>度
                  </div>
                  <div class="countline1 countline2">今日用量</div>
                </div>
                <div class="wen-count-box" style="width: 50%">
                  <div class="countline1">
                    <span class="countfont">{{electricity.monthlyConsumption}}</span>度
                  </div>
                  <div class="countline1 countline2">本月累计用量</div>
                </div>
              </div>
              <div class="wen-nengyuan-body-part wen-count-box-nian">
                <div class="wen-count-box" style="width: 100%">
                  <div class="countline1">
                    <span class="countfont">{{electricity.yearlyConsumption}}</span>度
                  </div>
                  <div class="countline1 countline2">本年累计用量</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="echart_shiliao">
      <img
        class="jiaoicon"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
        alt=""
      />
      <img
        class="jiaoicon jiaoyouicon"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/jiaoicon.png"
        alt=""
      />
      <div style="width: 100%; height: 12%" class="liqing_header">
        <div class="liqing_title">
          <span id="liqingTitles">石料库存</span>
        </div>
        <div class="liqing_icon">
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-lan%402x.png"
            alt=""
            v-if="!showBaojing1"
          />
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/baojing-hong%402x.png"
            alt=""
            v-if="showBaojing1"
          />
        </div>
      </div>
      <div style="width: 100%; height: 88%" ref="echart_shiliao"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
import { WSconnect } from "@/utils/socket";
export default {
  data() {
    return {
      showBaojing: false,
      showBaojing1: false
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    init() {
      let that = this;
      let xline = [],
        temperature = [],
        volume = [];
      this.liqingList.forEach((item) => {
        xline.push(item.name);
        // volume.push(item.volume);
        volume.push(item.total);
        temperature.push(item.temperature);
      });
      var myChart = echarts.init(this.$refs.echart_liqing);
      let option = {
        color: ["#84dbfb", "#f2a859"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: xline,
            axisTick: {
              alignWithLabel: true
            },
            axisPointer: {
              type: "shadow"
            },
            splitLine: { show: false }, //去除网格线
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#bdc2cb",
                fontSize: "16"
              }
            }
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "库存量(T)",
            nameTextStyle: {
              color: "#7dd0ef",
              fontSize: 20
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#2c496c"],
                width: 1,
                type: "solid"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              textStyle: {
                color: "#6bb7d7",
                fontSize: "16"
              }
            }
          }
        ],
        series: [
          {
            name: "库存量(T)",
            type: "bar",
            data: volume,
            barWidth: 16,
            itemStyle: {
              normal: {
                color: function (params) {
                  var color;
                  if (
                    180 <=
                    that.liqingList[params.dataIndex].temperature <
                    200
                  ) {
                    color = "#850101";
                  } else if (
                    140 <=
                    that.liqingList[params.dataIndex].temperature <
                    180
                  ) {
                    color = "#FF0000";
                  } else if (
                    100 <=
                    that.liqingList[params.dataIndex].temperature <
                    140
                  ) {
                    color = "#F2A859";
                  } else if (
                    60 <=
                    that.liqingList[params.dataIndex].temperature <
                    100
                  ) {
                    color = "#FFEF34";
                  } else if (
                    that.liqingList[params.dataIndex].temperature < 60
                  ) {
                    color = "#84DBFB";
                  }
                  return color;
                },
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    //数值样式
                    color: "#6bb7d7",
                    fontSize: 20,
                    fontWeight: 600
                  }
                }
              }
            }
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    },
    init2() {
      var myChart = echarts.init(this.$refs.echart_shiliao);
      let xline = [],
        baseStock = [],
        stock = [];
      this.shiliaoList.forEach((item) => {
        let a = item.name.replaceAll("||", "\n");
        xline.push(a);
        stock.push(item.stock);
        baseStock.push(item.baseStock);
      });
      var emphasisStyle = {
        itemStyle: {
          shadowBlur: 10,
          shadowColor: "rgba(0,0,0,0.3)"
        }
      };
      let option = {
        color: ["#84dbfb", "#f2a859"],
        legend: {
          data: ["沥青基地", "新场基地"],
          right: "10%",
          textStyle: {
            //图例文字的样式
            color: "#bdc2cb",
            fontSize: 16
          }
        },
        tooltip: {},
        xAxis: [
          {
            type: "category",
            data: xline,
            axisTick: {
              alignWithLabel: true
            },
            axisPointer: {
              type: "shadow"
            },
            splitLine: { show: false }, //去除网格线
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#bdc2cb",
                fontSize: "12"
              },
              interval: 0
              // rotate: 10
            }
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "库存量(T)",
            nameTextStyle: {
              color: "#7dd0ef",
              fontSize: 20
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#2c496c"],
                width: 1,
                type: "solid"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              textStyle: {
                color: "#6bb7d7",
                fontSize: "16"
              }
            }
          }
        ],
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        series: [
          {
            name: "沥青基地",
            barWidth: 16,
            type: "bar",
            stack: "one",
            emphasis: emphasisStyle,
            data: stock,
            label: {
              show: true, //开启显示
              position: "inside",
              textStyle: {
                //数值样式
                color: "#6bb7d7",
                fontSize: 15
              }
            }
          },
          {
            name: "新场基地",
            barWidth: 16,
            type: "bar",
            stack: "one",
            emphasis: emphasisStyle,
            data: baseStock,
            label: {
              show: true, //开启显示
              position: "inside",
              textStyle: {
                //数值样式
                color: "#6bb7d7",
                fontSize: 15
              }
            }
          }
        ]
      };
      myChart.setOption(option);
    }
  },
  created() {
    this.$store.dispatch("getliqingEchart");
    this.$store.dispatch("getshiliaoEchart");
    this.$store.dispatch("getNaturalGas");
    this.$store.dispatch("getElectricity");
  },
  mounted() {
    document.getElementById("metarialContainer").style.transform = "scale(2,1)";
    document.getElementById("metarialContainer").style.transformOrigin = "0 0";
    document.getElementById("metarialContainer").style.width = "960px";
    setTimeout(() => {
      WSconnect();
    }, 3000);
  },
  watch: {
    liqingList: function (val) {
      if (val.length > 0) {
        this.init();
        val.forEach((item) => {
          if (item.alarm === '报警') {
            this.showBaojing = true;
          }
        });
      }
    },
    shiliaoList: function (val) {
      if (val.length > 0) {
        this.init2();
        val.forEach((item) => {
          if (item.alarmStatus === 1) {
            this.showBaojing1 = true;
          }
        });
      }
    }
  },
  computed: {
    ...mapState({
      liqingList: (state) => state.liqingchang.liqingList,
      shiliaoList: (state) => state.liqingchang.shiliaoList,
      electricity: state => state.liqingchang.electricity,
      naturalGas: state => state.liqingchang.naturalGas,
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.MaterialInventory {
  width: 100%;
  height: 100%;
  background: #0d1a30;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  .wen-liqing-box {
    display: flex;
    flex-flow: row;
    background-color: rgba(59, 151, 247, 0.2);
    /*margin: 0.3rem;*/
    .wen-liqing-kucun {
      flex: 1;
      position: relative;
    }
  }
  .echart_liqing {
    height: 100%;
    .wen-nengyuan {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 0.3rem;
      .wen-nengyuan-box {
        background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bg-da.png")
        no-repeat;
        background-size: 100% 100%;
        height: 45%;
        width: 95%;
        display: flex;
        flex-flow: column;
        padding: 0.8rem;
        .wen-nengyuan-title {
          display: flex;
          flex-flow: row;
          justify-content: center;
          font-size: 1rem;
          color: #24cbfb;
          height: 20%;
          align-items: center;
          .wen-title-icon {
            width: 5rem;
            height: 1.5em;
            margin: 0 0.5rem;
          }
          .wen-direct {
            transform: rotate(180deg);
          }
        }
        .wen-nengyuan-body {
          width: 100%;
          height: 80%;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          .wen-nengyuan-body-part{
            display: flex;
            flex-flow: row;
            flex: 0.5;
            .wen-count-box {
              background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bg-xiao.png")
              no-repeat;
              background-size: 100% 100%;
              /*flex: 0.8;*/
              width: 45%;
              /*height: 90%;*/
              display: flex;
              flex-flow: column;
              justify-content: space-around;
              padding: 0.3rem;
              .countline1 {
                color: #24cbfb;
                font-size: 0.8rem;
                text-align: center;
                .countfont {
                  font-size: 1.2rem;
                  margin-right: 0.2rem;
                }
              }
              .countline2 {
                font-size: 1rem;
                color: #ffffff;
              }
            }
          }
          .wen-count-box-nian{
            .wen-count-box {
              background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/nian.png") no-repeat !important;
              background-size: 100% 100% !important;
            }
          }
        }
      }
    }

  }
  .wen-line {
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    width: 24rem;
    right: -12rem;
  }
  .echart_shiliao {
    height: 100%;
    background-color: rgba(59, 151, 247, 0.2);
    /*margin: 0.3rem;*/
  }
}
.liqing_header {
  display: grid;
  grid-template-rows: 100%;
  .liqing_title {
    color: #70f7fc;
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding-top: 1rem;
  }
  .liqing_icon {
    color: #8da7d5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0.5rem;
    .img {
      height: 25px;
      width: 25px;
      margin-top: -1rem;
    }
  }
}
.jiaoicon {
  position: absolute;
  height: 1.5rem;
}
.jiaoyouicon {
  right: 0;
  transform: rotate(180deg);
}
</style>
