<template>
    <div ref="main" style="width:100%;height:75%;margin-top: 13%"></div>
</template>

<script>
    import echarts from 'echarts'
    import {getCaseType} from "../../../api/components/12345"

    const colorArr = ['#5082d7', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#cab625', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
    String.prototype.chooseColor = function () {
        //16位正则
        let reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;

        let hex = this.toLowerCase()
        if (hex && reg.test(hex)) {
            let sColorChange = [];
            for (let i = 1; i < 7; i += 2) {
                sColorChange.push(parseInt("0x" + hex.slice(i, i + 2)));
            }
            return "rgb(" + sColorChange.join(",") + ")";
        }
        else {
            return hex
        }
    }
    export default {
        data() {
            return {
                myChart: null,
            }
        },
        methods: {
            loadClassification(dataType){
                this.getCaseSource2(dataType)
            },
            getCaseSource2(data){
                getCaseType({timeType:data}).then(data=>{
                    if(data.errcode ===0){
                        let arr = [];
                        let arr2 = [];
                        let color2=[]
                        data.data.forEach((item,index) => {
                           let color = colorArr[index] ? colorArr[index].chooseColor() : colorArr[index - colorArr.length].chooseColor();
                            let it = {
                                name: item.name,
                                value: item.count
                            }
                            arr.push(it)
                            arr2.push(it.name)
                                        color2.push(color)
                        });
                        let option = this.getEchartsOption(arr2,arr,color2);
                        this.myChart.setOption(option);
                    }
                })
            },
            getEchartsOption(legend, data,color) {
                let option = {
                    legend: {
                        type:'scroll',
//                        orient: 'vertical',
                        left: 0,
                        icon: "circle",
                        bottom: 0,
                        data: legend,
                        height:80,
                        textStyle: {
                            color: '#19B7D0'
                        }
                    },
                    color: color,
                    title: {
                        show: true,

                        textStyle: {
                            color: '#fff',
                            fontSize: 14,
                            fontStyle: 'normal',
                            fontWeight: 'normal'
                        },
                        padding: '0',
                        itemGap: 3,
                        subtextStyle: {
                            color: '#fff',
                            fontStyle: 'normal',
                            fontWeight: 'normal',
                            fontFamily: 'sans-serif',
                            fontSize: 10,
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '',
                            type: 'pie',
                            radius: [50, 80],
                            center: ['45%', '50%'],
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 14
                                    },
                                    formatter: '{b} : {c}'
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length: 15,
                                    length2: 10,
                                    smooth: true
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: data
                        }
                    ]
                }
                return option;
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['main']);
                this.loadClassification(2)
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
