<template>
    <div class="container">
        <div class="rightBottom">
              <div class="caseNowTil">
                  在办案件统计
              </div>
              <div class="textTitle">
                  <p class="bulebg">处置部门</p>
                  <p class="redbg">超期在办</p>
                  <p class="yellobg">即将超期</p>
                  <p class="greenbg">正常状态</p>
              </div>
              <div class="nwwest-roll" id="container">
                    <swiper class="roll-ul"
                          :options="swiperOption"
                          ref="mySwiper"
                          v-if="caseStatus.length>0" >
                        <swiperSlide class="content-row" v-for="(item,index) in caseStatus" :key="index" >
                            <div><span :title="item.name">{{item.name}}</span></div>
                            <div><span>{{Math.round(Math.random()*4)}}</span></div>
                            <div><span>{{Math.round(Math.random()*4)}}</span></div>
                            <div><span>{{Math.round(Math.random()*4)}}</span></div>
                        </swiperSlide>
                    </swiper>
        <!--             <ul>
                        <li v-for="(item,index) in caseStatus" ref="rollul" :key="index">
                            <div><span :title="item.name">{{item.name}}</span></div>
                            <div><span>{{Math.round(Math.random()*4)}}</span></div>
                            <div><span>{{Math.round(Math.random()*4)}}</span></div>
                            <div><span>{{Math.round(Math.random()*4)}}</span></div>
                        </li>
                    </ul> -->
              </div>
        </div>
    </div>
</template>

<script>
    // import {getCaseStatus} from "../../../api/components/12345"
    import { mapState } from 'vuex'
    import { swiper, swiperSlide, directive } from 'vue-awesome-swiper'
    export default {
        components:{
            swiper,
            swiperSlide
        },
        directives: {
            swiper: directive
        },
        data() {
            return {
                animate:true,
                list:[],
                time:'',
                swiperOption: {
                    slidesPerView: 1,//当前box放几条数据
                    direction: "vertical",   //控制滚动的方向
                    paginationClickable: true,
                    observer:true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents:true,//修改swiper的父元素时，自动初始化swiper
                    autoplay: 4000,
                    autoplayDisableOnInteraction: false,
                    loop: true,
                    mousewheel:true,
                    mousewheelControl:true,
                    height:40,
                    centeredSlides: true, // 是否居中显示
                },
            }
        },
        methods: {

        },
        computed:{
            ...mapState({
                caseStatus:state=>state.echarts.caseStatus
            })
        },
        mounted(){
            this.$store.dispatch('getCaseStatus')
        },
    }
</script>

<style scoped>
.container{
    width: 100%;
    height: 100%;
}
.rightBottom {
    width: 100%;
    height: 830px;
}
.caseNowTil{
    width: 100%;
    height: 60px;
    background-color: rgb(33,50,70);
    line-height: 60px;
    color: rgb(184,255,255);
    text-align: center;
    /* margin-bottom: 20px; */
    /* box-sizing: border-box; */
    font-size: 18px;
}
.textTitle{
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.textTitle p{
    width: 24.7%;
    float: left;
    margin-right: 1px;
    color: black;
    text-align: center;
}

.nwwest-roll{
    width: 100%;
    height: 800px;
    overflow: hidden;
    transition: all 0.5s;
}

.content-row{
    text-align: center;
    background: rgb(34,50,70);
    overflow: hidden;
    line-height: 40px;
}
.content-row:nth-child(2n){
    background: rgb(16,40,60);
}
.content-row div{
    width: 24.9%;
    float: left;
}
.content-row div:nth-child(1){
    color: white;
}
.content-row div:nth-child(2){
    color: rgb(255,0,0);
    font-weight: 600;
}
.content-row div:nth-child(3){
    color: rgb(254,239,47);
}
.content-row div:nth-child(4){
    color: rgb(34,255,41);
}
.bulebg{
    background-color: rgb(19, 206, 235);
}
.yellobg{
    background-color: rgb(36, 166, 206);
}
 .redbg{
     background-color: rgb(33, 137, 233);
 }
.greenbg{
    background-color: rgb(67, 151, 231);
}
</style>
