<template>
    <div ref="main" style="width:100%; height:calc(96% - 35px)"></div>
</template>

<script>
    import echarts from 'echarts'
import { mapState } from 'vuex'
//    import {getCaseStatus} from '../../../api/components/12345'
    // import {getCaseType} from "../../../api/components/12345"
    export default {
        data() {
            return {
                myChart: null,
                data2: []
            }
        },
        computed:{
            ...mapState({
                caseType:state=>state.echarts.caseType
            })
        },
        methods: {
            loadClassification(data){
                this.$store.dispatch('getCaseType',{timeType:data}).then(res=>{
                    this.getCasetype2(res.data)
                })
            },
            getCasetype2(data){
               this.myChart = echarts.init(this.$refs['main']);
                let data1 = []
                let data2 = []
                data.forEach(item=>{
                    let it ={
                        name:item.name,
                        count:item.count
                    }
                    data1.push(it.name)
                    data2.push(it.count)
                })
                let option = this.getEchartsOption(data1,data2)
                this.myChart.setOption(option);
            },
            getEchartsOption(arr1 ,arr2){
                let option= {
                    color:['rgb(213,172,100)'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis:  {
                        type: 'value',
                        axisLine:{
                            lineStyle:{
                                color:"rgb(167,227,233)",
                                type:"solid"
                            },
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: arr1,
                        axisLine:{
                            lineStyle:{
                                color:"#ffffff",
                                type:"solid"
                            },
                        },
                       axisLabel:{
                           textStyle:{
                               color:"rgb(167,227,233)",
                           }
                       }
                    },
                    series: [
                        {
                            name: '超期在办',
                            type: 'bar',
                            stack: '总量',
                            itemStyle:{
                                normal:{
                                    label:{
                                        show:true,
                                        textStyle:{
                                            color:'#ffffff',
                                            fontSize:16
                                        },
                                        position:'right'
                                    }
                                }
                            },
                            data: arr2
                        }
                    ]
                }
                return option;
            }
        },

        created() {
            this.$nextTick(() => {
                this.loadClassification(2)
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
