<template>
  <div class="container">
    <div class="row">
      <!-- {{todayanjian}} -->
      <div class="item">
        <div class="title">市民热线</div>
        <div class="numWrapper">
          <div class="num">{{ todayCreateNum }}</div>
          <span
            style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom"
            >次</span
          >
        </div>
      </div>
      <div class="item">
        <div class="title">城运管理</div>
        <div class="numWrapper">
          <div class="num">{{ otherUploadNum }}</div>
          <span
            style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom"
            >次</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="title">自主发现</div>
        <div class="numWrapper">
          <div class="num">{{ todayDiscoverNum }}</div>
          <span
            style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom"
            >次</span
          >
        </div>
      </div>
      <div class="item">
        <div class="title">其他工单</div>
        <div class="numWrapper">
          <div class="num">{{ todayDispatchNum }}</div>
          <span
            style="font-size:18px;color: rgb(15,101,156);vertical-align: bottom"
            >次</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import {getCaseSource} from '../../../api/components/12345'
import { mapState } from "vuex";
export default {
  name: "hello",
  data() {
    return {
      otherUploadNum: 0,
      todayCreateNum: 0,
      todayDiscoverNum: 0,
      todayDispatchNum: 0,
      todayEndNumber: 0,
      time: ""
    };
  },
  computed: {
    ...mapState({
      todayanjian: state => state.echarts.todayanjian
    })
  },
  methods: {
    getCaseSource2(index) {
      this.$store.dispatch("getCaseSource", { timeType: index }).then(res => {
        res.data.forEach(item => {
          if (item.name === 0) {
            this.todayDiscoverNum = item.count;
          } else if (item.name === 1) {
            this.todayCreateNum = item.count;
          } else if (item.name === 2) {
            this.otherUploadNum = item.count;
          } else if (item.name === 3) {
            this.todayDispatchNum = item.count;
          }
        });
      });
    }
  },
  mounted() {
    // this.$store.dispatch('getCaseSource',{timeType:2})
    this.getCaseSource2(2);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 100%;
  height: calc(100% - 55px);
  padding: 15px 10px 10px;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  flex: 1;
  display: flex;
}

.item {
  flex: 1;
}

.item .title {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-indent: -20px;
  color: #69cedd;
  text-align: center;
}

.item .num {
  width: 150px;
  height: 50px;
  background: rgb(12, 56, 79);
  line-height: 50px;
  display: inline-block;
  font-size: 44px;
  color: white;
  text-align: center;
}
</style>
