@colorGreen:#c3dac3;
@color61E1FB: #61E1FB;
@color53BDC1: #53BDC1;
.color_test_bg{
    background-color: @colorGreen;
}


// _t代表title，标题
// _c为color
// _lv为级别后面可以加数字代表级别几
// _bor 为border
@bor_c:#186597;
.t_c{//大屏通用字体颜色
    color: #5ed9f4;
}
.color_text_61E1FB{
    color: @color61E1FB;
}
.color_text_53BDC1{
    color: @color53BDC1;
}
