.w_100_percent{
    width: 100%;
}
.h_100_percent{
    height: 100%;
}
.h_lv2_title{ //二级标题高度
    height: 2rem;
}
.h_12rem{
    height: 12rem;
}
.h_11rem{
    height: 11rem;
}
.h_17rem{
    height: 17rem;
}
.h_18rem{
    height: 18rem;
}