// .border_1{
//     border: 1px solid @colorGreen;
// }
.line_h_lv2_title{//二级标题行高
    line-height: 2rem;
}
.padding_half{
    padding: 0.25rem;
}
.bor_1_out{
    border: 1px solid @bor_c;
}
.margin_t_2rem{
    margin-top: 2rem;
}
.margin_t_1rem{
    margin-top: 1rem;
}
.round_1rem{
    border-radius: 1rem;
}
