<template>
  <div class="videoNumer">
    <div class="videoNumerTable">
      <div class="table_header">
        <div class="table_header_item">排名</div>
        <div class="table_header_item">点位名称</div>
        <div class="table_header_item">所属区域</div>
        <div class="table_header_item">次数</div>
      </div>

        <div
          class="table_body"
          v-for="(item, index) in byCameraListAll"
          :key="item.category.id"
          @click="getCamera(item)"
        >
          <div class="table_body_item">{{ byCameralistParams.start+index+1 }}</div>
          <el-tooltip
            class="item"
            effect="dark"
            :content="item.category.properties.cameraName"
            placement="top"
          >
            <div class="table_body_item">{{ item.category.properties.cameraName }}</div>
          </el-tooltip>
          <el-tooltip
            class="item"
            effect="dark"
            :content="item.category.properties.folder"
            placement="top"
          >
            <div class="table_body_item">{{ item.category.properties.folder }}</div>
          </el-tooltip>

          <el-tooltip
            class="item"
            effect="dark"
            :content="item.hits"
            placement="top"
          >
            <div class="table_body_item">{{ item.hits }}</div>
          </el-tooltip>
        </div>

    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      videoconcatList: [
        {
          sort: "1",
          pointname: "沪南公路航南公路路口",
          company: "航头镇",
          count: "2587"
        },
        {
          sort: "2",
          pointname: "沪南公路沈梅路路口",
          company: "周浦镇",
          count: "2154"
        },
        {
          sort: "3",
          pointname: "沈梅路123弄15号楼",
          company: "周浦镇",
          count: "1958"
        },
        {
          sort: "4",
          pointname: "航头路520号",
          company: "航头镇",
          count: "1598"
        },
        {
          sort: "5",
          pointname: "周康路254号",
          company: "周浦镇",
          count: "1365"
        },
        {
          sort: "6",
          pointname: "航三路458号",
          company: "航头镇",
          count: "985"
        },
        {
          sort: "7",
          pointname: "界浜村238弄",
          company: "周浦镇",
          count: "385"
        },
        {
          sort: "8",
          pointname: "瑞安路700弄",
          company: "周浦镇",
          count: "268"
        },
        {
          sort: "9",
          pointname: "罗山路地铁站",
          company: "罗山路",
          count: "158"
        }
        // {sort:'10',pointname:'界浜村界浜村界浜村',company:'猎熊座安全技术上海有限公司',count:'100'},
      ]
    };
  },
  props: [],
  methods: { ...mapMutations([]) ,
    getCamera(item){
      this.$store.commit('CAMERA_LIST_RANDOMVIDEO',item)
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch('searchByCameraList',this.byCameralistParams)
  },
  watch: {},
  computed: {
    ...mapState({
      byCameralistParams:state=>state.videoAggregation.byCameralistParams,
      byCameraListAll:state=>state.videoAggregation.byCameraListAll,
      byCameraListTotalPage:state=>state.videoAggregation.byCameraListTotalPage,
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.videoNumer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: #fed;
  .videoNumerTable {
    // background: oldlace;
    overflow: hidden;
    .table_header {
      width: 100%;
      height: 150px;
      // background: #fed;
      border: 2px solid #3d6b81;
      display: grid;
      grid-template-columns: 15% 35% 35% 15%;
      grid-auto-rows: 100%;
      .table_header_item {
        border-right: 2px solid #3d6b81;
        background: rgba(1, 49, 72, 0.5);
        text-align: center;
        line-height: 140px;
        font-size: 60px;
        color: #19daee;
      }
      .table_header_item:last-child {
        border: none;
      }
    }
    .table_body {
      width: 100%;
      height: 150px;
      border-width: 0 2px 2px 2px;
      border-style: solid;
      border-color: #3d6b81;
      display: grid;
      grid-template-columns: 15% 35% 35% 15%;
      grid-auto-rows: 100%;
      cursor: pointer;
      .table_body_item {
        border-right: 2px solid #3d6b81;
        text-align: center;
        line-height: 140px;
        font-size: 55px;
        padding: 0 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .table_body_item:last-child {
        border: none;
      }
    }
  }
}

</style>

<style lang="less">

// .table_body {
.el-tooltip__popper {
  font-size: 20px !important;
}
// }
</style>