<template>
  <div class="videoRanklist">
    <div class="videoRanklistHeader">
      <div class="videoRanklistHeader_title">摄像头排名列表</div>
      <div class="videoRanklistHeader_bg"></div>
      <div class="videoRankClose" @click="closeVideoRanklist"></div>
    </div>
    <div class="videoRanklistContent">
      <videoNumList></videoNumList>
    </div>
    <div class="videoRanklistPage"> 
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="byCameralistParams.count"
        layout="total, prev, pager, next, jumper"
        :total="byCameraListTotalPage"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoNumList from "@/components/videoAggregation/videoNum/videoNumList.vue";
export default {
  data() {
    return {};
  },
  props: [],
  methods: { ...mapMutations([]), 
    handleCurrentChange(index) {
      Object.assign(this.byCameralistParams,{start:(index-1)*7})
      this.$store.dispatch('searchByCameraList',this.byCameralistParams)
    },
    closeVideoRanklist(){
        this.$store.commit('SET_VIDEO_RANK_VISIBLE',true)
    } 
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      byCameralistParams:state=>state.videoAggregation.byCameralistParams,
      byCameraListTotalPage:state=>state.videoAggregation.byCameraListTotalPage,
    }),

    ...mapGetters([])
  },
  components: {
    videoNumList
  }
};
</script>

<style lang='less' scoped>
.videoRanklist {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/videoAggregation/图层 704@2x.png")
    no-repeat;
  background-size: 100% 100%;
  .videoRanklistHeader {
    height: 200px;
    width: 100%;
    color: white;
    font-size: 65px;
    line-height: 250px;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 100%;
    position: relative;
    .videoRanklistHeader_title {
      text-align: center;
    }
    .videoRanklistHeader_bg {
      background: url("../../../assets/images/videoAggregation/图层 707@2x.png")
        no-repeat;
      background-position: 0% 70%;
      background-size: 30%;
    }
    .videoRankClose {
      width: 80px;
      height: 80px;
      background: url("../../../assets/images/videoAggregation/图层 706@2x.png")
        no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 90px;
      right: 10px;
      cursor: pointer;
    }
  }
  .videoRanklistContent {
    padding: 0 50px;
    height: calc(100% - 350px);
    overflow: hidden;
  }
  .el-pagination .el-pagination__total {
    font-size: 50px !important;
  }
}
</style>
<style lang="less">
.videoRanklistPage {
  padding-top: 10px;
  text-align: center;
  .el-pagination .el-pagination__total {
    font-size: 50px;
    color: oldlace;
    padding-top: 15px;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    background: transparent;
    font-size: 50px;
    color: white;
    padding-top: 15px;
  }
  .el-dialog,
  .el-pager li {
    background: transparent;
    color: white;
    font-size: 50px;
    padding-top: 15px;
  }
  .el-pager li.active {
    color: #409eff;
  }
  .el-pagination .btn-next .el-icon,
  .el-pagination .btn-prev .el-icon {
    font-size: 35px;
  }
  .el-pagination .el-pagination__jump {
    color: white;
    font-size: 50px;
  }
  .el-pagination .el-pagination__jump .el-input .el-input__inner {
    background: transparent;
    //   height: 40px;

    font-size: 45px;
    // padding: 10px;
    color: white;
  }
  .el-pagination__editor.el-input .el-input__inner {
    height: 60px;
  }
}
</style>
