<template>
  <div class='videomp4'>
      <div class="videomp4con">
          <div class="videoClose" @click="closeMp4"></div>
          <video src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/video_1.mp4"
            autoplay height='100%' width="100%" loop></video>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    closeMp4(){
        this.$store.commit('SET_VIDEO_MP4_VISIBLE',false)
    }
  },

  created(){},
  mounted(){},
  watch:{},
  computed:{ ...mapState({}),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.videomp4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    .videomp4con{
        width: 50%;
        height: 50%;
        // position: absolute;
        background: aliceblue;
        margin: 15% auto;
        position: relative;
        .videoClose{
            width: 100px;
            height: 110px;
            background: url('../../../assets/images/videoAggregation/图层 706@2x.png') no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 99999;
        }
    }
}
</style>
