<template>
  <div class="zhoujiadu-screen-container">
    <div class="video-item">
      <!-- <div id="camera-0-0" style="height:100%;width:100%;"></div> -->
      <video-container reffer="video-0-0" :url="zjd_0_0"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-1-0" :url="zjd_1_0"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-2-0" :url="zjd_2_0"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-0-1" :url="zjd_0_1"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-1-1" :url="zjd_1_1"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-2-1" :url="zjd_2_1"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-0-2" :url="zjd_0_2"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-1-2" :url="zjd_1_2"></video-container>
    </div>
    <div class="video-item">
      <video-container reffer="video-2-2" :url="zjd_2_2"></video-container>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import videoContainer from "@/components/videoContainer.vue";
import Vue from "vue";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions([]),
    ...mapMutations([])
  },
  created() {},
  mounted() {
    let screen = this.$route.params.screen;
    sessionStorage.setItem("screen", screen);
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
      if (
        this.timeString == "23:30:00" ||
        this.timeString == "21:30:00" ||
        this.timeString == "07:00:00" ||
        this.timeString == "12:00:00" ||
        this.timeString == "18:00:00"
      ) {
        window.location.reload();
      }
    }, 1000);
    this.$store.commit("INIT_WEBSOCKET");
    this.$store.dispatch("getCurrentWSvideoList");
  },
  watch: {
    cameraListLeft() {
      this.loadVideo();
    }
  },
  computed: {
    ...mapState({
      cameraListLeft: state => state.mapdevice.cameraListLeft,
      zjd_0_0: state => state.mapdevice.zjd_0_0,
      zjd_1_0: state => state.mapdevice.zjd_1_0,
      zjd_2_0: state => state.mapdevice.zjd_2_0,
      zjd_0_1: state => state.mapdevice.zjd_0_1,
      zjd_1_1: state => state.mapdevice.zjd_1_1,
      zjd_2_1: state => state.mapdevice.zjd_2_1,
      zjd_0_2: state => state.mapdevice.zjd_0_2,
      zjd_1_2: state => state.mapdevice.zjd_1_2,
      zjd_2_2: state => state.mapdevice.zjd_2_2
    }),
    ...mapGetters([])
  },
  components: { videoContainer }
};
</script>

<style lang="less" scoped>
.zhoujiadu-screen-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  grid-template-rows: 33.33333% 33.33333% 33.33333%;
}
</style>
