<template>
  <div>
    <div class="centerContainer">
      <div class="mapContainer">
        <div id="map-container"></div>
        <div class="tool-box">
          <div class="toolset">
            <img
              @click="openVideo"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/settings.png"
              alt
            />
            <div class="mapType mapTypes" v-if="videoShow">
              <div class="rigthjiao"></div>
              <div class="scene">
                <span
                  class="sceneItem"
                  v-for="item in screenList"
                  :key="item.urn.id"
                  @click="lorvideo(item)"
                  >{{ item.descriptor.properties.screenName }}</span
                >
                <!-- <span class="sceneItem" @click="lorvideo('left')">左侧大屏</span>
                          <span class="sceneItem" @click="lorvideo('right')">右侧大屏</span> -->
              </div>
            </div>
          </div>
          <div class="mapIcon">
            <img
              @click="setmapShow"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/map.png"
              alt
            />
            <div class="mapType mapTypes" v-if="mapShow">
              <div class="rigthjiao"></div>
              <div class="mapbox">
                <div class="mapjiben" @click="initBasemap">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/jichu.png"
                    alt
                  />
                  <div class="maptitle">标准</div>
                </div>
                <div class="mapweixing" @click="initWeixing">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/weixing.png"
                    alt
                  />

                  <div class="maptitle">卫星</div>
                </div>
                <div class="maphei" @click="initHeisemap">
                  <img
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/heise.png"
                    alt
                  />
                  <div class="maptitle">魅夜黑</div>
                </div>
              </div>
            </div>
          </div>
          <div class="searchBox">
            <img
              @click="setinputShow"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/search.png"
              alt
            />
            <div class="mapType mapTypes" v-if="inputShow">
              <div class="rigthjiao"></div>
              <div class="searchInput" style="margin-bottom: 10px">
                <input
                  @input="cleartext"
                  v-model="placetxt"
                  class="inputcontent"
                  v-on:keyup.enter="placeSearch"
                  placeholder="请输入关键词"
                  type="text"
                />
                <img
                  @click="placeSearch"
                  class="inputicon"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/searchicon.png"
                  alt
                />
              </div>
              <div
                class="searchList"
                v-show="poiList !== []"
                v-for="item in poiList"
                :key="item.id"
                @click="setcenter(item)"
              >
                {{ item.name }}
              </div>
            </div>
          </div>
          <div class="menu">
            <img
              @click="seticonShow"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/senior.png"
              alt
            />
            <div class="mapType mapTypes" v-if="iconShow">
              <div class="rigthjiao"></div>
              <div class="scene">
                <span
                  :class="
                    params.tags == 'school' ? ['sceneItemyello'] : ['sceneItem']
                  "
                  @click="selectSchool"
                  >学校</span
                >
                <span
                  :class="
                    params.tags == 'office' ? ['sceneItemyello'] : ['sceneItem']
                  "
                  @click="selectOffice"
                  >办公楼</span
                >
                <span class="sceneItem" @click="selectMarket">商场</span>
              </div>
            </div>
          </div>
          <div class="fangda">
            <img
              @click="zoom('in')"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bigger.png"
              alt
            />
          </div>
          <div class="suoxiao">
            <img
              @click="zoom('out')"
              class="img-icon"
              src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/smaller.png"
              alt
            />
          </div>
        </div>
      </div>
      <div class="menuContainer">
        <foot></foot>
      </div>
    </div>
    <router-view></router-view>
    <cameralocal
      v-if="controlLRvisiable"
      @lockVideo="lockVideo"
      :screenList="screenList"
    ></cameralocal>
    <video-popup
      :visible="videoVisible"
      @video:close="handleCloseVideo"
    ></video-popup>
  </div>
</template>

<script>
import foot from "./foot.vue";
import AMap from "AMap";
import { mapState } from "vuex";
import cameralocal from "@/components/cameraLocal.vue";
import videoPopup from "@/components/videoPopup.vue";
import Vue from "vue";
window.locationMsg = {};

export default {
  components: { videoPopup, cameralocal, foot },
  data() {
    return {
      currentIcon: [],
      params: {},

      placetxt: "",
      poiList: [],
      inputShow: false,
      mapShow: false,
      iconShow: false,
      videoShow: false
    };
  },
  created() {},
  watch: {
    screenList: function (val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
        console.log(val);
      }
    }
  },
  mounted() {
    this.$store.commit("INIT_AMAP");
  },
  computed: {
    ...mapState({
      screenList: (state) => state.mapdevice.screenList,
      videoVisible: (state) => state.mapdevice.videoVisible,
      globalAMap: (state) => state.tools.globalAMap,
      controlLRvisiable: (state) => state.tools.controlLRvisiable,
      lockList: (state) => state.mapdevice.lockList,
      deviceListPagination: (state) => state.mapdevice.deviceListPagination
    })
  },
  methods: {
    lockVideo(data) {
      console.log([data]);
      this.$store.dispatch("lockvideo", [data]);
    },
    setcenter(item) {
      this.placetxt = item.name;
      this.poiList = [];
      Vue.prototype.globalAMap.setCenter([
        item.location.lng,
        item.location.lat
      ]);
    },
    cleartext() {
      if (this.placetxt == "") {
        this.poiList = [];
      }
    },
    placeSearch() {
      let that = this;
      AMap.service(["AMap.PlaceSearch"], function () {
        let placeSear = new AMap.PlaceSearch({
          pageSize: 10, // 单页显示结果条数
          pageIndex: 1, // 页码
          city: "021" // 兴趣点城市
          // citylimit: true,  //是否强制限制在设置的城市内搜索
        });
        placeSear.search(that.placetxt, (status, res) => {
          that.poiList = res.poiList.pois;
        });
      });
    },
    selectSchool() {
      if (this.params.tags == "school") {
        this.params = {};
      } else {
        this.params = {
          tags: "school"
        };
      }
      this.$store.dispatch("getDeviceList", this.params);
    },
    selectOffice() {
      if (this.params.tags == "office") {
        this.params = {};
      } else {
        this.params = {
          tags: "office"
        };
      }
      this.$store.dispatch("getDeviceList", this.params);
    },
    selectMarket() {},
    handleCloseVideo: function () {
      // this.videoVisible = false;
      this.$store.commit("HIDE_VIDEO_VISIBLE");
    },
    zoom: function (item) {
      if (item == "out") {
        this.$store.commit("ZOOM_OUT_GLOBAL");
      } else {
        this.$store.commit("ZOOM_IN_GLOBAL");
      }
    },
    initWeixing() {
      this.$store.commit("WEIXING_AMAP");
    },
    initBasemap() {
      this.$store.commit("SHOW_BASE_MAP");
    },
    initHeisemap() {
      this.$store.commit("SHOW_HEISE_MAP");
    },
    openVideo() {
      this.videoShow = !this.videoShow;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = false;
      // if(localStorage.getItem('videoLeft')){
      // }else{
      //   open('/#/videoLeft')
      //   localStorage.setItem('videoLeft',true)
      // }
      // if(localStorage.getItem('videoRight')){
      // }else{
      //   open('/#/videoRight')
      //   localStorage.setItem('videoRight',true)
      // }
    },
    lorvideo(data) {
      open(
        `/zhuqiao/screen/urn:${data.urn.organization}:${data.urn.group}:${data.urn.id}?width=${data.descriptor.properties.width}&height=${data.descriptor.properties.height}&screenName=${data.descriptor.properties.screenName}`
      );
    },
    setinputShow() {
      this.mapShow = false;
      this.iconShow = false;
      this.videoShow = false;
      this.inputShow = !this.inputShow;
    },
    setmapShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.iconShow = false;
      this.mapShow = !this.mapShow;
    },
    seticonShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = !this.iconShow;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='less'>
@import "~@/assets/less/Ukey/dashboard.less";
.searchList {
  padding: 5px 0;
  color: aliceblue;
  background: #1e3d67;
  cursor: pointer;
}
.searchList:hover {
  background: #17305e;
}
.amap-logo {
  display: none !important;
}
.amap-copyright {
  opacity: 0 !important;
}
</style>
<style scoped>
.alertVideo .vodal-close {
  top: 0;
  right: 0;
}
.selectBt {
  border-radius: 32px;
  overflow: hidden;
  padding-right: 30px;
  background: white;
}

.selectRoom {
  width: 250px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -75px;
  z-index: 1000;
}

.select {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.alertdiv {
  width: 680px;
  height: 420px;
  background-color: #ffffff;
  text-align: center;
}

.alertdiv h3 {
  font-size: 25px;
  color: #000000;
  margin-top: 10px;
}

.alertdiv .grid {
  height: 240px;
  margin-top: 10px;
}

.alertdiv .grid table {
  width: 132px;
  height: 171px;
  border-collapse: collapse;
  float: left;
}

.alertdiv .grid table caption {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.alertdiv .grid table td {
  width: 66px;
  height: 47px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  border-collapse: collapse;
}

.alertdiv .grid table.grid-left {
  margin-left: 145px;
}

.alertdiv .grid table.grid-right {
  margin-left: 120px;
}

.alertdiv .grid table td.one {
  background-color: rgba(0, 0, 0, 0.1);
}

.alertdiv .grid table td.two {
  background-color: rgba(0, 0, 0, 0.2);
}

.alertdiv .grid table td.three {
  background-color: rgba(0, 0, 0, 0.3);
}

.alertdiv .buttons {
  margin-top: 10px;
}

.alertdiv .buttons .btn {
  width: 180px;
  height: 44px;
  letter-spacing: 5px;
  font-size: 20px;
  color: #000000;
  border-radius: 5px;
  border: none;
}

.alertdiv .buttons .btn:first-child {
  background-color: #ff5d8e;
}

.alertdiv .buttons .btn:last-child {
  background-color: #dddddd;
  margin-left: 70px;
}

.centerContainer {
  width: 990px;
  float: left;
  position: absolute;
  left: 50%;
  margin-left: -495px;
}

.centerContainer .mapContainer {
  width: 100%;
  height: 811px;
  border: 5px solid #1f7190;
}
.centerContainer .mapContainer .frameTop {
  width: 884px;
  height: 50px;
  position: absolute;
  z-index: 15;
  top: 15px;
  background: url("/static/img/bottomCom/map_farme_top.png") no-repeat;
  margin-left: 25px;
}
.centerContainer .mapContainer .frameTop p {
  text-align: left;
  font-size: 28px;
  color: #3386a7;
  padding-left: 30px;
  font-weight: bold;
}
.centerContainer .mapContainer .frameLeft {
  width: 17px;
  height: 147px;
  position: absolute;
  z-index: 15;
  left: 18px;
  top: 59px;
}
.centerContainer .mapContainer .frameLeft img {
  height: 100%;
}
.centerContainer .mapContainer .frameBottom {
  width: 178px;
  height: 10px;
  position: absolute;
  z-index: 15;
  top: 775px;
  right: 0;
}
.centerContainer .mapContainer .frameBottom img {
  width: 100%;
}

.centerContainer .mapContainer p.mapTitle {
  text-align: left;
  font-size: 28px;
  color: #3386a7;
  height: 55px;
  padding-top: 13px;
  padding-left: 60px;
  font-weight: bold;
}

.centerContainer .mapContainer .mapFrame {
  height: 725px;
  width: 895px;
  margin-top: 8px;
  margin-left: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.util {
  position: absolute;
  right: 45px;
  top: 70px;
  width: 58px;
  height: 300px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.55);
  /*overflow: hidden;*/
}
</style>
<!--<style>-->
    <!--element.style{-->
        <!--width: 265px;-->
        <!--left: -30px;-->
    <!--}-->
<!--</style>-->
