<template>
  <div class="container">
    <div id="headerContainer">
      <div id="header">
        <div class="title">祝桥镇城市运行综合管理智慧平台</div>
      </div>
    </div>
    <div class="bottomContainer">
      <bottom-com></bottom-com>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
import axios from "axios";
import bottomCom from "./bottomCom.vue";
// import {connect} from '@/utils/socket'
import AMap from "AMap";
// 治理要素table
export default {
  data() {
    return {
      d: new Date(),
      timeString: "",
      // videoVisible: false,
      weather: {},
      weatherIcon: [
        {
          weather: "雨",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yu.png"
        },
        {
          weather: "晴",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/qing.png"
        },
        {
          weather: "阴",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yintian.png"
        },
        {
          weather: "云",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yintian.png"
        },
        {
          weather: "雪",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/xue.png"
        }
      ],
      currentIcon: [],
      params: {},

      placetxt: "",
      poiList: [],
      inputShow: false,
      mapShow: false,
      iconShow: false,
      videoShow: false
    };
  },
  methods: {
    setcenter(item) {
      this.placetxt = item.name;
      this.poiList = [];
      Vue.prototype.globalAMap.setCenter([
        item.location.lng,
        item.location.lat
      ]);
    },
    cleartext() {
      if (this.placetxt == "") {
        this.poiList = [];
      }
    },
    placeSearch() {
      let that = this;
      AMap.service(["AMap.PlaceSearch"], function() {
        let placeSear = new AMap.PlaceSearch({
          pageSize: 10, // 单页显示结果条数
          pageIndex: 1, // 页码
          city: "021" // 兴趣点城市
          // citylimit: true,  //是否强制限制在设置的城市内搜索
        });
        placeSear.search(that.placetxt, (status, res) => {
          that.poiList = res.poiList.pois;
        });
      });
    },
    selectSchool() {
      if (this.params.tags == "school") {
        this.params = {};
      } else {
        this.params = {
          tags: "school"
        };
      }
      // this.$store.dispatch("getDeviceList", this.params);
    },
    selectOffice() {
      if (this.params.tags == "office") {
        this.params = {};
      } else {
        this.params = {
          tags: "office"
        };
      }
      // this.$store.dispatch("getDeviceList", this.params);
    },
    selectMarket() {},
    handleCloseVideo: function() {
      // this.videoVisible = false;
      this.$store.commit("HIDE_VIDEO_VISIBLE");
    },
    zoom: function(item) {
      if (item == "out") {
        this.$store.commit("ZOOM_OUT_GLOBAL");
      } else {
        this.$store.commit("ZOOM_IN_GLOBAL");
      }
    },
    initWeixing() {
      this.$store.commit("WEIXING_AMAP");
    },
    initBasemap() {
      this.$store.commit("SHOW_BASE_MAP");
    },
    initHeisemap() {
      this.$store.commit("SHOW_HEISE_MAP");
    },
    openVideo() {
      this.videoShow = !this.videoShow;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = false;
    },
    setinputShow() {
      this.mapShow = false;
      this.iconShow = false;
      this.videoShow = false;
      this.inputShow = !this.inputShow;
    },
    setmapShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.iconShow = false;
      this.mapShow = !this.mapShow;
    },
    seticonShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = !this.iconShow;
    },
    ...mapMutations([])
  },
  created() {
    setTimeout(() => {
      this.$store.dispatch("getDeviceList", this.deviceListPagination);
    }, 2000);
    // connect()
    // localStorage.removeItem('closeLandR')
    // localStorage.setItem('lockList',JSON.stringify(this.lockList))
  },
  mounted() {
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);
    // const token = Vue.ls.get("token");
    // if (!token) {
    //   alert("登陆已过期，请重新登录");
    //   this.$router.push("/login");
    // }
    this.$store.commit("INIT_AMAP");
    //高德天气
    axios
      .get(
        "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=cb3b07794f3bcac8dc6188757a5386c1"
      )
      .then(res => {
        if (res.data.info == "OK") {
          this.weather = res.data.lives[0];
          this.currentIcon = this.weatherIcon.filter(item => {
            return this.weather.weather.indexOf(item.weather) !== -1;
          });
        }
      });

    // this.$store.dispatch('getDeviceList',this.params)
    // window.onunload = ()=>{
    //   localStorage.setItem('closeLandR',true)
    // }
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
  },
  watch: {
    screenList: function(val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
        console.log(val);
      }
    }
  },

  computed: {
    weekString: function() {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function() {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    imgPrefix: function() {
      return process.env.VUE_APP_SECRET;
    },
    ...mapState({
      screenList: state => state.mapdevice.screenList,
      videoVisible: state => state.mapdevice.videoVisible,
      globalAMap: state => state.tools.globalAMap,
      controlLRvisiable: state => state.tools.controlLRvisiable,
      lockList: state => state.mapdevice.lockList,
      deviceListPagination: state => state.mapdevice.deviceListPagination
    }),
    ...mapGetters([])
  },
  components: {
    bottomCom
  }
};
</script>

<style scoped>
.container {
  background: url("/static/img/main/main-bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-width: 1900px;
  min-height: 1080px;
}
#headerContainer {
  width: 100%;
  height: 110px;
  position: relative;
}

#headerContainer #header {
  margin: 50px auto 0;
  margin: 0 auto;
  line-height: 90px;
  background: url("/static/img/main/head-bg.gif") no-repeat;
  background-size: cover;
}

#headerContainer #header .title {
  font-size: 38px;
  color: #ffffff;
  letter-spacing: 5px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  margin-left: 50px;
}
#headerContainer .timeContainer {
  position: absolute;
  z-index: 10;
  top: 35px;
  right: 15px;
  color: #44b6da;
  width: 420px;
  height: 80px;
}

#headerContainer .timeContainer p.time {
  font-size: 60px;
  float: left;
  text-align: left;
  margin-top: 4px;
  margin-left: 15px;
  font-weight: 400;
}

#headerContainer .timeContainer .dateContainer {
  float: left;
  margin-top: 22px;
}

#headerContainer .timeContainer .dateContainer p {
  margin: 0px;
  text-align: right;
  font-size: 20px;
}

.bottomContainer {
  min-height: 895px;
  height: calc(100% - 130px);
  width: 1890px;
  /* margin: 20px auto 0; */
}
</style>
