<template>
  <div class="contianer">
    <!--底部-->
    <div id="bottomContainer" onselectstart="return false;">
      <ul>
        <li>
          <button
            :class="
              $route.path === '/roadcams'
                ? ['lookup', 'roadActive']
                : ['lookup', 'hover']
            "
            @click="$router.push('/zhuqiao/dashboard/roadcams')"
          >
            人群观测布控
          </button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/peopleCounting'
                ? ['shorter', 'shorterActive']
                : ['shorter', 'hover']
            "
            @click="$router.push('/zhuqiao/dashboard/peopleCounting')"
          >
            人群密度
          </button>
        </li>
        <li>
          <button
            :class="$route.path === '/' ? ['index', 'indexActive'] : 'index'"
            @click="$router.push('/zhuqiao/dashboard')"
          ></button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/parking'
                ? ['shorter', 'carshop', 'shorterActive']
                : ['shorter', 'carshop', 'hover']
            "
            @click="$router.push('/zhuqiao/dashboard/parking')"
          >
            车辆违停
          </button>
        </li>
        <li>
          <button
            :class="
              $route.path === '/12345'
                ? ['hotline', 'hotlineActive']
                : ['hotline', 'hover']
            "
            @click="$router.push('/zhuqiao/dashboard/12345')"
          >
            工单分析
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      mapModelDisplay: false,
      userPermission: {}
    };
  },
  methods: {},
  created() {
    // let per = window.localStorage.userPermission
    // per.indexOf('illegalParking:read') > -1 ? Object.assign(this.userPermission, {illegalParking: true}) : false;
    // per.indexOf("suspect:read") > -1 ? Object.assign(this.userPermission, {suspect: true}) : false;
    // per.indexOf("crowdDensity:read") > -1 ? Object.assign(this.userPermission, {crowdDensity: true}) : false;
    // per.indexOf("hotLine:read") > -1 ? Object.assign(this.userPermission, {hotLine: true}) : false;
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contianer {
  width: 100%;
}
#bottomContainer {
  width: 100%;
  height: 120px;
}
#bottomContainer ul {
  padding: 0;
}
#bottomContainer li {
  float: left;
  line-height: 105px;
  margin-top: 10px;
  list-style: none;
  margin-left: 13px;
}
#bottomContainer li:first-child {
  margin-left: 0px;
}
#bottomContainer li button {
  color: #3386a7;
  font-family: 微软雅黑;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  vertical-align: middle;
  line-height: 10px;
  height: 55px;
  padding-bottom: 8px;
  cursor: pointer;
  outline: none;
}
#bottomContainer li button.lookup {
  background: url("/static/img/foot/btn-lookup-nor.png") no-repeat;
  background-size: 100%;
  width: 200px;
}

#bottomContainer li button.lookup:hover {
  background: url("/static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}

#bottomContainer li button.roadActive {
  background: url("/static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.shorter {
  background: url("/static/img/foot/btn-lookup-nor.png") no-repeat;
  width: 200px;
  background-size: 100%;
  margin-left: 0px;
}
#bottomContainer li button.shorter:hover {
  background: url("/static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.shorterActive {
  background: url("/static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.index {
  background: url("/static/img/foot/btn-home-nor.png") no-repeat;
  background-size: 100%;
  width: 120px;
  height: 120px;
  margin-left: 6px;
  margin-right: 6px;
}
#bottomContainer li button.index:hover {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-7%);
  }
  27% {
    transform: translateY(0%);
  }
  29% {
    transform: translateY(-3%);
  }
  30% {
    transform: translateY(0);
  }
}
/*#bottomContainer li button.index:hover {*/
/*background: url("../../static/img/foot/home_icon.gif") no-repeat;*/
/*}*/
#bottomContainer li button.indexActive {
  background: url("/static/img/foot/btn-home-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.carshop {
  margin-left: 1px;
}
#bottomContainer li button.hotline {
  background: url("/static/img/foot/btn-lookup-nor.png") no-repeat;
  background-size: 100%;
  width: 200px;
  margin-left: 4px;
}
#bottomContainer li button.hotline:hover {
  background: url("/static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}
#bottomContainer li button.hotlineActive {
  background: url("/static/img/foot/btn-lookup-sel.png") no-repeat;
  background-size: 100%;
  color: white;
}

#bottomContainer li .shorter.nohover:hover {
  background: url("/static/img/foot/btn-midu-nor.png") no-repeat;
  background-size: 100%;
  color: #3386a7;
}

#bottomContainer li .hotline.nohover:hover {
  background: url("/static/img/foot/btn-hotline-nor.png") no-repeat;
  background-size: 100%;
  color: #3386a7;
}

#bottomContainer li .lookup.nohover:hover {
  background: url("/static/img/foot/btn-lookup-nor.png") no-repeat;
  background-size: 100%;
  color: #3386a7;
}
</style>
