<template>
    <div class="bottom-left">
        <div class="left-title">
            <span class="border-icon"></span>
            <span v-if="metadatas.length>1" :class="checkSelect==1?'big-title':'small-title'" @click="checkItem(1)">街镇实时分析</span>
            <span v-if="metadatas.length>1" class="small-title"> / </span>
            <span :class="checkSelect==2?'big-title':'small-title'" @click="checkItem(2)">  居村实时分析</span>
        </div>
        <div class="table-box" v-if="metadatas.length>1&&checkSelect==1">
            <div class="table-title">
                <div class="item-style number-item">排名</div>
                <div class="item-style title-item">街镇名称</div>
                <div class="item-style title-item">实时调用路数</div>
            </div>
            <div class="table-list">
                <!-- <transition-group class="changebox">
                    <div class="line-style" v-for="item in testListData" :key="item">
                        <div class="inner" >
                            <div class="item-style number-item">{{item.rasking}}</div>
                            <div class="item-style title-item">{{item.name}}</div>
                            <div class="item-style title-item">{{item.time}}</div>
                        </div>
                    </div>
                </transition-group> -->
                <transition-group class="changebox">

                    <div class="line-style" v-for="(item,index) in realTimeByDistrict.slice(0,6)" :key="index+String(item)">
                        <div class="inner" >
                            <div class="item-style number-item">{{index + 1}}</div>
                            <el-tooltip
                                class="item"
                                effect="dark"
                                :content="item.category.properties.name"
                                placement="top"
                            >
                                <div class="item-style title-item">{{item.category.properties.name || ''}}</div>
                            </el-tooltip>
                            <div class="item-style title-item">{{item.total}}</div>
                        </div>
                    </div>
                    
                </transition-group>
<!-- 
                <div class="line-style">
                    <div class="inner inner1-sty">
                        <div class="item-style number-item">1</div>
                        <div class="item-style title-item">周浦镇</div>
                        <div class="item-style title-item">1875</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner inner2-sty">
                        <div class="item-style number-item">2</div>
                        <div class="item-style title-item">航头镇</div>
                        <div class="item-style title-item">1180</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner inner3-sty">
                        <div class="item-style number-item">3</div>
                        <div class="item-style title-item">三林镇</div>
                        <div class="item-style title-item">1090</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner">
                        <div class="item-style number-item">4</div>
                        <div class="item-style title-item">新场镇</div>
                        <div class="item-style title-item">1000</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner">
                        <div class="item-style number-item">5</div>
                        <div class="item-style title-item">曹路镇</div>
                        <div class="item-style title-item">900</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner">
                        <div class="item-style number-item">6</div>
                        <div class="item-style title-item">惠南镇</div>
                        <div class="item-style title-item">815</div>
                    </div>
                </div> -->
            </div>

        </div>
        <div class="table-box" v-if="checkSelect==2">
            <div class="table-title">
                <div class="item-style number-item">排名</div>
                <div class="item-style title-item">居村名称</div>
                <div class="item-style title-item">实时调用路数</div>
            </div>
            <div class="table-list">
                <!-- <transition-group class="changebox">
                    <div class="line-style" v-for="item in testListData" :key="item">
                        <div class="inner" >
                            <div class="item-style number-item">{{item.rasking}}</div>
                            <div class="item-style title-item">{{item.name}}</div>
                            <div class="item-style title-item">{{item.time}}</div>
                        </div>
                    </div>
                </transition-group> -->
                <transition-group class="changebox">

                    <div class="line-style" v-for="(item,index) in realTimeByDistrictcun.slice(0,6)" :key="index+String(item)">
                        <div class="inner" >
                            <div class="item-style number-item">{{index + 1}}</div>
                            <el-tooltip
                                class="item"
                                effect="dark"
                                :content="item.category.properties.name"
                                placement="top"
                            >
                                <div class="item-style title-item">{{item.category.properties.name || ''}}</div>
                            </el-tooltip>
                            <div class="item-style title-item">{{item.total}}</div>
                        </div>
                    </div>
                    
                </transition-group>
<!-- 
                <div class="line-style">
                    <div class="inner inner1-sty">
                        <div class="item-style number-item">1</div>
                        <div class="item-style title-item">周浦镇</div>
                        <div class="item-style title-item">1875</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner inner2-sty">
                        <div class="item-style number-item">2</div>
                        <div class="item-style title-item">航头镇</div>
                        <div class="item-style title-item">1180</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner inner3-sty">
                        <div class="item-style number-item">3</div>
                        <div class="item-style title-item">三林镇</div>
                        <div class="item-style title-item">1090</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner">
                        <div class="item-style number-item">4</div>
                        <div class="item-style title-item">新场镇</div>
                        <div class="item-style title-item">1000</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner">
                        <div class="item-style number-item">5</div>
                        <div class="item-style title-item">曹路镇</div>
                        <div class="item-style title-item">900</div>
                    </div>
                </div>
                <div class="line-style">
                    <div class="inner">
                        <div class="item-style number-item">6</div>
                        <div class="item-style title-item">惠南镇</div>
                        <div class="item-style title-item">815</div>
                    </div>
                </div> -->
            </div>

        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapMutations } from "vuex";
    export default {
        data() {
            return {
                testListData:[
                    {
                        rasking:1,
                        name:'周浦镇',
                        time:'1875'
                    }, {
                        rasking:2,
                        name:'航头镇',
                        time:'1180'
                    }, {
                        rasking:3,
                        name:'三林镇',
                        time:'1090'
                    }, {
                        rasking:4,
                        name:'新厂镇',
                        time:'1000'
                    }, {
                        rasking:5,
                        name:'曹路镇',
                        time:'900'
                    }, {
                        rasking:6,
                        name:'惠南镇',
                        time:'815'
                    }
                ],
                checkSelect:2
            };
        },
        props: [],
        methods: { 
            testDataChangeLeft(){
                let temp = null;
                this.testListData[2].rasking = 4;
                temp = this.testListData[2];
                this.testListData[3].time = '1110';
                this.testListData[3].rasking = 3;
                this.testListData[2]= this.testListData[3];
                this.testListData[3] = temp;
            }, 
            checkItem(data){
                // this.$store.commit('CLEAR_REALTIMEDISTRICT')
                this.checkSelect = data;
                var that = this;
                console.log(data)
                if(data == 2){
                    let params = {
                        start:0,
                        count:10,
                        district:12,
                    }
                    that.$store.dispatch("villageAnalyseList",params);
                    this.$store.commit("SET_VILLAGE_ANALYSE_VISIBLE",true)

                }
            }
        },
        created() {},
        mounted() {
            // setTimeout(() => {
            //     this.testDataChangeLeft();
            // }, 70000);
            this.$store.dispatch('realtimeByDistrict')
        },
        watch: {},
        computed: {
            ...mapState({
                realTimeByDistrict:state=>state.videoAggregation.realTimeByDistrict,
                realTimeByDistrictcun:state=>state.videoAggregation.realTimeByDistrictcun,
                metadatas: (state) => state.videoAggregation.metadatas,
            }),

            ...mapGetters([])
        },
        components: {}
    };
</script>

<style lang='less' scoped>
    @import "~@/assets/less/videoAggregation/rightBottom.less";
</style>
