<template>
  <div class="bottom-right">
    <div class="button-line">
      <div @click="checkBtn(1)" :class="checkItem==1?'button-ac':'button-nor'">次数</div>
      <div @click="checkBtn(2)" :class="checkItem==2?'button-ac':'button-nor'">时长</div>
    </div>
    <div class="echart-box" v-loading="loading" element-loading-background="rgba(0, 0, 0, 0)">
      <div id="moreEchart" style="width: 100%; height: 102%"></div>
    </div>

  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echarts from "echarts";
export default {
  data() {
    return {
      checkItem: 1,
      myChart: null,
      loading: false,
      idShoe: false
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    init(data) {
      let myChart = echarts.init(document.getElementById("moreEchart"));

      let option = {
        color: ["#00C4F5", "#F3D813"],
        textStyle: {
          fontSize: "60"
        },
        grid: {
          left: "15%",
          top: "8%",
          bottom: "18%",
          right: "10%"
        },
        tooltip: {
          trigger: "axis",
          textStyle: {
            fontSize: "90"
          },
          formatter(params){
            return `
            ${params[0].axisValue} </br>
            次数：${params[0].value} </br>
            百分比：${params[1].value}%
            `
          }
        },
        xAxis: [
          {
            type: "category",
            data: data.prex,
            axisPointer: {
              type: "shadow"
            },
            axisLine: {
              show: false,
              lineStyle: {
                color: "#fff"
              }
            },
            axisLabel: {
              fontSize: "60",
              margin: 50,
              rotate: -40
            }
          }
        ],
        yAxis: [
          {
            nameGap: 50,
            type: "value",
            name: this.checkItem==1?"(单位：次数)":"(单位：分钟)",
            min: 0,
            axisLabel: {
              // formatter: '{value} ml',
              fontSize: "60"
            },
            axisLine: {
              show: false,
              lineStyle: {
                color: "#00C4F5"
              }
            }
          },
          {
            nameGap: 50,
            type: "value",
            name: "（百分比）",
            min: 0,
            axisLabel: {
              formatter: "{value}%",
              fontSize: "60"
            },
            axisLine: {
              lineStyle: {
                color: "#FFCC00"
              }
            }
          }
        ],
        series: [
          {
            barWidth: 70,
            name: this.checkItem==1?"次数":"时长",
            type: "bar",
            data: data.prey
          },
          {
            name: "百分比",
            type: "line",
            yAxisIndex: 1,
            data: data.prepoint,
            itemStyle: {
              normal: {
                lineStyle: {
                  width: 10 // 0.1的线条是非常细的了
                }
              }
            },
            symbolSize: 20 //设定实心点的大小
          }
        ]
      };
      myChart.setOption(option);
    },
    sortNum(a, b) {
      return b.hits - a.hits;
    },
    sortTimelong(a, b) {
      return b.durations - a.durations;
    },
    checkBtn(item) {
      this.checkItem = item;
      if (item == 1) {
        this.init(this.arrPrex);
      } else {
        this.init(this.arrPrex2);
      }
    }
  },

  created() {},
  mounted() {
      let searchbyParams ={
        timeUnit:'Y',
         urns:[]
      }
      this.$store.dispatch("searchByTag", searchbyParams)
  },
  watch: {
    arrPrex: {
      handler(newValue, oldValue) {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
          this.init(newValue);

        }, 1000);
      },
      deep: true
    }
  },
  computed: {
    ...mapState({
      searchbyParams: (state) => state.videoAggregation.searchbyParams,
      arrPrex: (state) => state.videoAggregation.arrPrex,
      arrPrex2: (state) => state.videoAggregation.arrPrex2
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/videoAggregation/rightBottom.less";
</style>
<style lang="less">
.el-loading-spinner .circular {
  width: 200px;
  height: 200px;
}
</style>
