<template>
    <div class="right-bottom">
        <div class="left-box">
            <right-bottomleft></right-bottomleft>
        </div>
        <div class="right-box">
            <div class="line-style">
                <img src="../../../assets/images/videoAggregation/fengexian.png" alt="">
            </div>
            <right-bottomright></right-bottomright>
        </div>
    </div>
</template>

<script>
    import rightBottomleft from "./rightBottomLeft";
    import rightBottomright from "./rightBottomRight"
    import { mapState, mapGetters, mapMutations } from "vuex";
    export default {
        data() {
            return {};
        },
        props: [],
        methods: { ...mapMutations([]) },

        created() {},
        mounted() {

        },
        watch: {},
        computed: {
            ...mapState({}),

            ...mapGetters([])
        },
        components: {
            rightBottomleft,
            rightBottomright
        }
    };
</script>

<style lang='less' scoped>
    @import "~@/assets/less/videoAggregation/rightBottom.less";
</style>
