<template>
  <div class="basicInfoStatistics">
    <div class="basic_zhishou">
      <div class="badic_zhishou_info_title">
          <div class="titlecontent">值守力量</div>
      </div>

      <div class="badic_zhishou_info" @click="showZhishou(0)">
        <img src="~@/assets/images/lingang/jucunzhishou@2x.png" alt="" class="badic_zhishou_info_img">
        <div class="badic_zhishou_info_title_box">
            <span class="title">村居值守</span>
            <div class="number">
              {{ basicdatapool.jucunCount }}<span class="unit">人</span></div>
        </div>
      </div>

      <div class="badic_zhishou_info" @click="showZhishou(1)">
        <img src="~@/assets/images/lingang/xietongzhishou@2x.png" alt="" class="badic_zhishou_info_img">
        <div class="badic_zhishou_info_title_box">
            <span class="title">村居值守</span>
            <div class="number">
              {{ basicdatapool.coordinationCount }}<span class="unit">人</span></div>
        </div>
      </div>
    </div>

    <div class="basic_info_item_title_box">
        <img src="~@/assets/images/lingang/ren_30_30@2x.png" alt="" class="basic_info_item_title_box_img">
        <span class="basic_info_item_title_text">人</span>
    </div>
    <div class="basic_info_item_box">
        <div class="basic_info_item">
          实有人口
          <div class="uprodownBox">
            
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          户籍人口
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          来沪人口
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>

          </div>
        </div>
        <div class="basic_info_item">
          境外人口
          <div class="uprodownBox">
            <!-- <div class="upOrdownCount">12</div> -->
            <!-- <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown"> -->
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          党员
          <div class="uprodownBox">
            <!-- <div class="upOrdownCount">12</div> -->
            <!-- <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown"> -->
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          重点关注
          <div class="uprodownBox">
            <!-- <div class="upOrdownCount">12</div> -->
            <!-- <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown"> -->
            <div class="count">8889</div>
          </div>
        </div>
        
    </div>

    <div class="basic_info_item_title_box" v-if="true">
        <img src="~@/assets/images/lingang/fang_30_30@2x.png" alt="" class="basic_info_item_title_box_img">
        <span class="basic_info_item_title_text">房</span>
    </div>
    <div class="basic_info_item_box" >
        <div class="basic_info_item">
          房屋总量
          <div class="uprodownBox">
            
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          自主房屋
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          出租房屋
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>

          </div>
        </div>
        <div class="basic_info_item">
          空关房屋
          <div class="uprodownBox">
            <!-- <div class="upOrdownCount">12</div> -->
            <!-- <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown"> -->
            <div class="count">8889</div>
          </div>
        </div>

        
        
    </div>

        <div class="basic_info_item_title_box" v-if="true">
        <img src="~@/assets/images/lingang/di_30_30@2x.png" alt="" class="basic_info_item_title_box_img">
        <span class="basic_info_item_title_text">地</span>
    </div>
    <div class="basic_info_item_box" >
        <div class="basic_info_item">
          片区面积
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          小区数量
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>
          </div>
        </div>

        <div class="basic_info_item">
          微型消防站
          <div class="uprodownBox">
            <div class="upOrdownCount">12</div>
            <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown">
            <div class="count">8889</div>

          </div>
        </div>
        <div class="basic_info_item">
          电梯
          <div class="uprodownBox">
            <!-- <div class="upOrdownCount">12</div> -->
            <!-- <img src="~@/assets/images/lingang/shangsheng_green@2x.png" alt="" class="upOrdown"> -->
            <div class="count">8889</div>
          </div>
        </div>

        
        
    </div>

    <div class="basic_bagua" v-if="false">
      <div class="bagua_png"></div>
      <div class="bagua_text left_top">
        <div class="bagua_text_item">
          <span class="title">实有人口</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.realPopulation }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">户籍人口</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.householdRegister }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">来沪人口</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.comeShangahi }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">境外人口</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.overseasPopulation }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">党员</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.partyMember }}</span>
        </div>
      </div>
      <div class="bagua_text right_top">
        <div class="bagua_text_item">
          <span class="title">房屋总量</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.totalHousing }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">自住房屋</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.independentHousing }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">出租房屋</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.rentalHousing }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">空关房屋</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.emptyHouse }}</span>
        </div>
      </div>
      <div class="bagua_text left_bottom">
        <div class="bagua_text_item">
          <span class="title">片区面积</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.zoneArea }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">小区数量</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.villageCount }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">微型消防站</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.miniFireStation }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">电梯</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.elevator }}</span>
        </div>
      </div>
      <div class="bagua_text right_bottom">
        <div class="bagua_text_item" @click="showQiye">
          <span class="title">企业数</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.enterpriseCount }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">仓库数</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.warehouseCount }}</span>
        </div>
        <div class="bagua_text_item">
          <span class="title">在建工地数</span>
          &nbsp;&nbsp;
          <span class="number">{{ basicdatapool.workSiteOnLine }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import Vue from "vue";
export default {
  data() {
    return {
      numberOfZhishou: 90,
      numberOfXietong: 90
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    showZhishou(data) {
      Object.assign(this.synergyParams, {
        type: data,
        page: 1,
        districtId: Vue.ls.get("districtId")
      });
      this.$store.dispatch("SynergyPage", this.synergyParams);
      if (data == 1) {
        this.$store.commit("SET_BASICINFO_TITLE", "协同值守");
      } else {
        this.$store.commit("SET_BASICINFO_TITLE", "居村值守");
      }

      this.$store.commit("SET_BASICINFO_VISIBLE", false);
      this.$store.commit("SET_ZHISHOULIST_VISIBLE", true);
    },
    showQiye() {
      this.$store.commit("SET_BASICINFO_TITLE", "企业列表");
      this.$store.commit("SET_BASICINFO_VISIBLE", false);
      this.$store.commit("SET_QIYELIST_VISIBLE", true);
    },
    setZhishouNumber() {
      const that = this;
      var Rank = {
        // 初始化
        init: function(number) {
          var rank_num = number;
          if (!rank_num) {
            return;
          }
          if (typeof Number(rank_num) === "number") {
            this._compute(rank_num);
          }
        },

        // 按照一定规则计算
        _compute: function(rank_num) {
          var timer, temp_num, step, rate;

          // 第一次计算出一个初始值
          temp_num = Math.round(rank_num / 5);

          // 每次增加数值
          if (rank_num < 100) {
            step = Math.round(Math.round(rank_num / 2)) / 10;
          } else if (rank_num < 1000 && rank_num > 100) {
            step = Math.round(Math.round(rank_num / 2)) / 50;
          }

          // 循环更新temp_num的值
          function _count(temp_num, step) {
            temp_num = Math.round(temp_num + step * Math.random());

            // 调用 _show 方法
            Rank._show(temp_num);

            // 根据条件判断，改变方法执行的时间间隔
            if (temp_num < 100) {
              rate = temp_num / rank_num > 0.95 ? 10 : 1;
            } else if (temp_num > 100 && temp_num < 1000) {
              rate = temp_num / rank_num > 0.95 ? 50 : 10;
            }

            timer = setTimeout(function() {
              _count(temp_num, step);
            }, rate);

            if (temp_num > rank_num) {
              clearTimeout(timer);
              Rank._show(rank_num);
            }
          }
          _count(temp_num, step);
        },

        // 显示数字的变化情况
        _show: function(temp_num) {
          // 数字的变化
          // console.log(temp_num);
          // console.log(typeof(temp_num));
          that.numberOfZhishou = temp_num;
        }
      };
      setInterval(() => {
        Rank.init(200);
      }, 10000);
    },
    setXietongNumber() {
      const that = this;
      var Rank = {
        // 初始化
        init: function(number) {
          var rank_num = number;
          if (!rank_num) {
            return;
          }
          if (typeof Number(rank_num) === "number") {
            this._compute(rank_num);
          }
        },

        // 按照一定规则计算
        _compute: function(rank_num) {
          var timer, temp_num, step, rate;

          // 第一次计算出一个初始值
          temp_num = Math.round(rank_num / 5);

          // 每次增加数值
          if (rank_num < 100) {
            step = Math.round(Math.round(rank_num / 2)) / 5;
          } else if (rank_num < 1000 && rank_num > 100) {
            step = Math.round(Math.round(rank_num / 2)) / 50;
          }

          // 循环更新temp_num的值
          function _count(temp_num, step) {
            temp_num = Math.round(temp_num + step * Math.random());

            // 调用 _show 方法
            Rank._show(temp_num);

            // 根据条件判断，改变方法执行的时间间隔
            if (temp_num < 100) {
              rate = temp_num / rank_num > 0.95 ? 5 : 1;
            } else if (temp_num > 100 && temp_num < 1000) {
              rate = temp_num / rank_num > 0.95 ? 50 : 10;
            }

            timer = setTimeout(function() {
              _count(temp_num, step);
            }, rate);

            if (temp_num > rank_num) {
              clearTimeout(timer);
              Rank._show(rank_num);
            }
          }
          _count(temp_num, step);
        },

        // 显示数字的变化情况
        _show: function(temp_num) {
          // 数字的变化
          // console.log(temp_num);
          // console.log(typeof(temp_num));
          that.numberOfXietong = temp_num;
        }
      };
      setInterval(() => {
        Rank.init(90);
      }, 3000);
    }
  },

  created() {},
  mounted() {
    // this.$store.dispatch('basicDataPool')
  },
  watch: {},
  computed: {
    ...mapState({
      basicdatapool: state => state.lingangbasicInfo.basicdatapool,
      synergyParams: state => state.lingangbasicInfo.synergyParams
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.basicInfoStatistics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .basic_zhishou {
    height: 15%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent, #14366d, transparent) 1
      50;
    cursor: pointer;
    flex-direction: row;
    .badic_zhishou_info_title {
      height: 100%;
      width: 24%;
      box-sizing: border-box;
      
      display: flex;
      align-items: center;
      justify-content: center;
      .titlecontent{
          background: linear-gradient(90deg, #1E376C);
          height: 35%;
          width: 60%;
          border-radius: 5%;
          background: linear-gradient(90deg, #0F5792, #092E5B);
          font-size: 1rem;
          text-align: center;
          color: #69E4FB;
      }
    }
    .badic_zhishou_info {
      flex: 1;
      text-align: center;
      box-sizing: border-box;
      padding-top: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .title {
        font-size: 0.8rem;
        color: #cecfd7;
        // text-align: left;
      }
      .badic_zhishou_info_title_box{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
      }
      .badic_zhishou_info_img{
        height: 2.5rem;
        width: 2.2rem;
        background-size: 100% 100%;
      }
      .number {
        color: #21F8B8;
        font-size: 1.2rem;
      }
      .unit{
        font-size: 0.8rem;
        color: #51D2FF;
      }
    }
  }

  .basic_info_item_title_box{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.2rem 0.5rem;
    
    .basic_info_item_title_box_img{
      height: 2rem;
      width: 2rem;
      background-size: 100% 100%;
      margin-left: 0.3rem;
    }
    .basic_info_item_title_text{
      color: #80F6FC;
      font-size: 1.1rem ;
      margin-left: 0.5rem;
    }
  }
  .basic_info_item_box{
    height: atuo;
    width: 100%;
    display: grid;
    grid-template-columns:32.5% 32.5% 32.5%;
    grid-auto-rows: auto;
    // display: flex;
    // flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0.3 0.5rem;
    justify-content: space-around;
    grid-row-gap: 0.3rem;
    .basic_info_item{
      height: 2rem;
      width: 100%;
      background: linear-gradient(90deg, #0F5792, #092E5B);
      border-radius: 2%;
      color: #80F6FC;
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      padding-left: 2%;
      .uprodownBox{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
      .count{
        color: #FAE958 ;
        font-size: 0.7rem;
        margin-right: 0.5rem;
      }
      .upOrdown{
        background-size: 100% 100%;
        height: 40%;
        width: 0.4rem;
        margin-right: 0.1rem;
      }
      .upOrdownCount{
        color: #21F8B8;
        font-size: 0.7rem;
        margin-right: 0.5rem;

      }
    }
  }
  .basic_bagua {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .bagua_png {
      width: 200px;
      height: 200px;
      background: url(../../../assets/images/lingang/yuan@2x.png) no-repeat;
      background-size: 100% 100%;
    }
    .bagua_text {
      width: calc((100% - 200px) / 2);
      height: 40%;
      position: absolute;
    }
    .left_top {
      left: 20px;
      top: 0;
      .bagua_text_item:first-child {
        margin-top: 10px;
      }
      .bagua_text_item {
        font-size: 13px;
        text-align: right;
        padding-right: 30px;
        // cursor: pointer;
        box-sizing: border-box;
        display: flex;
        line-height: 25px;
        .title {
          flex: 1;
          color: #3ed1d8;
        }
        .number {
          flex: 0.5;
          color: #eddd2c;
        }
      }
    }
    .left_top::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
      transform: rotate(180deg);
      pointer-events: none;
    }
    .right_top {
      right: 20px;
      top: 0;
      .bagua_text_item:first-child {
        margin-top: 30px;
      }
      .bagua_text_item {
        font-size: 13px;

        padding-left: 30px;
        // padding-left: 5px;
        box-sizing: border-box;
        display: flex;
        line-height: 25px;
        .title {
          flex: 1;
          color: #3ed1d8;
        }
        .number {
          flex: 1;
          color: #eddd2c;
        }
      }
    }
    .right_top::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
      transform: rotateX(180deg);
      pointer-events: none;
    }
    .left_bottom {
      left: 20px;
      bottom: 0;
      .bagua_text_item {
        font-size: 13px;
        text-align: right;
        padding-right: 30px;
        // padding-left: 5px;
        box-sizing: border-box;
        display: flex;
        line-height: 25px;
        .title {
          flex: 1;
          color: #3ed1d8;
        }
        .number {
          flex: 0.5;
          color: #eddd2c;
        }
      }
    }
    .left_bottom::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
      transform: rotateY(180deg);
      pointer-events: none;
    }
    .right_bottom {
      right: 20px;
      bottom: 0;
      .bagua_text_item:first-child {
        cursor: pointer;
      }
      .bagua_text_item {
        font-size: 13px;

        padding-left: 30px;
        // padding-left: 5px;
        box-sizing: border-box;
        display: flex;
        line-height: 25px;
        .title {
          flex: 1;
          color: #3ed1d8;
        }
        .number {
          flex: 1;
          color: #eddd2c;
        }
      }
    }
    .right_bottom::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../../../assets/images/lingang/huxian@2x.png) no-repeat;
      pointer-events: none;
    }
  }
}
</style>
