<template>
  <div class='qiyeList'>
    <div class="closeimg" @click="closeQiye">
        <img src="../../../assets/images/lingang/guanbi@2x.png" alt="">
    </div>
    <div class="zhishou_list_content">
        <div class="zhishou_list_title">
            <div class="zhishou_list_title_text">编号</div>
            <div class="zhishou_list_title_text">单位名称</div>
            <div class="zhishou_list_title_text">地址</div>
        </div>
        <div class="zhishou_list_item" v-for="(item,index) in qiyeList.records" :key="item.id" @click="getQiyeInfo(item)">
            <div class="zhishou_list_item_text">{{(params.page-1)*10+index+1}}</div>
            <el-tooltip effect="dark" :content="item.companyName" placement="bottom">
               <div class="zhishou_list_item_text">{{item.companyName}}</div>
            </el-tooltip>
            <el-tooltip effect="dark" :content="item.address" placement="bottom">
               <div class="zhishou_list_item_text">{{item.address}}</div>
            </el-tooltip>
        </div>
        <div class="page">
            <el-pagination
                @current-change='currentChange'
                :page-size="10"
                :pager-count='5'
                layout="total, prev, pager, next, jumper"
                :total="qiyeList.total">
            </el-pagination>
        </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from "vue";
export default {
  data() {
    return {
        params:{
            page:1,
            pagesize:10,
            districtId:Vue.ls.get("districtId")
        }
    }
  },
  props:[],
  methods:{ 
      ...mapMutations([]),
      closeQiye(){
        this.$store.commit('SET_BASICINFO_TITLE',"基础信息")
        this.$store.commit('SET_QIYELIST_VISIBLE',false)
        this.$store.commit('SET_BASICINFO_VISIBLE',true)
      },
      getQiyeInfo(item){
        item.popType = 'SET_QIYEINFOPOP_VISIBLE'
        this.$store.commit('ADD_MARKER',item)
      },
      currentChange(index){
        this.params.page = index
        this.$store.dispatch('companyPage',this.params)
      }
  },

  created(){},
  mounted(){
      this.$store.dispatch('companyPage',this.params)
  },
  watch:{},
  computed:{ ...mapState({
      qiyeList:state=>state.lingangbasicInfo.companyList
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.qiyeList{
    width: 100%;
    height: 100%;
    position: relative;
    .closeimg{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 999;
        transition: all 1s;
        img{
            height: 100%;
        }
    }
    .closeimg:hover{
        transform: rotate(360deg);
    }
    .zhishou_list_content{
        width: 100%;
        height: 100%;
        padding: 25px 10px 0;
        box-sizing: border-box;
        position: relative;
        .zhishou_list_title{
            height: 25px;
            width: 100%;
            display: flex;
            line-height: 25px;
            .zhishou_list_title_text{
                text-align: center;
                color: #05dfe6;
                font-size: 14px;
            }
            .zhishou_list_title_text:first-child{
                flex: 1;
            }
            .zhishou_list_title_text:nth-child(2),.zhishou_list_title_text:nth-child(3){
                flex: 2;
            }
        }
        .zhishou_list_item{
            height: 30px;
            width: 100%;
            display: flex;
            line-height: 30px;
            cursor: pointer;
            .zhishou_list_item_text{
                text-align: center;
                color: #bebfc7;
                font-size: 14px;
            }
            .zhishou_list_item_text:first-child{
                flex: 1;
            }
            .zhishou_list_item_text:nth-child(2),.zhishou_list_item_text:nth-child(3){
                flex: 2;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0 10px;
                box-sizing: border-box;
            }
        }
        .page{
            width: 100%;
            position: absolute;
            bottom: 0;;
            text-align: center;
        }
    }
}
</style>
<style lang="less">
.btn-prev,.btn-next,.el-pager .number,.el-pagination__total,.el-pagination__jump,.el-input__inner{
    background: transparent !important;
    color: white;
}
.el-icon-arrow-left:before{
    color: #aaa;
}
.el-icon-arrow-right:before{
    color: #aaa;
}
</style>
