<template>
  <div class='zhishouList'>
    <div class="closeimg" @click="closeZhishou">
        <img src="../../../assets/images/lingang/guanbi@2x.png" alt="">
    </div>
    <div class="zhishou_list_content">
        <div class="zhishou_list_title">
            <div class="zhishou_list_title_text">编号</div>
            <div class="zhishou_list_title_text">姓名</div>
            <div class="zhishou_list_title_text">职务</div>
            <div class="zhishou_list_title_text">状态</div>
        </div>
        <div class="zhishou_list_item" v-for="(item,index) in synergyList" :key="item.id">
            <div class="zhishou_list_item_text">{{(synergyParams.page-1)*10 + index+1}}</div>
            <div class="zhishou_list_item_text">{{item.fullName}}</div>
            <div class="zhishou_list_item_text">{{item.job}}</div>
            <div class="zhishou_list_item_text">离线</div>
        </div>
        <div class="page">
            <el-pagination
                :current-page="synergyParams.page"
                 @current-change="handleCurrentChange"
                :page-size="10"
                :pager-count='5'
                layout="total, prev, pager, next, jumper"
                :total="synergyTotal">
            </el-pagination>
        </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
       
    }
  },
  props:[],
  methods:{ 
      ...mapMutations([]),
      closeZhishou(){
        this.$store.commit('SET_BASICINFO_TITLE',"基础信息")
        this.$store.commit('SET_ZHISHOULIST_VISIBLE',false)
        this.$store.commit('SET_BASICINFO_VISIBLE',true)
      },
      handleCurrentChange(index){
          Object.assign(this.synergyParams,{page:index,})
          this.$store.dispatch('SynergyPage',this.synergyParams)
      }
  },

  created(){},
  mounted(){
      
  },
  watch:{},
  computed:{ ...mapState({
      SynergyPage:state=>state.lingangbasicInfo.SynergyPage,
      synergyTotal:state=>state.lingangbasicInfo.synergyTotal,
      synergyParams:state =>state.lingangbasicInfo.synergyParams,
      synergyList:state =>state.lingangbasicInfo.synergyList,
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.zhishouList{
    width: 100%;
    height: 100%;
    position: relative;
    .closeimg{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 999;
        transition: all 1s;
        img{
            height: 100%;
        }
    }
    .closeimg:hover{
        transform: rotate(360deg);
    }
    .zhishou_list_content{
        width: 100%;
        height: 100%;
        padding: 25px 10px 0;
        box-sizing: border-box;
        position: relative;
        .zhishou_list_title{
            height: 25px;
            width: 100%;
            display: flex;
            line-height: 25px;
            .zhishou_list_title_text{
                text-align: center;
                color: #05dfe6;
                font-size: 14px;
            }
            .zhishou_list_title_text{
                flex: 1;
            }
        }
        .zhishou_list_item{
            height: 30px;
            width: 100%;
            display: flex;
            line-height: 30px;
            .zhishou_list_item_text{
                text-align: center;
                color: #bebfc7;
                font-size: 14px;
            }
            .zhishou_list_item_text{
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                // padding: 0 10px;
                // box-sizing: border-box;
            }
        }
        .page{
            width: 100%;
            position: absolute;
            bottom: 0;;
            text-align: center;
        }
    }
}
</style>
<style lang="less">
.btn-prev,.btn-next,.el-pager .number,.el-pagination__total,.el-pagination__jump,.el-input__inner{
    background: transparent !important;
    color: white;
}
.el-icon-arrow-left:before{
    color: #aaa;
}
.el-icon-arrow-right:before{
    color: #aaa;
}
</style>
