<template>
    <div class="container">
        <div class="title">{{taskList[0].policyName}}</div>
        <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/starfish-v3/manageTaskTableClose.png"
         alt="" class="closeimg" @click="close">
         <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/starfish-v3/manageTaskTablePopLine01.png" style="margin-top:3rem;width:90%;height:1px;" alt="">

         <div class="zhishouboxcol">
            <div class="zhishouboxrow" style="flex:1.8">
                时间
            </div>
            <div class="zhishouboxrow">
                主责部门
            </div>
            <!-- <div class="zhishouboxrow" >
                处理状态
            </div> -->
            
            <div class="zhishouboxrow" style="flex:1.8">
                状态
            </div>
            
        </div>
         <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/starfish-v3/manageTaskTablePopLine02.png" style="margin-top:0.5rem;width:90%;height:1px;" alt="">

          <swiper
                :options="swiperOption"
                style="width:100%"
                ref="mySwiper"
                v-if="taskList">
                <swiperSlide class="zhishouboxcol_item" v-for="(item,index) in taskList" :key="index" @click.native="zhishouliliangInfo(item)">
                <div class="zhishouboxrow_item" style="flex:1.8;">
                    {{item.createTime}} 
                </div>
                <div class="zhishouboxrow_item" >
                    {{item.deptNameList}}
                </div>
                <!-- <div class="zhishouboxrow_item first" v-if="item.status == '1'" >
                    未接单
                </div>
                <div class="zhishouboxrow_item second"  v-if="item.status == '2' ">
                    处置中
                </div>
                <div class="zhishouboxrow_item third" v-if="item.status == '3' || item.status == '4'" >
                    已完成
                </div> -->

                <div class="zhishouboxrow_item" style="flex:1.8;">
                    <img v-if="item.status == 1" class="img" src="~@/assets/images/lingang/jindutiao-1@2x.png" alt />
                    <img v-if="item.status == 2" class="img" src="~@/assets/images/lingang/jindutiao-2@2x.png" alt />
                    <img v-if="item.status == 3 || item.status == '4'" class="img" src="~@/assets/images/lingang/jindutiao-3@2x.png" alt />
                </div>
            <!-- </div> -->
                 </swiperSlide>
            </swiper>
    </div>
</template>
<script>
import { mapState } from 'vuex'

import { swiper, swiperSlide, directive } from 'vue-awesome-swiper'

export default {
    data(){
        return{
            swiperOption: {
                slidesPerView: 4,//当前box放几条数据
                direction: "vertical",   //控制滚动的方向
                paginationClickable: true,
                observer:true,//修改swiper自己或子元素时，自动初始化swiper
                observeParents:true,//修改swiper的父元素时，自动初始化swiper
                autoplay: 3200,
                autoplayDisableOnInteraction: false,
                loop: false,
                mousewheel:true,
                mousewheelControl:true,
                height:300,
                centeredSlides: false, // 是否居中显示
            },
        }
    },
    methods:{
            close(){
                this.$store.commit("SET_CITY_STATE_TABLE_VISIBLE",false)
            },
            zhishouliliangInfo(item){
                item.popType = "SET_HOTLINE_VISIBLE";
                this.$store.commit("HOTLINE_INFO",item);
                this.$store.commit("SET_HOTLINE_VISIBLE",true)

                // 查看详情
                // if(item.category==2){
                //     this.$store.commit('SET_MANAGESIGNPOP_VISIBLE',true)
                // }else{
                //     this.$store.commit('SET_MANAGESIGNVISITPOP_VISIBLE',true)
                // }
                // this.$store.dispatch('getchuzhistatusInfo', {
                //     occurrenceId: item.taskId,
                // })
                // this.$store.dispatch('getchuzhistatusInfo', {
                // occurrenceId: item.taskId,
            // })
            }
    },
    computed:{
        ...mapState({
            taskList: state => state.lingangCityState.findMetroPointList,

        }),
        swiper() {
            return this.$refs.mySwiper.swiper
        },
    },
    components:{
        swiper, swiperSlide
    },
    directives:{
        swiper: directive
    },
    
        
}
</script>
<style lang='less' scoped>
    @import "~@/assets/less/components/manageTaskTable.less";
</style>
<style lang='less'>
    // .zhishouboxcol_item{
    //     display: flex;
    //     .zhishouboxrow_item{
    //         flex: 1;
    //         height: 80px;
    //         text-align: center;
    //         line-height: 80px;
    //         font-size: 1.5rem;
    //         color: #57a9db;
            
    //         .img{
    //             height: 70%;
    //             width: 95%;
    //             margin-top: 2%;
    //             margin-right: 2%;
    //         }
            
    //     }
    //  .first{
    //         color: #0dfbfe;
    //     }
    //     .second{
    //         color: #dfd31d;
    //     }
        
    //     .third{
    //         color: #25c405;
    //     }
        
        
    // }
    // .zhishouboxcol_item:nth-child(2n){
    //     background-color: #0b305d;
    //     width: 100%;
    //     display: flex;
    //     flex-direction: row;
    //     // margin-left: 1%;
        
    // }
</style>