<template>
<!-- 值班表 -->
  <div class='dutylistPop'>
    <div class="dutylistContainer">
        <div class="headerContainer">
            <div class="closeImg" @click="closedutyPop"></div>
            <div class="title">值班表</div>
            <div class="zhishou_list_content">
                <div class="zhishou_list_title">
                    <div class="zhishou_list_title_text">日期</div>
                    <div class="zhishou_list_title_text">部门</div>
                    <div class="zhishou_list_title_text">值班人员</div>
                    <div class="zhishou_list_title_text">电话</div>
                </div>
                <div class="zhishou_list_item" v-for="item in watchList.records" :key="item.id">
                    <div class="zhishou_list_item_text">{{item.dateTime}}</div>
                    <div class="zhishou_list_item_text">{{item.dept}}</div>
                    <div class="zhishou_list_item_text">{{item.watchPerson}}</div>
                    <div class="zhishou_list_item_text">{{item.tel}}</div>
                </div>
            </div>
            <div class="page">
                <el-pagination
                    @current-change='currentChange'
                    :page-size="10"
                    :pager-count='5'
                    layout="total, prev, pager, next, jumper"
                    :total="watchList.total">
                </el-pagination>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from "vue"
export default {
  data() {
    return {
        params:{
            page:1
        }
    }
  },
  props:[],
  methods:{ 
    ...mapMutations([]),
    closedutyPop(){
        this.$store.commit('SET_DUTYLISTPOP_VISIBLE',false)
    },
    currentChange(index){
        this.params.page = index
        this.params.districtId = Vue.ls.get('districtId')
        this.$store.dispatch('watchPage',this.params)
    }
  },

  created(){},
  mounted(){
      this.params.districtId = Vue.ls.get('districtId')
      this.$store.dispatch('watchPage',this.params)
  },
  watch:{},
  computed:{ ...mapState({
      watchList:state=>state.lingangbasicInfo.watchList
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.dutylistPop{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .dutylistContainer{
        position: absolute;
        top: 25%;
        left: 35%;
        min-height: 440px;
        width: 30%;
        background: rgba(6, 14, 58, 0.6);
        flex-direction: column;
        .headerContainer{
            height: 40px;
            width: 100%;
            background: url('~@/assets/images/lingang/huiyi@2x.png') no-repeat;
            background-size: 100% 100%;
            text-align: left;
            box-sizing: border-box;
            line-height: 40px;
            .title{
                padding-left: 5%;
                color: #ECF8FC;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .closeImg{
            width: 20px;
            height: 20px;
            background: rosybrown;
            position: absolute;
            right: 0;
            top: 2px;
            background: url('~@/assets/images/lingang/guanbi-2@2x.png') no-repeat;
            background-size: 100%;
            transition: all 1s;
            cursor: pointer;
        }
        .closeImg:hover{
            transform: rotate(360deg);
        }
        .zhishou_list_content{
            width: 100%;
            // height: ;
            // background: antiquewhite;
            padding: 0 10px 0;
            box-sizing: border-box;
            position: relative;
            .zhishou_list_title{
                height: 25px;
                width: 100%;
                display: flex;
                line-height: 25px;
                .zhishou_list_title_text{
                    text-align: center;
                    color: #05dfe6;
                    font-size: 14px;
                }
                .zhishou_list_title_text{
                    flex: 1;
                }
            }
            .zhishou_list_item{
                height: 30px;
                width: 100%;
                display: flex;
                line-height: 30px;
                cursor: pointer;
                .zhishou_list_item_text{
                    text-align: center;
                    color: #bebfc7;
                    font-size: 14px;
                }
                .zhishou_list_item_text{
                    flex: 1;
                }
            } 
        }
        .page{
            width: 100%;
            position: absolute;
            bottom: 0;;
            text-align: center;
        }
    }
}
</style>
<style lang="less">
.btn-prev,.btn-next,.el-pager .number,.el-pagination__total,.el-pagination__jump,.el-input__inner{
    background: transparent !important;
    color: white;
}
.el-icon-arrow-left:before{
    color: #aaa;
}
.el-icon-arrow-right:before{
    color: #aaa;
}
</style>

