<template>
<!-- 值班表 -->
  <div class='epidemicPop'>
    <div class="epidemicContainer">
        <div class="headerContainer">
            <div class="closeImg" @click="closeepidemicPop"></div>
            <div class="title">防疫测温</div>
            <div class="zhishou_list_content">
                <div class="zhishou_list_content_item" v-for="(item,index) in fangyiList.records" :key="index">
                    <div class="zhishou_list_content_item_img">
                        <!-- <img class="faceImg" v-if="item.personImg" :src="item.personImg" alt=""> -->
                        <img class="changeImg" src="../../../assets/images/lingang/zw1.png" alt="">
                    </div>
                    <div class="zhishou_list_content_item_text">
                        <span>进出状态</span>
                        <span>{{item.enterOrExit}}</span>
                        <span>姓名</span>
                        <span>{{item.personName}}</span>
                        <span>测温时间</span>
                        <span>{{item.swingIme}}</span>
                        <span>温度</span>
                        <span>{{item.curTemp}}</span>
                        <span>健康吗</span>
                        <span>
                            <span v-show="item.healthCodeType =='绿码'"></span>
                            <span v-show="item.healthCodeType =='红码'"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="page">
                <el-pagination
                    @current-change='currentChange'
                    :page-size="params.pagesize"
                    :pager-count='5'
                    layout="total, prev, pager, next, jumper"
                    :total="fangyiList.total">
                </el-pagination>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from "vue";
export default {
  data() {
    return {
        params:{
            page:1,
            pagesize:3,
            districtId:Vue.ls.get("districtId")
        }
    }
  },
  props:[],
  methods:{ 
    ...mapMutations([]),
    closeepidemicPop(){
        this.$store.commit('SET_EPIDEMICPOP_VISIBLE',false)
    },
    currentChange(index){
        this.params.page = index
        this.$store.dispatch('findPageList',this.params)
    }
  },

  created(){},
  mounted(){this.$store.dispatch('findPageList',this.params)},
  watch:{},
  computed:{ ...mapState({
    fangyiList:state=>state.lingangbasicInfo.fangyiList
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.epidemicPop{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .epidemicContainer{
        position: absolute;
        top: 25%;
        left: 35%;
        min-height: 350px;
        width: 30%;
        background: rgba(6, 14, 58, 0.6);
        flex-direction: column;
        .headerContainer{
            height: 40px;
            width: 100%;
            background: url('~@/assets/images/lingang/huiyi@2x.png') no-repeat;
            background-size: 100% 100%;
            text-align: left;
            box-sizing: border-box;
            line-height: 40px;
            .title{
                padding-left: 5%;
                color: #ECF8FC;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .closeImg{
            width: 20px;
            height: 20px;
            background: rosybrown;
            position: absolute;
            right: 0;
            top: 2px;
            background: url('~@/assets/images/lingang/guanbi-2@2x.png') no-repeat;
            background-size: 100%;
            transition: all 1s;
            cursor: pointer;
        }
        .closeImg:hover{
            transform: rotate(360deg);
        }
        .zhishou_list_content{
            width: 100%;
            // height: ;
            // background: antiquewhite;
            padding: 0 10px 0;
            box-sizing: border-box;
            position: relative;
            display: flex;
            .zhishou_list_content_item{
                flex: 1;
                background: #00365d;
                border-radius: 10px;
                margin-right: 10px;
                box-sizing: border-box;
                height: 240px;
                .zhishou_list_content_item_img{
                    height: 40%;
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                    text-align: center;
                    .faceImg{
                        width: 100%;
                        height: 100%;
                    }
                    .changeImg{
                        height: 100%;
                    }
                }
                .zhishou_list_content_item_text{
                    height: 60%;
                    display: grid;
                    grid-template-columns: 40% 60%;
                    grid-template-rows: repeat(5,18%);
                    color: #3ad5de;
                    font-size: 10px;
                    padding: 0 10px 0;
                    span{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    span:last-child{
                        span:first-child{
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background: chartreuse;
                        }
                        span:last-child{
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background: red;
                        }
                        
                    }
                }
            }
            .zhishou_list_content_item:last-child{
                margin: 0;
            }
        }
        .page{
            width: 100%;
            position: absolute;
            bottom: 0;;
            text-align: center;
        }
    }
}
</style>
<style lang="less">
.btn-prev,.btn-next,.el-pager .number,.el-pagination__total,.el-pagination__jump,.el-input__inner{
    background: transparent !important;
    color: white;
}
.el-icon-arrow-left:before{
    color: #aaa;
}
.el-icon-arrow-right:before{
    color: #aaa;
}
</style>

