<template>
    <div class="qiyeInfo">
        <div class="qiyeContainer">
            <div class="headerContainer">
                <div class="closeImg" @click="closeqiyePop"></div>
                <div class="title">企业详情</div>
                <div class="row">
                    <div class="row_item">商铺名称：</div>

                    <el-tooltip effect="dark" :content="qiyeInfo.companyName" placement="bottom">
                        <div class="row_item">{{qiyeInfo.companyName | ellipsis}}</div>
                    </el-tooltip>

                    <div class="row_item">商铺地址：</div>
                    <el-tooltip effect="dark" :content="qiyeInfo.address" placement="bottom">
                       <div class="row_item address">{{qiyeInfo.address}}</div>
                    </el-tooltip>
                    <div class="row_item">负责人：</div>
                    <div class="row_item">{{qiyeInfo.shopkeeper}}</div>
                    <div class="row_item">电话：</div>
                    <div class="row_item">{{qiyeInfo.tel}}</div>
                    <div class="row_item">目前经营状况：</div>
                    <div class="row_item">{{qiyeInfo.status}}</div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import { mapState } from 'vuex'
export default {
    filters: {
        ellipsis (value) {
          if (!value) return ''
          if (value.length > 6) {
            return value.slice(0,6) + '...'
          }
          return value
        }
    },
    data(){
        return{}
    },
    methods:{
        closeqiyePop(){
           this.$store.commit('SET_QIYEINFOPOP_VISIBLE',false) 
        }
    },
    created(){},
    mounted(){
    
    },
    watch:{},
    computed:{
        ...mapState({
            qiyeInfo:state=>state.lingangbasicInfo.qiyeInfo
        })
    },
    components:{

    }
}
</script>

<style scoped lang='less'>
.qiyeInfo{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .qiyeContainer{
        position: absolute;
        top: 25%;
        left: 35%;
        min-height: 35%;
        width: 30%;
        background: rgba(6, 14, 58, 0.6);
        flex-direction: column;
        .headerContainer{
            height: 40px;
            width: 100%;
            background: url('~@/assets/images/lingang/huiyi@2x.png') no-repeat;
            background-size: 100% 100%;
            text-align: left;
            box-sizing: border-box;
            line-height: 40px;
            .title{
                padding-left: 5%;
                color: #ECF8FC;
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        .closeImg{
            width: 20px;
            height: 20px;
            background: rosybrown;
            position: absolute;
            right: 0;
            top: 2px;
            background: url('~@/assets/images/lingang/guanbi-2@2x.png') no-repeat;
            background-size: 100%;
            transition: all 1s;
            cursor: pointer;
        }
        .closeImg:hover{
            transform: rotate(360deg);
        }
        .row{
            padding: 0 30px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,25%);
            height: 40px;
            line-height: 40px;
            .row_item{
                text-align: left;
                color: #dfdfe3;
            }
            .row_item_title{
                text-align: center;
                color: #dfdfe3;
            }
            .address{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
</style>