<template>
<div class="sanhuibox">
    <div class="sanhuiContainer">
        <div class="headerContainer">
            <div class="title">会议详情</div>
        </div>
        <div class="row">
            <div class="item-left">
                <div class="title">会议主题:</div>
                <div class="content-sanhui">{{detail.title}}</div>
            </div>
            <div class="item-right">
                <div class="title">会议时间:</div>
                <div class="content-sanhui">{{detail.timeFrom}}</div>
            </div>
        </div>
        <div class="row">
            <div class="item-left">
                <div class="title">发起人:</div>
                <div class="content-sanhui">{{detail.convener}}</div>
            </div>
            <div class="item-right">
                <div class="title">参会人员:</div>
                <div class="content-sanhui">{{detail.attendeeUserList}}</div>
            </div>
        </div>
        <div class="row">
            <div class="item-left">
                <div class="title">结果:</div>
                <el-tooltip class="item" effect="light" :content="detail.meetingNotes" placement="top">
                    <div class="content-sanhui">{{detail.meetingNotes | ellipsis}}</div>
                </el-tooltip>
                
            </div>
           
        </div>
        <div class="close" @click="close"></div>
    </div>
</div>
</template>

<script>
import { mapState } from 'vuex';
export default {
    filters: {
        ellipsis (value) {
          if (!value) return ''
          if (value.length > 20) {
            return value.slice(0,20) + '...'
          }
          return value
        }
    },
    data(){
        return{}
    },
    methods:{
        close(){
            this.$store.commit("SET_SANHUI_VISIBLE",false);
        }
    },
    created(){},
    mounted(){},
    watch(){},
    computed:{
        ...mapState({
            detail:state => state.lingangbasicInfo.sanhuiInfo
        })
    },
    components:{

    }
}
</script>

<style scoped lang='less'>
    .sanhuibox{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 33;
    
        .sanhuiContainer{
            position: absolute;
            top: 30%;
            left: 35%;
            z-index: 99;
            height: 40%;
            width: 30%;
            background: #060E3A;
            display: flex;
            flex-direction: column;
            .headerContainer{
                height: 12%;
                width: 100%;
                background: url('~@/assets/images/lingang/huiyi@2x.png') no-repeat;
                background-size: 100% 100%;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;
                margin-bottom: 20px;
                // justify-content: center;
                .title{
                    width: 30%;
                    // padding-left: 2%;
                    color: #ECF8FC;
                    font-size: 20px;
                }
            }
            .row{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding: 0px 30px;
                margin-bottom: 30px;
                .item-left{
                    width: 45%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    
                    .title{
                        color:white;
                        font-size: 17px;
                        width: 32%;
                        // text-align: center;
                    }
                    .content-sanhui{
                        color:white;
                        font-size: 17px;
                        width: 68%;
                        box-sizing: border-box;
                        padding-left: 7%;
                    }
                }
                .item-right{
                    width: 55%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    
                    .title{
                        color:white;
                        font-size: 17px;
                        width: 32%;
                        text-align: center;
                    }
                    .content-sanhui{
                        color:white;
                        font-size: 17px;
                        width: 68%;
                        box-sizing: border-box;
                        padding-left: 7%;
                    }
                }
            }
            .close{
                position: absolute;
                right: 1px;
                top: 3px;
                height: 24px;
                width: 24px;
                background:url('~@/assets/images/lingang/guanbi@2x.png') no-repeat;
                background-size: 100% 100%;
            }
        }
    }
</style>