<template>
<!-- 传感器 -->
  <div class='dutylistPop'>
    <div class="dutylistContainer">
        <div class="headerContainer">
            <div class="closeImg" @click="closedutyPop"></div>
            <div class="title">传感器</div>
            <div class="zhishou_list_content">
                <div class="zhishou_list_title">
                    <div class="zhishou_list_title_text">序号</div>
                    <div class="zhishou_list_title_text">传感器类型</div>
                    <div class="zhishou_list_title_text">位置</div>
                    <div class="zhishou_list_title_text">状态</div>
                </div>
                <div class="zhishou_list_title" v-for="(item,index) in sensorDeviceList.records" :key="index" @click="sensorPoint(item)">
                    <div class="zhishou_list_title_text">{{(params.page-1)*10+index+1}}</div>
                    <div class="zhishou_list_title_text">{{item.alermName}}</div>
                    
                    <el-tooltip class="item" effect="dark" :content="item.addr" placement="top">
                        <div class="zhishou_list_title_text">{{item.addr}}</div>
                    </el-tooltip>
                    
                    <div class="zhishou_list_title_text">{{item.alermState}}</div>
                </div>
            </div>
            <div class="page">
                <el-pagination
                    @current-change='currentChange'
                    :page-size="8"
                    :pager-count='5'
                    layout="total, prev, pager, next, jumper"
                    :total="sensorDeviceList.total">
                </el-pagination>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import Vue from "vue";
export default {
  data() {
    return {
        params:{
            page:1,
            pagesize:8,
            districtId:Vue.ls.get("districtId")
        }
    }
  },
  props:[],
  methods:{ 
    ...mapMutations([]),
    closedutyPop(){
        this.$store.commit('SET_SENSORLISTPOP_VISIBLE',false)
    },
    currentChange(index){
        this.params.page = index
        this.$store.dispatch('findSensorDeviceList',this.params)
    },
    sensorPoint(item){
        this.$store.commit('SET_SENSORLISTPOP_VISIBLE',false)
        item.popType = 'SET_SENSOR'
        item.lng = item.posY
        item.lat = item.posX
        console.log(item)
        this.$store.commit('ADD_MARKER',item)
    }
  },

  created(){},
  mounted(){
      this.$store.dispatch('findSensorDeviceList',this.params)
  },
  watch:{},
  computed:{ ...mapState({
      sensorDeviceList:state=>state.lingangbasicInfo.sensorDeviceList
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.dutylistPop{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .dutylistContainer{
        position: absolute;
        top: 25%;
        left: 35%;
        min-height: 35%;
        width: 30%;
        background: rgba(6, 14, 58, 0.6);
        flex-direction: column;
        .headerContainer{
            height: 40px;
            width: 100%;
            background: url('~@/assets/images/lingang/huiyi@2x.png') no-repeat;
            background-size: 100% 100%;
            text-align: left;
            box-sizing: border-box;
            line-height: 40px;
            .title{
                padding-left: 5%;
                color: #ECF8FC;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .closeImg{
            width: 20px;
            height: 20px;
            background: rosybrown;
            position: absolute;
            right: 0;
            top: 2px;
            background: url('~@/assets/images/lingang/guanbi-2@2x.png') no-repeat;
            background-size: 100%;
            transition: all 1s;
            cursor: pointer;
        }
        .closeImg:hover{
            transform: rotate(360deg);
        }
        .zhishou_list_content{
            width: 100%;
            // height: ;
            // background: antiquewhite;
            padding: 0 10px 0;
            box-sizing: border-box;
            position: relative;
            .zhishou_list_title{
                height: 25px;
                width: 100%;
                display: flex;
                line-height: 25px;
                cursor: pointer;
                .zhishou_list_title_text{
                    text-align: center;
                    color: #05dfe6;
                    font-size: 14px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .zhishou_list_title_text{
                    flex: 1;
                }
            }
            .zhishou_list_item{
                height: 30px;
                width: 100%;
                display: flex;
                line-height: 30px;
                cursor: pointer;
                .zhishou_list_item_text{
                    text-align: center;
                    color: #bebfc7;
                    font-size: 14px;
                }
                .zhishou_list_item_text{
                    flex: 1;
                }
            } 
        }
        .page{
            width: 100%;
            position: absolute;
            bottom: 0;;
            text-align: center;
        }
    }
}
</style>
<style lang="less">
.btn-prev,.btn-next,.el-pager .number,.el-pagination__total,.el-pagination__jump,.el-input__inner{
    background: transparent !important;
    color: white;
}
.el-icon-arrow-left:before{
    color: #aaa;
}
.el-icon-arrow-right:before{
    color: #aaa;
}
</style>
