<template>
  <div class='checkstate'>
      <div class="closeImg" @click="closeCyclePoint"></div>
      <div class="checkHeader">
        <span>可回收物服务点<img src="../../../../assets/images/sanlin/tiaoxing.png" alt=""></span> 
        <span>总指标：{{recycleCount.total}}</span>
        <span>已完成: {{recycleCount.complete}}</span>
        <span>未完成: {{recycleCount.uncomplete}}</span>
      </div>
      <div class="videoNumerTable">
        <div class="videoNumerTableItem" v-for="item in garbageRecycleList.results" :key='item.id'>
            <div class="videoNumerTableItemtitle">{{item.community}}</div>
            <div class="videoNumerTableItemline">
                <el-progress :text-inside="true" :stroke-width="15" :show-text='false' :percentage="(item.complete/(item.complete+item.uncomplete))*100"></el-progress>
                <div class="complete">{{item.complete}}</div>
                <div class="uncomplete">{{item.uncomplete}}</div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      page:{
        count:7,
        start:0
      }
    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    closeCyclePoint(){
      this.$store.commit('CYCLE_POINT_VISIBLE',false)
    }
  },

  created(){},
  mounted(){
    // this.$store.dispatch('getrecycledList',this.recyclegarbageParams)
    this.$store.dispatch('getrecycledCount')
    this.$store.dispatch('garbageRecycledList',this.page)
  },
  watch:{},
  computed:{ ...mapState({
    recyclegarbageParams:state=>state.sanlinerqiV3.recyclegarbageParams,
    recycleCount:state=>state.sanlinerqiV3.recycleCount,
    garbageRecycleList:state=>state.sanlinerqiV3.garbageRecycleList,
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.checkstate{
    width: 100%;
    height: 104%;
    background: url('../../../../assets/images/sanlin/nostandard837.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -1.2rem;
    left: 0;
    z-index: 9999;
    .closeImg{
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: .2rem;
        top: 1.2rem;
        background: url('../../../../assets/images/sanlin/guanbi.png') no-repeat;
        background-size: 100%;
        cursor: pointer;
    }
    .closeImg:hover{
        transition: all 1s;
        transform: rotate(360deg);
    }
    .checkHeader{
        height: 15%;
        display: flex;
        align-items: flex-end;
        padding-left: 2rem;
        box-sizing: border-box;
        font-size: 1rem;
        color: white;
        letter-spacing: 2px;
        // background: burlywood;
        span{
            flex: 1;
            font-size: 0.6rem;
        }
        span:first-child{
            flex: 2;
            font-size: 1rem;
        }
    }
    .videoNumerTable {
        // background: oldlace;
        margin: 1rem 2rem;
        overflow: hidden;
        .videoNumerTableItem{
            height: 1.5rem;
            display: grid;
            grid-template-columns: 20% 80%;
            .videoNumerTableItemtitle{
                color: #0078b5;
            }
            .videoNumerTableItemline{
              position: relative;
              color: aliceblue;
              font-size: 0.5rem;
              .complete{
                position: absolute;
                left: 1rem;
                top: 0;
              }
              .uncomplete{
                position: absolute;
                right: 1rem;
                top: 0;
              }
            }
        }

    }
}
</style>
<style lang="less">

// .table_body {
.el-tooltip__popper {
  font-size: 1rem !important;
}
// }
.videoRanklistPage {
  padding-top: .5rem;
  text-align: center;
  .el-pagination .el-pagination__total {
    font-size: 1rem;
    color: oldlace;
    padding-top: .5rem;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    background: transparent;
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
  }
  .el-dialog,
  .el-pager li {
    background: transparent;
    color: white;
    font-size: 1rem;
    padding: 1rem 0;
  }
  .el-pager li.active {
    color: #409eff;
  }
  .el-pagination .btn-next .el-icon,
  .el-pagination .btn-prev .el-icon {
    font-size: 0.7rem;
  }
  .el-pagination .el-pagination__jump {
    color: white;
    font-size: 1rem;
  }
  .el-pagination .el-pagination__jump .el-input .el-input__inner {
    background: transparent;
    //   height: 40px;

    font-size: .8rem;
    // padding: 10px;
    color: white;
  }
  .el-pagination__editor.el-input .el-input__inner {
    height: 1rem;
  }
}
.el-progress-bar__outer{
    background: #ce9011;
}
</style>
