<template>
  <div class='checkstate'>
      <div class="closeImg" @click="closegarbageRank"></div>
      <div class="checkHeader">
          <div><span>垃圾排行<img src="../../../../assets/images/sanlin/tiaoxing.png" alt=""></span> </div>
          <div>
              <el-button @click="changeType(1)" type="primary" :class="garbageRankparams.type==1?['weikakouBtn','weikakoucheckBtn']:['weikakouBtn','weikakouuncheckBtn']" size="mini">居村</el-button>
              <el-button @click="changeType(2)" type="primary" :class="garbageRankparams.type==2?['weikakouBtn','weikakoucheckBtn']:['weikakouBtn','weikakouuncheckBtn']" size="mini">单位</el-button>
          </div>
 
          <div></div>

      </div>
      <div class="videoNumerTable">
          <div ref="gan" style="width:100%;height:100%;"></div>
          <div ref="shi" style="width:100%;height:100%;"></div>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import echarts from 'echarts'
export default {
  data() {
    return {
        myganChart:bull,
        myshiChart:bull
    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    changeType(status){
        Object.assign(this.garbageRankparams,{type:status})
        this.$store.dispatch('getgarbageRank',this.garbageRankparams).then(res=>{
           console.log(res)
            
            let ganoption = this.getEchartsOption('#0064fa',res.result[0]);
            let shioption = this.getEchartsOption('#cb8d15',res.result[1]);
            this.myganChart.setOption(ganoption);
            this.myshiChart.setOption(shioption);
        })
    },
    closegarbageRank(){
        this.$store.commit('GARBAGE_RANK_VISIBLE',false)
    },
    getEchartsOption(color,data) {
        let option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                top:'3%',
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisTick:{
                    show:false
                },
                show:false
            },
            yAxis: {
                type: 'category',
                data: data.xAxis,
                axisTick:{
                    show:false
                },
                axisLine:{
                    show:false
                },
                axisLabel:{
                    textStyle:{
                        color:"#0088c7"
                    }
                }
            },
            series: [
                {
   
                    type: 'bar',
                    data: data.series[0].data,
                    barWidth: 10,
                    itemStyle:{
                        barBorderRadius:[10,10,10,10],
                        color:color
                    },
                    label: {
                        show: true,
                        position: 'right'
                    },
                },

            ]
        }
        return option;
    }
  },

  created(){
     
  },
  mounted(){
        this.myganChart = echarts.init(this.$refs['gan']);
        this.myshiChart = echarts.init(this.$refs['shi']);
        this.$store.dispatch('getgarbageRank',this.garbageRankparams).then(res=>{
           console.log(res)
            
            let ganoption = this.getEchartsOption('#0064fa',res.result[0]);
            let shioption = this.getEchartsOption('#cb8d15',res.result[1]);
            this.myganChart.setOption(ganoption);
            this.myshiChart.setOption(shioption);
        })
      
  },
  watch:{},
  computed:{ ...mapState({
      garbageRankparams:state=>state.sanlinerqiV3.garbageRankparams
  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.checkstate{
    width: 100%;
    height: 104%;
    background: url('../../../../assets/images/sanlin/nostandard837.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -1.2rem;
    left: 0;
    z-index: 9999;
    .closeImg{
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: .2rem;
        top: 1.2rem;
        background: url('../../../../assets/images/sanlin/guanbi.png') no-repeat;
        background-size: 100%;
        cursor: pointer;
    }
    .closeImg:hover{
        transition: all 1s;
        transform: rotate(360deg);
    }
    .checkHeader{
        height: 15%;
        display: flex;
        align-items: flex-end;
        padding-left: 2rem;
        box-sizing: border-box;
        font-size: 1rem;
        color: white;
        letter-spacing: 2px;
        // background: burlywood;
        div:first-child{
            flex: 1;
            font-size: 1rem;
        }
        div{
            flex: 1;
            font-size: 0.6rem;
        }
    }
    .videoNumerTable {
        // background: oldlace;
        margin: 2rem 2rem;
        // overflow: hidden;
        display: grid;
        height: 70%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;

    }
}
.weikakouBtn {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    outline-style: none;
    border: none;
    color: white;
}
.weikakoucheckBtn {
    background: #00b1f3;
}
.weikakouuncheckBtn {
    background: #0f4d76;
}
</style>
<style lang="less">

// .table_body {
.el-tooltip__popper {
  font-size: 1rem !important;
}
// }
.videoRanklistPage {
  padding-top: .5rem;
  text-align: center;
  .el-pagination .el-pagination__total {
    font-size: 1rem;
    color: oldlace;
    padding-top: .5rem;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    background: transparent;
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
  }
  .el-dialog,
  .el-pager li {
    background: transparent;
    color: white;
    font-size: 1rem;
    padding: 1rem 0;
  }
  .el-pager li.active {
    color: #409eff;
  }
  .el-pagination .btn-next .el-icon,
  .el-pagination .btn-prev .el-icon {
    font-size: 0.7rem;
  }
  .el-pagination .el-pagination__jump {
    color: white;
    font-size: 1rem;
  }
  .el-pagination .el-pagination__jump .el-input .el-input__inner {
    background: transparent;
    //   height: 40px;

    font-size: .8rem;
    // padding: 10px;
    color: white;
  }
  .el-pagination__editor.el-input .el-input__inner {
    height: 1rem;
  }
}
.el-progress-bar__outer{
    background: #ce9011;
}
</style>
