<template>
  <div class='checkstate'>
      <div class="closeImg" @click="closeCheckList"></div>
      <div class="checkHeader">
        <div class="nostandardtitle">{{nostandardType}}详情</div> 
        <div class="nostandardtitle">
          {{nostandardType}}：
          <div class="count">{{getnNoStandart.pagination.total}}个</div>
        </div>
      </div>
      <div class="videoNumerTable">
        <div class="table_header">
            <div class="table_header_item">{{nostandardType}}</div>
            <div class="table_header_item">不达标原因</div>
        </div>
        <div
          class="table_body"
          v-for="item in getnNoStandart.results"
          :key="item.id"
        >
          <div class="table_body_item">{{item.name}}</div>
          <div class="table_body_item" style="color:#F4CA03" :title="item.description">{{item.description}}</div>
        </div>
    </div>
    <div class="videoRanklistPage"> 
      <el-pagination
        @current-change="handleCurrentChange"
        :page-size="params.count"
        layout="prev, pager, next"
        :total="getnNoStandart.pagination.total"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
        params:{
          start:0,
          count:4,
          type:null,
        },
        text:"不达标小区"
    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    closeCheckList(){
        this.$store.commit("NO_STANDARD",false);
    },
    handleCurrentChange(index) {
        this.params.type = this.getnNoStandart.results[0].type;
        this.params.start = (index-1)*this.params.count
        this.$store.dispatch('getnNoStandart',this.params)
    },
  },

  created(){},
  mounted(){
    
  },
  watch:{
    nostandardType(){
      console.log(this.nostandardType); 
      if(this.nostandardType == "COMMUNITY"){
        this.text = "不达标小区"
      }else{
        this.text = "不达标单位";
      }
    }
  },
  computed:{ ...mapState({
    garbagePlateParams:state=>state.sanlinerqiV3.garbagePlateParams,
    garbagePlatelist:state=>state.sanlinerqiV3.garbagePlatelist,
    garbageplateCount:state=>state.sanlinerqiV3.garbageplateCount,
    nostandardVisible:state=>state.sanlinerqiV3.nostandardVisible,
    getnNoStandart:state=>state.sanlinerqiV3.getnNoStandart,
      nostandardType: state=>state.sanlinerqiV3.nostandardType,


  }),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.checkstate{
    width: 100%;
    height: 104%;
    background: url('../../../../assets/images/sanlin/nostandard837.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -1.2rem;
    left: 0;
    z-index: 999;
    .closeImg{
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: .2rem;
        top: 1.2rem;
        background: url('../../../../assets/images/sanlin/guanbi.png') no-repeat;
        background-size: 100%;
        cursor: pointer;
    }
    .closeImg:hover{
        transition: all 1s;
        transform: rotate(360deg);
    }
    .checkHeader{
        height: 15%;
        display: flex;
        align-items: flex-end;
        padding-left: 1rem;
        box-sizing: border-box;
        font-size: 1rem;
        color: white;
        // letter-spacing: 2px;
        // background: burlywood;
        span{
            flex: 1;
        }
        .nostandardtitle{
          // color: #62DAEC;
          flex: 1;
          font-size: 6px !important;
          display: flex;
          flex-direction: row;
          .count{
            color: #2FEEFF;
          }
        }
    }
    .videoNumerTable {
        // background: oldlace;
        margin: 1rem 0;
        overflow: hidden;
        .table_header {
            margin: 0 auto;
            width: 90%;
            height: 2rem;
            // background: #fed;
            border: 1px solid #3d6b81;
            display: grid;
            grid-template-columns: 50% 50% ;
            grid-auto-rows: 100%;
            .table_header_item {
                border-right: 1px solid #3d6b81;
                background: rgba(1, 49, 72, 0.5);
                text-align: center;
                line-height: 2rem;
                font-size: 1rem;
          font-size: 6px !important;

                color: #19daee;
            }
            .table_header_item:last-child {
                border: none;
            }
        }
        .table_body {
            width: 90%;
            margin: 0 auto;
            height: 1.2rem;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: #3d6b81;
            display: grid;
            grid-template-columns:50% 50%;
            grid-auto-rows: 100%;
            cursor: pointer;
            .table_body_item {
                border-right: 1px solid #3d6b81;
                text-align: center;
                line-height: 1.2rem;
                font-size: 1rem;
                font-size: 6px !important;
                padding: 0 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #76a5c9;
            }
            .table_body_item:last-child {
                border: none;
            }
        }
    }
}
</style>
<style lang="less">

// .table_body {
.el-tooltip__popper {
  font-size: 1rem !important;
}
// }
.videoRanklistPage {
  // padding-top: 0;
  text-align: center;
  .el-pagination .el-pagination__total {
    font-size: 1rem;
    color: oldlace;
    padding-top: .1rem;
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    background: transparent;
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
  }
  .el-dialog,
  .el-pager li {
    background: transparent;
    color: white;
    font-size: 1rem;
    padding: 1rem 0;
  }
  .el-pager li.active {
    color: #409eff;
  }
  .el-pagination .btn-next .el-icon,
  .el-pagination .btn-prev .el-icon {
    font-size: 0.7rem;
  }
  .el-pagination .el-pagination__jump {
    color: white;
    font-size: 1rem;
  }
  .el-pagination .el-pagination__jump .el-input .el-input__inner {
    background: transparent;
    //   height: 40px;

    font-size: .8rem;
    // padding: 10px;
    color: white;
  }
  .el-pagination__editor.el-input .el-input__inner {
    height: 1rem;
  }
}
</style>