<template>
    <div class="videoConcatbg" style="width:100%;height:100%;position:relative">
        <div class="videotongji">
          <div class="tongjiitem" >{{garbageStatic.results[0].name}}</div>
          <div class="tongjiitem">{{garbageStatic.results[0].value}}</div>
          <div class="tongjiitem">{{garbageStatic.results[1].name}}</div>
          <div class="tongjiitem">{{garbageStatic.results[1].value}}</div>
          <div class="tongjiitem" @click="showdialog(1)">{{garbageStatic.results[2].name}}</div>
          <div class="tongjiitem">{{garbageStatic.results[2].value}}</div>
          <div class="tongjiitem" @click="showdialog(2)">{{garbageStatic.results[3].name}}</div>
          <div class="tongjiitem">{{garbageStatic.results[3].value}}</div>
        </div>
        <div class="videoConcat" ref="piechart3d"></div>
        <div class="hideIcon"></div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";
am4core.useTheme(am4themes_animated);
export default {
  data() {
    return {
      chart: null,
      allconcat:{},
      params:{
        start:0,
        count:4,
        type:null,
      }
    };
  },
  props: ['allqu'],
  methods: { ...mapMutations([]),
    checkStatelist(){
      this.$store.commit('CHECK_STATE_VISIBLE',true)
    },
    showdialog(val){
      this.$store.commit("NO_STANDARD",true);
      switch(val){
        case 1:
          this.params.type = "COMMUNITY";
          this.$store.dispatch("getnNoStandart",this.params);
          this.$store.commit("SRAND_TYPE","不达标小区");
          break;
        case 2:
          this.params.type = "COMPANY";
          this.$store.dispatch("getnNoStandart",this.params);
          this.$store.commit("SRAND_TYPE","不达标单位");

          break;
      }
    }
  },

  created() {
    
  },
  mounted() {
    let chartData = []
      this.$store.dispatch('garbageStatic',{type:'垃圾统计'})
      this.$store.dispatch('getgarbagePie').then(res=>{
        res.result.forEach(item=>{
        chartData.push({
            country: item.name,
            litres: item.value,
            //  color:am4core.color('#279daa')
          })
        })
      })
    //   let that = this
    // am4core.ready(function () {
    setTimeout(() => {
      
      var chart = am4core.create(this.$refs.piechart3d, am4charts.PieChart3D);
      // chart.events.on("click", (e)=>{
      //   console.log(e)
      // });
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
      chart.fontSize = 50
      chart.data = chartData
    

      chart.innerRadius = am4core.percent(50);
      chart.depth = 150;
      chart.angle = 40;
    //   chart.legend = new am4charts.Legend();

      var series = chart.series.push(new am4charts.PieSeries3D());
    //   series.colors.list = [
    //     core.color('#845EC2'),
    //     core.color('#D65DB1'),
    //     core.color('#FF6F91'),
    //     core.color('#FF9671'),
    //   ];
      series.dataFields.value = "litres";
      series.dataFields.depthValue = "litres";
      series.dataFields.category = "country";
      series.slices.template.cornerRadius = 5;
      series.colors.step = 3;
      series.ticks.template.disabled = true;
      series.labels.template.disabled = true;
      series.legendSettings.valueText = "{valueY.close}";
      series.tooltip.fontSize = 15;
      series.slices.template.propertyFields.fill = "color";

      // chart.events.on("hit", function(e){
      //  console.log(e)
      // },this)
      let that  = this
      series.slices.template.events.on("hit", function(ev) {
        that.checkStatelist()
        // console.log(ev.target.dataItem.dataContext)
        Object.assign(that.garbagePlateParams,{community:ev.target.dataItem.dataContext.country})
        console.log(that.garbagePlateParams)
        that.$store.dispatch('garbageLPlateList',that.garbagePlateParams)
        that.$store.dispatch('garbagePlateCount',{community:ev.target.dataItem.dataContext.country})
      })
      



    //   chart.legend = new am4charts.Legend();
    // //   chart.legend.position = "right";
    //   chart.legend.labels.template.text = "[bold {color}]{name}";
    //   chart.legend.color = "#fff";
    
    //    let graph = new am4charts.Graph()

      
        // console.log(chart.legend.labels.template)
      this.chart = chart;
    }, 2000);  
    // });
  },
  watch: {

  },
  computed: {
    ...mapState({
    //   camerasummary:state=>state.videoAggregation.camerasummary
      garbagePlateParams:state=>state.sanlinerqiV3.garbagePlateParams,
      garbageStatic: state=>state.sanlinerqiV3.garbageStatic,
    }),

    ...mapGetters([])
  },
  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  },
  components: {}
};
</script>

<style lang='less' scoped>
.videoConcatbg{
//     // background: url('../../../../assets/images/videoAggregation/dizuo@2x.png') no-repeat;
//     background-size: 90%;
//     background-position: 50% 60%;
  padding-top: 2rem;
}
.videotongji{
  width: 100%;
  height: 25%;
  background: #092840;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  box-shadow: 1px 1px 15px 2px #0e3c66 inset; 
  display: grid;
  grid-template-columns: 40% 10% 40% 10%;
  grid-template-rows: 50% 50%;
  z-index: 998;
  .tongjiitem{
    padding-top: 0.4rem;
    // box-sizing: border-box;
  }
  .tongjiitem:nth-child(2n-1){
    padding-left: 0.4rem;
    color: white;
    font-size: 0.8rem;
  }
  .tongjiitem:nth-child(2n){
    color: #b0946a;
    font-size: 0.9rem;
  }
  // margin-top: 2rem;
}
.videoConcat{
    
    width: 100%;
    height: 105%;
    // background: olive;
}
// .hideIcon{
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 70px;
//     height: 50px;
//     background-color:#001c34;
// }
</style>
