<template>
  <div class="liqingchang-box">
    <div class="titlebg">
      <img
        style="height: 100%; width: 100%"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/toptitle.png"
        alt=""
      />
      <div class="info-box">
        <div class="info1">
          <span>{{ weatherInfo.temperature }}℃</span
          ><span>{{ weatherInfo.weather }}</span>
          <span
            >{{ weatherInfo.winddirection }}风{{
              weatherInfo.windpower
            }}级</span
          >
        </div>
        <div>
          <span>{{ datedate }}</span
          ><span>{{ xingqi }}</span
          ><span>{{ dateTime }}</span>
        </div>
      </div>
    </div>
    <div class="echart-box" style="width: 100%; height: 100%">
      <liqing-save></liqing-save>
      <shiliao-save></shiliao-save>
    </div>
    <div class="table-box">
      <today-production></today-production>
      <toadytable></toadytable>
    </div>
  </div>
</template>

<script>
import liqingSave from "../qilingComponents/liqingSave2";
import shiliaoSave from "../qilingComponents/shiliaoSave2";
import todayProduction from "../qilingComponents/todayProduction2";
import toadytable from "../qilingComponents/toadytable2";
import { mapState, mapGetters, mapMutations } from "vuex";
import { WSconnect } from "@/utils/socket";
export default {
  data() {
    return {
      datedate: "",
      xingqi: "",
      dateTime: ""
    };
  },
  props: [],
  methods: {
    ...mapMutations([])
  },

  created() {},
  mounted() {
    this.$store.dispatch("getProdutionInfo");
    this.$store.dispatch("getTrueProduct");
    this.$store.dispatch("getNaturalGas");
    this.$store.dispatch("getElectricity");
    setInterval(() => {
      this.$store.dispatch("getWeather");
    }, 3600000);
    this.$store.dispatch("getWeather");
    setTimeout(() => {
      WSconnect();
    }, 3000);
    setInterval(() => {
      let date = new Date();
      let miao = "",
        fen = "",
        shi = "";
      if (date.getSeconds() < 10) {
        miao = `0${date.getSeconds()}`;
      } else {
        miao = date.getSeconds();
      }
      if (date.getMinutes() < 10) {
        fen = `0${date.getMinutes()}`;
      } else {
        fen = date.getMinutes();
      }
      if (date.getHours() < 10) {
        shi = `0${date.getHours()}`;
      } else {
        shi = date.getHours();
      }
      let datedate = `${date.getFullYear()}/${
        date.getMonth() + 1
      }/${date.getDate()}`;
      let dateTime = `${shi}:${fen}:${miao}`;
      this.dateTime = dateTime;
      this.datedate = datedate;
      let xingqi = "";
      switch (date.getDay()) {
        case 1:
          xingqi = "星期一";
          break;
        case 2:
          xingqi = "星期二";
          break;
        case 3:
          xingqi = "星期三";
          break;
        case 4:
          xingqi = "星期四";
          break;
        case 5:
          xingqi = "星期五";
          break;
        case 6:
          xingqi = "星期六";
          break;
        case 7:
          xingqi = "星期日";
          break;
      }
      this.xingqi = xingqi;
    }, 1000);
  },
  watch: {},
  computed: {
    ...mapState({
      weatherInfo: (state) => state.liqingchang.weatherInfo
    }),

    ...mapGetters([])
  },
  components: {
    liqingSave,
    shiliaoSave,
    todayProduction,
    toadytable
  }
};
</script>

<style lang="less" scoped>
.info-box {
  height: 4%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 1rem;
  color: #ffffff;
  align-items: center;
  font-size: 1rem;
  div {
    display: flex;
    flex-flow: row;
    align-items: center;
    span {
      margin-right: 0.8rem;
    }
  }
}
.titlebg {
  display: flex;
  justify-content: center;
  width: 100%;
}
.liqingchang-box {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 100%;
  grid-template-rows: 8% 48% 43%;
  width: 100%;
  height: 100%;
  align-content: space-around;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bg2.png");
  background-size: 100%;
  .echart-box,
  .table-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}
.weatherimg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}
</style>
