<template>
    <div ref="anJian" style="width: 100%; height: 100%;"></div>
</template>
<script>
    import echarts from "echarts"
    // import ws from "../../../api/sockjs"
    // import {todayAnJianStatistic} from "../../../api/components/index"
    export default {
        data() {
            return {
                myChart: "",
                client: null
            }
        },
        created() {
            this.$nextTick(() => {
                this.myChart = echarts.init(this.$refs['anJian']);
                let datas = [
                    {name: "今日接警", value: 114},
                    {name: "今日受理", value:100},
                    {name: "今日立案", value: 25},
                    {name: "今日派遣", value: 58},
                    {name: "今日结案", value: 110}
                ];
                let legend = ["今日接警", "今日受理", "今日立案", "今日派遣", "今日结案"];
                let option = this.getEchartsOption(legend, datas);
                this.myChart.setOption(option);
                });
        },
        destroyed() {
            
        },
        methods: {
            getEchartsOption: function (legend, data) {
                let option =  {
                    color:['#019AA0','#14C0D8','#2F4455', '#419EE3', '#D3AD64'],
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    legend: {
                        width: 0,
                        left : 0,
                        bottom : 0,
                        orient: 'vertical',
                        data: legend,
                        icon: "circle",
                        textStyle : {
                            color: "#19B7D0",
                        },
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            type: 'pie',
                            radius: [0, 90],
                            center: ['60%', '55%'],
                            roseType: 'radius',
                            minAngle: 25,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 10
                                    },
                                },
                                emphasis: {
                                    show: true
                                },
                            },
                            labelLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'outside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    },
                                    length: 5,
                                    length2: 5,
                                    smooth: 0.2,
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            data: data
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
