<template>
    <div class="container">
        <p class="header">推送总数</p>
        <div class="casenumber">
            <div id="dataStaDiv">
                <flipClock></flipClock>
            </div>
            <span>件</span>
        </div>
        <!-- <div class="dealwithDiv">
            <p class="dealTitle">已处理</p>
            <p class="dealNum">{{peopleSolveNum}}<span>件</span></p>
        </div>
        <div class="dealwithDiv">
            <p class="dealTitle">未处理</p>
            <p class="dealNum">{{peopleUnsolveNum}}<span>件</span></p>
        </div> -->
    </div>
</template>

<script>
import { mapState } from 'vuex';
    // import {getFacePushCount} from "../../../api/components/index"
    // import ws from "../../../api/sockjs"
    import flipClock from '@/components/zhuqiao/flipclock.vue';

    export default {
        data() {
            return {
                // peopleSolveNum: 0,
                // peopleUnsolveNum: 0,
                // dealAllNum: 0
            }
        },
        components:{
            flipClock
        },
        computed:{
            ...mapState({
                dealAllNum:state=>state.echarts.dealAllNum
            })
        },
        mounted() {
            this.$store.dispatch('getFacePushCount')
            // this.$nextTick(() => {
            //     this.socketConnect();
            //     getFacePushCount().then(data => {
            //         if (data.errcode == 0) {
            //             this.dealAllNum = data.data;
                        // let length = this.dealAllNum.toString().length;
                        // this.counterNumber(length);
            //         } else if (data.errcode == -1) {
            //             layer.msg("后台服务器异常!", {shift: '6', time: 3000});
            //         }
            //     })
            // })
        },
        destroyed() {
            // if (this.client) {
            //     this.client.disconnect();
            // }
        },
        methods: {
            socketConnect: function () {
                // ws('人群观测处理情况统计', this.test).then(sto => {
                //     this.client = sto;
                //     this.client.subscribe('/topic/getFacePushCount', (response) => {
                //         let data = JSON.parse(response.body);
                //         this.dealAllNum = data;
                //         let length = this.dealAllNum.toString().length;
                //         this.counterNumber(length);
                //     });
                // });
            },
            
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        width: 100%;
        height: 100%;
    }
    .header {
        font-size: 22px;
        color: #70cfde;
        padding-top: 45px;
        letter-spacing: 15px;
        text-align: center;
    }
    .casenumber {
        height: 76px;
        margin-top: 20px;
    }
    #dataStaDiv {
         /* margin-left: 30px; */
        display: inline-block;
    }
    .casenumber span {
        line-height: 76px;
        font-size: 26px;
        color: #007cc1;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        margin-top: 18px;
    }
    .dealwithDiv {
        float: left;
        margin-left: 40px;
    }
    .dealwithDiv .dealTitle {
        margin-top: 10px;
        font-size: 20px;
        color: #70cfde;
    }
    .dealwithDiv .dealNum {
        font-size: 38px;
        color: white;
        margin-top: 5px;
        font-weight: bold;
    }
    .dealwithDiv .dealNum span {
        font-size: 20px;
        color: #007cc1;
        margin-left: 10px;
    }
    .dealwithDiv:last-child {
        float: right;
        margin-right: 50px;
    }
</style>
