<template>
  <div ref="peopleNum" style="width: 100%; height: 100%;"></div>
</template>

<script>
import echarts from "echarts";
import { mapState } from "vuex";
// import ws from "../../../api/sockjs"
// import {getYesterdayPeopleNumPerHour} from "../../../api/components/index"

export default {
  data() {
    return {
      myChart: ""
    };
  },
  computed: {
    ...mapState({
      hourpeoLiuliang: state => state.echarts.hourpeoLiuliang
    })
  },
  mounted() {},
  created() {
    this.$nextTick(() => {
      this.$store.dispatch("hourlyTotalPopulation").then(res => {
        this.myChart = echarts.init(this.$refs["peopleNum"]);
        let dataX = [];
        let dataY = [
          50,
          70,
          90,
          70,
          63,
          52,
          41,
          300,
          520,
          485,
          958,
          1560,
          1923,
          2500,
          4025,
          5023,
          4520,
          5052,
          3820,
          3552,
          5221,
          1532,
          574,
          125
        ];
        for (let i = 0; i < res.data.length; i++) {
          let hour = "";
          if (res.data[i].hour < 10) {
            hour = "0" + res.data[i].hour + ":00";
          } else {
            hour = res.data[i].hour + ":00";
          }
          dataX.push(hour);
          dataY.push(res.data[i].count);
        }
        let option = this.getEchartsOption(dataX, dataY);
        this.myChart.setOption(option);
      });
    });
  },
  methods: {
    sortNumber: function(a, b) {
      return a.hour - b.hour;
    },
    formatData: function(datastring) {
      if (datastring.length > 4) return datastring.substring(0, 4);
      else return datastring;
    },
    getEchartsOption: function(dataX, dataY) {
      let option = {
        textStyle: {
          color: "#19B7D0"
        },
        color: ["#19B7D0"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: "时间: {b}<br/>{a}: {c}"
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "9%",
          top: "15%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: dataX,
            axisTick: {
              alignWithLabel: true
            },
            axisLabel: {
              rotate: -90,
              textStyle: {
                fontSize: 10
              },
              interval: 0
            },
            splitLine: {
              show: true,
              interval: 0,
              lineStyle: {
                color: "#1A3337"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#19B7D0",
                width: 2
              }
            }
          }
        ],
        yAxis: [
          {
            name: "人次",
            type: "value",
            splitLine: {
              show: true,
              interval: 0,
              lineStyle: {
                color: "#1A3337"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#19B7D0",
                width: 2
              }
            }
          }
        ],
        series: [
          {
            name: "人流量",
            type: "bar",
            barWidth: "60%",
            data: dataY
          }
        ]
      };
      return option;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
