<template>
    <div style="width: 100%; height: 100%;position: relative;">
        <div ref="peoplePercent" style="width: 100%; height: 90%;"></div>
    </div>
</template>

<script>
    import echarts from "echarts"
    import { mapState } from 'vuex'
    // import {getFaceCamScore} from "../../../api/components/index"

    export default {
        data() {
            return {
                myChart: '',
            }
        },
        computed:{
            ...mapState({
                facecamScore:state=>state.echarts.facecamScore
            })
        },
        mounted(){
            // this.$store.dispatch('getFaceCamScore')
        },
        created() {
            this.$nextTick(() => {
                this.$store.dispatch('getFaceCamScore').then(res=>{
                    this.myChart = echarts.init(this.$refs['peoplePercent']);
                    let arr=[]
                    let arr2 = []
                    res.data.forEach(item=>{
                        if(item.first.toString !== ''){
                            let it={
                                name:"<80",
                                value:item.first,
                                label:{normal:{show:false},emphasis:{show:false}}
                            }
                            arr.push(it)
                            arr2.push(it.name)
                        }
                        if(item.second.toString !== ''){
                            let it={
                                name:"80-85",
                                value:item.second,
                                label:{normal:{show:false},emphasis:{show:false}}
                            }
                            arr.push(it)
                            arr2.push(it.name)
                        }
                        if(item.third.toString !== ''){
                            let it={
                                name:"85-90",
                                value:item.third,
                                label:{normal:{show:false},emphasis:{show:false}}
                            }
                            arr.push(it)
                            arr2.push(it.name)
                        }
                        if(item.fourth.toString !== ''){
                            let it={
                                name:">90",
                                value:item.fourth,
                                label:{normal:{show:false},emphasis:{show:false}}
                            }
                            arr.push(it)
                            arr2.push(it.name)

                        }
                    })
                    let option = this.getEchartsOption(arr,arr2);
                    this.myChart.setOption(option);
                })
            })
        },
        methods: {
            getEchartsOption: function (dataX,legend) {
                let i = 0;

                let colors = ["#426cf5", "#5177d5","#12a9ff","#80c9f9"];
                let option = {
                    legend: {
                        orient: 'vertical',
                        left: 20,
                        icon: "circle",
                        bottom: 0,
                        data: legend,
//                        height:80,
                        textStyle: {
                            color: '#19B7D0'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b}: {c} ({d}%)",
                        position: "right"
                    },
                    series: [
                        {
                            type:'pie',
                            radius: ['65%', '80%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center',
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '15',
                                        fontWeight: 'bold',
                                        color: "white"
                                    }
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: function () {
                                        return colors[i++]
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data:dataX
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .percent {
        /*border: 1px solid #f00;*/
        width: 70px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -35px;
        font-size: 20px;
        color: white;
    }
</style>
