<template>
    <div ref="weiNum" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
    // import {getCountByYesterdayHour} from '../../../api/components/parking'
import { mapState } from 'vuex'

    export default {
        data() {
            return {
                myChart: ""
            }
        },
        computed:{
            ...mapState({
                yesterdayCarweizhang:state=>state.echarts.yesterdayCarweizhang
            })
        },
        mounted(){
            
        },
        created() {
            this.$nextTick(() => {
                this.$store.dispatch('getCountByYesterdayHour').then(res=>{
                    this.myChart = echarts.init(this.$refs['weiNum']);
                    res.data.sort(this.sortNumber);
                    let dataX = [];
                    let dataY = [];
                    for (let i = 0; i < res.data.length; i++) {
                        let showTime = '';
                        if (res.data[i].showTime < 10) {
                            showTime = "0" + res.data[i].showTime + ":00";
                        } else {
                            showTime = res.data[i].showTime + ":00";
                        }
                        dataX.push(showTime);
                        dataY.push(res.data[i].num);
                    }
                    let option = this.getEchartsOption(dataX, dataY);
                    this.myChart.setOption(option);
                })    
            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.showTime - b.showTime;
            },
            getEchartsOption: function (dataX, dataY) {
                let option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "时间: {b}<br/>{a}: {c}"
                    },
                    textStyle: {
                        color: '#19B7D0'
                    },
                    xAxis: {
                        data: dataX,
                        axisLabel: {
                            rotate: -90,
                            textStyle: {
                                fontSize: 10
                            },
                            interval: 0
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#636060',
                                width: 2
                            }
                        },
                    },
                    yAxis: {
                        axisTick: {
                            show: true
                        },
                        splitLine:{
                            show: false,
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#636060',
                                width: 2
                            }
                        },
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '9%',
                        top: "9%",
                        containLabel: true,
                    },
                    series: [
                        {
                            name: "违章次数",
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(211, 173,100, 1)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(43, 120,148, 1)'
                                    }]),
                                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                                    shadowBlur: 10
                                }
                            },
                            data: dataY
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
