<template>
    <div ref="main" style="width:95%; height:90%;padding-top:40px"></div>
</template>

<script>
    import echarts from 'echarts'
import { mapState } from 'vuex'
    // import {getFaceCamAccuracy} from '../../../api/components/roadcams'
    export default {
        data() {
            return {}
        },
        methods:{
            option(res){
                return{
                    color: ['#19B7D0'],
                    textStyle: {
                        color: "#19B7D0"
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "地点: {b}<br/>准确率: {c}"
                    },
                    grid: {
                        top:'5%',
                        left: '2%',
                        right: '8%',
                        bottom: '1%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            axisLabel: {
                                rotate: -35,
                                interval: 0,
                                textStyle: {
                                    fontSize : 6     //更改坐标轴文字大小
                                }
                            },
                            type: 'category',
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                            data:res.name,
                                // ["千汇四村","文化中心","镇政府","东港幼儿园","施湾小学","东港小学","东海学校","光明学校","祝桥小学","祝桥中学"],
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                            splitLine: {
                                show: false
                            },
                        }
                    ],
                    series: [
                        {
                            name: '直接访问',
                            type: 'bar',
                            barWidth: '60%',
                            // data: [85,83,82.5,81,80.5,80,80,79.5,79.8,79],
                            data: res.value,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top',
                                    formatter: '{c}'
                                }
                            },
                        }
                    ]
                }
            }
        },
        mounted(){
            // this.$store.dispatch('getFaceCamAccuracy')
        },
        computed:{
            ...mapState({
                faceCamaccuracy:state=>state.echarts.faceCamaccuracy
            })
        },
        created() {
            this.$nextTick(() => {
                this.$store.dispatch('getFaceCamAccuracy').then(res=>{
                    let arr=[];
                    let arr2=[];
                    res.data.sort((a,b)=>{
                        return b.accuracy - a.accuracy
                    })
                    res.data.slice(0,10).forEach(item=>{
                        let it={
                            name:item.camName,
                            value:item.accuracy
                        };
                        arr.push(it.value);
                        arr2.push(it.name)
                    });
                    this.myChart = echarts.init(this.$refs['main']);
                    this.myChart.setOption(this.option({value:arr,name:arr2}));
                })
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
