<template>
    <div ref="main" style="width:95%; height:90%"></div>

</template>

<script>
    import echarts from 'echarts'
import { mapState } from 'vuex'
    // import {getFaceCamWeeklyPush} from '../../../api/components/roadcams'

    export default {
        data() {
            return {}
        },
        mounted(){
            
        },
        computed:{
            ...mapState({
                faceCamweeklypush:state=>state.echarts.faceCamweeklypush
            })
        },
        methods: {
            option(res) {
                return {
                    textStyle : {
                        color: "#19B7D0"
                    },
                    color: ['#19B7D0'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        formatter: "时间: {b}<br/>{a}: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '3%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }

                            },
                            data: res.name,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#19B7D0',
                                    width: 2
                                }
                            },
                            splitLine: {
                                show: false
                            },
                        }
                    ],
                    series: [
                        {
                            name: '人数',
                            type: 'bar',
                            barWidth: '40%',
                            data: res.value,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top',
                                    formatter: '{c}'
                                }
                            },
                            itemStyle: {
                                normal: {

                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgba(211, 173,100, 1)'
                                    }, {
                                        offset: 1,
                                        color: 'rgba(43, 120,148, 1)'
                                    }]),
                                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                                    shadowBlur: 10
                                }
                            }
                        },

                    ],

                }
            }
        },
        created() {
            this.$nextTick(() => {               
                this.$store.dispatch('getFaceCamWeeklyPush').then(res=>{
                    let arr = [];
                    let arr2 = [];
                    for(let i of res.data){
                        switch(i.dow){
                            case 1:
                                i.dow = '周一'
                                break;
                            case 2:
                                i.dow = '周二'
                                break;
                            case 3:
                                i.dow = '周三'
                                break;
                            case 4:
                                i.dow = '周四'
                                break;
                            case 5:
                                i.dow = '周五'
                                break;
                            case 6:
                                i.dow = '周六'
                                break;
                            case 7:
                                i.dow = '周日'
                                break;
                        }
                    }
                    res.data.forEach(item => {
                        let it = {
                            name: item.dow,
                            value: item.count
                        }
                        arr.push(it.value)
                        arr2.push(it.name)
                    })
                    this.myChart = echarts.init(this.$refs['main']);
                    this.myChart.setOption(this.option({value:arr,name:arr2}));
                })
                    
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
