<template>
    <div ref="mq" class="mql">
        <transition-group name="list-complete" tag="p">
            <div class="box list-complete-item" v-for="(item,index) in data"
                 :key="index+item.createTime">

                <div class="title">{{++index}}</div>
                <div class="peoImage">
                    <img :src="item.facePicUrl" alt="">
                </div>
                <div class="decoration">
                    <ul>
                        <li>地点：{{item.position}}</li>
                        <li>时间：{{item.createTime.split(' ')[1]}}</li>
                        <li>{{item.portraitDBName}}</li>
                        <!--<li>代号：{{item.name || ''}}</li>-->
                    </ul>
                </div>
            </div>
        </transition-group>
    </div>
</template>

<script>
    // import {getGetNewestRecords} from '../../../api/components/roadcams'
    import ws from '@/assets/sockjs';
    import axios from 'axios';

    export default {
        name: 'hello',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                data: [],
                client: null,
                data2: [],
                client2: null,
                client3:null,
                date:new Date()
            }
        },
        methods: {
            content() {
                this.$nextTick(() => {
                    ws('案件统计',this.content).then(sto => {
                        this.client = sto;
                        this.client.subscribe('/topic/getFaceWarning', async (response) => {
                            let data = JSON.parse(response.body);
                            if(this.data.length > 2){
                                await this.data.unshift({
                                    createTime: data.createTime ,
                                    position: data.position,
                                    facePicUrl: data.facePicUrl,
                                    portraitDBName: "库名:"+data.portraitDBName,
                                });
                                await this.data.pop()
                            }else{
                                this.data.unshift({
                                    createTime: data.createTime ,
                                    position: data.position,
                                    facePicUrl: data.facePicUrl,
                                    portraitDBName: "库名:"+data.portraitDBName,
                                });
                            }
                        });
                    })
                })
            },
            getcar(){
                this.$nextTick(()=>{
                    ws('案件统计', this.getcar).then(sto => {
                        this.client2 = sto;
                        this.client2.subscribe('/topic/getCarWarning', (response) => {
                        let data = JSON.parse(response.body);
                           if (this.data.length > 2){
                               this.data.unshift({
                                   createTime: data.createTime,
                                   position: data.camName,
                                   facePicUrl: data.compositeGraphImgUrl,
                                   portraitDBName: "车牌号:"+data.carNumber,
                               });
                               this.data.pop()
                           }else{
                               this.data.unshift({
                                   createTime: data.createTime,
                                   position: data.camName,
                                   facePicUrl: data.compositeGraphImgUrl,
                                   portraitDBName: "车牌号:"+data.carNumber,
                               });
                           }
                        });
                    })
                })
            },
            wasteTruck(){
                this.$nextTick(()=>{
                    ws('案件统计', this.wasteTruck).then(sto => {
                        this.client3 = sto;
                        this.client3.subscribe('/topic/getWasteTruck', (response) => {
                            let data = JSON.parse(response.body);
                            if(data.recordType ===7001){
                                data.recordType = "违章停车"
                            }
                            if(this.data.length > 2){
                                this.data.unshift({
                                    createTime: data.createTime,
                                    position: data.camName,
                                    facePicUrl: data.carUrl,
                                    portraitDBName: "违章类型:"+data.recordType,
                                });
                                this.data.pop()
                            }else{
                                this.data.unshift({
                                    createTime: data.createTime,
                                    position: data.camName,
                                    facePicUrl: data.carUrl,
                                    portraitDBName: "违章类型:"+data.recordType,
                                });
                            }
                        });
                    })
                })
            },
            timer(val){
                var    now = new Date(val*1000);
                var   year=now.getFullYear();
                var   month=now.getMonth()+1;
                var   date=now.getDate();
                var   hour=now.getHours();
                var   minute=now.getMinutes();
                var   second=now.getSeconds();
                return   year+"/"+month+"/"+date+"   "+hour+":"+minute+":"+second;
            }
        },

        created() {
            this.$nextTick(() => {
                axios.get(`/zq/api/suspect/faceRecognizeRecord/getNewestRecords`).then(data => {
                    if (data.data.errcode === 0) {
                        this.data = data.data.data
                        this.data.forEach(item=>{
                            if(item.portraitDBName.indexOf(":")== -1){
                                item.portraitDBName =  "库名:"+item.portraitDBName
                            }
                        })
                    } else if (data.data.errcode == -1) {
                        layer.msg("后台服务器异常!", {shift: '6', time: 3000});
                    }
                }).then(() => {
                    this.content()
                    this.getcar()
                    this.wasteTruck()
                })
            })
        },
        destroyed() {
            this.$nextTick(() => {
                this.client.disconnect()
                this.client2.disconnect()
                this.client3.disconnect()
            })
        },
        filters: {
            timer(val){
                var    now = new Date(val*1000);
                var   year=now.getFullYear();
                var   month=now.getMonth()+1;
                var   date=now.getDate();
                var   hour=now.getHours();
                var   minute=now.getMinutes();
                var   second=now.getSeconds();
                return   year+"/"+month+"/"+date+"   "+hour+":"+minute+":"+second;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .list-complete-item {
        transition: all 1s;
        display: inline-block;
        margin-right: 10px;
    }

    .list-complete-enter, .list-complete-leave-to
        /* .list-complete-leave-active for below version 2.1.8 */
    {
        opacity: 0;
        transform: translateY(30px);
    }

    .list-complete-leave-active {
        position: absolute;
    }

    .mql {
        width: 350px;
        height: 505px;
        overflow: hidden;
        margin: 0 auto;
        /*position: relative;*/
        transition: all 1s;
    }

    .box {
        width: 350px;
        height: 115px;
        margin: 50px auto 0;
        /*background-color: #fff;*/
        /*line-height: 115px;*/
        position: relative;
    }

    .box .title {
        width: 23px;
        height: 23px;
        float: left;
        background-color: #d3ad64;
        position: absolute;
        top: 46px;
        border-radius: 50%;
        line-height: 23px;
        text-align: center;
    }

    .box .peoImage {
        border: 3px solid white;
        float: left;
        width: 115px;
        height: 115px;
        margin-left: 45px;
        /*background-color: #fff;*/
        line-height: 115px;
    }

    .box .peoImage img {
        width: 109px;
        height: 109px;
    }

    .box .decoration {
        float: right;
        width: 173px;
        height: 115px;
        margin-left: 17px;
        /*background-color: #d3ad64;*/
    }

    .box .decoration ul li {
        text-align: left;
        line-height: 25px;
        padding-left: 10px;
        padding-top: 2px;
        color: #6acfe1;
        font-size: 10px;
    }
</style>
