<template>
    <div ref="main" style="width:95%; height:90%"></div>
</template>

<script>
    import echarts from 'echarts'
    // import {getFaceDBRatio} from '../../../api/components/roadcams'
import { mapState } from 'vuex'

    export default {
        data() {
            return {
                data2:[]
            }
        },
        mounted(){
            
        },
        computed:{
            ...mapState({
                faceDbratio:state=>state.echarts.faceDbratio
            })
        },
        created() {
            this.$nextTick(() => {
                // setTimeout(()=>{
                this.$store.dispatch('getFaceDBRatio').then(res=>{
                    let arr = [];
                    let arr2 = [];
                    res.data.forEach(item => {
                        let it = {
                            name: item.name,
                            value: item.count
                        }
                        arr.push(it)
                        arr2.push(it.name)
                    })
                    this.myChart = echarts.init(this.$refs['main']);
                    this.myChart.setOption(this.option({data:arr,name:arr2}));
                })
                    
                // },800)
            })
        },
        methods: {
            option(res) {
                return {
                    title: {
                        x: 'center'
                    },
                    color: ['#019AA0', '#D3AD64', '#ff0000', '#14C0D8', '#00fff0', '#419E83'],
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 20,
                        top: 'bottom',
                        // data: ["东港幼儿园","施湾小学","东港小学","东海学校","光明学校","祝桥小学","祝桥中学"],
                        data: res.name,
                        textStyle: {
                            color: "#19B7D0",
                        },
                        icon: "circle",
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['60%', '60%'],
                            // data: [
                            //     {value:1254,name:"东港幼儿园"},
                            //     {value:254,name:"施湾小学"},
                            //     {value:1954,name:"东港小学"},
                            //     {value:3254,name:"东海学校"},
                            //     {value:154,name:"光明学校"},
                            //     {value:5254,name:"祝桥小学"},
                            //     {value:3254,name:"祝桥中学"},
                            // ],
                            data:res.data,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'outside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    },
                                    length: 10,
                                    length2: 15,
                                    smooth: 0.2,
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                        }
                    ]
                }
            }

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
