<template>
    <div ref="main" style="width:95%; height:90%"></div>
</template>

<script>
    import echarts from 'echarts'
import { mapState } from 'vuex'
    // import {getFaceCamPushRatio} from '../../../api/components/roadcams'
    export default {
        data() {
            return {}
        },
        methods:{
            option(res){
                return{
                    tooltip: {
                        trigger: 'item',
                        formatter: "地点: {b}<br/>{a}: {c} ({d}%)"
                    },
                    color: ['#019AA0', '#D3AD64', '#14C0D8', '#2F4455', '#419EE3'],
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            selectedMode: 'single',
                            radius: [0, '30%'],
                            label: {
                                normal: {
                                    position: 'inner'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            }
                        },
                        {
                            name: '次数及占比',
                            type: 'pie',
                            radius: ['40%', '50%'],
                            center: ['50%', '60%'],
//                            center:"center",
                            data: res.value
                        }
                    ]
                }
            }
        },
        mounted(){
            
        },
        computed:{
            ...mapState({
                faceCampushRatio:state=>state.echarts.faceCampushRatio
            })
        },
        created() {
            this.$nextTick(() => {
                this.$store.dispatch('getFaceCamPushRatio').then(res=>{
                    let arr=[];
                    let arr2=[];
                    res.data.sort((a,b)=>{
                        return b.count - a.count
                    })
                    res.data.slice(0,10).forEach(item=>{
                        let it={
                            name:item.camName,
                            value:item.count
                        }
                        arr.push(it)
                        arr2.push(it.name)
                    })
                    this.myChart = echarts.init(this.$refs['main']);
                    this.myChart.setOption(this.option({value:arr,name:arr2}));
                })
                    
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
