<template>
  <div class="weikakou">
    <div class="titlel" @click="toshenzhou">垃圾分类监管</div>
    <!-- <div v-for="item in 4" :key='item'>{{selectDateItem}}</div> -->
    <div class="weikakouDate">
      <el-button
          class="cameraSelectBtn"
          size="small"
          type="primary"
          @click="showMore()">查看排行</el-button>
      <el-button
        class="cameraSelectBtn"
        size="small"
        type="primary"
        :title="selectDateItem"
        @click="selectScreen"
        >{{ ellipsis(selectDateItem) }}</el-button
      >
      <div class="cameraSelectoptionList" v-if="SelectoptionVisible">
        <div
          class="cameraSelectoption"
          v-for="(item, index) in xiaoquList"
          :key="index"
          @click="selectDateOption(item)"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="weikakouBtnBox">
      <el-button
        v-for="(item, index) in btnList"
        @click="selectIt(item)"
        :key="index"
        :class="
          selectIndex == item.id
            ? ['selectweikakouBtn', 'weikakouBtn']
            : ['weikakouBtn']"
        size="mini"
        >{{ item.name }}</el-button>
    </div>
    <div class="garbageEcharts">
      <div class="garbageEchartItem">
        <div style="width:90%;height:85%;margin:0 auto" ref="echartone"></div>
        <div class="garbageEchartitle">
          干湿垃圾智能采集
        </div>
      </div>
      <div class="garbageEchartItem">
        <div
          style="width:90%;height:80· %;margin:10px auto 0"
          ref="echartthree"
        ></div>
        <div class="garbageEchartitle">
          干湿垃圾分析变化
        </div>
      </div>
      <!-- <div class="garbageEchartItem">
          <div style="width:90%;height:85%;margin:0 auto" ref="echarttwo"></div>
          <div class="garbageEchartitle">
            湿垃圾分析变化
          </div>
        </div> -->
    </div>
  </div>
</template>

<script>
import echart from "echarts";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      ganData: [],
      shiData: [],
      xAxis: [],
      btnList: [
        { id: -1, name: "上一周" },
        { id: 0, name: "本周" }
      ],
      pieParams: {
        period: -1,
        cycle:0
      },
      lineGanParams: {
        // type:1,
        period: 0,
        cycle:0
      },
      lineShiParams: {
        // type:0,
        period: -1,
        cycle:0
      },
      selectDate: "x",
      selectDateItem: "全部",
      options: [
        {
          value: 1,
          label: "当周"
        },
        {
          value: 2,
          label: "当月"
        }
      ],
      SelectoptionVisible: false,
      selectIndex: 0,
      cutindex: 0
    };
  },
  methods: {
    ...mapMutations([]),
    toshenzhou(){
      window.open('http://web.jdszyhy.cn/#/passport/login?code=eyJwYXNzd29yZCI6InNoamRzejEyMzQ1NiIsInVzZXJDb2RlIjoiU3pzbGhqd3MifQ==')
    },
    selectScreen() {
      this.SelectoptionVisible = !this.SelectoptionVisible;
    },
    showMore () {
      const params = {period: this.selectIndex}
      this.$store.dispatch('getAvgRank', params)
    },
    selectDateOption(data) {
      this.selectDateItem = data.name;
      this.selectDate = data.id;
      this.SelectoptionVisible = false;
      // if(this.selectIndex== -1){
      //   this.cutindex++
      // }else{
      //   this.cutindex = 0
      // }
      // if(this.cutindex>1){
      //   console.error('上一周操作只能操作一次')
      // }else{
        console.log(data.id)
      if (data.id == "x") {
        this.selectDateItem = data.name;
        this.pieParams = {
          period: this.selectIndex,
          cycle:this.cutindex
        };
        this.lineGanParams = {
          // type:1,
          period: this.selectIndex,
          cycle:this.cutindex
        };
        this.lineShiParams = {
          // type:0,
          period: this.selectIndex,
          cycle:this.cutindex
        };
      } else {
        this.pieParams = {
          period: this.selectIndex,
          districtId: this.selectDate,
          cycle:this.cutindex
        };
        this.lineGanParams = {
          // type:1,
          period: this.selectIndex,
          districtId: this.selectDate,
          cycle:this.cutindex
        };
        this.lineShiParams = {
          // type:0,
          period: this.selectIndex,
          districtId: this.selectDate,
          cycle:this.cutindex
        };
        
      }
      
      this.axiosEcharts();
    },
    axiosEcharts() {
      //环形
      this.$store.dispatch("garbagePie", this.pieParams).then(res => {
        if (res.error == null) {
          this.getCycle(res.result);
        }
      });
      console.log(this.lineGanParams)
      //干垃圾
      this.$store.dispatch("garbageLine", this.lineGanParams).then(res => {
        if (res.error == null) {
          if (res.result) {
            this.ganData = res.result.data.DRYGARBAGE;
            this.shiData = res.result.data.WETGARBAGE;
            this.xAxis = res.result.xAxis;
            // this.getLine(res.result)
            this.getzheLine(this.ganData, this.shiData, this.xAxis);
          }
          // else{
          // this.getLine({data:[],xaxis:[]})
          // }
        }
      });
      //湿垃圾
      // this.$store.dispatch('garbageLine',this.lineShiParams).then(res=>{
      //   if(res.error==null){
      //     if(res.result){

      //       // this.getzheLine(res.result)
      //     }
      //     // else{
      //       // this.getzheLine({data:[],xaxis:[]})
      //     // }
      //   }
      // })
    },
    selectIt(data) {
      // console.log(this.garbagelsitVisible)
      this.selectIndex = data.id;

      if(this.selectIndex== -1){
        this.cutindex++
      }else{
        this.cutindex = 0
      }
      // if(this.cutindex>1){
      //   console.error('上一周操作只能操作一次')
      // }else{
      if (this.selectDate == "x") {
        this.pieParams = {
          period: this.selectIndex,
          cycle:this.cutindex
        };
        this.lineGanParams = {
          // type:1,
          period: this.selectIndex,
          cycle:this.cutindex
        };
        this.lineShiParams = {
          // type:0,
          period: this.selectIndex,
          cycle:this.cutindex
        };
      } else {
        this.pieParams = {
          districtId: this.selectDate,
          period: this.selectIndex,
          cycle:this.cutindex
        };
        this.lineGanParams = {
          // type:1,
          districtId: this.selectDate,
          period: this.selectIndex,
          cycle:this.cutindex
        };
        this.lineShiParams = {
          // type:0,
          districtId: this.selectDate,
          period: this.selectIndex,
          cycle:this.cutindex
        };
      }
      console.log(this.lineGanParams,this.lineShiParams)
      if(this.garbagelsitVisible){
        const params = {period: this.selectIndex,cycle:this.cutindex}
        this.$store.dispatch('getAvgRank', params)
      }
      
      // setTimeout(() => {
      this.axiosEcharts();
    },
    getCycle(data) {
      let width = document.body.clientWidth / 1920;
      let myEchart = echart.init(this.$refs.echartone);
      myEchart.setOption({
        color: ["#178cd2", "#d19539"],
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        series: [
          {
            name: "干湿垃圾采集:",
            type: "pie",
            radius: ["50%", "70%"],
            selectedMode: "single",
            avoidLabelOverlap: false,
            label: {
              fontSize: "65%",
              color: "#23ccfb"
            },
            labelLine: {
              lineStyle: {
                width: 1,
                color: "#23ccfb"
              },
              length: 10 * width,
              length2: 10 * width
            },
            data: data
          }
        ]
      });
    },
    getzheLine(data, data2, xAxis) {
      let width = document.body.clientWidth / 1920;
      let myEchart = echart.init(this.$refs.echartthree);
      myEchart.setOption({
        // color:["#ccc"],
        legend: {
          data: ["干垃圾", "湿垃圾"],
          textStyle: {
            color: "#ccc"
          }
        },
        xAxis: {
          type: "category",
          data: xAxis,
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          },
          axisLabel: {
            textStyle: {
              fontSize: "65%",
              color: "#01a4e2"
            },
            rotate: -40
          }
        },
        grid: {
          top: "30%",
          left: "8%",
          right: "4%",
          bottom: "5%",
          containLabel: true
        },
        yAxis: [
          {
            type: "value",
            name: "数量(kg)",
            nameTextStyle: {
              fontSize: "65%"
            },
            axisLine: {
              lineStyle: {
                type: "solid",
                color: "#23cefd",
                width: 0.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: "#33394f",
                width: 0.5,
                type: "solid"
              }
            },
            axisLabel: {
              textStyle: {
                fontSize: "65%",
                color: "#01a4e2"
              }
            }
          }
        ],
        series: [
          {
            name: "干垃圾",
            data: data,
            type: "line",
            itemStyle: {
              normal: {
                color: "#178cd2"
              }
            }
          },
          {
            name: "湿垃圾",
            data: data2,
            type: "line",
            itemStyle: {
              normal: {
                color: "#d19539"
              }
            }
          }
        ]
      });
    },
    getLine(data) {
      let myEchart = echart.init(this.$refs.echarttwo);
      myEchart.setOption({
        xAxis: {
          type: "category",
          data: data.xaxis,
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          },
          axisLabel: {
            textStyle: {
              fontSize: "65%",
              color: "#01a4e2"
            },
            rotate: -40
          }
        },
        grid: {
          top: "25%",
          left: "5%",
          right: "4%",
          bottom: "5%",
          containLabel: true
        },
        yAxis: [
          {
            type: "value",
            name: "数量(kg)",
            nameTextStyle: {
              fontSize: "65%"
            },
            axisLine: {
              lineStyle: {
                type: "solid",
                color: "#23cefd",
                width: 0.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: "#33394f",
                width: 0.5,
                type: "solid"
              }
            },
            axisLabel: {
              textStyle: {
                fontSize: "65%",
                color: "#01a4e2"
              }
            }
          }
        ],
        series: [
          {
            name: "干湿垃圾采集:",
            data: data.data,
            type: "line",
            // #d19539
            itemStyle: {
              normal: {
                color: "#d19539"
              }
            }
          }
        ]
      });
    },
    ellipsis(data) {
      if (data.length > 7) {
        let str = this.selectDateItem.slice(0, 6);
        return `${str}...`;
      } else {
        return data;
      }
    }
  },

  mounted() {
    this.$nextTick(() => {
      this.$store.dispatch("districtsXq");

      this.pieParams = {
        // districtId:'',
        period: 0,
        cycle:this.cutindex
      };
      this.lineGanParams = {
        // type:1,
        // districtId:'',
        period: 0,
        cycle:this.cutindex
      };
      this.lineShiParams = {
        // type:0,
        // districtId:'',
        period: 0,
        cycle:this.cutindex
      };
      this.axiosEcharts();
    });
  },
  watch: {},
  filters: {},
  computed: {
    ...mapState({
      xiaoquList: state => state.sanlinecharts.xiaoquList,
      garbagelsitVisible: state => state.sanlinecharts.garbagelsitVisible,
    }),
    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/sanlin/dashchart.less";
</style>
