<template>
  <div class="weikakou">
    <div class="titlel" @click="toshenzhou">垃圾分类监管</div>
    <!-- <div v-for="item in 4" :key='item'>{{selectDateItem}}</div> -->
    <div class="weikakouDate">
      <el-button
        class="cameraSelectBtn"
        size="small"
        type="primary"
        :title="selectDateItem"
        @click="selectScreen"
        >{{ ellipsis(selectDateItem) }}</el-button
      >
      <div class="cameraSelectoptionList" v-if="SelectoptionVisible">
        <div
          class="cameraSelectoption"
          v-for="(item, index) in xiaoquList"
          :key="index"
          @click="selectDateOption(item)"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="weikakouBtnBox">
      <el-button
        v-for="(item, index) in btnList"
        @click="selectIt(item)"
        :key="index"
        :class="
          selectIndex == item.id
            ? ['selectweikakouBtn', 'weikakouBtn']
            : ['weikakouBtn']
        "
        size="mini"
        >{{ item.name }}</el-button
      >
      <!-- <div class="more-button spec"> -->
      <el-dropdown
        size="mini"
        style="
          color: #d9f4fa;
          padding: 0.1rem 0.5rem;
          margin-left: 0.8rem;
          background: #0f4d76;
          border-radius: 0.3rem;
        "
        @command="handleCommand"
      >
        <span class="el-dropdown-link">
          {{ selectCurrent }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in options"
            v-show="!item.value.includes('日')"
            :key="item.code"
            :command="item.code"
            >{{ item.value }}</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
      <!-- </div> -->
    </div>
    <div class="garbageEcharts">
      <div class="garbageEchartItem">
        <div style="width: 90%; height: 100%; margin: 0 auto">
          <threeDchart></threeDchart>
        </div>
        <div class="garbageEchartitle">本月检查分布图</div>
      </div>
      <div class="garbageEchartItem" style="position: relative">
        <noStandard class="noStandard" v-if="nostandardVisible"></noStandard>
        <div class="garbageEchartganshi">
          <span>目标量</span>
          <span>干垃圾：</span>
          <span>170吨/日</span>
          <span>湿垃圾：</span>
          <span>86吨/日</span>
        </div>
        <div
          style="width: 90%; height: 95%; margin: 10px auto 0"
          ref="echartthree"
        ></div>
        <!-- <div class="garbageEchartitle">
          干湿垃圾分析变化
        </div> -->
      </div>
      <!-- <div class="garbageEchartItem">
          <div style="width:90%;height:85%;margin:0 auto" ref="echarttwo"></div>
          <div class="garbageEchartitle">
            湿垃圾分析变化
          </div>
        </div> -->
    </div>
    <checkState v-if="checkStateVisible"></checkState>
    <cyclePoint v-if="cyclePointVisible"></cyclePoint>
    <garbageRank v-if="garbageRankVisible"></garbageRank>
  </div>
</template>

<script>
import echart from "echarts";
import { mapState, mapGetters, mapMutations } from "vuex";
import threeDchart from "@/components/sanlin/echarts/garbagewatchV3/threeDchart.vue";
import checkState from "@/components/sanlin/echarts/garbagewatchV3/checkState.vue";
import noStandard from "@/components/sanlin/echarts/garbagewatchV3/Nostandard.vue";
import cyclePoint from "@/components/sanlin/echarts/garbagewatchV3/cyclePoint.vue";
import garbageRank from "@/components/sanlin/echarts/garbagewatchV3/garbageRank.vue";

export default {
  data() {
    return {
      ganData: [],
      shiData: [],
      xAxis: [],
      btnList: [
        { id: -1, name: "可回收物" },
        { id: 0, name: "垃圾排行" }
      ],
      pieParams: {
        period: -1,
        cycle: 0
      },
      lineGanParams: {
        // type:1,
        period:0,//0:本周  -1:上周
        cycle: 0//点击上周的次数
      },
      lineShiParams: {
        // type:0,
        period: -1,
        cycle: 0
      },
      selectDate: "0",
      selectDateItem: "全部",
      selectCurrent: "本周",
      options: [
        {
          code: -1,
          value: "上一周"
        },
        {
          code: 0,
          value: "本周"
        }
      ],
      SelectoptionVisible: false,
      selectIndex: 0,
      cutindex: 0
    };
  },
  methods: {
    ...mapMutations([]),
    handleCommand(command) {
      if(command== -1){
        this.cutindex++
      }else{
        this.cutindex = 0
      }
      this.lineGanParams.period = command;
      this.lineGanParams.cycle = this.cutindex;
      this.options.forEach((item) => {
        if (item.code === command) {
          this.selectCurrent = item.value;
        }
      });
      this.$store.dispatch("districtsXq",this.lineGanParams);
      this.axiosEcharts();
    },
    toshenzhou() {
      window.open(
        "http://web.jdszyhy.cn/#/passport/login?code=eyJwYXNzd29yZCI6InNoamRzejEyMzQ1NiIsInVzZXJDb2RlIjoiU3pzbGhqd3MifQ=="
      );
    },
    selectScreen() {
      this.SelectoptionVisible = !this.SelectoptionVisible;
    },
    showMore() {
      const params = { period: this.selectIndex };
      this.$store.dispatch("getAvgRank", params);
    },
    selectDateOption(data) {
      this.selectDateItem = data.name;
      this.selectDate = data.id;
      this.SelectoptionVisible = false;

      this.lineGanParams = {
        // type:1,
        period: this.lineGanParams.period,
        districtId: this.selectDate,
        cycle: this.cutindex
      };

      console.log(this.lineGanParams)
      this.axiosEcharts();
    },
    axiosEcharts() {
      //环形
      // this.$store.dispatch("garbagePie", this.pieParams).then((res) => {
      //   if (res.error == null) {
      //     this.getCycle(res.result);
      //   }
      // });
      // console.log(this.lineGanParams);
      //干垃圾
      this.$store.dispatch("garbageLine", this.lineGanParams).then((res) => {
        if (res.error == null) {
          if (res.result) {
            this.ganData = res.result.data.DRYGARBAGE;
            this.shiData = res.result.data.WETGARBAGE;
            this.xAxis = res.result.xAxis;
            // this.getLine(res.result)
            this.getzheLine(this.ganData, this.shiData, this.xAxis);
          }else{
            this.ganData = [];
            this.shiData = [];
            this.xAxis = [];
            // this.getLine(res.result)
            this.getzheLine(this.ganData, this.shiData, this.xAxis);
          }
          // else{
          // this.getLine({data:[],xaxis:[]})
          // }
        }
      });
    },
    getCycle(data) {
      let width = document.body.clientWidth / 1920;
      let myEchart = echart.init(this.$refs.echartone);
      myEchart.setOption({
        color: ["#178cd2", "#d19539"],
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        series: [
          {
            name: "干湿垃圾采集:",
            type: "pie",
            radius: ["50%", "70%"],
            selectedMode: "single",
            avoidLabelOverlap: false,
            label: {
              fontSize: "65%",
              color: "#23ccfb"
            },
            labelLine: {
              lineStyle: {
                width: 1,
                color: "#23ccfb"
              },
              length: 10 * width,
              length2: 10 * width
            },
            data: data
          }
        ]
      });
    },
    getzheLine(data, data2, xAxis) {
      let width = document.body.clientWidth / 1920;
      let myEchart = echart.init(this.$refs.echartthree);
      myEchart.setOption({
        // color:["#ccc"],
        // legend: {
        //   data: ["干垃圾", "湿垃圾"],
        //   textStyle: {
        //     color: "#ccc"
        //   }
        // },
        tooltip: {
          trigger: 'axis'
        },
        xAxis: {
          type: "category",
          data: xAxis,
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          },
          axisLabel: {
            textStyle: {
              fontSize: "65%",
              color: "#01a4e2"
            },
            rotate: -40
          }
        },
        grid: {
          top: "30%",
          left: "8%",
          right: "4%",
          bottom: "5%",
          containLabel: true
        },
        yAxis: [
          {
            type: "value",
            name: "数量(kg)",
            nameTextStyle: {
              fontSize: "65%"
            },
            axisLine: {
              lineStyle: {
                type: "solid",
                color: "#23cefd",
                width: 0.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: "#33394f",
                width: 0.5,
                type: "solid"
              }
            },
            axisLabel: {
              textStyle: {
                fontSize: "65%",
                color: "#01a4e2"
              }
            }
          }
        ],
        series: [
          {
            name: "干垃圾",
            data: data,
            type: "line",
            itemStyle: {
              normal: {
                color: "#178cd2"
              }
            }
          },
          {
            name: "湿垃圾",
            data: data2,
            type: "line",
            itemStyle: {
              normal: {
                color: "#d19539"
              }
            }
          }
        ]
      });
    },
    getLine(data) {
      let myEchart = echart.init(this.$refs.echarttwo);
      myEchart.setOption({
        xAxis: {
          type: "category",
          data: data.xaxis,
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          },
          axisLabel: {
            textStyle: {
              fontSize: "65%",
              color: "#01a4e2"
            },
            rotate: -40
          }
        },
        grid: {
          top: "25%",
          left: "5%",
          right: "4%",
          bottom: "5%",
          containLabel: true
        },
        yAxis: [
          {
            type: "value",
            name: "数量(kg)",
            nameTextStyle: {
              fontSize: "65%"
            },
            axisLine: {
              lineStyle: {
                type: "solid",
                color: "#23cefd",
                width: 0.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: "#33394f",
                width: 0.5,
                type: "solid"
              }
            },
            axisLabel: {
              textStyle: {
                fontSize: "65%",
                color: "#01a4e2"
              }
            }
          }
        ],
        series: [
          {
            name: "干湿垃圾采集:",
            data: data.data,
            type: "line",
            // #d19539
            itemStyle: {
              normal: {
                color: "#d19539"
              }
            }
          }
        ]
      });
    },
    ellipsis(data) {
      if (data.length > 7) {
        let str = this.selectDateItem.slice(0, 6);
        return `${str}...`;
      } else {
        return data;
      }
    }
  },

  mounted() {
    this.$nextTick(() => {
      

      // this.pieParams = {
      //   // districtId:'',
      //   period: 0,
      //   cycle: this.cutindex
      // };
      this.lineGanParams = {
        // type:1,
        // districtId:'',
        period: 0,
        cycle: this.cutindex
      };
      this.$store.dispatch("districtsXq",this.lineGanParams);
      // this.lineShiParams = {
      //   // type:0,
      //   // districtId:'',
      //   period: 0,
      //   cycle: this.cutindex
      // };
      this.axiosEcharts();
    });
  },
  watch: {},
  filters: {},
  computed: {
    ...mapState({
      xiaoquList: (state) => state.sanlinecharts.xiaoquList,
      garbagelsitVisible: (state) => state.sanlinecharts.garbagelsitVisible,
      dropList: (state) => state.sanlinecharts.dropList,
      checkStateVisible: (state) => state.sanlinVisible.checkStateVisible,
      cyclePointVisible: (state) => state.sanlinVisible.cyclePointVisible,
      garbageRankVisible: (state) => state.sanlinVisible.garbageRankVisible,
      nostandardVisible:state=>state.sanlinerqiV3.nostandardVisible,

    }),
    ...mapGetters([])
  },
  components: { threeDchart, checkState, cyclePoint, garbageRank,noStandard }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/sanlin/dashchart.less";
// .more-button{
//   margin-right: 200px;
//   box-sizing: border-box;
// }
.garbageEchartganshi {
  height: 2rem;
  width: 90%;
  background: url(../../../assets/images/sanlin/textborder.png) no-repeat;
  position: absolute;
  top: 0.5rem;
  line-height: 1.8rem;
  padding-left: 1rem;
  font-size: 0.7rem;
  color: white;
  span:nth-child(2n-1) {
    color: #2caac0;
  }
}
.noStandard{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
}
</style>
