<template>
  <div class="weikakou">
    <div class="titlec">热线工单分析</div>
    <div class="weikakouBtnBox">
      <el-button
        v-for="(item, index) in btnList"
        @click="selectIt(item)"
        :key="index"
        :class="
          selectIndex == item.id
            ? ['selectweikakouBtn', 'weikakouBtn']
            : ['weikakouBtn']
        "
        size="mini"
        >{{ item.name }}</el-button
      >
    </div>
    <div class="more-button spec">
      <el-dropdown size="mini" @command="handleCommand">
        <span class="el-dropdown-link">
          {{ selectCurrent }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in dropList"
            v-show="!item.value.includes('日')"
            :key="item.code"
            :command="item.code"
            >{{ item.value }}</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <!--      <div class="weikakouDate">
        <el-button class="cameraSelectBtn" size="small" type="primary" @click="selectScreen">{{selectDateItem}}</el-button>
        <div class="cameraSelectoption" v-show="SelectoptionVisible" v-for="item in options" :key='item.value' @click="selectDateOption(item)">
          {{item.label}}
        </div>
      </div>-->
    <div class="weikakouEcharts">
      <div class="weikakouEchartItem" v-show="selectIndex == 4">
        <div class="curve" ref="curve"></div>
      </div>
      <div class="weikakouEchartItem" v-show="selectIndex != 4" >
        <div style="width: 100%; height: 100%; margin: 0 auto" >
            <el-carousel  >
                  <el-carousel-item style="height:100%;width:100%">
                      <div style="height:90%;width:100%" id="gongdanlaiyuan"></div>
                  </el-carousel-item>
                  <el-carousel-item >
                      <div style="height:90%;width:100%" id="gaofawenti"></div>
                  </el-carousel-item>
             </el-carousel>
        
        </div>
        <!-- <div class="weikakouEchartitle">板块智能分析</div> -->
      </div>
      <div class="weikakouEchartItem" v-show="selectIndex != 4">

          <swiper
                :options="swiperOption"
                ref="mySwiper"
                style="width:100%;height:100%;overflow:hidden;"
            >
                <swiper-slide class="processBox" v-for=" item in processLlist" :key="item.name" @click.native="orderDetail(item)">
                        <div class="title">{{item.name}}</div>
                        <el-progress  text-inside="false "  :percentage="item.value" :stroke-width="6" class="processbar"></el-progress>
                        <div class="value">{{item.value}}%</div>
                </swiper-slide>
            </swiper>

          <!-- <div class="processBox" v-for=" item in processLlist" :key="item">
               <div class="title">{{item.name}}</div>
               <el-progress :percentage="item.value" :stroke-width="10" class="processbar"></el-progress>
          </div> -->
        </div>
    </div>
  </div>
</template>


<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echart from "echarts";
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide, directive} from 'vue-awesome-swiper'

export default {
  data() {
    return {
      curveEchart: null,
      btnList: [
        { id: 4, name: "曲线" },
        { id: 1, name: "满意度" },
        { id: 2, name: "实际解决率" },
        { id: 3, name: "先行联系率" }
      ],
      processLlist:[],
      selectIndex: 4,
      selectDate: 1,
      preiod:4 ,
      selectCurrent: "上月",
      pieParams: {},
      lineParams: {},
      options: [
        {
          value: 1,
          label: "当周"
        },
        {
          value: 2,
          label: "当月"
        }
        // {
        //   value: 3,
        //   label: '当季'
        // }
      ],
      SelectoptionVisible: false,
      swiperOption: {
        slidesPerView: 4,//当前box放几条数据
        direction: "vertical",   //控制滚动的方向
        paginationClickable: false,
        observer:true,//修改swiper自己或子元素时，自动初始化swiper
        observeParents:true,//修改swiper的父元素时，自动初始化swiper
        autoplay: 3200,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel:true,
        mousewheelControl:true,
        height:150,
        centeredSlides: false, // 是否居中显示

      },
    };
  },
  methods: {
    ...mapMutations([]),
    handleCommand(command) {
      // this.selectType = command
      this.dropList.forEach((item) => {
        if (item.code === command) {
          this.selectCurrent = item.value;
        }
      });
      this.preiod = command;
      // this.$store.dispatch('getLeftMiddleInfo', {period: command})
      // console.log(command)
      if (this.selectIndex == 4) {
        let params = {
          period: this.preiod
        };
        // this.$store.dispatch("dispatchPie", params).then((res) => {
        //   if (res.error == null) {
        //     this.getCycle(res.result);
        //   }
        // });
        // this.$store.dispatch("dispatchBar", params).then((res) => {
        //   if (res.error == null) {
        //     this.getLine(res.result);
        //   }
        // });
      } else {
        this.pieParams = {
          type: this.selectIndex,
          period: this.preiod,
          limit: 10
        };
        this.$store.dispatch("graphPie", this.pieParams).then((res) => {
          if (res.error == null) {
            this.getCycle(res.result);
          }
        });
        let barParams = {
          type: this.selectIndex,
          period: this.preiod,
          limit:2000
        };
        this.getBarData(barParams)
      }
    },
    selectScreen() {
      this.SelectoptionVisible = !this.SelectoptionVisible;
    },
    selectDateOption(data) {
      this.selectDateItem = data.label;
      this.selectDate = data.value;
      this.pieParams = {
        type: this.selectIndex,
        period: this.selectDate,
        limit: 10
      };
      this.$store.dispatch("graphPie", this.pieParams).then((res) => {
        if (res.error == null) {
          this.getCycle(res.result);
        }
      });
      this.lineParams = {
        type: this.selectIndex,
        period: this.preiod
      };
      this.$store.dispatch("graphBar", this.lineParams).then((res) => {
        if (res.error == null) {
          this.getLine(res.result);
        }
      });
    },
    selectIt(data) {
      this.selectIndex = data.id;
      if (data.id == 4) {
        this.getCuvre();
      } else {
        // this.curveEchart.dispose();
        // this.selectIndex = data.id;
    
        
        //进度条数据请求
        let pieParams = {
          type: this.selectIndex,
          period: this.preiod,
          limit: 1000
        };
        this.getBarData(pieParams);
        

        //饼状图数据请求
        // this.lineParams = {
        //   type: this.selectIndex,
        //   period: this.preiod
        // };
        this.getPieChartData();
        
        // this.$store.dispatch('graphBar',this.lineParams).then(res=>{
        //   if(res.error==null){
        //     this.getLine(res.result)
        //   }
        // })
      }
    },
    orderDetail(item){  //进度条 item 点击事件
        item.type = this.selectIndex;
        this.$store.commit("QUSHITU_ITEM",item);
        this.$store.commit("SET_QUSHITU_POP_VISIBLE",true);
    },
    getCycle(data,name,title) {
      let width = document.body.clientWidth / 1920;
      let myEchart = echart.init(document.getElementById(name)) ;
      myEchart.setOption({
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        title: {
            text: title,
            subtext: '',
            left: 'center',
            textStyle:{
              color:"#23ccfb",
              fontSize:15
            }
        },
        series: [
          {
            name: "板块智能分析:",
            type: "pie",
            radius: ["40%", "60%"],
            center:["50%","40%"],
            selectedMode: "single",
            avoidLabelOverlap: false,
            label: {
              fontSize: "65%",
              color: "#23ccfb"
            },
            // grid:{
            //   height:"88%",
            //   // left:'20%',
            //   right:'10%'
            // },
            labelLine: {
              lineStyle: {
                width: 1,
                color: "#23ccfb"
              },
              length: 2 ,
              length2: 2
            },
            data: data
          }
        ]
      });
    },

    getCuvre(data) {
      var curve = this.$refs.curve;
      this.curveEchart = echart.init(curve);
      let option = {
        title: {
          // text: '折线图堆叠'
        },
        tooltip: {
          trigger: "axis"
        },
        legend: {
          // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"],
          textStyle: {
            color: "#ccc"
          }
        },

        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          // data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
          data: data.result.xAxis,
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          }
        },
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#23cefd",
              width: 0.5
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#33394f",
              width: 0.5,
              type: "solid"
            }
          }
        },
        series:data.result.series
        // series: [
        //   {
        //     name: "视频广告",
        //     type: "line",
        //     stack: "总量",
        //     data: [150, 232, 201, 154, 190, 330, 410]
        //   },
        //   {
        //     name: "直接访问",
        //     type: "line",
        //     stack: "总量",
        //     data: [320, 332, 301, 334, 390, 330, 320]
        //   },
        //   {
        //     name: "搜索引擎",
        //     type: "line",
        //     stack: "总量",
        //     data: [820, 932, 901, 934, 1290, 1330, 1320]
        //   }
        // ]
      };
      this.curveEchart.setOption(option);
    },
    

    //获取曲线三率接口
    getNetLine(){
      let params = {
          limit:12
      }
      this.$store.dispatch("getline",params).then(res =>{
          this.getCuvre(res)
      });
    },

    getPieChartData(){
        let params_gongdanlaiyuan = {
            perios:this.selectIndex,
            type:"工单来源"
        };
        let params_gaofawenti = {
            perios:this.selectIndex,
            type:"高发问题"
        }
        this.$store.dispatch('gongdanfenxiPieChart',params_gongdanlaiyuan).then(res =>{
            this.getCycle(res.result,"gongdanlaiyuan","工单来源");
        })
        this.$store.dispatch('gongdanfenxiPieChart',params_gaofawenti).then(res =>{
            this.getCycle(res.result,"gaofawenti","高发问题");
        })
    },

    getBarData(params){   //获取满意度、实际解决率、先行联系率进度条数据
        this.$store.dispatch('getBar',params).then(res=>{
          if(res.error==null){ 
            var arr = [];
            for(var i = 0 ; i< res.result.xAxis.length;i++){
                var tempObj ={};
                tempObj.name = res.result.xAxis[i];
                tempObj.value = res.result.data[i];
                arr.push(tempObj);
            };
            this.processLlist = arr;
          }
        })
    }
  },

  mounted() {
    this.getNetLine();
    // this.getPieChartData();
  },
  created() {
    const params2 = {
      type: "period"
    };
    this.$store.dispatch("getDropList", params2);
  },
  watch: {},
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper
    },
    ...mapState({
      graphPiechartList: (state) => state.sanlinecharts.graphPiechartList,
      dropList: (state) => state.sanlinecharts.dropList
    }),
    ...mapGetters([])
  },
  components: {
      swiper, 
      swiperSlide 
  },
  directives: {
    swiper: directive
  },
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/dashchart.less";
</style>