<template>
  <div class='weikakou'>
      <div class="titlec">工单分析</div>
      <!-- <div class="more-button spec">
        <el-dropdown size="mini"  @command="handleCommand">
          <span class="el-dropdown-link">
            {{selectCurrent}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-for="item in dropList" :key="item.code" :command="item.code">{{item.value}}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div> -->
      <div class="weikakouBtnBox">
        <el-button v-for="(item,index) in btnList"  @click="selectIt(item)"
            :key='index' :class="selectIndex==item.id?['selectweikakouBtn','weikakouBtn']:['weikakouBtn']" size='mini'>{{item.name}}</el-button>
      </div>
      <div class="more-button spec">
        <el-dropdown size="mini"  @command="handleCommand">
          <span class="el-dropdown-link">
            {{selectCurrent}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-for="item in dropList" v-show="!item.value.includes('日')" :key="item.code" :command="item.code">{{item.value}}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
<!--      <div class="weikakouDate">
        <el-button class="cameraSelectBtn" size="small" type="primary" @click="selectScreen">{{selectDateItem}}</el-button>
        <div class="cameraSelectoption" v-show="SelectoptionVisible" v-for="item in options" :key='item.value' @click="selectDateOption(item)">
          {{item.label}}
        </div>
      </div>-->
      <div class="weikakouEcharts">
        <div class="weikakouEchartItem">
          <div style="width:100%;height:85%;margin:0 auto" ref="echartone"></div>
          <div class="weikakouEchartitle" v-if="selectIndex!==4">
            板块智能分析
          </div>
          <div class="lengends" v-else>
            <div class="lengendsItem">
              <div style="background:#c23531"></div>
            </div>
            <div class="lengendsItem">其他工单</div>
            <div class="lengendsItem">
              <div style="background:#d48265"></div>
            </div>
            <div class="lengendsItem">热线工单</div>
            <div class="lengendsItem">
              <div style="background:#61a0a8"></div>
            </div>
            <div class="lengendsItem">自主工单</div>
            <div class="lengendsItem">
              <div style="background:#2f4554"></div>
            </div>
            <div class="lengendsItem">网格工单</div>
          </div>
        </div>
        <div class="weikakouEchartItem">
          <div style="width:85%;height:100%;margin:0 auto" ref="echarttwo"></div>
        </div>
      </div>
  </div>
</template>

<script>
import echart from "echarts";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      btnList:[
        {id:1,name:'满意度'},
        {id:2,name:'实际解决率'},
        {id:3,name:'先行联系率'},
        {id:4,name:'派单类型'},
      ],
      selectIndex:1,
      selectDate:1,

      selectCurrent: '季度',
      pieParams:{},
      lineParams:{},
      options: [{
          value: 1,
          label: '当周'
        }, {
          value: 2,
          label: '当月'
        },
        // {
        //   value: 3,
        //   label: '当季'
        // }
      ],
      SelectoptionVisible:false
    }
  },
methods:{ ...mapMutations([]),
  handleCommand (command) {
    // this.selectType = command
    this.dropList.forEach(item => {
      if (item.code === command) {
        this.selectCurrent = item.value
      }
    })
    this.preiod = command
    // this.$store.dispatch('getLeftMiddleInfo', {period: command})
    // console.log(command)
    if(this.selectIndex == 4){
      let params = {
          period:this.preiod,
        }
        this.$store.dispatch('dispatchPie',params).then(res=>{
          if(res.error==null){
            this.getCycle(res.result)
          }
        })
        this.$store.dispatch('dispatchBar',params).then(res=>{
          if(res.error==null){
            this.getLine(res.result)
          }
        })
    }else{
      
      this.pieParams = {
        type:this.selectIndex,
        period:this.preiod,
        limit:10
      }
      this.$store.dispatch('graphPie',this.pieParams).then(res=>{
        if(res.error==null){
          this.getCycle(res.result)
        }
      })
      this.lineParams = {
        type:this.selectIndex,
        period:this.preiod,
      }
      this.$store.dispatch('graphBar',this.lineParams).then(res=>{
        if(res.error==null){
          this.getLine(res.result)
        }
      })
    }
    
  },
  selectScreen(){
    this.SelectoptionVisible= !this.SelectoptionVisible
  },
  selectDateOption(data){
    this.selectDateItem = data.label
    this.selectDate = data.value
    this.pieParams = {
      type:this.selectIndex,
      period:this.selectDate,
      limit:10
    }
    this.$store.dispatch('graphPie',this.pieParams).then(res=>{
      if(res.error==null){
        this.getCycle(res.result)
      }
    })
    this.lineParams = {
      type:this.selectIndex,
      period:this.preiod,
    }
    this.$store.dispatch('graphBar',this.lineParams).then(res=>{
      if(res.error==null){
        this.getLine(res.result)
      }
    })
  },
  selectIt(data){
    this.selectIndex = data.id
    if(data.id==4){
        let params = {
          period:this.preiod,
        }
        this.$store.dispatch('dispatchPie',params).then(res=>{
          if(res.error==null){
            this.getCycle(res.result)
          }
        })
        this.$store.dispatch('dispatchBar',params).then(res=>{
          if(res.error==null){
            this.getLine(res.result)
          }
        })
    }else{
        this.selectIndex = data.id
        this.pieParams = {
          type:this.selectIndex,
          period:this.preiod,
          limit:10
        }
        this.$store.dispatch('graphPie',this.pieParams).then(res=>{
          if(res.error==null){
            this.getCycle(res.result)
          }
        })
        this.lineParams = {
          type:this.selectIndex,
          period:this.preiod,
        }
        this.$store.dispatch('graphBar',this.lineParams).then(res=>{
          if(res.error==null){
            this.getLine(res.result)
          }
        })
    }
    
  },
  getCycle(data){
    let width = document.body.clientWidth / 1920
    let myEchart = echart.init(this.$refs.echartone)
    myEchart.setOption({
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)',
      },
      series: [
        {
          name: '板块智能分析:',
          type: 'pie',
          radius: ['50%', '70%'],
          selectedMode: 'single',
          avoidLabelOverlap: false,
          label: {
            fontSize: '65%',
            color: '#23ccfb'
          },
          labelLine: {
            lineStyle: {
              width: 1,
              color: '#23ccfb'
            },
            length: 10*width,
            length2: 10*width
          },
          data: data
        }
      ]
    })
  },

  getLine(data){
    let myEchart = echart.init(this.$refs.echarttwo)
    myEchart.on('click',(item)=>{
        if(this.selectIndex==4){
          console.log('派单类型')
        }else{
          let params = {
            handleExecutedDept:item.name,
            type:this.selectIndex
          }
          this.$store.dispatch('graphLine',params)
          this.$store.commit('GONGDAN_TREND_VISITBLE',true)
        }
        
    })
    // }
    
    myEchart.setOption({
      color: ['#3398DB'],
      tooltip: {
        trigger: 'axis',
        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
      },
      grid: {
        top:'25%',
        left: '3%',
        right: '4%',
        bottom: '5%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: data.xAxis,
          axisTick: {
            show: false
          },
          axisLine:{
            lineStyle:{
              type:'solid',
              color:'#23cefd',
              width:.5
            }
          },
          axisLabel:{
            textStyle:{
              fontSize: '65%',
              color:'#01a4e2'
            },
            rotate:-40
          }
        }
      ],
      yAxis: [
        {
          type: 'value',
          name:'满意度(%)',
          nameTextStyle:{
            fontSize:'65%',  
          },
          axisLine:{
            lineStyle:{
              type:'solid',
              color:'#23cefd',
              width:.5
            }
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle:{
                color: '#33394f',
                width: .5,
                type: 'solid'
            }
          },
          axisLabel:{
            textStyle:{
              fontSize: '65%',
              color:'#01a4e2'
            }
          }
        }
      ],
      series: [
        {
          name: '板块智能分析',
          type: 'bar',
          barWidth: '40%',
          data: data.data
        }
      ]
    })
  },

},

mounted(){
  this.$nextTick(()=>{
    this.pieParams = {
      type:this.selectIndex,
      period:this.preiod,
      limit:10
    }
    this.$store.dispatch('graphPie',this.pieParams).then(res=>{
      if(res.error==null){
        this.getCycle(res.result)
      }
    })
    this.lineParams = {
      type:this.selectIndex,
      period:this.preiod,
    }
    this.$store.dispatch('graphBar',this.lineParams).then(res=>{
      if(res.error==null){
        this.getLine(res.result)
      }
    })
  })
},
created(){
  const params2 = {
    type: 'period'
  }
  this.$store.dispatch('getDropList',params2)
},
watch:{},
computed:{ ...mapState({
  graphPiechartList:state=>state.sanlinecharts.graphPiechartList,
  dropList: state=>state.sanlinecharts.dropList,
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
</style>