<template>
  <div class="weikakou">
    <div class="title_module">实时人群密度</div>
    <div class="more-button spec">
      <el-dropdown size="mini" @command="handleCommand">
        <span class="el-dropdown-link">
          {{ selectCurrent }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in dropList"
            :key="item.code"
            :command="item.code"
            >{{ item.value }}</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="hw-content">
      <div class="hw-top">
        <div class="hw-top-item hw-top-top">
          <div class="hw-top-item-ch">嗅探总人数</div>
          <div class="hw-top-item-ch">嗅探总次数</div>
          <div
            class="hw-top-item-ch"
            style="cursor: pointer"
            @click="showTable"
          >
            告警量
          </div>
        </div>
        <div class="hw-top-item hw-top-bottom">
          <div class="hw-top-item-ch">
            <span class="num">{{ leftMiddleInfo.totalPeoples }}</span
            >人
          </div>
          <div class="hw-top-item-ch">
            <span class="num">{{ leftMiddleInfo.totalTimes }}</span
            >次
          </div>
          <div class="hw-top-item-ch">
            <span class="num">{{ leftMiddleInfo.alerts }}</span
            >条
          </div>
        </div>
      </div>
      <div class="hw-bottom">
        <div class="hw-bottom-left">
          <div
            class="hw-bottom-left-item"
            v-for="item in fixedArr"
            :key="item.place"
          >
            <el-tooltip
              class="item"
              effect="dark"
              :content="item.place"
              placement="top-start"
            >
              <div class="hw-bottom-left-item-name">
                {{ item.place }}
              </div>
            </el-tooltip>
            <div class="hw-bottom-left-item-value">{{ item.count }}人</div>
          </div>
        </div>
        <div class="hw-bottom-right">
          <swiper
            class="wen-swiper-container"
            ref="mySwiper"
            :options="swiperOption"
            style="height: 100%; width: 100%"
          >
            <swiper-slide v-for="item in populationEntities" :key="item.place">
              <div class="hw-bottom-right-item" @click="showPop(item)">
                <div class="hw-bottom-right-item-title">
                  <span>{{ item.place }}</span
                  ><span>{{ item.count }}人</span>
                </div>
                <div class="barSty">
                  <div
                    class="perSty"
                    :style="{ width: item.percent + '%' }"
                  ></div>
                </div>
              </div>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
    <div class="tableList" v-if="weikakouTableVisible">
      <popTableList
        :tableTitle="weikakouPeopleTypeName + tableTitle1"
        :tableDataList="weikakouList"
        :pageData="pageData"
      ></popTableList>
    </div>
    <div class="tableList" v-if="renkoumiduTableVisible">
      <popTableList
        :tableTitle="'人口密度' + tableTitle2"
        :tableDataList="renqunmiduList"
        :pageData="renqunmidupagination"
        :period="selectType"
      ></popTableList>
    </div>
  </div>
</template>

<script>
import leftMiddle from "@/components/sanlin/leftMiddle/leftMiddle";
import popTableList from "@/components/sanlin/popContainer/popTableList";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      tableTitle1: "监测列表",
      tableTitle2: "告警列表",
      value: "",
      isShowPop: false,
      selectCurrent: "季度",
      selectType: 3,
      percentage: 20,
      swiperOption: {
        paginationClickable: false,
        autoplayDisableOnInteraction: false,
        centeredSlides: false, // 是否居中显示
        observeParents: true,
        speed: 2300,
        autoplay: 2300,
        observer: true,
        direction: "vertical",
        slidesPerView: 4,
        spaceBetween: 12,
        mousewheel: true,
        mousewheelControl: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      }
    };
  },
  methods: {
    handleCommand(command) {
      if (command == 0) {
        this.selectType = -1;
      } else {
        this.selectType = command;
      }

      this.dropList.forEach((item) => {
        if (item.code === command) {
          this.selectCurrent = item.value;
        }
      });
      this.$store.dispatch("getLeftMiddleInfoV3", { period: this.selectType });
    },
    showPop (item) {
      const peopleData = {
        data: item,
        isShow: true
      }
      this.$store.commit('setPeopleMiduPopVisibleV3', peopleData)
    },
    showTable() {
      const params = {
        count: 10,
        start: 0,
        period: this.selectType
      };
      this.$store.dispatch("getRenqunMiduListV3", params);
      this.$store.commit("RENKOUMIDUTABLEVISIBLEV3", true);
    },
    ...mapMutations([])
  },

  mounted() {
    const params = { period: 3 };
    this.$store.dispatch("getLeftMiddleInfoV3", params);
    const params2 = {
      type: "period"
    };
    this.$store.dispatch("getPeopleHotEchart", params2); // 获取热力图
  },
  watch: {},
  computed: {
    ...mapState({
      leftMiddleInfo: (state) => state.sanlinerqiV3.leftMiddleInfo,
      fixedArr: (state) => state.sanlinerqiV3.fixedArr,
      weikakouTableVisible: (state) => state.sanlinecharts.weikakouTableVisible,
      weikakouList: (state) => state.sanlinecharts.weikakouList,
      pageData: (state) => state.sanlinecharts.pageData,
      weikakouPeopleTypeName: (state) => state.sanlinecharts.weikakouPeopleTypeName,
      renkoumiduTableVisible: (state) => state.sanlinerqiV3.renkoumiduTableVisible,
      dropList: (state) => state.sanlinecharts.dropList,
      renqunmiduList: (state) => state.sanlinecharts.renqunmiduList,
      renqunmidupagination: (state) => state.sanlinecharts.renqunmidupagination,
      populationEntities: (state) => state.sanlinerqiV3.populationEntities
    }),
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
    ...mapGetters([])
  },
  components: {
    leftMiddle,
    popTableList
  }
};
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/dashchart.less";
/deep/ .el-input__inner {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.4rem;
}
.hw-content {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: calc(100% - 40px);
  .hw-top {
    display: flex;
    flex-flow: column;
    color: #77d9fb;
    font-size: 15px;
    .hw-top-item {
      display: flex;
      flex-flow: row;
      .hw-top-item-ch {
        flex: 1;
        text-align: center;
        .num {
          padding: 2px;
          background: linear-gradient(90deg, #1f69dd, #4ab5f9);
          border-radius: 4px;
          margin-right: 2px;
          color: #fff;
        }
      }
    }
    .hw-top-bottom {
      margin-top: 10px;
    }
  }
  .hw-bottom {
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    flex: 1;
    .hw-bottom-left {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-content: space-around;
      flex: 2;
      padding-left: 26px;
      font-size: 15px;
      .hw-bottom-left-item {
        display: flex;
        flex-flow: column;
        color: #ffffff;
        flex: 1;
        .hw-bottom-left-item-name {
          color: #69eaf8;
          flex-flow: row nowrap;
          overflow: hidden;
          width: 100%;
          height: 20px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }
    .hw-bottom-right {
      flex: 7;
      color: #ffffff;
      display: flex;
      flex-flow: column;
      padding: 5px 20px 25px 5px;
      height: 170px;
      overflow-y: scroll;
      .hw-bottom-right-item {
        flex: 1;
        margin-bottom: 7px;
        cursor: pointer;
        .hw-bottom-right-item-title {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .hw-bottom-right::-webkit-scrollbar {
      display: none;
    }
  }
}
.barSty {
  width: 100%;
  height: 6px;
  background-color: #409eff;
  border-radius: 4px;
  position: relative;
  .perSty {
    position: absolute;
    background: linear-gradient(90deg, #02c6ff, #ffff00, #ff6d00);
    left: 0;
    top: 0;
    height: 6px;
    width: 50%;
    border-radius: 4px;
  }
}
::-webkit-scrollbar {
  width: 2px; /*对垂直流动条有效*/
  height: 2px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: cyan;
  border-radius: 3px;
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #409eff;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
  background-color: cyan;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background: #409eff;
}
</style>
