<template>
  <div class='weikakou'>
      <div class="title_module">
        实时人群密度
      </div>
      <left-middle :leftMiddleInfo="leftMiddleInfo" :selectType="selectType"></left-middle>
      <div class="more-button spec">
        <el-dropdown size="mini"  @command="handleCommand">
          <span class="el-dropdown-link">
            {{selectCurrent}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
             <!-- v-show="item.value!=='当日'" -->
            <el-dropdown-item v-for="item in dropList" :key="item.code" :command="item.code">{{item.value}}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="tableList" v-if="weikakouTableVisible">
        <popTableList :tableTitle="weikakouPeopleTypeName + tableTitle1" :tableDataList="weikakouList" :pageData="pageData"></popTableList>
      </div>
      <div class="tableList" v-if="renkoumiduTableVisible">
        <popTableList :tableTitle="'人口密度' + tableTitle2" :tableDataList="renqunmiduList" :pageData="renqunmidupagination" :period="selectType"></popTableList>
      </div>
  </div>
</template>

<script>
import leftMiddle from "@/components/sanlin/leftMiddle/leftMiddle";
import popTableList from "@/components/sanlin/popContainer/popTableList";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      tableTitle1: '监测列表',
      tableTitle2: '告警列表',
      value: '',
      selectCurrent: '季度',
      selectType: 3
    }
  },
  methods:{
    handleCommand (command) {
      this.selectType = command
      this.dropList.forEach(item => {
        if (item.code === command) {
          this.selectCurrent = item.value
        }
      })
      this.$store.dispatch('getLeftMiddleInfo', {period: command})
    },
    ...mapMutations([])
  },

  mounted(){
      const params = {period: 3}
      this.$store.dispatch('getLeftMiddleInfo', params)
      const params2 = {
        type: 'period'
      }
      this.$store.dispatch('getDropList',params2)
      this.$store.dispatch('getPeopleHotEchart',params2)
  },
  watch:{},
  computed:{ ...mapState({
      leftMiddleInfo: state => state.sanlinecharts.leftMiddleInfo,
      weikakouTableVisible:state=>state.sanlinecharts.weikakouTableVisible,
      weikakouList:state=>state.sanlinecharts.weikakouList,
      pageData:state=>state.sanlinecharts.pageData,
      weikakouPeopleTypeName:state=>state.sanlinecharts.weikakouPeopleTypeName,
      renkoumiduTableVisible: state => state.sanlinerqiV3.renkoumiduTableVisible,
      dropList: state=>state.sanlinecharts.dropList,
      renqunmiduList: state=>state.sanlinecharts.renqunmiduList,
      renqunmidupagination: state=>state.sanlinecharts.renqunmidupagination
  }),
  ...mapGetters([])

  },
  components: {
    leftMiddle,
    popTableList
  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
/deep/ .el-input__inner{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.4rem;
}


</style>
