<template>
  <div class="qushitiPopContainer">
    <div class="headerBox">
      <div class="poptitle">趋势图</div>
      <img
        src="~@/assets/images/sanlin/titleIcon.png"
        alt=""
        class="titleIcon"
      />
    </div>
    <div class="echartBox" ref="echartBox"></div>
    <img src="~@/assets/images/sanlin/close1.png" alt="" @click="close" class="colsequshi" />
  </div>
</template>

<script>
import echart from "echarts";
import { mapState } from 'vuex';
export default {
  data() {
    return {};
  },
  methods: {
    getZhexian(data) {
      let echartBox = this.$refs.echartBox;
      let myechart = echart.init(echartBox);
      let option = {
        title: {
          text: this.qushituItem.name,
          left: 'center',
          textStyle:{
              color:'#46B0EB'
          }
        },
        tooltip: {
          trigger: "axis"
        },
        legend: {
          data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"],
          textStyle: {
            color: "#ccc"
          }
        },

        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: data.xAxis,
          // data: ["一", "周二", "周三", "周四", "周五", "周六", "周日", "周日", "周日", "周日", "周日", "周日"],
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#fff",
              width: 0.5
            }
          }
        },
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: {
              type: "solid",
              color: "#fff",
              width: 0.5
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#33394f",
              width: 0.5,
              type: "solid"
            }
          }
        },
        series: [
          {
            name: "",
            type: "line",
            stack: "总量",
            // data: [150, 232, 201, 154, 190, 330, 410,190, 330, 410,639,120]
            data: data.series[0].data
          },
          
        ]
      };
      myechart.setOption(option);
    },
    close(){
        this.$store.commit("SET_QUSHITU_POP_VISIBLE",false)
    }
    ,
    getdata(){
        console.log(this.qushituItem);
          let params ={
              type:this.qushituItem.type,
              handleExecutedDept:this.qushituItem.name
          }
          this.$store.dispatch("qushiTu",params).then(res =>{
              this.getZhexian(res.result);
          });
    }
  },
  mounted() {
      // this.getZhexian();
      setTimeout(() => {
            // this.getdata();
      }, 500);
      
  },
  components: {},
  computed: {
    ...mapState({
      qushituItem:state => state.sanlinerqiV3.qushituItem
    })
  },
  watch:{
    qushituItem(){
        this.getdata();
    }
  }
};
</script>

<style scoped lang="less">
.qushitiPopContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 35%;
  left: 35%;
  background: url("~@/assets/images/sanlin/qushitubg.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  .headerBox {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.5%;
    padding-top: 1%;
    position: relative;
    .poptitle {
      color: #64e1fb;
      font-size: 1.5rem;
    }
    .titleIcon {
      height: 50%;
      width: 15%;
      margin-top: 3%;
      margin-left: 1%;
    }
  }
  .echartBox {
    height: 90%;
    width: 100%;
  }
  .colsequshi {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    height: 0.9rem;
    width: 0.9rem;
  }
}
</style>