<template>
  <div class='weikakou'>
      <div class="title_module">
        <span>微卡口</span>
        <span @click="readMore(0)" class="more-button">查看更多</span>
      </div>
      <template>
        <div class="grid-box">
<!--          todo -->
<!--          <left-top v-for="item in fourArr" :key="item.type" :leftTopInfo="item" @openLogin="readMore(1,item.type, item.typeName)"></left-top>-->
          <left-top v-for="item in fourArr" :key="item.type" :left-top-info="item" @openLogin="readMore(1,item.type, item.typeName)"></left-top>
          <div class="center-box" @click="setPoints">
            <div>
              <!-- <span class="yellow-text">{{ oneArr[0].activeCount }}</span>
              <span class="blue-text">/</span> -->
              <span class="right-text blue-text">{{oneArr[0].count}}</span>
            </div>
            <div>
              <span class="poople-desc">
                {{oneArr[0].typeName}}
              </span>
            </div>
          </div>
        </div>
      </template>
      <div class="login-box" v-if="isShowLoginPop">
        <div class="login-name">
          <span>{{personTypeName}}</span>
          <img @click="closeLoginPop" class="close1Button" src="../../../assets/images/sanlin/close1.png" alt="">
        </div>
        <div class="login-body"></div>
        <div class="login-foot">
          <input type="password" v-model="loginPassword">
          <div @click="openErjiTable" class="login-button"></div>
        </div>
      </div>
  </div>
</template>

<script>
// import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
import leftTop from "@/components/sanlin/leftTop/leftTop";
import {mapState,mapGetters,mapMutations} from 'vuex';
// import AMap from "AMap";
export default {
  data() {
    return {
      isShowLoginPop: false,
      title: '抓拍图片',
      currentPage4: 2,
      loginPassword: '',
      personType: '', // type === '3604' || type === '3605'// 前两个无轨迹的
      personTypeName: '',
      showType: 0,
      passwordArr: []
    }
  },
methods:{
    readMore (index,type,typeName) {
      this.showType = index
      this.isShowLoginPop = true
      this.personType = type
      this.personTypeName = typeName
    },
    closeLoginPop () {
      this.isShowLoginPop = false
    },
    openErjiTable () {
      this.passwordList.forEach((res) => {
        this.passwordArr.push(res.password)
      })
      if (this.passwordArr.indexOf(this.loginPassword) < 0) {
        this.$message.error('输入密码有误！');
      } else {
        this.closeLoginPop()
        if (this.showType === 0) {
          // console.log(this.configLists)
          window.location = this.configLists.faceFrontendUrl
        } else {
          this.$store.commit('WEIKAKOUPEOPLETYPE', this.personType)
          this.$store.commit('WEIKAKOUPEOPLETYPENAME', this.personTypeName)
          const params = {count: 10, start: 0, type: this.personType}
          this.$store.dispatch('getWeikakouList', params)
        }
      }
      this.loginPassword = ''
    },
    setPoints () {
      this.$store.dispatch('getWeikakouPoints')
    },
    handleSizeChange () {

    },
    handleCurrentChange () {

    },
    ...mapMutations([])},

    mounted(){
      this.$store.dispatch('getPassWordList')
      this.$store.dispatch('getLeftTopInfo')
    },
    watch:{},
    computed:{ ...mapState({
        leftTopInfo:state=>state.sanlinecharts.leftTopInfo,
        fourArr:state=>state.sanlinecharts.fourArr,
        oneArr:state=>state.sanlinecharts.oneArr,
        zhuapaipopVisible:state=>state.sanlinecharts.zhuapaipopVisible,
        passwordList:state=>state.sanlinecharts.passwordList,
        configLists:state=>state.sanlinecharts.configLists
      }),
    ...mapGetters([])

},
  components: {
    leftTop,
    // popContainer
  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
@import "~@/assets/less/sanlin/leftTop.less";
@import "~@/assets/less/sanlin/popContainer.less";
</style>
