<template>
  <div class="weikakou">
    <div class="title_module">违章停车</div>
    <div class="weizhangParking">
      <div
        class="videoBg"
        v-for="item in lastPicInfo"
        @click="loadDetail(item)"
        :key="item.id"
      >

        <!-- {{configLists.sanlinScreenImageHost + item.snapPic}} -->
        <img
          fit="fill"
          class="videoImg"
          alt="加载失败"
          :src="configLists.sanlinScreenImageHost + item.snapPic"
        >
      </div>
    </div>
    <popContainer :title="title" v-if="popContainerVisible">
      <info-table-title></info-table-title>
      <div class="info-table">
        <info-table-list :carDetail="carDetail"></info-table-list>
        <div class="img-box">
          <img
            :src="configLists.sanlinScreenImageHost + carDetail.snapPic"
            alt=""
          />
        </div>
      </div>
    </popContainer>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
import infoTableList from "@/components/sanlin/popContainer/infoTableList.vue";
import infoTableTitle from "@/components/sanlin/popContainer/infoTableTitle.vue";
export default {
  data() {
    return {
      videoPopup: "videoPopup",
      videoContainerUrl: "",
      title: "违章停车"
    };
  },
  methods: {
    handleImgError: function(e) {
      if (e.type == "error") {
        this.$message({ type: "error", message: "违章停车图片加载失败" });
      }
    },
    ...mapMutations([]),
    loadDetail(item) {
      this.$store.commit("CHANGEPOPvISIBLE", true);
      this.$store.commit("GETCARDETAIL", item);
    }
  },

  mounted() {
    this.$store.dispatch("getLastInfo");
  },
  watch: {},
  computed: {
    ...mapState({
      lastPicInfo: state => state.sanlinecharts.lastPicInfo,
      carDetail: state => state.sanlinecharts.carDetail,
      popContainerVisible: state => state.sanlinecharts.popContainerVisible,
      configLists: state => state.sanlinecharts.configLists
    }),
    ...mapGetters([])
  },
  components: {
    popContainer,
    infoTableList,
    infoTableTitle
  }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/sanlin/dashchart.less";
</style>
