<template>
  <div class="weikakou">
    <div class="title_module">违章停车</div>
    <div class="more-button spec">
      <el-dropdown size="mini" @command="handleCommand">
        <span class="el-dropdown-link">
          {{ selectCurrent }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in dropList"
            :key="item.code"
            :command="item.code"
            >{{ item.value }}</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="hw-content">
      <div class="weizhangParking">
        <div
          class="videoBg"
          v-for="item in weizhangPicList"
          @click="loadDetail(item)"
          :key="item.id"
        >
          <!-- {{configLists.sanlinScreenImageHost + item.snapPic}} -->
          <img
            fit="fill"
            class="videoImg"
            alt="加载失败"
            :src="configLists.sanlinScreenImageHost + item.snapPic"
          />
        </div>
      </div>
      <div class="hw-bottom">
        <div class="hw-bottom-left">
          <div
            class="hw-bottom-left-item"
            v-for="item in weizhangPointList"
            :key="item.address"
          >
            <div class="hw-bottom-left-item-name">{{ item.address }}</div>
            <div class="hw-bottom-left-item-value">
              <span class="num-style">{{ item.quantity }}</span
              >次
            </div>
          </div>
        </div>
        <div class="hw-bottom-right">
          <div class="hw-bottom-right-title">
            <div class="hw-bottom-right-title-item">点位名称</div>
            <div class="hw-bottom-right-title-item">推送时间</div>
            <div class="hw-bottom-right-title-item">推送次数</div>
            <div class="hw-bottom-right-title-item">处置情况</div>
          </div>
          <div class="hw-bottom-right-body">
            <swiper
              class="wen-swiper-container-car"
              ref="mySwiper"
              :options="swiperOptionWen"
              style="height: 100%; width: 100%"
              @swiper="onSwiper"
              @slideChange="onSlideChange"
            >
              <swiper-slide
                v-for="item in weizhangRecordListWen"
                :key="item.id"
              >
                <div class="hw-bottom-right-body-item">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="item.address"
                    placement="top-start"
                  >
                    <div>{{ item.address }}</div>
                  </el-tooltip>
                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="item.createTimeFmt"
                    placement="top-start"
                  >
                    <div>{{ item.createTimeFmt }}</div>
                  </el-tooltip>
                  <div>{{ item.quantity }}</div>
                  <div
                    :class="{
                      color1: item.stateType === '待确认',
                      color2: item.stateType === '已完成',
                      color3: item.stateType === '处置中'
                    }"
                  >
                    {{ item.stateType }}
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
    </div>

    <popContainer :title="title" v-if="popContainerVisible">
      <info-table-title></info-table-title>
      <div class="info-table">
        <info-table-list :carDetail="carDetail"></info-table-list>
        <div class="img-box" v-if="configLists.sanlinScreenImageHost">
          <img
            :src="configLists.sanlinScreenImageHost + carDetail.snapPic"
            alt=""
          />
        </div>
      </div>
    </popContainer>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import popContainer from "@/components/sanlin/popContainer/popContainer.vue";
import infoTableList from "@/components/sanlin/popContainer/infoTableList.vue";
import infoTableTitle from "@/components/sanlin/popContainer/infoTableTitle.vue";
import sanlinerqiV3 from "../../../store/modules/sanlin/sanlinerqiV3/sanlinerqiV3";
export default {
  data() {
    return {
      videoPopup: "videoPopup",
      videoContainerUrl: "",
      title: "违章停车",
      selectCurrent: "季度",
      swiperOptionWen: {
        speed: 2300,
        autoplay: 2300,
        observer: true,
        observeParents: true,
        direction: "vertical",
        slidesPerView: 3,
        spaceBetween: 10,
        mousewheel: true,
        mousewheelControl: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      }
    };
  },
  methods: {
    handleCommand(command) {
      this.selectType = command;
      this.dropList.forEach((item) => {
        if (item.code === command) {
          this.selectCurrent = item.value;
        }
      });
      this.$store.dispatch("getWeizhangRecord", { period: command, limit: 3 });
      this.$store.dispatch("getPointCount", { period: command });
    },
    handleImgError: function (e) {
      if (e.type == "error") {
        this.$message({ type: "error", message: "违章停车图片加载失败" });
      }
    },
    onSwiper(swiper) {
      console.log(swiper);
    },
    onSlideChange() {
      console.log("slide change");
    },
    ...mapMutations([]),
    loadDetail(item) {
      this.$store.commit("CHANGEPOPvISIBLEV3", true);
      this.$store.commit("GETCARDETAILV3", item);
    }
  },

  mounted() {
    this.$store.dispatch("getPointCount", { period: 3 });
    this.$store.dispatch("getWeizhangRecord", { period: 3, limit: 200 });
  },
  watch: {},
  computed: {
    ...mapState({
      carDetail: (state) => state.sanlinerqiV3.carDetail,
      popContainerVisible: (state) => state.sanlinerqiV3.popContainerVisible,
      dropList: (state) => state.sanlinecharts.dropList,
      configLists: (state) => state.sanlinecharts.configLists,
      weizhangPicList: (state) => state.sanlinerqiV3.weizhangPicList,
      weizhangPointList: (state) => state.sanlinerqiV3.weizhangPointList,
      weizhangRecordListWen: (state) => state.sanlinerqiV3.weizhangRecordList
    }),
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
    ...mapGetters([])
  },
  components: {
    popContainer,
    infoTableList,
    infoTableTitle
  }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/sanlin/dashchart.less";
.weikakou {
  .weizhangParking {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
}
.hw-content {
  width: 100%;
  height: calc(100% - 35px);
  .weizhangParking {
    height: 50%;
    overflow: hidden;
  }
  .hw-bottom {
    height: 47%;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    font-size: 14px;
    .hw-bottom-left {
      display: flex;
      flex-flow: column;
      color: #77d9fb;
      align-content: space-around;
      padding-left: 20px;
      padding-top: 5px;
      .hw-bottom-left-item {
        flex: 1;
        .num-style {
          background: linear-gradient(90deg, #1f69dd, #4ab5f9);
          border-radius: 4px;
          padding: 1px 3px;
          margin-right: 2px;
        }
        .hw-bottom-left-item-value {
          margin-top: 3px;
        }
      }
    }
    .hw-bottom-right {
      height: 100%;
      overflow: hidden;
      flex: 1;
      display: flex;
      flex-flow: column;
      font-size: 13px;
      text-align: center;
      padding: 10px;
      padding-right: 30px;
      .hw-bottom-right-title {
        display: flex;
        flex-flow: row;
        color: #77d9fb;
        background-color: #1c3556;
        padding: 2px;
        .hw-bottom-right-title-item {
          flex: 1;
        }
      }
      .hw-bottom-right-body {
        color: #ffffff;
        display: flex;
        flex-flow: column;
        flex: 1;
        align-content: space-around;
        justify-content: space-around;
        height: 100%;
        padding: 5px 0 15px 0;
        .hw-bottom-right-body-item {
          display: flex;
          flex-flow: row;
          div {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .swiper-slide:nth-child(2n) {
          background-color: #1c3556;
        }
      }
    }
  }
}
.color1 {
  color: #69eaf8;
}
.color2 {
  color: #ffd200;
}
.color3 {
  color: #6dff20;
}
</style>
