<template>
  <div class='weikakou'>
      <div class="titlel">一键轮巡</div>
      <el-carousel trigger="click" :height="screenHeights">
        <el-carousel-item v-for="(polling,index) in videopollingList" :key="index">
          <div class="weikakouEchartsBox">
            <div class="box-item" v-for="item in polling" :key="item.id" @click="changeScreen(item)">{{item.object.name}}</div>
          </div>
        </el-carousel-item>
    </el-carousel>
      
  </div>
</template>

<script>
import echart from "echarts";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {
      btnList:[
        {id:1,name:'满意度'},
        {id:2,name:'实际解决率'},
        {id:3,name:'先行联系率'},
      ],
      selectIndex:1,
      selectDate:1,
      selectDateItem:'当周',
      pieParams:{},
      lineParams:{},
      options: [{
          value: 1,
          label: '当周'
        }, {
          value: 2,
          label: '当月'
        },
        // {
        //   value: 3,
        //   label: '当季'
        // }
      ],
      SelectoptionVisible:false,
      screenHeights:'230px'
    }
  },
methods:{ ...mapMutations([]),
  changeScreen(item) {
    this.pollingId = item.object.id;
    this.$store.dispatch("runTaskNow", { pollingId: this.pollingId });
  }

},

mounted(){
    this.$store.dispatch('videoPollingList', {start: 0,count: 100})
  // this.$nextTick(()=>{
  //
  // })
},
created(){
  this.screenHeights = `${(document.body.clientHeight/1080)*260}px`
},
watch:{},
computed:{ ...mapState({
  // graphPiechartList:state=>state.sanlinecharts.graphPiechartList,
  videopollingList:state=>state.sanlinecharts.videopollingList
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
</style>