<template>
  <div class='weikakou'>
      <div class="title_module">噪音监测</div>
      <rightMiddle :zaoyinBar="zaoyinBar" :selectType="selectType"></rightMiddle>
      <div class="more-button spec">
        <el-dropdown size="mini" @command="selectData">
          <span class="el-dropdown-link">{{selectCurrent}}<i class="el-icon-arrow-down el-icon--right"></i></span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-for="item in dropList" :key="item.code" :command="item.code" :name="item.value">{{item.value}}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="tableList" v-if="zaoyinTableVisible">
        <popTableList :tableTitle="title" :pageData="voicePagination" :tableDataList="tableDataList" :period="selectType"></popTableList>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import rightMiddle from "@/components/sanlin/rightMiddle/rightMiddle";
import popTableList from "@/components/sanlin/popContainer/popTableList";
export default {
  data() {
    return {
      title:'噪音监测列表',
      selectCurrent: '季度',
      selectType: 3
    }
  },
  methods:{
    
    noisePoint(){
      this.$store.dispatch('noiseList',{}).then(res=>{
        this.setMap(res.results)
      })
    },
    selectData(command) {
      this.selectType = command
      this.dropList.forEach(item => {
        if (item.code === command) {
          this.selectCurrent = item.value
        }
      })
      this.$store.dispatch('getZaoyinBar', {period: command})
    },
    ...mapMutations([])
  },

  mounted(){
    const params1 = {
      limit: 10,
      period: 3
    }

    this.$store.dispatch('getZaoyinBar', params1)
    const params2 = {
      type: 'period'
    }
    this.$store.dispatch('getDropList',params2)
    // this.noisePoint()
  },
  watch:{},
  computed:{ ...mapState({
    zaoyinTableVisible:state=>state.sanlinecharts.zaoyinTableVisible,
    zaoyinBar: state=>state.sanlinecharts.zaoyinBar,
    dropList: state=>state.sanlinecharts.dropList,
    voicePagination: state=>state.sanlinecharts.voicePagination,
      tableDataList:state=>state.sanlinecharts.voiceList,
      noiseLists:state=>state.sanlinerqiV3.noiseLists,
  }),
  ...mapGetters([])

  },
  components: {
      rightMiddle,
      popTableList,
  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
</style>
