<template>
  <div class='weikakou'>
      <div class="title_module" @click="noisePoint">噪音监测</div>
      <rightMiddle :zaoyinBar="zaoyinBar" :selectType="selectType" style="z-index:99999"></rightMiddle>
      <div class="more-button spec">
        <el-dropdown size="mini" @command="selectData">
          <span class="el-dropdown-link">{{selectCurrent}}<i class="el-icon-arrow-down el-icon--right"></i></span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-for="item in dropList" :key="item.code" :command="item.code" :name="item.value">{{item.value}}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="tableList" v-if="zaoyinTableVisible">
        <popTableList :tableTitle="title" :pageData="voicePagination" :tableDataList="tableDataList" :period="selectType"></popTableList>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
import rightMiddle from "@/components/sanlin/rightMiddle/rightMiddleV3";
import popTableList from "@/components/sanlin/popContainer/popTableList";
import Vue from "vue";
export default {
  data() {
    return {
      title:'噪音监测列表',
      selectCurrent: '当月',
      selectType: 3,
    }
  },
  methods:{ 
    setMap(voiceMarkers) {
      this.$store.commit("CLEARMARKERS");
      this.$store.commit("VIOCE_TULI_VISITBLE", false);
      voiceMarkers.map((item) => {
        if (item.lat) {
          let imgUrl = "";
          if (item.state === 1) {
            imgUrl = "/img/icons/points/zaoyin_normal@2x.png";
          } else {
            imgUrl = "/img/icons/points/zaoyin_unnormal@2x.png";
          }
          let marker = new AMap.Marker({
            position: new AMap.LngLat(item.lng, item.lat),
            extData: item,
            icon: imgUrl,
            size: 20
          });
          marker.on("click", (e) => {
            let deviceUrn = e.target.w.extData.deviceUrn;
            this.$store.dispatch("getVoiceDetail", { deviceUrn: deviceUrn });
            this.$store.commit("DEVICEPROBINGVISIBLE", true);
          });
          this.$store.state.sanlinecharts.weikakouMarkerList.push(marker);
        }
      });
      Vue.prototype.globalAMap.add(
        this.$store.state.sanlinecharts.weikakouMarkerList
      );
    },
    noisePoint(){
      this.$store.dispatch('noiseList',{}).then(res=>{
        this.setMap(res.results)
      })
    },
    selectData(command) {
      this.selectType = command
      this.$store.commit("NOISE_TIME_SELECT",this.selectType);
      this.dropList.forEach(item => {
        if (item.code === command) {
          this.selectCurrent = item.value
        }
      })
      this.$store.dispatch('getZaoyinBar', {period: command})
    },
    noiseRecordList(){
      let params = {
          count:100,
          start:0,
          period:this.selectType,
      }
      this.$store.dispatch("noiseRecordList",params)
    },
    
    ...mapMutations([])
  },

  mounted(){
    this.noiseRecordList();
    const params1 = {
      limit: 10,
      period: 3
    }

    this.$store.dispatch('getZaoyinBar', params1)
    const params2 = {
      type: 'period'
    }
    this.$store.dispatch('getDropList',params2)
  },
  watch:{
    
  },
  computed:{ ...mapState({
    zaoyinTableVisible:state=>state.sanlinecharts.zaoyinTableVisible,
    zaoyinBar: state=>state.sanlinecharts.zaoyinBar,
    dropList: state=>state.sanlinecharts.dropList,
    voicePagination: state=>state.sanlinecharts.voicePagination,
      tableDataList:state=>state.sanlinecharts.voiceList,
      noiseLists:state=>state.sanlinerqiV3.noiseLists,
  }),
  ...mapGetters([])

  },
  components: {
      rightMiddle,
      popTableList,
  }
}
</script>

<style lang='less' scoped>
@import '~@/assets/less/sanlin/dashchart.less';
</style>
