.dashboardInner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem 4rem calc(100% - 8rem);
    background: #010b17;
    color: white;
    .dashboardheader{
        width: 100%;
        // background: #ccc;
        background: url(../../images/videoAggregation/头@2x.png) no-repeat;
        background-size:  100% 80%;
        background-position: 50% 0;
    }
    .dashboardtongji{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,33.333%);
        grid-template-rows: 100%;
        // background: #ff0000;
    }
    .dashboardcontent{
        width: 100%;
        // background: #ccc;
        display: grid;
        grid-template-columns: repeat(3,33.33333%);
        grid-template-rows: 100%;
        .dashboardcontentitem{
            // background: orange;
            .echart_item{
                height: calc(100% - 2.5rem);
                width: 100%;
                background: burlywood;
            }
        }
        .dashboardcontentitem:nth-child(1){
            // background: #ccc;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            .cameraechart{
                padding-left: 1rem;
                box-sizing: border-box;
                
            }
            .cameraechart:nth-child(3){
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
        .dashboardcontentitem:nth-child(2){
            // background: #ccc;
            padding: 0 1rem;
            .dashboardcontentitem_map{
                width: 100%;
                height: 100%;
                background: burlywood;
            }
        }
        .dashboardcontentitem:nth-child(3){
            // background: #ccc;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
            // padding-left: 1rem;
            padding-right: 1rem;
            box-sizing: border-box;
            .cameraUse:nth-child(2){
                display: grid;
                grid-template-columns: 40% 60%;
                grid-template-rows: 100%;
                .cameraUse_item:nth-child(2){
                    padding-left: 1rem;
                }
            }
        }
    }
    
}
.cameraechart_title{
    height: 2.5rem;
    width: 100%;
    border-top: 1px solid #061b26;
    border-bottom: 1px solid #061b26;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 100%;
    .cameraechart_title_name{
        color: #1d72b7;
        text-align:left;
        line-height: 2.5rem;
        font-weight: 900;
    }
    .cameraechart_title_hei{
        padding: 0.75rem;
        box-sizing: border-box;
        .cameraechart_title_hei_con{
            height: 1rem;
            width: 100%; 
            background: #01182e;

        }
    }
    .cameraechart_title_dian{
        height: 3px;
        width: 20px;
        background: #2479bd;
    }
    .cameraechart_title_dian:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
    }
    .cameraechart_title_dian:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
    }
    .cameraechart_title_dian:nth-child(3){
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .cameraechart_title_dian:nth-child(4){
        position: absolute;
        bottom: 0;
        right: 0;
    }

}
