// // .dashboardInner7680{
// //     width: 7680px;
// //     height: 4320px;
// //     background-color: cadetblue;
// // }
// .dashboardInner7680{
//     // width: 7680px;
//     // height: 4320px;
//     width: 100%;
//     height: 100%;
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: 4rem 4rem calc(100% - 8rem);
//     background: #010b17;
//     color: white;
//     .dashboardheader{
//         width: 100%;
//         // background: #ccc;
//         background: url(../../images/videoAggregation/头@2x.png) no-repeat;
//         background-size:  100% 80%;
//         background-position: 50% 0;
//     }
//     .dashboardtongji{
//         width: 100%;
//         display: grid;
//         grid-template-columns: repeat(3,33.333%);
//         grid-template-rows: 100%;
//         // background: #ff0000;
//     }
//     .dashboardcontent{
//         width: 100%;
//         // background: #ccc;
//         display: grid;
//         grid-template-columns: repeat(3,33.33333%);
//         grid-template-rows: 100%;
//         .dashboardcontentitem{
//             // background: orange;
//             .echart_item{
//                 height: calc(100% - 2.5rem);
//                 width: 100%;
//                 background: burlywood;
//             }
//         }
//         .dashboardcontentitem:nth-child(1){
//             // background: #ccc;
//             display: grid;
//             grid-template-columns: 50% 50%;
//             grid-template-rows: 50% 50%;
//             .cameraechart{
//                 padding-left: 1rem;
//                 box-sizing: border-box;

//             }
//             .cameraechart:nth-child(3){
//                 grid-column-start: 1;
//                 grid-column-end: 3;
//                 grid-row-start: 2;
//                 grid-row-end: 3;
//             }
//         }
//         .dashboardcontentitem:nth-child(2){
//             // background: #ccc;
//             padding: 0 1rem;
//             .dashboardcontentitem_map{
//                 width: 100%;
//                 height: 100%;
//                 background: burlywood;
//             }
//         }
//         .dashboardcontentitem:nth-child(3){
//             // background: #ccc;
//             display: grid;
//             grid-template-columns: 100%;
//             grid-template-rows: 50% 50%;
//             // padding-left: 1rem;
//             padding-right: 1rem;
//             box-sizing: border-box;
//             .cameraUse:nth-child(2){
//                 display: grid;
//                 grid-template-columns: 40% 60%;
//                 grid-template-rows: 100%;
//                 .cameraUse_item:nth-child(2){
//                     padding-left: 1rem;
//                 }
//             }
//         }
//     }

// }
// .cameraechart_title{
//     height: 2.5rem;
//     width: 100%;
//     border-top: 1px solid #061b26;
//     border-bottom: 1px solid #061b26;
//     box-sizing: border-box;
//     position: relative;
//     display: grid;
//     grid-template-columns: 10rem auto;
//     grid-template-rows: 100%;
//     .cameraechart_title_name{
//         color: #1d72b7;
//         text-align:left;
//         line-height: 2.5rem;
//         font-weight: 900;
//     }
//     .cameraechart_title_hei{
//         padding: 0.75rem;
//         box-sizing: border-box;
//         .cameraechart_title_hei_con{
//             height: 1rem;
//             width: 100%; 
//             background: #01182e;

//         }
//     }
//     .cameraechart_title_dian{
//         height: 3px;
//         width: 20px;
//         background: #2479bd;
//     }
//     .cameraechart_title_dian:nth-child(1){
//         position: absolute;
//         top: 0;
//         left: 0;
//     }
//     .cameraechart_title_dian:nth-child(2){
//         position: absolute;
//         top: 0;
//         right: 0;
//     }
//     .cameraechart_title_dian:nth-child(3){
//         position: absolute;
//         bottom: 0;
//         left: 0;
//     }
//     .cameraechart_title_dian:nth-child(4){
//         position: absolute;
//         bottom: 0;
//         right: 0;
//     }

// }
// .dashboardInner7680{
//     width: 7680px;
//     height: 4320px;
//     background-color: cadetblue;
// }
.dashboardInner7680 {
    // width: 7680px;
    // height: 4320px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 260px 350px calc(100% - 610px);
    background: #010b17;
    color: white;
    // transform: scale(0.5,0.5);
    background: url(../../images/videoAggregation/背景@2x.png) no-repeat;
    background-size: 100% 100%;
    .globle-pop{
        height: 100%;
        width: 100%;
        opacity: 1;
        position: absolute;
        top: 0;
        // background: red;
        z-index: 9999;
    }

    .dashboardheader {
        width: 100%;
        height: 340px;
        // background-color: chartreuse;
        // background: #ccc;
        background: url(../../images/videoAggregation/头@2x.png) no-repeat;
        background-size: 100% 100%;
        // background-position: 50% 0;
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 100%;
        .dashboardHeaderItem:nth-child(3) {
            .date_week {
                height: 100%;
               
                .date{
                    text-align: center;
                    margin: 0 auto;
                    font-size: 80px;
                    // margin-right: 50px;
                    color: #077eed;
                    line-height: 240px;
                    height: 240px;
                    span{
                        margin-right: 150px;
                    }
                }
            }
        }

        .dashboardHeaderItem:nth-child(1) {
            .temperature {
                font-size: 80px;
                line-height: 240px;
                height: 240px;
                color: #077eed;
                text-align: center;

            }


        }

        .dashboardHeaderItem:nth-child(2) {
            text-align: center;
            line-height: 340px;
            height: 340px;
            font-size: 120px;
            letter-spacing: 10px;
            background-image: -webkit-linear-gradient(bottom, #444, #aaaaaa, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
            -webkit-text-stroke: 0.1px #fff;
        }
    }

    .dashboardtongji {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.333%);
        grid-template-rows: 100%;
        font-size: 80px;
        background: rgba(0, 28, 52, 0.5);
        margin: 60px 0;
        .dashboard_tongji_item{
            margin: 20px auto;
            text-align: center;
            .count_box{
                display: inline-block;
                width: 130px;
                height: 180px;
                text-align: center;
                line-height: 180px;
                background: url(../../images/videoAggregation/矩形\ 4\ 拷贝\ 5@2x.png) no-repeat;
                background-size: 100% 100%;
                margin-left: 20px;
                font-size: 100px;
                box-sizing: border-box;
                font-weight: 800;
                
            }
        }
        .dashboard_tongji_item:nth-child(1){
            text-align: right;
            color:#00f7ff;
        }
        .dashboard_tongji_item:nth-child(2){
            text-align: center;
            color: #04fc46;
        }
        .dashboard_tongji_item:nth-child(3){
            text-align: left;
            color: #07facf;
        }
    }

    .dashboardcontent {
        width: 100%;
        // background: #ccc;
        display: grid;
        grid-template-columns: repeat(3, 33.33333%);
        grid-template-rows: 100%;

        .dashboardcontentitem {

            // background: orange;
            .echart_item {
                height: calc(100% - 200px);
                width: 100%;
                // background: burlywood;
            }

            .videoConcat {
                background: rgba(0, 28, 52, 0.5);
                margin-bottom: 50px;
                box-sizing: border-box;
            }
            .videoNumber{
                background: rgba(0, 28, 52, 0.5);
                padding: 30px;
            }
        }

        .dashboardcontentitem:nth-child(1) {
            // background: #ccc;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;

            .cameraechart {
                padding-left: 60px;
                box-sizing: border-box;

            }

            .cameraechart:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }

        .dashboardcontentitem:nth-child(2) {
            // background: #ccc;
            padding: 0 60px;

            .dashboardcontentitem_map {
                width: 100%;
                height: 100%;
                background: burlywood;
                position: relative;
                z-index: 9999 !important;
                
            }
        }

        .dashboardcontentitem:nth-child(3) {
            // background: #ccc;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
            // padding-left: 1rem;
            padding-right: 60px;
            box-sizing: border-box;

            .cameraUse:nth-child(2) {
                display: grid;
                grid-template-columns: 40% 60%;
                grid-template-rows: 100%;

                .cameraUse_item:nth-child(2) {
                    padding-left: 60px;
                }
            }
        }
    }

}

.cameraechart_title {
    height: 200px;
    width: 100%;
    border-top: 3px solid #0d2c3d;
    border-bottom: 3px solid #0d2c3d;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 650px auto;
    grid-template-rows: 100%;

    .cameraechart_title_name {
        color: #1d72b7;
        text-align: left;
        line-height: 200px;
        font-weight: 900;
        font-size: 65px;
        padding-left: 100px;
        background: url(../../images/videoAggregation/sanjiao@2x.png) no-repeat;
        background-size: 10%;
        background-position: 0 50%;
    }

    .cameraechart_title_hei {
        padding: 30px  10px  30px 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        .cameraechart_title_hei_con {
            height: 140px;
            width: 100%;
            // background: #01182e;
            position: relative;
            .getALL{
                cursor: pointer;
                height: 140px;
                width: 250px;
                background:url(../../images/videoAggregation/cishu@2x.png) no-repeat;
                background-size: 100% 100%;
                text-align: center;
                line-height: 140px;
                font-size: 50px;
                position: absolute;
                right: 280px;
                top: 0;
            }
            .selectTime{
                cursor: pointer;
                height: 140px;
                width: 250px;
                background:url(../../images/videoAggregation/筛选\ @2x.png) no-repeat;
                background-size: 100% 100%;
                text-align: center;
                line-height: 140px;
                font-size: 50px;
                position: absolute;
                right: 0;
                top: 0;
            }

        }
    }

    .cameraechart_title_dian {
        height: 5px;
        width: 20px;
        background: #2479bd;
    }

    .cameraechart_title_dian:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
    }

    .cameraechart_title_dian:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
    }

    .cameraechart_title_dian:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .cameraechart_title_dian:nth-child(4) {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.fangda{
    position:absolute;
    top:50px;
    right:50px;
    z-index: 9999;
    cursor: pointer;
    img{
        width: 80px;
        height: 80px;
    }
}
.suoxiao{
    position:absolute;
    top:150px;
    right:50px;
    z-index: 9999;
    cursor: pointer;
    img{
        width: 80px;
        height: 80px;
    }
}
.recover{
    position:absolute;
    top:250px;
    right:50px;
    z-index: 9999;
    cursor: pointer;
    img{
        width: 80px;
        height: 80px;
    }
}
.special_title{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 100%;
    grid-column-gap: 2rem;
}
.special_name1{
    position: relative;
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: 100%;
}
.special_name2{
    position: relative;
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: 100%;
}