.right-bottom{
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  .left-box{
    width: 36%;
    flex-shrink: 0;
    // margin-bottom: 3rem;
    .bottom-left{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 133, 247, 0.15);
      overflow: hidden;
      margin-bottom: 5rem;
      display: flex;
      flex-flow: column;
      .left-title{
        padding: 1.5rem 0 0rem 0.5rem;
        display: flex;
        flex-flow: row;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        .border-icon{
          display: inline-block;
          width: 1.3rem;
          height: 5rem;
          background-color: #00FAFF;
          border-radius: 0.5rem;
          margin-right: 3rem;
          margin-left: 2rem;
        }
        .big-title{
          color: #fff;
          font-size: 4.2rem;
          cursor: pointer;
        }
        .small-title{
          color: #788DAD;
          font-size: 3.2rem;
          margin-left: 1rem;
          cursor: pointer;
        }
      }
      .table-box{
        display: flex;
        flex-flow: column;
        height: 100%;
        padding-left: 3rem;
        width: 100%;
        .table-title{
          width: 100%;
          color: #00EDFB;
          display: flex;
          flex-flow: row;
          height: 15rem;
          flex-shrink: 0;
          font-size: 3.5rem;
          .item-style{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          // .item-style:first-child{
      
          //   justify-content: center;
          
          // }
          // .item-style:last-child{

          //   tjustify-content: center;
          
          // }
          .number-item{
            flex: 0.5;
          }
        }
        .table-list{
          width: 100%;
          flex: 1;
          display: flex;
          flex-flow: column;
          .changebox{
            width: 100%;
            // height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            .line-style{
              width: 100%;
              // flex: 1;
              height: 200px;
              display: flex;
              flex-flow: row;
              font-size: 3.4rem;
              align-items: center;
              transition: transform 1s;
              line-height: 90px;
              .inner{
                width: 100%;
                display: flex;
                flex-flow: row;
                .item-style{
                  flex: 1;
                  // display: flex;
                  // justify-content: center;
                  // align-items: center;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-align: left;
                
                }
                .item-style:first-child{
      
                  text-align: center;
                
                }
                .item-style:last-child{
      
                  text-align: center;
                
                }
                
                .number-item{
                  flex: 0.5;
                }
              }
              
            }
            .line-style:nth-child(1){
              .inner{
                background: url("../../../assets/images/videoAggregation/sort1.png") no-repeat;
                background-size:  100%;
                height: 6rem;
                background-position-y: center;
              }
            }
            .line-style:nth-child(2){
              .inner{
                height: 6rem;
                background: url("../../../assets/images/videoAggregation/sort2.png") no-repeat;
                background-size:  100%;
                background-position-y: center;
              }
            }
            .line-style:nth-child(3){
              .inner{
                height: 6rem;
                background: url("../../../assets/images/videoAggregation/sort3.png") no-repeat;
                background-size: auto 100%;
                background-position-y: center;
              }
            }
          }
          
        }

      }
    }
  }

  .right-box{
    // flex: 1;
    width: 64%;
    // margin-bottom: 3rem;
    position: relative;
    .line-style{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 10%;
      left: 2%;
      img{
        width: 4px;
        height: 1300px;
      }
    }
    .bottom-right{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 133, 247, 0.15);
      font-size: 10rem;
      overflow: hidden;
      display: flex;
      flex-flow: column;
      .button-line{
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        height: 14rem;
        flex-shrink: 0;
        align-items: center;
        div{
          width: 16.5rem;
          height: 8rem;
          font-size: 4rem;
          margin-right: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .xiaoshou{
          cursor: pointer;
        }
        .button-ac{
          background: url("../../../assets/images/videoAggregation/cishu@2x.png") no-repeat;
          background-size: 100% 100%;
          cursor: pointer;
        }
        .button-nor{
          background: url("../../../assets/images/videoAggregation/shichang@2x.png") no-repeat;
          background-size: 100% 100%;
          cursor: pointer;
        }
      }
      .echart-box{
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

