<template>
  <div class="zhoujiadu-dashboard-container">
    <div class="dashboard-header">
      <img
        style="width: 100%"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/header-bar-new.png"
        alt
      />
      <div class="title">
        <span>猎熊座城市运行综合管理智慧平台</span>
      </div>
      <div class="date-week">
        <div class="date">
          <span>{{ dateString }}</span>
        </div>
        <div class="week">
          <span>星期{{ weekString }}</span>
        </div>
      </div>
      <div class="date-time">{{ timeString }}</div>
      <div class="temperature">
        <!-- <img style="width:25px;height:25px" :src="currentIcon[0].icon" alt /> -->
        <span style="margin-right: 15px; margin-left: 20px">{{
          weather.weather
        }}</span>
        <span>
          {{ weather.temperature }}
          <span style>&deg;C</span>
        </span>
      </div>
    </div>
    <div id="map-container">
      <div class="left-top-corner"></div>
      <div class="left-bottom-corner"></div>
      <div class="right-top-corner"></div>
      <div class="right-bottom-corner"></div>
      <div class="tool-box">
        <div class="toolset">
          <img
            @click="openVideo"
            class="img-icon"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/settings.png"
            alt
          />
          <div class="mapType mapTypes" v-if="videoShow">
            <div class="rigthjiao"></div>
            <div class="scene">
              <span
                class="sceneItem"
                v-for="item in screenList"
                :key="item.urn.id"
                @click="openVideoTab(item)"
                >{{ item.descriptor.properties.screenName }}</span
              >
            </div>
          </div>
        </div>
        <div class="mapIcon">
          <img
            @click="setmapShow"
            class="img-icon"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/map.png"
            alt
          />
          <div class="mapType mapTypes" v-if="mapShow">
            <div class="rigthjiao"></div>
            <div class="mapbox">
              <div class="mapjiben" @click="initBasemap">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/jichu.png"
                  alt
                />
                <div class="maptitle">标准</div>
              </div>
              <div class="mapweixing" @click="initWeixing">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/weixing.png"
                  alt
                />

                <div class="maptitle">卫星</div>
              </div>
              <div class="maphei" @click="initHeisemap">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/heise.png"
                  alt
                />
                <div class="maptitle">魅夜黑</div>
              </div>
            </div>
          </div>
        </div>
        <div class="searchBox">
          <img
            @click="setinputShow"
            class="img-icon"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/search.png"
            alt
          />
          <div class="mapType mapTypes" v-if="inputShow">
            <div class="rigthjiao"></div>
            <div class="searchInput" style="margin-bottom: 10px">
              <input
                @input="cleartext"
                v-model="placetxt"
                class="inputcontent"
                v-on:keyup.enter="placeSearch"
                placeholder="请输入关键词"
                type="text"
              />
              <img
                @click="placeSearch"
                class="inputicon"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/searchicon.png"
                alt
              />
            </div>
            <div
              class="searchList"
              v-show="poiList !== []"
              v-for="item in poiList"
              :key="item.id"
              @click="setcenter(item)"
            >
              {{ item.name }}
            </div>
          </div>
        </div>
        <div class="menu">
          <img
            @click="seticonShow"
            class="img-icon"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/senior.png"
            alt
          />
          <div class="mapType mapTypes" v-if="iconShow">
            <div class="rigthjiao"></div>
            <div class="scene">
              <span
                :class="
                  params.tags == 'school' ? ['sceneItemyello'] : ['sceneItem']
                "
                @click="selectSchool"
                >学校</span
              >
              <span
                :class="
                  params.tags == 'office' ? ['sceneItemyello'] : ['sceneItem']
                "
                @click="selectOffice"
                >办公楼</span
              >
              <span class="sceneItem" @click="selectMarket">商场</span>
            </div>
          </div>
        </div>
        <div class="fangda">
          <img
            @click="zoom('in')"
            class="img-icon"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bigger.png"
            alt
          />
        </div>

        <div class="suoxiao">
          <img
            @click="zoom('out')"
            class="img-icon"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/smaller.png"
            alt
          />
        </div>
      </div>
      <!-- <div class="tablea">
        <draggable tag="div" v-bind="{animation: 1000}" v-model="list">
          <transition-group>
              <p style="width:100px;height:20px;border:1px solid #ccc;float:left" v-for="(item,index) in list" :key='index'>{{item.name}}</p>
           </transition-group>
           
        </draggable>
        
      </div>-->
    </div>
    <cameralocal
      v-if="controlLRvisiable"
      @lockVideo="lockVideo"
      :screenList="screenList"
    ></cameralocal>
    <video-popup
      :node="videoRtsp"
      :visible="videoVisible"
      @video:close="handleCloseVideo"
    ></video-popup>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import cameralocal from "@/components/cameraLocal.vue";
import Vue from "vue";
import videoPopup from "@/components/videoPopup.vue";
import axios from "axios";
// import {connect} from '@/utils/socket'
import AMap from "AMap";
// 治理要素table
export default {
  data() {
    return {
      node: "",
      d: new Date(),
      timeString: "",
      // videoVisible: false,
      weather: {},
      weatherIcon: [
        {
          weather: "雨",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yu.png"
        },
        {
          weather: "晴",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/qing.png"
        },
        {
          weather: "阴",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yintian.png"
        },
        {
          weather: "云",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/yintian.png"
        },
        {
          weather: "雪",
          icon:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/xue.png"
        }
      ],
      currentIcon: [],
      params: {},

      placetxt: "",
      poiList: [],
      inputShow: false,
      mapShow: false,
      iconShow: false,
      videoShow: false
    };
  },
  methods: {
    lockVideo(data) {
      console.log([data]);
      this.$store.dispatch("lockvideo", [data]);
    },
    setcenter(item) {
      this.placetxt = item.name;
      this.poiList = [];
      Vue.prototype.globalAMap.setCenter([
        item.location.lng,
        item.location.lat
      ]);
    },
    cleartext() {
      if (this.placetxt == "") {
        this.poiList = [];
      }
    },
    placeSearch() {
      let that = this;
      AMap.service(["AMap.PlaceSearch"], function() {
        let placeSear = new AMap.PlaceSearch({
          pageSize: 10, // 单页显示结果条数
          pageIndex: 1, // 页码
          city: "021" // 兴趣点城市
          // citylimit: true,  //是否强制限制在设置的城市内搜索
        });
        placeSear.search(that.placetxt, (status, res) => {
          that.poiList = res.poiList.pois;
        });
      });
    },
    selectSchool() {
      if (this.params.tags == "school") {
        this.params = {};
      } else {
        this.params = {
          tags: "school"
        };
      }
      this.$store.dispatch("getDeviceList", this.params);
    },
    selectOffice() {
      if (this.params.tags == "office") {
        this.params = {};
      } else {
        this.params = {
          tags: "office"
        };
      }
      this.$store.dispatch("getDeviceList", this.params);
    },
    selectMarket() {},
    handleCloseVideo: function() {
      // this.videoVisible = false;
      this.$store.commit("HIDE_VIDEO_VISIBLE");
    },
    zoom: function(item) {
      if (item == "out") {
        this.$store.commit("ZOOM_OUT_GLOBAL");
      } else {
        this.$store.commit("ZOOM_IN_GLOBAL");
      }
    },
    initWeixing() {
      this.$store.commit("WEIXING_AMAP");
    },
    initBasemap() {
      this.$store.commit("SHOW_BASE_MAP");
    },
    initHeisemap() {
      this.$store.commit("SHOW_HEISE_MAP");
    },
    openVideo() {
      this.videoShow = !this.videoShow;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = false;
    },
    openVideoTab(data) {
      open(
        `/liexiongzuo/screen/urn:${data.urn.organization}:${data.urn.group}:${data.urn.id}?width=${data.descriptor.properties.width}&height=${data.descriptor.properties.height}&screenName=${data.descriptor.properties.screenName}`
      );
      // open("/liexiongzuo/videoRight");
      data;
    },
    setinputShow() {
      this.mapShow = false;
      this.iconShow = false;
      this.videoShow = false;
      this.inputShow = !this.inputShow;
    },
    setmapShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.iconShow = false;
      this.mapShow = !this.mapShow;
    },
    seticonShow() {
      this.videoShow = false;
      this.inputShow = false;
      this.mapShow = false;
      this.iconShow = !this.iconShow;
    },
    ...mapMutations([])
  },
  created() {
    // connect()
    // localStorage.removeItem('closeLandR')
    // localStorage.setItem('lockList',JSON.stringify(this.lockList))
    Vue.ls.clear();
  },
  mounted() {
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);

    this.$store.commit("INIT_AMAP");
    setTimeout(() => {
      this.$store.dispatch("getDeviceList", this.deviceListPagination);
    }, 2000);
    //高德天气
    axios
      .get(
        "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=cb3b07794f3bcac8dc6188757a5386c1"
      )
      .then(res => {
        if (res.data.info == "OK") {
          this.weather = res.data.lives[0];
          this.currentIcon = this.weatherIcon.filter(item => {
            return this.weather.weather.indexOf(item.weather) !== -1;
          });
        }
      });
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
  },
  watch: {
    screenList: function(val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
        console.log(val);
      }
    }
  },
  computed: {
    weekString: function() {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function() {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    imgPrefix: function() {
      return process.env.VUE_APP_SECRET;
    },
    ...mapState({
      deviceListPagination: state => state.mapdevice.deviceListPagination,
      screenList: state => state.mapdevice.screenList,
      videoRtsp: state => state.mapdevice.videoRtsp,
      videoVisible: state => state.mapdevice.videoVisible,
      globalAMap: state => state.tools.globalAMap,
      controlLRvisiable: state => state.tools.controlLRvisiable,
      lockList: state => state.mapdevice.lockList
    }),
    ...mapGetters([])
  },
  components: { videoPopup, cameralocal }
};
</script>

<style lang="less">
@import "~@/assets/less/sanlin/dashboard.less";
.amap-logo {
  display: none !important//去掉高德地图logo;
}
.amap-copyright {
  opacity: 0 !important//去掉高德的版本号;
}

#map-container {
  height: 90%;
  width: 98%;
  margin: 0 auto;
}
// .gridbox{
//   display: grid;
//   grid-template-columns: 50% 50%;

// }
.searchList {
  width: 100%;
  height: 35px;
  background: #152e5c;
  color: #00caf9;
  line-height: 35px;
  padding: 0 5px;
  border-bottom: 1px solid #1e3d67;
  overflow: hidden;
  flex: 2;
}
</style>
