<template>
  <div class="warningPop">
    <div class="warningBox">
      <div class="warningHeader">
        <div class="warning_title">
          <span>{{ warningtableTitle }}</span>
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/tiaoxing.png"
            alt=""
          />
        </div>
        <div class="warning_close">
          <i @click="closeWarning" class="el-icon-circle-close"></i>
        </div>
      </div>
      <div class="warning_con">
        <div class="warning_con_box">
          <div class="warnging_box_title">
            【告警】 {{ warningDetail.task.alarmTimeFmt }}
          </div>
          <div class="warnging_box_event">
            <div class="warning_box_event_item">事件类型:</div>
            <div class="warning_box_event_item">
              {{ warningDetail.task.taskName }}
            </div>
            <div class="warning_box_event_item">任务地点:</div>
            <div class="warning_box_event_item" title="">
              {{ warningDetail.task.address | ellipsis }}
            </div>
            <!-- <div class="warning_box_event_item">告警设备:</div>
                  <div class="warning_box_event_item">{{warningDetail.type | deviceType}}</div>
                  <div class="warning_box_event_item">告警描述:</div>
                  <div class="warning_box_event_item" title="">{{warningDetail.description | ellipsis}}</div> -->
            <div class="warning_box_event_item">照片:</div>
            <div class="warning_box_event_item">
              <img
                style="height:100%;width:100%;"
                v-show="warningDetail.alarmImages.length > 0"
                v-for="(item, index) in warningDetail.alarmImages"
                :key="index"
                :src="url + item"
                alt=""
              />
              <!-- <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20210716100857.png" alt="">
                      <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20210716100908.png" alt=""> -->
            </div>
          </div>

          <div class="warnging_box_title">
            【处置】
            {{ warningDetail.handleTimeFmt }}
          </div>
          <div class="warnging_box_event">
            <div class="warning_box_event_item">处置人:</div>
            <div class="warning_box_event_item">
              {{ warningDetail.handleUserName }}
            </div>
            <div class="warning_box_event_item">联系方式:</div>
            <div class="warning_box_event_item" title="">
              {{ warningDetail.mobile | ellipsis }}
            </div>
            <!-- <div class="warning_box_event_item">报警原因:</div>
                  <div class="warning_box_event_item">{{warningDetail.type}}</div> -->
            <div class="warning_box_event_item">备注:</div>
            <div class="warning_box_event_item" title="">
              {{ warningDetail.task.remarks | ellipsis }}
            </div>
            <div class="warning_box_event_item"></div>
            <div class="warning_box_event_item"></div>
            <div class="warning_box_event_item">照片:</div>
            <div class="warning_box_event_item">
              <img
                v-show="warningDetail.handleImages.length > 0"
                v-for="(item, index) in warningDetail.handleImages"
                :key="index"
                :src="url + item"
                alt=""
              />
              <!-- <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20210716100857.png" alt="">
                      <img src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20210716100908.png" alt=""> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      item: {
        event: "火警事件",
        address:
          "上海市浦东新区三新路交叉路口往南150米,上海市浦东新区三新路交叉路口往南150米",
        device: "电弧",
        des: "漏电过高，持续10分钟",
        photo: [],
        phone: 12345678978
      },
      url: "https://bh-sanlin.oss-cn-shanghai.aliyuncs.com/"
    };
  },
  filters: {
    ellipsis(value) {
      if (!value) return "";
      if (value.length > 25) {
        return value.slice(0, 25) + "...";
      }
      return value;
    },
    deviceType(value) {
      switch (value) {
        case 1:
          return "噪音检测";
        case 2:
          return "人群密度";
        case 3:
          return "市容监测";
        case 4:
          return "垃圾监管";
      }
    }
  },
  props: [],
  methods: {
    ...mapMutations([]),
    closeWarning() {
      this.$store.commit("CHANGE_WARNINGDETAIL_VISIBLE", false);
    }
  },

  created() {},
  mounted() {},
  watch: {},
  computed: {
    ...mapState({
      warningDetail: state => state.oldStreetmap.warningDetail,
      warningtableTitle: state => state.oldStreetmap.warningtableTitle
    }),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang="less" scoped>
.warningPop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
  .warningBox {
    width: 50%;
    min-height: 40rem;
    background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/shijian_tanchuang.png)
      no-repeat;
    background-size: 100% 100%;
    // https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E8%AF%A6%E6%83%85/tiaoxing.png
    .warningHeader {
      height: 5rem;
      display: grid;
      grid-template-columns: auto 5rem;
      grid-template-rows: 100%;
      .warning_title {
        display: flex;
        align-items: flex-end;
        padding-left: 2rem;
        color: #c6e2f5;
        font-size: 2rem;
        img {
          padding-left: 1rem;
          width: 8rem;
        }
      }
      .warning_close {
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 0.8rem;
        cursor: pointer;
        color: #5cbbcf;
      }
    }
    .warning_con {
      min-height: 35.5rem;

      padding: 1rem 2rem 2rem;
      .warning_con_box {
        width: 100%;
        height: 100%;
        .warnging_box_title {
          color: #378ff2;
          height: 3rem;
          line-height: 3rem;
          font-size: 1.5rem;
        }
        .warnging_box_event {
          display: grid;
          grid-template-columns: 15% 35% 15% 35%;
          .warning_box_event_item {
            font-size: 1.4rem;
            color: #f4ffff;
            padding-left: 1rem;
            line-height: 2.5rem;
          }
          .warning_box_event_item:nth-child(10) {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
            img {
              height: 8rem;
              margin-right: 0.5rem;
            }
          }
        }
        .warnging_box_handle {
          display: grid;
          grid-template-columns: 15% 35% 15% 35%;
          .warning_box_event_item {
            font-size: 1.4rem;
            color: #f4ffff;
            padding-left: 1rem;
            line-height: 2.5rem;
          }
          .warning_box_event_item:nth-child(6) {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            img {
              height: 8rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
</style>
