<template>
  <div class="warningList">
    <div class="warningtitle">
      <div class="closeTitle">
        <span>{{warningtableTitle}}</span>
      </div>
      <div class="closeIcon">
        <i @click="closeWarnignpop" class="el-icon-circle-close"></i>
      </div>
    </div>
    <div class="warningtable">
      <div v-if="!warninglist" class="no-data">暂无数据</div>
      <div v-if="warninglist" class="warningtable_con">
        <div class="warningtable_header">
          <div class="warningtable_header_txt">事项</div>
          <div class="warningtable_header_txt">地点</div>
          <div class="warningtable_header_txt">时间</div>
          <div class="warningtable_header_txt">状态</div>
        </div>
        <div class="warningtable_swiper">
          <swiper
            :options="swiperOption"
            style="width: 100%"
            ref="mySwiper"
            v-if="warningtaskList"
          >
            <swiperSlide
              class="warningtable_tr"
              v-for="(item, index) in warningtaskList"
              :key="index"
              @click.native="getwarningDetail(item)"
            >
              <div class="warningtable_tr_txt" :title="item.taskName">{{item.taskName}}</div>
              <div class="warningtable_tr_txt" :title="item.address">
                {{item.address}}
              </div>
              <div class="warningtable_tr_txt" :title="item.alarmTimeFmt">
                {{item.alarmTimeFmt}}
              </div>
              <div class="warningtable_tr_txt" :title="item.alarmTimeFmt">
                {{item.statusStr}}
              </div>
            </swiperSlide>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { swiper, swiperSlide, directive } from "vue-awesome-swiper";
export default {
  data() {
    return {
      warninglist: [],
      swiperOption: {
        slidesPerView: 5, //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 3200,
        autoplayDisableOnInteraction: false,
        loop: false,
        mousewheel: true,
        mousewheelControl: true,
        height: 180,
        centeredSlides: false // 是否居中显示
      }
    };
  },
  props: [],
  methods: { ...mapMutations([]),
    closeWarnignpop(){
      this.$store.commit('CHANGE_WARNINGTASK_VISIBLE',false)
    },
    getwarningDetail(item){
      console.log(item)
      this.$store.dispatch('gettaskInfo',{taskId:item.taskId})
      
      this.$store.commit('CHANGE_WARNINGDETAIL_VISIBLE',true)
    }
  },

  created() {},
  mounted() {
    let html = document.documentElement;
    let width = html.getBoundingClientRect().width;
    if(width>3000){
      this.swiperOption.height = 360
    }else{
      this.swiperOption.height = 180
    }
    this.warninglist = this.warningtaskList
  },
  watch: {
    warningtaskList:function(newval) {
      this.warninglist = newval
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
    ...mapState({
      warningtaskList:state=>state.oldStreetmap.warningtaskList,
      warningtableTitle:state=>state.oldStreetmap.warningtableTitle
    }),
    ...mapGetters([])
  },
  components: {
    swiper,
    swiperSlide
  },
  directives: {
    swiper: directive
  }
};
</script>

<style lang='less' scoped>
.warningList {
  width: 100%;
  max-height: 17.8rem;
  border: 2px solid #006585;
  background: rgba(0, 35, 83, 0.9);
  overflow: hidden;
  .warningtitle {
    height: 2rem;
    display: grid;
    grid-template-columns: auto 2rem;
    grid-template-rows: 100%;
    border: 1px solid #004670;
    .closeTitle {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      color: #e2e3e6;
    }
    .closeIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: #224e76;
      cursor: pointer;
    }
  }
  .warningtable {
    min-height: 2rem;
    .no-data {
      text-align: center;
      line-height: 2rem;
      color: #33baca;
    }
    .warningtable_con {
      width: 100%;
      height: 100;

      .warningtable_header {
        height: 2rem;
        display: flex;
        .warningtable_header_txt {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #65b9d5;
        }
      }
      .warningtable_swiper{
          overflow: hidden;

      }
    }
  }
}
.warningtable_tr {
  height: 2rem;
  display: flex;
  padding: 0 0.2rem;
  .warningtable_tr_txt {
    cursor: pointer;
    flex: 1;
    padding: 0 0.2rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    line-height: 2rem;
    color: #66dff1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
  }
}
.warningtable_tr:nth-child(2n-1) {
  background: rgba(2, 50, 102, 0.8);
}
</style>
