<template>
  <div class="warningEchart">
    <div class="echartBox">
      <div class="echartBox_header">
        <div class="echartbox_title" @click="showSelect">
          <span style="padding-right: 1rem">{{ selectText }}</span>
          <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E4%BA%8C%E7%BA%A7/down.png"
            alt=""
          />
        </div>
        <div class="echartbox_close" @click="closeDialog">
          <i class="el-icon-circle-close"></i>
        </div>
      </div>
      <div class="echartBox_echart_top">
        <div class="echartBox_echart_anjian">
          <div class="echartBox_anjian_item">
            <div class="echartBox_anjian_cycle">
              <div ref="peopleEchart" style="width: 100%; height: 75%"></div>
              <div>案件总数</div>
            </div>
            <div class="echartBox_anjian_cycle">
              <el-progress
                type="circle"
                :percentage="Number(acceptCount)"
                :stroke-width="10"
                color="#6babe7"
                 :format="format"
              >
              </el-progress>
              <p class="">已处理数</p>
            </div>
            <div class="echartBox_anjian_cycle">
              <el-progress
                type="circle"
                :percentage="Number(unAcceptCount)"
                :stroke-width="10"
                color="#fbd37e"
                :format="format2"
              ></el-progress>
              <p>待处理数</p>
            </div>
          </div>
          <div class="echartBox_anjian_item">
            <div ref="anjinaline" style="width: 100%; height: 100%"></div>
          </div>
        </div>
      </div>
      <div class="echartBox_echart_bottom">
        <div class="echartBox_echart_warning">
          <div class="echartBox_echart_warning_item">
            <div class="handleProcess_title">频发点位排行</div>
            <div ref="anjinatiao" style="width: 100%; height: 85%"></div>
          </div>
          <div class="echartBox_echart_warning_item"></div>
          <div class="echartBox_echart_warning_item">
            <div class="handleProcess_title">动态处置流程</div>
            <div class="selectTimes">
              <selectTime
                :selectOption="intelloptions"
                @getval="getval"
                :intellValue="intellValue"
              ></selectTime>
            </div>
            <div class="handleProcess_con">
              <div class="handleProcess_con_item">
                <div class="all_text">全部累积</div>
                <div class="all_number">
                  <span class="all_num">{{ allCount }}</span>
                  <span>件</span>
                </div>
              </div>
              <div class="handleProcess_con_item">
                <table class="wen-table tb_table" width="100%" cellspacing="0">
                  <thead class="content-row title">
                    <th class="itemtitle first">来源</th>
                    <!-- <th class="itemtitle second">协同事项</th> -->
                    <th class="itemtitle third">时间</th>
                    <th class="itemtitle forth">地址</th>
                    <th class="itemtitle forth">处置人</th>
                    <th class="itemtitle forth">状态</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div style="overflow: hidden">
                          <swiper
                            class="swiper_box"
                            :options="swiperOption"
                            ref="mySwiper"
                          >
                            <swiperSlide
                              v-for="(item, index) in taskList"
                              :key="index"
                            >
                              <div class="swiper_box_ul">
                                <div class="item first textEllipsis">
                                  {{
                                    item.type == 1
                                      ? "噪音检测"
                                      : item.type == 2
                                      ? "人群密度"
                                      : item.type == 3
                                      ? "市容监测"
                                      : "垃圾监管"
                                  }}
                                </div>
                                <!-- <div class="item second textEllipsis">
                                  {{ item }}
                                </div> -->

                                <div class="item third textEllipsis">
                                  {{
                                    new Date(item.alarmTime)
                                      .toLocaleString()
                                      .replace(/:\d{1,2}$/, " ")
                                  }}
                                </div>

                                <div class="item forth textEllipsis">
                                  {{ item.address }}
                                </div>

                                <div class="item fifth textEllipsis">
                                  {{ item.handleUserName }}
                                </div>

                                <div class="item status textEllipsis">
                                  {{ item.statusStr }}
                                  <!-- <img
                                    v-if="item.status === 1"
                                    src="~@/assets/images/dynamicFlow/first.png"
                                    alt
                                  />
                                  <img
                                    v-if="item.status === 2"
                                    src="~@/assets/images/dynamicFlow/second.png"
                                    alt
                                  />
                                  <img
                                    v-if="item.status === 3"
                                    src="~@/assets/images/dynamicFlow/third.png"
                                    alt
                                  />
                                  <img
                                    v-if="item.status === 4"
                                    src="~@/assets/images/dynamicFlow/forth.png"
                                    alt
                                  /> -->
                                </div>
                              </div>
                            </swiperSlide>
                          </swiper>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="warngingType" v-if="selectType">
        <div
          class="warngingType_item"
          v-for="(item, index) in WarncountStatistics"
          :key="index"
          @click="getSelectItem(item)"
        >
          {{ item.typeStr }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import echart from "echarts";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import selectTime from "@/components/oldstreet/selectTime.vue";
export default {
  data() {
    return {
      selectType: false,
      selectText: "消防告警",
      swiperOption: {
        slidesPerView: 4, //当前box放几条数据
        direction: "vertical", //控制滚动的方向
        paginationClickable: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        autoplay: 4000,
        autoplayDisableOnInteraction: false,
        loop: true,
        mousewheel: true,
        mousewheelControl: true,
        height: 190,
        centeredSlides: false // 是否居中显示
      },
      params: {
        timeRangeType: 3,
        type: 6
      },

      acceptCount: 0,
      unAcceptCount: 0,
      unAcceptCountvalue:0,
      acceptCountvalue:0,
      taskList: [],
      allCount: 0,
      intellValue: "当月",
      intelloptions: [
        {
          value: "0",
          label: "全部"
        },
        {
          value: "1",
          label: "当周"
        },
        {
          value: "2",
          label: "近七天"
        },
        {
          value: "3",
          label: "当月"
        },
        {
          value: "4",
          label: "近30天"
        },
        {
          value: "5",
          label: "当年"
        },
        {
          value: "6",
          label: "当日"
        }
      ]
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    format(){

      return this.acceptCountvalue+'件';
    },
    format2(){

      return this.unAcceptCountvalue+'件';
    },
    closeDialog() {
      this.$emit("close", "");
    },
    initCycle(data) {
      let myChart = echart.init(this.$refs.peopleEchart);
      myChart.setOption({
        tooltip: {
          trigger: "item"
        },
        title: {
          text: data[0].value+data[1].value+'件', //图形标题，配置在中间对应效果图的80%
          left: "center",
          top: "45%",
          textStyle: {
            color: "rgb(96,98,102)",
            fontSize: 14,
            align: "center"
          }
        },
        series: [
          {
            name: "数量",
            type: "pie",
            radius: ["55%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center"
            },
            emphasis: {
              label: {
                show: false,
                fontSize: "20",
                fontWeight: "bold"
              }
            },
            labelLine: {
              show: false
            },
            data: data
          }
        ]
      });
    },
    initLine(a, u, t) {
      let myChart = echart.init(this.$refs.anjinaline);
      myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: "数量 <br/>{b} : {c} (件)",
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "15%",
          containLabel: true
        },
        dataZoom: [
          {
            type: "slider",
            show: true,
            xAxisIndex: [0],
            bottom: 10,
            end: 50, //初始化滚动条
            backgroundColor: "#254180",
            fillerColor: "#315bbe",
            height: 10,
            textStyle: false,
            handleIcon: "path://M0,0 v9.7h5 v-9.7h-5 Z",
            handleSize: 22
          }
        ],
        xAxis: {
          type: "category",
          boundaryGap: false, // 不留白，从原点开始
          data: t,
          axisLine: {
            lineStyle: {
              color: "#102f62",
              width: 1 //这里是为了突出显示加上的
            }
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8aadc1" //这里用参数代替了
            }
          }
        },
        yAxis: {
          type: "value",
          // min:0,
          minInterval:1,
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#102f62"],
              width: 1,
              type: "solid"
            }
          },
          axisLine: {
            show: false
          },
          axisTick: {
            //y轴刻度线
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#e2e5ee" //这里用参数代替了
            }
          }
        },
        series: [
          {
            showSymbol: true,
            symbol: "circle", //折点设定为实心点
            symbolSize: 3, //设定实心点的大小
            data: a,
            type: "line",
            smooth: true,
            itemStyle: {
              normal: {
                color: "#5463d7",
                lineStyle: {
                  color: "#5463d7"
                }
              }
            },
            areaStyle: {
              normal: {
                color: {
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#5b55a9" // 0% 处的颜色
                    },
                    {
                      offset: 0.7,
                      color: "#0c295f" // 100% 处的颜色
                    }
                  ],
                  globalCoord: false // 缺省为 false
                }
              }
            }
          },
          {
            showSymbol: true,
            symbol: "circle", //折点设定为实心点
            symbolSize: 3, //设定实心点的大小
            data: u,
            type: "line",
            smooth: true,
            itemStyle: {
              normal: {
                color: "#9570e6",
                lineStyle: {
                  color: "#9570e6"
                }
              }
            },
            areaStyle: {
              normal: {
                color: {
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: "#5b55a9" // 0% 处的颜色
                    },
                    {
                      offset: 0.7,
                      color: "#0c295f" // 100% 处的颜色
                    }
                  ],
                  globalCoord: false // 缺省为 false
                }
              }
            }
          }
        ]
      });
    },
    initTiao(c, a) {
      let myChart = echart.init(this.$refs.anjinatiao);
      myChart.setOption({
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // Use axis to trigger tooltip
            type: "shadow" // 'shadow' as default; can also be 'line' or 'shadow'
          }
        },
        grid: {
          top: "3%",
          left: "8%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: {
          type: "value",
          axisLine: {
            show: false
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8aadc1" //这里用参数代替了
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: ["#092a5b"],
              width: 1,
              type: "solid"
            }
          }
        },
        yAxis: {
          type: "category",
          data: a,
          splitLine: {
            show: false
          },
          axisLine: {
            lineStyle: {
              color: "#102f62",
              width: 1 //这里是为了突出显示加上的
            }
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8aadc1" //这里用参数代替了
            }
          }
        },
        series: [
          {
            name: "",
            type: "bar",
            stack: "total",
            label: {
              show: true
            },
            barWidth: 10,
            itemStyle: {
              //柱形图圆角，鼠标移上去效果，如果只是一个数字则说明四个参数全部设置为那么多
              normal: {
                //柱形图圆角，初始化效果
                barBorderRadius: [15, 15, 15, 15],
                color: new echart.graphic.LinearGradient(
                  0,
                  0,
                  1,
                  0,
                  [
                    {
                      offset: 0,
                      color: "#008af3" // 0% 处的颜色
                    },
                    {
                      offset: 0.6,
                      color: "#00b6f3" // 60% 处的颜色
                    },
                    {
                      offset: 1,
                      color: "#00dfe8" // 100% 处的颜色
                    }
                  ],
                  false
                )
              }
            },
            emphasis: {
              focus: "series"
            },
            data: c
          }
        ]
      });
    },
    init() {
      this.$store.dispatch("getTaskDetailsInfo", this.params).then((res) => {
        this.allCount = res.data.result.allCount;
        this.taskList = res.data.result.tasks.slice(0, 100);
        this.unAcceptCountvalue = res.data.result.unAcceptCount
        this.unAcceptCount = (
          (res.data.result.unAcceptCount /
            (res.data.result.acceptCount + res.data.result.unAcceptCount)) *
          100
        ).toFixed(2);
        this.acceptCountvalue = res.data.result.acceptCount
        this.acceptCount = (
          (res.data.result.acceptCount /
            (res.data.result.acceptCount + res.data.result.unAcceptCount)) *
          100
        ).toFixed(2);
        let cycleData = [
          { value: res.data.result.acceptCount, name: "已处理" },
          { value: res.data.result.unAcceptCount, name: "未处理" }
        ];
        let acceptList = [];
        let unAcceptList = [];
        let timeList = [];
        res.data.result.taskLineStatisticsDatas.forEach((item) => {
          acceptList.push(item.doneCount);
          unAcceptList.push(item.unDoneCount);
          timeList.push(item.time);
        });

        let countList = [];
        let addressList = [];
        res.data.result.points.forEach((item) => {
          countList.push(item.count);
          addressList.push(item.address);
        });

        this.initCycle(cycleData);
        this.initLine(acceptList, unAcceptList, timeList);
        this.initTiao(countList.slice(0, 10), addressList.slice(0, 10));
      });
    },
    getval(val) {
      this.params.timeRangeType = val.value;
      this.init();
    },
    showSelect() {
      this.selectType = true;
    },
    getSelectItem(item) {
      this.selectText = item.typeStr;
      this.params.type = item.type;
      this.init();
      this.selectType = false;
    }
  },

  created() {},
  mounted() {
    this.init();
  },
  watch: {},
  computed: {
    ...mapState({
      taskdetailInfo: (state) => state.oldStreet.taskdetailInfo,
      WarncountStatistics: (state) => state.oldStreet.WarncountStatistics
    }),

    ...mapGetters([])
  },
  components: {
    swiper,
    swiperSlide,
    selectTime
  }
};
</script>

<style lang='less' scoped>
.warningEchart {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
  .echartBox {
    width: 70%;
    height: 35rem;
    background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E6%99%BA%E8%83%BD%E5%91%8A%E8%AD%A6-%E4%BA%8C%E7%BA%A7/kuang.png)
      no-repeat;
    background-size: 100% 100%;
    position: relative;
    .warngingType {
      position: absolute;
      left: 1rem;
      top: 3.5rem;
      .warngingType_item {
        height: 2rem;
        line-height: 2rem;
        background: cornflowerblue;
        margin-top: 0.1rem;
        box-sizing: border-box;
        text-align: center;
        color: white;
        padding: 0 1rem;
        cursor: pointer;
      }
    }
    .echartBox_header {
      height: 3.5rem;
      width: 100%;
      display: grid;
      grid-template-columns: auto 3.5rem;
      grid-template-rows: 100%;

      .echartbox_title {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        cursor: pointer;
      }
      .echartbox_close {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .echartbox_close,
      .echartbox_title {
        color: #5cbbcf;
      }
    }
    .echartBox_echart_top {
      height: 15rem;
      padding: 0 1rem;
      .echartBox_echart_anjian {
        width: 100%;
        height: 100%;
        display: grid;
        background: #002354;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        border: 1px solid #1f5e88;
        .echartBox_anjian_item {
          display: flex;

          .echartBox_anjian_cycle {
            padding: 2rem 0;
            flex: 1;
            text-align: center;
            color: white;
          }
          .echartBox_anjian_cycle:first-child {
            padding: 0;
          }
        }
      }
    }
    .echartBox_echart_bottom {
      margin: 1rem 0;
      height: 14rem;
      padding: 0 1rem;
      box-sizing: border-box;
      .echartBox_echart_warning {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% 1rem auto;
        grid-template-rows: 100%;
        .echartBox_echart_warning_item {
          border: 1px solid #1f5e88;
          background: #002452;
          position: relative;
          .handleProcess_title {
            height: 2rem;
            line-height: 2rem;
            padding-left: 0.5rem;
            color: #3daeb9;
            font-size: 1.2rem;
          }
          .selectTimes {
            position: absolute;
            right: 0.2rem;
            top: 0.3rem;
            width: 7rem;
            height: 1.5rem;
          }
          .handleProcess_con {
            height: 11rem;
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: 100%;
            .handleProcess_con_item {
              overflow: hidden;
              .all_text {
                color: white;
                text-align: center;
                padding-top: 2rem;
                box-sizing: border-box;
              }
              .all_number {
                padding-top: 1rem;
                box-sizing: border-box;
                text-align: center;
                color: #538bb7;
                .all_num {
                  color: #d0c860;
                  font-size: 1.5rem;
                  font-weight: 800;
                }
              }
            }
            .handleProcess_con_item:first-child {
              border-right: 1px solid #5ce2f4;
            }
          }
        }
        .echartBox_echart_warning_item:nth-child(2) {
          border: none;
          background: none;
        }
      }
    }
  }
}
.content-row {
  display: flex;
  width: 100%;
  color: #ffffff;
  align-items: center;
  .itemtitle {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.4rem;
    color: #09c5c4;
  }

  .itemtitle.second,
  .itemtitle.third,
  .itemtitle.forth,
  .itemtitle.status {
    flex: 1.5;
  }
}

.content-row.title {
  margin: 0.4rem 0;
  text-align: center;
}

.swiper_box {
  width: 100%;
  height: 100%;

  .swiper_box_ul {
    width: 100%;
    height: 100%;
    display: flex;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    .item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.4rem;
      // padding: 0.3rem 0;
      img {
        width: 100%;
      }
    }

    .item.first {
      color: #09c5c4;
    }

    .item.second,
    .item.third,
    .item.forth,
    .item.fifth,
    .item.status {
      flex: 1.5;
    }
  }
  .swiper_box_ul:nth-child(2n) {
    background-color: #01456f;
  }
}
</style>
