<template>
    <div class="anzhiPlayer">
        <!-- {{ cameraId }} -->
        <video
            :id="`anzhiVideo_${cameraId}`"
            width="100%"
            height="100%"
            autoplay="autoplay"
            controls
            style="z-index: 1;border: 1px gray solid;"
        ></video>
    </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
export default {
    data() {
        return {
            server: 'http://10.242.155.14',
            // server: 'http://192.168.123.230',
            accessKey: '1opev9r6',
            player: null
        }
    },

    props: ["camera", "cameraId", "index"],
    methods: {
        ...mapMutations([]),
        loadJs() {
            return new Promise((resolve, reject) => {
                var head = document.getElementsByTagName("head")[0];
                let script = document.createElement("script");
                script.type = "text/javascript";
                head.appendChild(script);
                script.onload = () => {
                    resolve();
                };
                script.onerror = () => {
                    reject();
                };
                script.src =
                    "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/zhoupu/azplayer_v2i_20210318.min.js";
            });
        },
        doPlay(cfg) {
            console.log(this.player)
            // if (this.player) {
            //     this.player.stop();
            // }

            // console.log(cfg);
            // 禁用video标签 loading 图标
            // cfg.loadingIndicator = '';

            // 自定义video标签 loading图标
            // cfg.loadingIndicator = myLoading;
            //cfg.loadingIndicator = 'loading.svg';
            //cfg.loadingIndicator = 'loading.gif';
            if (this.player) {
                this.player.toggleHidden()
                this.player.stop()
                setTimeout(() => {
                    console.log(this.player)
                    this.player = new AZPlayerV2i(cfg);
                    this.player.play();
                    this.player.toggleHidden(false);
                    this.player.toggleMuted(true);
                }, 200);

            } else {
                this.player = new AZPlayerV2i(cfg);
                console.log(this.player)
                setTimeout(() => {
                    this.player.play();
                    this.player.toggleHidden(false);
                    this.player.toggleMuted(true);
                }, 200);


            }



            // btnPlay.disabled = true;
            // btnStop.disabled = false;
        },
        onerror(player, code, desc) {
            console.log("错误信息：", this.camera.name);
        },
        onstate(player, state) {
            switch (state) {
                case 0:
                    console.log(player.cameraId, ' CONNECTED'); // websocket连接成功
                    break;
                case 1:
                    console.log(player.cameraId, ' DISCONNECTED'); // websocket连接断开
                    break;
                case 2:
                    console.log(player.cameraId, ' PLAYING'); // 开始播放
                    break;
                case 3:
                    console.log(player.cameraId, ' PAUSED'); // 已暂停
                    break;
                case 4:
                    console.log(player.cameraId, ' STOPPED'); // 已停止
                    break;
                case 5:
                    console.log(player.cameraId, ' FINISHED'); // VOD播放完成
                    break;
                case 6:
                    console.log(player.cameraId, ' BUFFER_FULL'); // 缓冲区满
                    break;
                default:
                    console.log(player.cameraId, ' unknown state'); // 未知错误
                    break;
            }
        },
        onmessage(player, msg) {
            console.log(msg.info)
            var info = msg.info;
            // console.log(player.cameraId, info);

            if (info.code === 2) {
                // 播放完成
                this.player.stop();
            }
        }
    },

    created() { },
    mounted() {
        // this.loadJs().then(res => {
        //     // console.log(res)
        // })
        this.loadJs().then(() => {
            let cfg = {
                video: 'anzhiVideo_' + this.cameraId,          // video tag id
                cameraId: this.cameraId,       // 摄像机编号
                onmessage: this.onmessage,     // 消息回调                          
                onerror: this.onerror,         // 错误回调
                // onstate: this.onstate,         // 状态回调
                restartOnError: true,    // 播放出错自动重试
                displayInfo: true, // 显示错误消息
                accessKey: this.accessKey,
                url: this.server,
                loadingIndicator: ''
            };
            this.doPlay(cfg)
        })
    },
    watch: {
        cameraId(newval, oldval) {
            this.loadJs().then(() => {
                if (newval) {
                    let cfg = {
                        video: 'anzhiVideo_' + newval,          // video tag id
                        cameraId: newval,       // 摄像机编号
                        onmessage: this.onmessage,     // 消息回调                          
                        onerror: this.onerror,         // 错误回调
                        // onstate: this.onstate,         // 状态回调
                        restartOnError: true,    // 播放出错自动重试
                        displayInfo: true, // 显示错误消息
                        accessKey: this.accessKey,
                        url: this.server,
                        loadingIndicator: ''
                    };
                    this.doPlay(cfg)
                }

            })
        }
    },
    computed: {
        ...mapState({}),

        ...mapGetters([])

    },
    components: {

    }
}
</script>

<style lang='less' scoped>
.anzhiPlayer {
    width: 100%;
    height: 100%;
}
</style>
