<template>
  <div class="hls-container" style="height:100%;">
    <div class="hover-mask">
      <button class="hover-mask-button" @click="clickmarkCameraDamaged">
        标记
      </button>
    </div>
    <video
      controls
      autoplay
      :id="reffer"
      :ref="reffer"
      :src="url"
      height="100%"
      width="100%"
      style="height:100%;width:100%;object-fit: fill;"
    ></video>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["reffer", "url", "node", "visible"],
  data() {
    return { thatHls: "", hlsInterval: null, hls: null };
  },
  methods: {
    clickmarkCameraDamaged: function() {
      let urn = this.node.streamNode.urn;
      this.$store.dispatch("markCameraDamaged", {
        deviceUrn: `urn:${urn.organization}:${urn.group}:${urn.id}`,
        message: "人为手工标记",
        reportType: "REPORT_STREAM_INVISIBLE",
        screenUrn: sessionStorage.getItem("screen")
      });
    },
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/videoPlayer/hls.js%40latest";
      });
    },
    ...mapMutations([])
  },

  mounted() {
    this.loadJS().then(res => {
      res;
      let config = { autoStartLoad: true, debug: false };
      this.hls = new Hls(config);
    });
  },
  filters: {},
  destroyed() {
    this.hls.destroy();
    this.hls.stopLoad();
  },
  watch: {
    visible: function(val) {
      if (!val) {
        console.log("stop load.");
      }
    },
    url: function(val) {
      if (val) {
        console.log(`url:  ${val}`);
        this.loadJS().then(res => {
          var video = this.$refs[this.reffer];
          console.log("准备创建新的hls对象");
          this.hls.loadSource(val);
          this.hls.attachMedia(video);
          // video.play();
          let that = this;
          this.hls.on(Hls.Events.BUFFER_CREATED, function(event, data) {
            // console.log(data);
          });
          this.hls.on(Hls.Events.ERROR, function(event, data) {
            // console.log(event);
            // console.log(data);
            // console.log(data.type);
            if (data.type == "networkError") {
              that.hls.detachMedia();
              that.hlsInterval = setTimeout(() => {
                console.log("retry hls video.");
                console.log(that.node);
                // that.$store.dispatch("changeVideo", {
                //   position: that.node.data.position
                // });
                // that.hls.loadSource(val);
                // that.hls.attachMedia(video);
              }, 1000);
            }
          });
        });
      }
    }
  },
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.hls-container {
  position: relative;
}
.hover-mask {
  z-index: 10;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.hover-mask-button {
  display: none;
}
.hover-mask:hover {
  .hover-mask-button {
    display: block;
  }
}
</style>
