<template>
  <div class="av-container" style="height:100%;width:100%;">
    <video
      :id="node.data.id"
      :ref="node.data.id"
      height="100%"
      width="100%"
      style="height:100%;width:100%;object-fit: fill;"
      autoplay="autoplay"
    ></video>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["node"],
  data() {
    return { cfg: "" };
  },
  methods: {
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/azplayer_v2i_20210318.min.js";
      });
    },
    ...mapMutations([])
  },

  mounted() {
    this.loadJS().then(res => {
      this.cfg = {
        video: this.node.data.id,
        cameraId: this.node.data.id,
        restartonError: true,
        accessKey: "lxz",
        url: "http://10.5.200.252",
        loadingIndicator: ""
      };

      let player = new AZPlayerV2i(this.cfg);
      player.play();
    });
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped></style>
