<template>
  <div class="leftorRightzq">
    <div class="cameraBox">
      <div class="cameraboxHeader">请对摄像头设置显示位置</div>
      <div class="cameraleft0rRigth">
        <div class="cameraLeft">
          <div class="leftItem">
            <div class="leftItembtn">{{ SelectoptionBtntext }}</div>
          </div>
          <div class="leftItem">
            <div class="leftItemCameralist">
              <div
                slot="reference"
                v-for="(item, index) in this.x * this.y"
                @click="checkcurrentIndex(item, index)"
                @dblclick="cancelcurrentIndex(item, index)"
                :key="index"
                :style="xx"
                :class="
                  currentleftIndex == index
                    ? ['cameraItem', 'lockItem']
                    : ['cameraItem']
                "
              ></div>
            </div>
          </div>
          <div class="leftItem">
            <div class="leftItembtnbottom" @click="closeControl(true)">
              确定
            </div>
            <div class="leftItembtnbottom" @click="closeControl(false)">
              取消
            </div>
          </div>
        </div>
        <div class="cameraSelect">
          <el-button
            class="cameraSelectBtn"
            size="small"
            type="primary"
            @click="selectScreen"
            >{{ SelectoptionBtntext }}</el-button
          >
          <div
            class="cameraSelectoption"
            v-show="SelectoptionVisible"
            v-for="item in screenList"
            :key="item.urn.id"
            @click="selectTxt(item)"
          >
            {{ item.descriptor.properties.screenName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
// import draggable from 'vuedraggable'
export default {
  data() {
    return {
      cameraListleft: [],
      cameraListright: [],
      currentleftIndex: -1,
      currentrightIndex: -1,
      currentitem: {},
      leftOrRight: -1,
      params: {},
      lockeData: {},
      x: 1,
      y: 1,
      currentScreen: {},
      SelectoptionVisible: false,
      SelectoptionBtntext: "请选择屏幕",
      selectedSementId: "",
      axisx: "",
      axisy: "",
      isselectedL: [],
      timer: null
    };
  },
  props: ["screenList"],
  mounted() {
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
  },
  created() {
    this.x = 0;
  },
  watch: {
    screenList: function(val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
      }
    },
    pollingVideoList: function(val) {
      val; //当前锁定屏幕的列表
      // let listType  = {}
      console.log(val);
      let alwidth = this.currentScreen.descriptor.properties.width; //获取整块屏幕的宽度
      let alheigth = this.currentScreen.descriptor.properties.height; //获取整块屏幕的高度
      let segConfig = this.currentScreen.descriptor.properties.segConfig;
      for (const item of segConfig) {
        //循环屏幕的几个区域
        // console.log(item)

        let listType = val.filter(res => {
          //拿到被锁定的屏幕在当前循环体中是否有符合segmentId的项
          if (res.screenSpot.segment == item.segmentId) {
            res.screenx = item;
            res.screens = { height: alheigth, width: alwidth }; //下面需要知道整个屏幕是NxN的
            return (res.screenSpot.segment = item.segmentId);
          }
        });
        // listType[item.segmentId] =
        listType.forEach(seg => {
          //循环当前区域中存在的锁屏
          // console.log(seg)

          let alen = seg.screenx.rightBottom[0] - seg.screenx.leftTop[0] + 1;
          // console.log(alen)
          // 获取锁屏的项在当前区域内是第几个
          let aindex = this.getcurrentIndex(
            alen,
            seg.screenSpot.coordinate.x,
            seg.screenSpot.coordinate.y
          );
          // console.log(aindex)
          let blen = seg.screens.width;
          // console.log(blen)
          let bhei = seg.screens.height;
          // console.log(bhei)
          let allLocal = [];
          for (let index = 0; index < blen * bhei; index++) {
            //还原NxN屏幕
            allLocal.push(index);
          }
          // 还原当前区域内的元素在整块屏幕中的是什么
          let barr = this.getallquyuList(
            seg.screenx.leftTop[0],
            seg.screenx.leftTop[1],
            seg.screenx.rightBottom[0],
            seg.screenx.rightBottom[1],
            blen
          );
          console.log(barr);
          let selectindex = barr[aindex - 1]; //拿到当前锁屏项的索引
          this.isselectedL.push(selectindex);
          let cameraItem = document.getElementsByClassName("cameraItem");
          // 给当前索引添加锁屏样式
          cameraItem[allLocal[selectindex - 1]].classList.add("lockItem");
        });
      }
    }
  },
  methods: {
    getcurrentIndex(len, x, y) {
      //获取当前锁屏的点在自己的区域内是第几个 let index = this.getcurrentIndex()
      let index = 0;
      index = y * len + (x + 1);
      return index;
    },
    // 获取区域内所有元素在屏上所占的位置数组 let arr = this.getallquyuList()    arr[index]-1
    getallquyuList(lx, ty, rx, by, len) {
      let arr = [];
      for (let y = ty; y <= by; y++) {
        for (let x = lx; x <= rx; x++) {
          let a = this.getcurrentIndex(len, x, y);
          arr.push(a);
        }
      }
      return arr;
    },
    closeControl(data) {
      //关闭控制台

      if (data) {
        let segments = {};
        if (this.selectedSementId) {
          // segments = this.currentScreen.descriptor.segments[this.selectedSementId]
          this.params = {
            urn: `urn:${this.videoRtsp[0].streamNode.urn.organization}:${this.videoRtsp[0].streamNode.urn.group}:${this.videoRtsp[0].streamNode.urn.id}`,
            screenSpot: {
              coordinate: {
                x: this.axisx,
                y: this.axisy,
                z: 0
              },
              screen: {
                organization: this.currentScreen.urn.organization,
                group: this.currentScreen.urn.group,
                id: this.currentScreen.urn.id
              },
              segment: this.selectedSementId
            }
            // schedule: {
            //   lifeCycle: "TILL_CANCELLATION"
            // }
          };
          this.$emit("lockVideo", this.params);
        }
      } else {
        this.$store.commit("HIDE_CONTROL_VISIABLE");
      }
      this.currentleftIndex = -1;
    },
    getX(number, width) {
      if (number % width == 0) {
        return width - 1;
      } else {
        return Number.parseInt(number % width) - 1;
      }
    },
    getY(number, width) {
      if (number % width == 0) {
        return parseInt(number / width) - 1;
      } else {
        return Math.floor(number / width);
      }
    },
    cancelcurrentIndex(item, index) {
      clearTimeout(this.timer);
      if (this.isselectedL.includes(item)) {
        let x = this.getX(index + 1, this.x);
        let y = this.getY(index + 1, this.x);
        console.log(x, y);
        for (const item of this.currentScreen.descriptor.properties.segConfig) {
          if (
            x >= item.leftTop[0] &&
            x <= item.rightBottom[0] &&
            y >= item.leftTop[1] &&
            y <= item.rightBottom[1]
          ) {
            this.axisx = x - item.leftTop[0];
            this.axisy = y - item.leftTop[1];
            // console.log(this.axisx,this.axisy)
            this.selectedSementId = item.segmentId;
          }
        }
        console.log();
        let selectindex = this.isselectedL.indexOf(index + 1); //被双击的框在被锁定的数组中的第几个
        console.log(index);
        let urn = this.pollingVideoList[selectindex].streamNode.urn;
        let params = {
          urn: `urn:${urn.organization}:${urn.group}:${urn.id}`,
          screenSpot: {
            coordinate: {
              x: this.axisx,
              y: this.axisy,
              z: 0
            },
            screen: {
              organization: this.currentScreen.urn.organization,
              group: this.currentScreen.urn.group,
              id: this.currentScreen.urn.id
            },
            segment: this.selectedSementId
          }
        };
        console.log(params);
        // this.$message({
        //   type:'warning',
        //   message:'功能待开发'
        // })
        this.$store.dispatch("unlockvideo", [params]);
      } else {
        this.$message({
          type: "warning",
          message: "此区域还未锁定，可以进行单击锁定"
        });
      }
    },
    checkcurrentIndex(item, index) {
      // console.log(item,index)
      // console.log(this.isselectedL)
      clearTimeout(this.timer);

      this.timer = setTimeout(() => {
        console.log(this.isselectedL);
        if (this.isselectedL.includes(item)) {
          this.$message({
            type: "warning",
            message: "此区域已经是锁定区域，如需取消锁定请双击左键"
          });
        } else {
          this.selectedSementId = "";
          this.currentleftIndex = index;
          let x = this.getX(index + 1, this.x);
          let y = this.getY(index + 1, this.x);
          // console.log(x,y)
          // let axisxs = this.getX(index + 1, this.x);
          // let axisys = this.getY(index + 1, this.x);
          console.log(this.currentScreen);
          for (const item of this.currentScreen.descriptor.properties
            .segConfig) {
            if (
              x >= item.leftTop[0] &&
              x <= item.rightBottom[0] &&
              y >= item.leftTop[1] &&
              y <= item.rightBottom[1]
            ) {
              this.axisx = x - item.leftTop[0];
              this.axisy = y - item.leftTop[1];
              console.log(this.axisx, this.axisy);
              this.selectedSementId = item.segmentId;
              return;
            }
          }
        }
      }, 300);
    },
    dragEnd() {
      this.$store.commit("CAMERA_LEFT", this.cameraListleft);
    },
    selectScreen() {
      this.SelectoptionVisible = !this.SelectoptionVisible;
    },
    selectTxt(item) {
      let cameraItem = document.getElementsByClassName("cameraItem");
      // cameraItem
      cameraItem.forEach(item => {
        item.classList.remove("lockItem");
      });
      let screen = `urn:${item.urn.organization}:${item.urn.group}:${item.urn.id}`;
      sessionStorage.setItem("screen", screen);
      console.log(screen);
      setTimeout(() => {
        this.$store.dispatch("getCurrentWSvideoList", { lockedOnly: true });
      }, 1000);
      this.SelectoptionBtntext = item.descriptor.properties.screenName;
      this.SelectoptionVisible = false;
      this.x = item.descriptor.properties.width;
      this.y = item.descriptor.properties.height;
      this.currentleftIndex = -1;
      this.currentScreen = item;
    }
  },
  computed: {
    xx: function() {
      return {
        width: `calc(100%/${this.x})`,
        height: `calc(100%/${this.y})`
      };
    },
    ...mapState({
      videoRtsp: state => state.mapdevice.videoRtsp,
      lockList: state => state.mapdevice.lockList,
      pollingVideoList: state => state.mapdevice.pollingVideoList
      // screenList: (state) => state.mapdevice.screenList,
    })
  },
  components: {
    // draggable,
  }
};
</script>

<style lang="less" scoped>
.leftorRightzq {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  .cameraBox {
    width: 1025px;
    height: 599px;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/cameraKuang.png")
      no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -512.5px;
    .cameraboxHeader {
      height: 50px;
      width: 300px;
      color: #01c1f1;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 2px;
    }
    .cameraleft0rRigth {
      width: 80%;
      height: 480px;
      margin: 20px auto;
      display: flex;
      position: relative;
      .cameraLeft {
        flex: 1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 75% 15%;
        .leftItem {
          text-align: center;
          line-height: 33px;
          color: #56b5ec;
          font-size: 14px;
          .leftItemCameralist {
            width: 100%;
            height: 100%;
            background: #154c8f;
            margin: 0 auto;
            .cameraItem {
              // width:25%;
              // height: calc(100% / 3);
              float: left;
              line-height: 60px;
              border: 0.2px solid #ccc;
              box-sizing: border-box;
            }
            // .cameraItem:nth-child(2n-1) {
            //   background: #3b86a9;
            // }
          }
          .leftItembtn {
            width: 132px;
            height: 33px;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/topButton.png")
              no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
          }
          .leftItembtnbottom {
            width: 132px;
            height: 33px;
            margin: 25px auto;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bottomButton.png")
              no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            display: inline-block;
          }
        }
      }
      .cameraSelect {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        z-index: 9999;
        overflow: scrollswan;
        .cameraSelectBtn {
          padding: 5px 20px;
        }
        .cameraSelectoption {
          color: white;
          background: #103c6b;
          padding: 5px 0px;
          font-size: 12px;
          text-align: center;
          margin-top: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
.lockItem {
  background: chocolate !important;
}
</style>
<style lang="less">
.el-select-dropdown.el-popper {
  z-index: 9999 !important;
}
.el-message {
  z-index: 99999 !important;
}
</style>
