<template>
  <div class="common-screen-layout-container">
    <div v-if="matrix.length > 0" class="common-screen-layout-container-inner">
      <!-- <template v-for="item in  reverseMatrix">
        <div class="video-item" v-for="slice in item" :key="slice.ids">
          <video-container :reffer="'video-'+slice.x+'-'+slice.y" :url="slice.rtmpUrl"></video-container>
        </div>
      </template>-->
      <template v-for="(x, xIndex) in height">
        <template v-for="(y, yIndex) in width">
          <div class="video-item" :key="xIndex + '-' + yIndex">
            <video-container
              :reffer="'video-' + xIndex + '-' + yIndex"
              :url="getMatrixUrl(yIndex, xIndex)"
              :node="getMatrixNode(yIndex, xIndex)"
            ></video-container>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoContainer from "@/components/videoContainer.vue";
// import videoContainer from "@/components/videoRtc.vue";
import Vue from "vue";

export default {
  data() {
    return {
      localPollingList: [],
      screen: "",
      reverseMatrix: [],
      width: 0,
      height: 0,
      matrix: []
    };
  },
  methods: {
    getMatrixNode: function(x, y) {
      return this.matrix[x][y].node;
    },
    getMatrixUrl: function(x, y) {
      return this.matrix[x][y].rtmpUrl;
    },
    transformMatrix: function(matrix) {
      var transformMatrix = [];
      for (var ii = 0; ii < this.height; ii++) {
        var aa = [];
        for (var jj = 0; jj < this.width; jj++) {
          aa.push(this.matrix[jj][ii]);
        }
        transformMatrix.push(aa);
      }
      return transformMatrix;
    },
    createGrid: function(width, height) {
      var start = 1;
      var startString = " 1fr ";
      while (start < width) {
        startString += "1fr ";
        start += 1;
      }
      var end = 1;
      var endString = " 1fr ";
      while (end < height) {
        endString += "1fr ";
        end += 1;
      }

      let styleString = `
    .common-screen-layout-container-inner {
      display:grid; 
      grid-gap: 1px;
      grid-template-columns:${startString};
      grid-template-rows:${endString};
    }
    `;
      var style = document.createElement("style");
      style.type = "text/css";
      style.innerHTML = styleString;
      document.getElementsByTagName("head")[0].appendChild(style);
      //   建立二维数组
      let matrix = [];
      for (var i = 0; i < width; i++) {
        var a = [];
        for (var j = 0; j < height; j++) {
          var obj = {
            x: i,
            y: j,
            rtmpUrl: "None",
            node: ""
          };
          a.push(obj);
        }
        this.matrix.push(a);
      }
      this.reverseMatrix = this.transformMatrix(this.matrix);
    },
    ...mapMutations([])
  },

  mounted() {
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
    setTimeout(() => {
      this.$store.dispatch("getCurrentWSvideoList");
      
    }, 2000);

    this.screen = this.$route.params.screen;
    this.query = this.$route.query;
    this.height = Number.parseInt(this.query.height);
    this.width = Number.parseInt(this.query.width);
    let screenName = this.query.screenName;
    document.title = screenName;
    sessionStorage.setItem("screen", this.screen);
    this.createGrid(this.width, this.height);
    this.$store.commit("INIT_WEBSOCKET");
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
      if (
        this.timeString == "01:30:00" ||
        this.timeString == "02:30:00" ||
        this.timeString == "03:30:00" ||
        this.timeString == "04:30:00" ||
        this.timeString == "05:30:00" ||
        this.timeString == "06:30:00" ||
        this.timeString == "07:30:00" ||
        this.timeString == "08:30:00" ||
        this.timeString == "09:30:00" ||
        this.timeString == "10:30:00" ||
        this.timeString == "11:30:00" ||
        this.timeString == "12:30:00" ||
        this.timeString == "13:30:00" ||
        this.timeString == "14:30:00" ||
        this.timeString == "15:30:00" ||
        this.timeString == "16:30:00" ||
        this.timeString == "17:30:00" ||
        this.timeString == "18:30:00" ||
        this.timeString == "19:30:00" ||
        this.timeString == "20:30:00" ||
        this.timeString == "21:30:00" ||
        this.timeString == "22:30:00" ||
        this.timeString == "23:30:00" ||
        this.timeString == "00:30:00"
      ) {
        window.location.reload();
        window.location.reload();
      }
    }, 1000);
  },
  watch: {
    pollingVideoList: function(val) {
      console.warn("轮巡列表发生变化。。。");
      console.log(val)
      if (val.length > 0) {
        // 重构数据结构
        this.localPollingList = [];
        let segKeys = Object.keys(this.segObj);
        val.forEach((stream, index) => {
          if (segKeys.indexOf(stream.screenSpot.segment) > -1) {
            Vue.ls.set("tolerious" + index, stream.metadata.url);
            let obj = new Object();
            let x =
              Number.parseInt(this.segObj[stream.screenSpot.segment]["x"]) +
              Number.parseInt(stream.screenSpot.coordinate.x);
            let y =
              Number.parseInt(this.segObj[stream.screenSpot.segment]["y"]) +
              Number.parseInt(stream.screenSpot.coordinate.y);
            Object.assign(obj, stream);
            Object.assign(obj.screenSpot.coordinate, {
              // originX: stream.screenSpot.coordinate.x,
              // originY: stream.screenSpot.coordinate.y,
              x: x,
              y: y
            });
            this.localPollingList.push(obj);
          }
        });
        this.localPollingList.forEach(polling => {
          let x = polling.screenSpot.coordinate.x;
          let y = polling.screenSpot.coordinate.y;
          this.matrix[x][y].rtmpUrl = polling.metadata.url;
          this.matrix[x][y].node = polling;
        });
      }
    }
  },
  computed: {
    segObj: function() {
      let segObj = {};
      this.screenList.forEach(screen => {
        let urn = `urn:${screen.urn.organization}:${screen.urn.group}:${screen.urn.id}`;
        if (urn == this.screen) {
          let segListTemp = screen.descriptor.properties.segConfig;
          segListTemp.forEach(seg => {
            Object.assign(segObj, {
              [seg.segmentId]: { x: seg.leftTop[0], y: seg.leftTop[1] }
            });
          });
        }
      });
      return segObj;
    },
    ...mapState({
      pollingVideoList: state => state.mapdevice.pollingVideoList,
      screenList: state => state.mapdevice.screenList
    }),
    ...mapGetters([])
  },
  components: { videoContainer }
};
</script>

<style lang="less" scoped>
.common-screen-layout-container {
  width: 100%;
  height: 100%;
  .common-screen-layout-container-inner {
    height: 100%;
    width: 100%;
    .video-item {
      width: 100%;
      height: 100%;
      background-color: #eeeeee;
    }
  }
}
</style>
