<template>
  <div class="leftorRightzq">
    <div class="cameraBox">
      <div class="cameraboxHeader">请对摄像头设置显示位置</div>
      <div class="cameraleft0rRigth">
        <div class="cameraLeft">
          <div class="leftItem">
            <div class="leftItembtn">{{ SelectoptionBtntext }}</div>
          </div>
          <div class="leftItem">
            <div class="leftItemCameralist">
              <div
                v-for="(item, index) in this.x * this.y"
                @click="checkcurrentIndex(item, index)"
                :key="index"
                :style="xx"
                :class="
                  currentleftIndex == index
                    ? ['cameraItem', 'lockItem']
                    : ['cameraItem']
                "
              ></div>
            </div>
          </div>
          <div class="leftItem">
            <div class="leftItembtnbottom" @click="closeControl(true)">
              确定
            </div>
            <div class="leftItembtnbottom" @click="closeControl(false)">
              取消
            </div>
          </div>
        </div>
        <div class="cameraSelect">
          <el-button
            class="cameraSelectBtn"
            size="small"
            type="primary"
            @click="selectScreen"
            >{{ SelectoptionBtntext }}</el-button
          >
          <div
            class="cameraSelectoption"
            v-show="SelectoptionVisible"
            v-for="item in screenList"
            :key="item.urn.id"
            @click="selectTxt(item)"
          >
            {{ item.descriptor.properties.screenName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
// import draggable from 'vuedraggable'
export default {
  data() {
    return {
      cameraListleft: [],
      cameraListright: [],
      currentleftIndex: -1,
      currentrightIndex: -1,
      currentitem: {},
      leftOrRight: -1,
      params: {},
      lockeData: {},
      x: 1,
      y: 1,
      currentScreen: {},
      SelectoptionVisible: false,
      SelectoptionBtntext: "请选择屏幕",
      selectedSementId: "",
      axisx: "",
      axisy: ""
    };
  },
  props: ["screenList"],
  mounted() {
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
  },
  created() {
    this.x = 4;
  },
  watch: {
    screenList: function(val) {
      if (val.length > 0) {
        let urn = val[0].urn;
        let screen = `urn:${urn.organization}:${urn.group}:${urn.id}`;
        sessionStorage.setItem("screen", screen);
      }
    }
  },
  methods: {
    closeControl(data) {
      //关闭控制台
      if (data) {
        let segments = {};
        if (this.selectedSementId) {
          // segments = this.currentScreen.descriptor.segments[this.selectedSementId]
          this.params = {
            urn: `urn:${this.videoRtsp[0].streamNode.urn.organization}:${this.videoRtsp[0].streamNode.urn.group}:${this.videoRtsp[0].streamNode.urn.id}`,
            screenSpot: {
              coordinate: {
                x: this.axisx,
                y: this.axisy,
                z: 0
              },
              screen: {
                organization: this.currentScreen.urn.organization,
                group: this.currentScreen.urn.group,
                id: this.currentScreen.urn.id
              },
              segment: this.selectedSementId
            }
            // schedule: {
            //   lifeCycle: "TILL_CANCELLATION"
            // }
          };
          this.$emit("lockVideo", this.params);
        }
      } else {
        this.$store.commit("HIDE_CONTROL_VISIABLE");
      }
      this.currentleftIndex = -1;
    },
    getX(number, width) {
      if (number % width == 0) {
        return width - 1;
      } else {
        return Number.parseInt(number % width) - 1;
      }
    },
    getY(number, width) {
      if (number % width == 0) {
        return parseInt(number / width) - 1;
      } else {
        return Math.floor(number / width);
      }
    },
    checkcurrentIndex(item, index) {
      this.selectedSementId = "";
      this.currentleftIndex = index;
      let x = this.getX(index + 1, this.x);
      let y = this.getY(index + 1, this.x);
      this.axisx = this.getX(index + 1, this.x);
      this.axisy = this.getY(index + 1, this.x);
      for (const item of this.currentScreen.descriptor.properties.segConfig) {
        if (
          x >= item.leftTop[0] &&
          x <= item.rightBottom[0] &&
          y >= item.leftTop[1] &&
          y <= item.rightBottom[1]
        ) {
          this.selectedSementId = item.segmentId;
          return;
        }
      }
      if (this.selectedSementId == "") {
        this.$message({
          message: "此处不在轮询区域内",
          type: "warning"
        });
        this.currentleftIndex = -1;
      }

      // this.currentrightIndex = -1;
      // this.leftOrRight = 0;
      // this.params = {
      //   urn: `urn:${this.videoRtsp[0].streamNode.urn.organization}:${this.videoRtsp[0].streamNode.urn.group}:${this.videoRtsp[0].streamNode.urn.id}`,
      //   screenSpot: {
      //     coordinate: {
      //       x: this.leftOrRight,
      //       y: this.currentleftIndex,
      //       z: 0
      //     },
      //     screen: {
      //       organization: "bh",
      //       group: "screen",
      //       id: "310115130058A"
      //     },
      //     segment: "ALL"
      //   },

      //   schedule: {
      //     lifeCycle: "TILL_CANCELLATION"
      //   }
      // };
      // this.lockeData = { ...item };
      // localStorage.setItem('lockList',JSON.stringify(this.lockList))
    },
    dragEnd() {
      this.$store.commit("CAMERA_LEFT", this.cameraListleft);
    },
    selectScreen() {
      this.SelectoptionVisible = !this.SelectoptionVisible;
    },
    selectTxt(item) {
      this.SelectoptionBtntext = item.descriptor.properties.screenName;
      this.SelectoptionVisible = false;
      this.x = item.descriptor.properties.width;
      this.y = item.descriptor.properties.height;
      this.currentleftIndex = -1;
      this.currentScreen = item;
    }
  },
  computed: {
    // cameraListleft: {
    //   get() {
    //     return this.$store.state.tools.cameraListleft;
    //   },
    //   set(val) {
    //     this.$store.commit("CAMERA_LEFT", val);
    //   }
    // },
    xx: function() {
      return {
        width: `calc(100%/${this.x})`,
        height: `calc(100%/${this.y})`
      };
    },
    ...mapState({
      videoRtsp: state => state.mapdevice.videoRtsp,
      lockList: state => state.mapdevice.lockList
      // screenList: (state) => state.mapdevice.screenList,
    })
  },
  components: {
    // draggable,
  }
};
</script>

<style lang="less" scoped>
.leftorRightzq {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  .cameraBox {
    width: 1025px;
    height: 599px;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/cameraKuang.png")
      no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -512.5px;
    .cameraboxHeader {
      height: 50px;
      width: 300px;
      color: #01c1f1;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 2px;
    }
    .cameraleft0rRigth {
      width: 80%;
      height: 480px;
      margin: 20px auto;
      display: flex;
      position: relative;
      .cameraLeft {
        flex: 1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 75% 15%;
        .leftItem {
          text-align: center;
          line-height: 33px;
          color: #56b5ec;
          font-size: 14px;
          .leftItemCameralist {
            width: 100%;
            height: 100%;
            background: #154c8f;
            margin: 0 auto;
            .cameraItem {
              // width:25%;
              // height: calc(100% / 3);
              float: left;
              line-height: 60px;
              border: 0.2px solid #ccc;
              box-sizing: border-box;
            }
            // .cameraItem:nth-child(2n-1) {
            //   background: #3b86a9;
            // }
          }
          .leftItembtn {
            width: 132px;
            height: 33px;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/topButton.png")
              no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
          }
          .leftItembtnbottom {
            width: 132px;
            height: 33px;
            margin: 25px auto;
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bottomButton.png")
              no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            display: inline-block;
          }
        }
      }
      .cameraSelect {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        z-index: 9999;
        .cameraSelectBtn {
          padding: 5px 20px;
        }
        .cameraSelectoption {
          color: white;
          background: #103c6b;
          padding: 5px 0px;
          font-size: 12px;
          text-align: center;
          margin-top: 5px;
          cursor: pointer;
        }
      }
      // .cameraRight {
      //   flex: 1;
      //   // background: cornflowerblue;
      //   display: grid;
      //   grid-template-columns: 100%;
      //   grid-template-rows: 10% 75% 15%;
      //   .leftItem {
      //     text-align: center;
      //     line-height: 33px;
      //     color: #56b5ec;
      //     font-size: 14px;
      //     .leftItemCameralist {
      //       width: 400px;
      //       height: 100%;
      //       background: #154c8f;
      //       margin: 0 auto;
      //       .cameraItem {
      //         width: 100px;
      //         height: calc(100% / 3);
      //         float: left;
      //         line-height: 60px;
      //         border: 0.2px solid #ccc;
      //         box-sizing: border-box;
      //       }
      //       .cameraItem:nth-child(2n-1) {
      //         background: #3b86a9;
      //       }
      //       // .cameraItem:nth-child(4n+2){
      //       //   background: #3B86A9;
      //       // }
      //       // .cameraItem:nth-child(4n+3){
      //       //   background: #3B86A9;
      //       // }
      //     }
      //     .leftItembtn {
      //       width: 132px;
      //       height: 33px;
      //       background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/topButton.png")
      //         no-repeat;
      //       background-size: 100% 100%;
      //       margin: 0 auto;
      //     }
      //     .rightItembtnbottom {
      //       width: 132px;
      //       height: 33px;
      //       margin-top: 25px;
      //       background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/bottomButton.png")
      //         no-repeat;
      //       background-size: 100% 100%;
      //       margin-left: 50px;
      //       // transform: rotate(180deg);
      //     }
      //   }
      // }
    }
  }
}
.lockItem {
  background: chocolate !important;
}
</style>
<style lang="less">
.el-select-dropdown.el-popper {
  z-index: 9999 !important;
}
.el-message {
  z-index: 99999 !important;
}
</style>
