<template>
  <div class="stream-container">
    <div
      class="stream-item"
      v-for="(stream, index) in currentStreamList"
      :key="index"
    >
      <videojsHttpStreaming
        :url="stream"
        :reffer="'video-' + index"
      ></videojsHttpStreaming>
    </div>
  </div>
</template>

<script>
import videojsHttpStreaming from "@/components/videojsHttpStreaming.vue";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      currentStreamList: [],
      streamList: [
        "http://192.168.25.31:8880/live/12977.m3u8",
        "http://192.168.25.31:8880/live/12964.m3u8",
        "http://192.168.25.31:8880/live/12971.m3u8",
        "http://192.168.25.31:8880/live/12972.m3u8",
        "http://192.168.25.31:8880/live/12963.m3u8",
        "http://192.168.25.31:8880/live/12970.m3u8",
        "http://192.168.25.31:8880/live/12983.m3u8",
        "http://192.168.25.31:8880/live/12968.m3u8",
        "http://192.168.25.31:8880/live/12967.m3u8",
        "http://192.168.25.31:8880/live/12975.m3u8",
        "http://192.168.25.31:8880/live/12981.m3u8",
        "http://192.168.25.31:8880/live/12979.m3u8",
        "http://192.168.25.31:8880/live/12974.m3u8",
        "http://192.168.25.31:8880/live/12985.m3u8",
        "http://192.168.25.31:8880/live/12984.m3u8",
        "http://192.168.25.31:8880/live/12993.m3u8",
        "http://192.168.25.31:8880/live/12989.m3u8",
        "http://192.168.25.31:8880/live/12987.m3u8",
        "http://192.168.25.31:8880/live/12990.m3u8",
        "http://192.168.25.31:8880/live/12988.m3u8",
        "http://192.168.25.31:8880/live/12992.m3u8",
        "http://192.168.25.31:8880/live/12973.m3u8",
        "http://192.168.25.31:8880/live/12994.m3u8",
        "http://192.168.25.31:8880/live/12966.m3u8",
        "http://192.168.25.31:8880/live/12982.m3u8",
        "http://192.168.25.31:8880/live/12976.m3u8",
        "http://192.168.25.31:8880/live/12986.m3u8",
        "http://192.168.25.31:8880/live/12980.m3u8"
      ]
    };
  },
  methods: { ...mapMutations([]) },

  mounted() {
    // for (let j = 0; j < 4; j++) {
    //   this.currentStreamList.push(this.streamList[j]);
    // }
    setInterval(() => {
      console.log("发生替换...");
      let r = Math.floor(Math.random() * (this.streamList.length - 1));
      // 判断当前列表长度
      if (this.currentStreamList.length < 4) {
        console.log("添加一次...");
        this.currentStreamList.push(this.streamList[r]);
      } else {
        let i = Math.floor(Math.random() * (this.currentStreamList.length - 1));
        this.currentStreamList.splice(i, 1, this.streamList[r]);
      }
    }, 10000);
  },
  filters: {},
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: { videojsHttpStreaming }
};
</script>

<style lang="less" scoped>
.stream-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: blue;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  .stream-item {
    background-color: orange;
    width: 100%;
    height: 100%;
  }
}
</style>
