<template>
  <div class="turning-screen-layout-container">
    <div
      class="item"
      :style="{ width: itemWidth, height: itemHeight }"
      v-for="(item, index) in turningList"
      :key="index"
    >  
      <!-- <video-container
        :reffer="'video-' + index"
        :url="item.metadata.url"
        :node="item"
      ></video-container> -->
      <hlsVideoContainer
        :node="item"
        :url="item.metadata.url"
        :reffer="'video-' + index"
      ></hlsVideoContainer>
      <!-- <videojsHttpStreaming
        :node="item"
        :url="item.metadata.url"
        :reffer="'video-' + index"
      ></videojsHttpStreaming> -->
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoContainer from "@/components/videoContainer.vue";
import hlsVideoContainer from "@/components/hlsVideoContainer.vue";
import videojsHttpStreaming from "@/components/videojsHttpStreaming.vue";

export default {
  data() {
    return {
      timeList: [],
      videoList: [],
      clientHeight: 0,
      clientWidth: 0,
      itemWidth: "0%",
      itemHeight: "0%",
      turningList: [],
      thatHlsObj: null
    };
  },
  methods: {
    generateTimeList: function() {
      for (var i = 0; i < 24; i++) {
        if (i < 10) {
          let timeString1 = "0" + String(i) + ":00" + ":00";
          this.timeList.push(timeString1);
          timeString1 = "0" + String(i) + ":10" + ":00";
          this.timeList.push(timeString1);
          timeString1 = "0" + String(i) + ":20" + ":00";
          this.timeList.push(timeString1);
          timeString1 = "0" + String(i) + ":30" + ":00";
          this.timeList.push(timeString1);
          timeString1 = "0" + String(i) + ":40" + ":00";
          this.timeList.push(timeString1);
          timeString1 = "0" + String(i) + ":50" + ":00";
          this.timeList.push(timeString1);
        } else {
          let timeString1 = String(i) + ":00" + ":00";
          this.timeList.push(timeString1);
          timeString1 = String(i) + ":10" + ":00";
          this.timeList.push(timeString1);
          timeString1 = String(i) + ":20" + ":00";
          this.timeList.push(timeString1);
          timeString1 = String(i) + ":30" + ":00";
          this.timeList.push(timeString1);
          timeString1 = String(i) + ":40" + ":00";
          this.timeList.push(timeString1);
          timeString1 = String(i) + ":50" + ":00";
          this.timeList.push(timeString1);
        }
      }
    },
    /**
     * 该函数的目的是为了转换pollingVideoList中的node到真实的位置。
     * streamNode {Object} 到来的视频流节点
     * segConfigList {Array} screen中segConfig字段的值
     */
    convertStreamNode2LiveList: function(streamNode) {
      let segmentName = streamNode.screenSpot.segment;
      //   在区域中的坐标
      let locationInSegmentX = streamNode.screenSpot.coordinate.x;
      let locationInSegmentY = streamNode.screenSpot.coordinate.y;
      //   块在真实格子中的位置=在区域中的坐标+区域相对于屏幕的坐标
      let segmentInSegmentList = null;
      let segmentInScreenX = undefined;
      let segmentInScreenY = undefined;
      this.currentScreenSegmentConfig.forEach(segment => {
        if (segment.segmentId == segmentName) {
          segmentInSegmentList = segment;
          segmentInScreenX = segment.leftTop[0];
          segmentInScreenY = segment.leftTop[1];
        }
      });
      let realPositionX = locationInSegmentX + segmentInScreenX;
      let realPositionY = locationInSegmentY + segmentInScreenY;
      let index = realPositionY * this.screenGridWidth + realPositionX;
      this.turningList.splice(index, 1, streamNode);
      this.turningList.push(1);
      this.turningList.pop();
    },
    ...mapMutations([])
  },
  created() {
    for (let i = 0; i < this.screenGridWidth * this.screenGridHeight; i++) {
      this.turningList.push({ metadata: {} });
    }
  },
  mounted() {
    this.generateTimeList();
    // setInterval(() => {
    //   let d = new Date();
    //   let second = d.getSeconds();
    //   if (second >= 0 && second < 5) {
    //     second = "00";
    //   }
    //   let timeString = `${d.getHours()}:${d.getMinutes()}:${second}`;
    //   if (this.timeList.indexOf(timeString) > -1) {
    //     console.log("执行...");
    //     window.location.reload();
    //   }
    // }, 2000);
    this.screen = this.$route.params.screen;
    sessionStorage.setItem("screen", this.screen);
    for (let i = 0; i < this.screenGridWidth * this.screenGridHeight; i++) {
      this.videoList.push({ name: `item${i}` });
    }
    this.$store.dispatch("getScreens", { start: 0, count: 100 });
    setTimeout(() => {
      this.$store.dispatch("getCurrentWSvideoList");
    }, 2000);
    this.clientHeight = document.body.clientHeight;
    this.clientWidth = document.body.clientWidth;
    this.itemWidth = 100 / this.screenGridWidth + "%";
    this.itemHeight = 100 / this.screenGridHeight + "%";
    this.$store.commit("INIT_WEBSOCKET");
  },
  filters: {},
  watch: {
    turningList: function(val) {
      let a = [];
      val.forEach(item => {
        a.push(item.metadata.url);
      });
    },
    pollingVideoList: function(val) {
      if (val.length > 0) {
        val;
        val.forEach(polling => {
          this.convertStreamNode2LiveList(polling);
        });
      }
    }
  },
  computed: {
    screenGridWidth: function() {
      return Number.parseInt(this.$route.query.width);
    },
    screenGridHeight: function() {
      return Number.parseInt(this.$route.query.height);
    },
    currentScreenSegmentConfig: function() {
      let config = null;
      this.screenList.forEach(screen => {
        if (
          `urn:${screen.urn.organization}:${screen.urn.group}:${screen.urn.id}` ==
          sessionStorage.getItem("screen")
        ) {
          config = screen.descriptor.properties.segConfig;
        }
      });
      return config;
    },
    ...mapState({
      pollingVideoList: state => state.mapdevice.pollingVideoList,
      screenList: state => state.mapdevice.screenList
    }),
    ...mapGetters([])
  },
  components: { videojsHttpStreaming, videoContainer, hlsVideoContainer }
};
</script>

<style lang="less" scoped>
.turning-screen-layout-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .item {
    background-color: #00509b;
  }
}
</style>
