<template>
  <div class="stream-container">
    <div class="rightIcon" @click="countPlus"> → </div>
    <div
      style="
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: repeat(3, 33.33%);
      "
    >
      <div
        class="stream-item"
        v-for="(stream, index) in markvideolist"
        :key="index"
      >
        <button
          class="check_btn button button--sacnite"
          @click="markVideo(stream)"
        >
          标记
        </button>
        <!-- <videojsHttpStreaming
        @reportError="handleReportError"
        :url="stream.url"
        :reffer="'video-' + index"
      ></videojsHttpStreaming> -->
        <!-- {{stream}}
      {{stream.port+7}} -->
        <rtspws
          :videoid="stream.id"
          :server="stream.server"
          :port="stream.port"
          :videoData="{ url: stream.url, id: stream.id }"
        ></rtspws>
      </div>
    </div>

    <!-- <button @click="closevideo">关闭</button> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import rtspws from "@/components/rtspws";
export default {
  data() {
    return {
      params: {
        pageSize: 9,
        pageNo: 1
      }
    };
  },
  props: [],
  methods: { ...mapMutations([]),
    countPlus(){
      this.params.pageNo++
      this.$store.dispatch("markVideos", this.params);
    },
    markVideo(item){
      this.$confirm('是否将此摄像头标记为正常?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('markStream',{camId:item.id,status:0})
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
      
    }
  },

  created() {},
  mounted() {
    this.$store.dispatch("markVideos", this.params);
  },
  watch: {},
  computed: {
    ...mapState({
      markvideolist: (state) => state.videoCycle.markvideolist
    }),

    ...mapGetters([])
  },
  components: {
    rtspws
  }
};
</script>

<style lang="less" scoped>
.stream-container {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  position: relative;
}
.rightIcon{
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0,.5);
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -30px;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
  text-align: center;
  line-height: 60px;
  transition: all .5s;
}
.rightIcon:hover{
  color: white;
  background: rgba(0, 0, 0);
}
.stream-item {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  position: relative;
  .check_btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
.button {
  float: left;
  min-width: 80px;
  max-width: 120px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
.button--sacnite {
  width: 70px;
  height: 30px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--sacnite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #37474f;
  background: white;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite:hover {
  color: #37474f;
}
.button--sacnite:hover::before {
  box-shadow: inset 0 0 0 2px #37474f;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
</style>
