<template>
  <div class="video-container">
    <div class="arc-container" v-if="showLoading">
      <div class="column">
        <div class="container animation-6">
          <div class="shape shape1"></div>
          <div class="shape shape2"></div>
          <div class="shape shape3"></div>
          <div class="shape shape4"></div>
        </div>
      </div>
      <div class="title-container">
        <h3>视频加载中1...</h3>
      </div>
    </div>
    <div class="hover-mask">
      <button class="hover-mask-button" @click="clickmarkCameraDamaged">
        标记
      </button>
    </div>
    <video
      class="video-inner"
      :id="reffer"
      :ref="reffer"
      height="100%"
      width="100%"
    ></video>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  props: ["reffer", "url", "node"],
  data() {
    return {
      fake: false,
      showLoading: true,
      player: "",
      currentVideoState: ""
    };
  },
  methods: {
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "http://web-test.bearhunting.cn:58092/jswebrtc/jswebrtc.min.js";
      });
    },
    clickmarkCameraDamaged: function() {
      let urn = this.node.streamNode.urn;
      this.$store.dispatch("markCameraDamaged", {
        deviceUrn: `urn:${urn.organization}:${urn.group}:${urn.id}`,
        message: "人为手工标记",
        reportType: "REPORT_STREAM_INVISIBLE",
        screenUrn: sessionStorage.getItem("screen")
      });
    },
    ...mapActions([]),
    ...mapMutations([])
  },

  mounted() {},
  watch: {
    url: function(val) {
      if (val) {
        this.loadJS().then(res => {
          res;
          let videoElement = document.getElementById(this.reffer);
          this.player = new JSWebrtc.Player(this.url, {
            video: videoElement,
            autoplay: true,
            onPlay: obj => {
              this.showLoading = false;
            }
          });
        });
      }
    }
  },
  computed: {
    ...mapState({ testData: state => state.commonAPI.testData }),
    ...mapGetters([])
  },
  components: {},
  destroyed() {
    this.showLoading = true;
  }
};
</script>

<style lang="less" scoped>
.video-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #00509b;
  .video-inner {
    object-fit: fill;
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 100%;
  }
  .hover-mask {
    z-index: 10;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .hover-mask-button {
    display: none;
  }
  .hover-mask:hover {
    .hover-mask-button {
      display: block;
    }
  }
  .arc-container {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .title-container {
      letter-spacing: 5px;
      color: white;
      width: 180%;
      text-align: center;
    }
  }
}
</style>
