<template>
  <div class="video-popup-container">
    <div class="hls-container" :id="`hlsContaine_${videoid}`" style="height: 100%">
      <!-- <img
        :ref="videoid"
        :src="imgSrc"
        style="width:100%;height:100%"
      /> -->
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
// import axios from "axios";
export default {
  props: ["videoid", "server", "port", "videoData"],
  data() {
    return {
      imgSrc: '',
      ws: null,
      player1: null,
    };
  },
  methods: {
    startup: function () {
      let canvas = document.createElement('canvas')
      canvas.id = this.videoid
      canvas.style.width = '100%'
      canvas.style.height = '100%'
      canvas.style.background = '#071123'
      let box = document.getElementById(`hlsContaine_${this.videoid}`)
      box.appendChild(canvas)
      var url1 = `${this.server}/live?type=video&camId=${this.videoid}`;
      var canvas1 = document.getElementById(this.videoid);
      this.player1 = new JSMpeg.Player(url1, {
        canvas: canvas1,
        decodeFirstFrame: false
      });
      console.log(this.player1);
      // this.ws = new WebSocket(`${this.server}/live?type=video&camId=${this.videoid}`);
      // this.ws.binaryType = "arraybuffer";
      // this.ws.onopen = function (event) {
      //   console.log("Connect");
      // };
      // var that = this;
      // this.ws.onmessage = function (event) {
      //   that.imgSrc = `data:image/png;base64,${JSON.parse(event.data).base64}`
      // }
    },
    ...mapMutations([])
  },
  beforeUpdate() { },
  mounted() {
    // let box = document.getElementById(`hlsContaine_${this.videoid}`)
    // while (box.firstChild) {
    //   box.removeChild(box.firstChild)
    // }
    setTimeout(() => {
      this.startup();
    }, 200);

  },
  filters: {},
  watch: {
    videoid: function (val) {
      // if (val) {
      //   let box = document.getElementById(`hlsContaine_${this.videoid}`)
      //   while (box.firstChild) {
      //     box.removeChild(box.firstChild)
      //   }
      //   this.player1.destory()
      // }
      // setTimeout(() => {
      //   this.startup();
      // }, 200);

    }
  },
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.video-popup-container {
  width: 100%;
  height: 100%;
  .hls-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #071123;
  }
}
</style>
