<template>
  <div class="hls-container" style="height:100%;">
    <video
      controls
      autoplay
      :id="reffer"
      :ref="reffer"
      :src="url"
      style="height:100%;width:100%;object-fit: fill;"
    ></video>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  props: ["reffer", "url", "node", "visible"],
  data() {
    return { player: "" };
  },
  methods: {
    ...mapMutations([])
  },

  mounted() {
    this.player = videojs(this.reffer, {
      controls: false,
      autoplay: true,
      loop: true,
      preload: "auto",
      loadingSpinner: false,
      errorDisplay: false
    });
    this.player.src({
      type: "application/x-mpegURL",
      src: this.url
    });
    let that = this;
    this.player.on("error", function(e) {
      console.log(e);
      that.$emit("reportError", that.url);
    });
  },
  filters: {},
  watch: {
    visible: function(val) {
      console.log(".....");
      console.log(val);
    },
    url: function(val) {
      if (val) {
        console.log(val);
        this.player.src({
          type: "application/x-mpegURL",
          src: val
        });
      }
    }
  },
  computed: { ...mapState({}), ...mapGetters([]) },
  components: {}
};
</script>

<style lang="less" scoped>
.vjs-loading-spinner {
  font-size: 2.5em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin-top: -1em;
  margin-left: -1.5em;
  display: none;
}
</style>
