<template>
  <div class="video-popup-container" v-if="visible">
    <!-- <VueDragResize :isActive="true" :w="200" :h="200" v-on:resizing="resize" v-on:dragging="resize"> -->
      <div class="popup-container">
        <div class="left-top-corder"></div>
        <div class="right-top-corder"></div>
        <div class="left-bottom-corder"></div>
        <div class="right-bottom-corder"></div>
        <img
          class="title-cha"
          @click="closePopup"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/video-cha2x.png"
          alt
        />
        <div class="title-container" style="display: none">
          <img
            class="title-container-img"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/rockfish-bigscreen/popup-title-bg%402x.png"
            alt
          />
          <span class="title-container-inner">视频监控</span>
        </div>
        <div class="video-inner-container">
          <video-container
            :node="node"
            v-if="showVideoContainer"
            :url="videoContainerUrl"
            :reffer="videoPopup"
          ></video-container>
        </div>
        <div class="btn-container">
          <div class="left-btn" @click="lockVideo">
            <span>视频锁定</span>
          </div>
          <!-- <div class="right-btn" @click="showModalContainer">
            <span>列表展示</span>
          </div>-->
        </div>
        <div class="modal-container" v-if="showModal">
          <div class="content-container">
            <p>是否将此视频固定在左侧视频区域?</p>
          </div>
          <div class="btn-container" style="width: 80%">
            <div class="left-btn" @click="hideModalContainer">
              <span>确定</span>
            </div>
            <div class="right-btn" @click="hideModalContainer">
              <span>取消</span>
            </div>
          </div>
        </div>
      </div>
    <!-- </VueDragResize> -->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import videoContainer from "@/components/videoContainer.vue";
// import VueDragResize from "vue-drag-resize";
export default {
  props: ["visible", "node"],
  data() {
    return {
      videoContainerUrl: "",
      showVideoContainer: false,
      videoPopup: "videoPopup",
      showModal: false,
      options: {
        flash: {
          controls: true,
          autoplay: true,
          preload: true,
          swf:
            "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-mini-program/video-js.swf"
        }
      },
      // width: 0,
      // height: 0,
      // top: 0,
      // left: 0
    };
  },
  methods: {
    loadJS: function () {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/cyberplayer.js";
      });
    },
    showModalContainer: function () {
      this.showModal = true;
    },
    hideModalContainer: function () {
      this.showModal = false;
    },
    closePopup: function () {
      // this.player.dispose();
      Object.assign(this.videoconcatparams, {
        action: "DISCONNECT",
        cameraId: [
          {
            playToken: this.videoRtsp[0].metadata.playToken,
            streamNodeUrn: this.currentUrn
          }
        ]
      });
      this.$store.dispatch("connectRandomVideo", this.videoconcatparams);
      console.log(this.videoconcatparams);
      this.$emit("video:close");
    },
    lockVideo() {
      this.$store.commit("SHOW_CONTROL_VISIABLE");
    },
    // resize(newRect) {
    //   this.width = newRect.width*4;
    //   this.height = newRect.height*4;
    //   this.top = newRect.top*4;
    //   this.left = newRect.left*4;
    // },
    ...mapMutations([])
  },
  watch: {
    videoRtsp: function (val) {
      if (val) {
        this.showVideoContainer = true;
        this.videoContainerUrl = "";
        setTimeout(() => {
          this.videoContainerUrl = val[0].metadata.url;
        }, 2000);
      }
    }
    // visible: function (val) {
    //   if (val) {
    //     this.loadJS().then((res) => {
    //       res;
    //       var player = cyberplayer("video-popup").setup({
    //         width: "100%",
    //         height: "100%",
    //         backcolor: "#FFFFFF",
    //         stretching: "uniform",
    //         file: this.videoRtsp[0].metadata.url,
    //         type: "rtmp",
    //         rtmp: {
    //           reconnecttime: 5,
    //         },
    //         ak: "85e0ba20cd14426a91f6732f5866c28c",
    //         autoStart: true,
    //         repeat: false,
    //         volume: 100,
    //         controls: "over",
    //       });
    //       player;
    //     });
    //   }
    // },
  },
  mounted() {
    // this.loadJS();
  },
  computed: {
    ...mapState({
      videoRtsp: (state) => state.mapdevice.videoRtsp,
      videoconcatparams: (state) => state.mapdevice.videoconcatparams,
      currentUrn: (state) => state.mapdevice.currentUrn
    }),
    ...mapGetters([])
  },
  destroyed() {
    this.showVideoContainer = false;
  },
  components: { videoContainer,
  //  VueDragResize 
   }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/components/videoRandomPopup.less";
</style>
