<template>
  <div
    class="stream-container"
    :style="`display: grid;
      grid-template-columns: repeat(2,50%);
      grid-template-rows: repeat(3,33.33%);`"
  >
      
    <div class="stream-item"
      v-for="(stream, index) in leftStreamList"
      :key="index"
      :style="{ height: realHeight }"
    >
      <button
        class="check_btn button button--sacnite"
        @click="markVideo(stream)"
      >
        标记
      </button>

      <rtspws
        :server='server'
        :videoid="stream.id"
        :videoData="{ url: stream.url, id: stream.id }"
      ></rtspws>
       <!-- <videojsHttpStreaming
        :camera='stream'
      ></videojsHttpStreaming> -->
    </div>

  </div>
</template>

<script>
import videojsHttpStreaming from "@/components/anzhiVideo.vue";
import { mapState, mapGetters, mapMutations } from "vuex";
import rtspws from "@/components/videoOpencv";
import { WSconnect } from "@/utils/videoSocket";
export default {
  data() {
    return {
      realHeight: "100%",
      currentStreamList: [],
      streamObject: {},
      cameraList: [],
      server:'ws://10.242.155.3:7086'
      // server:'ws://192.168.123.232:7086'
    };
  },
  methods: {

    generateRandom: function () {},
    handleReportError: function (data) {
      this.leftStreamList.forEach((item, index) => {
        if (item.url == data) {
          this.$store.dispatch("changeStream", {
            camId: item.camId,
            index: index
          });
        }
      });
    },
    markVideo(item) {
      console.log(item);
      this.$store.dispatch("markStream", { camId: item.camId });
    },
    ...mapMutations([])
  },

  mounted() {
    // console.log(this.$route.query.width, this.$route.query.height);
    // let h = document.body.clientHeight;
    // let realHeight = h / this.$route.query.height;
    // this.realHeight = Number.parseInt(realHeight).toString() + "px";

      WSconnect('right');

  },
  filters: {},
  watch: {},
  computed: {
    ...mapState({
      leftStreamList: (state) => state.videoCycle.leftStreamList
    }),

    ...mapGetters([])
  },
  components: { videojsHttpStreaming, rtspws },
  destroyed() {
    console.log("消费掉");
  }
};
</script>

<style lang="less" scoped>
.stream-container {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;

  .stream-item {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    position: relative;
    .check_btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
}
.button {
  float: left;
  min-width: 80px;
  max-width: 120px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
.button--sacnite {
  width: 70px;
  height: 30px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--sacnite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #37474f;
  background: white;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite:hover {
  color: #37474f;
}
.button--sacnite:hover::before {
  box-shadow: inset 0 0 0 2px #37474f;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
</style>
