<template>
  <div class="cameraLeft">
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-0-0"></div> -->
      <video-container reffer="video-0-0" :url="leftScreen1"></video-container>
    </div>
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-0-1"></div> -->
      <video-container reffer="video-0-1" :url="leftScreen2"></video-container>
    </div>
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-0-2"></div> -->
      <video-container reffer="video-0-2" :url="leftScreen3"></video-container>
    </div>
  </div>
</template>

<script>
import videoContainer from "@/components/videoContainer.vue";
import { mapState } from "vuex";
import { config as configuration } from "@/utils/config.js";
import Vue from "vue";
export default {
  data() {
    return {
      leftScreen1Visible: true,
      leftScreen2Visible: true,
      leftScreen3Visible: true,
      timeString: ""
    };
  },
  methods: {},
  created() {},
  mounted() {
    Vue.ls.set("zone", configuration.identifier.sanlin.token);
    let screen = this.$route.params.screen;
    sessionStorage.setItem("screen", screen);
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
      if (
        this.timeString == "23:30:00" ||
        this.timeString == "05:00:30" ||
        this.timeString == "12:00:00"
      ) {
        window.location.reload();
      }
    }, 1000);
    this.$store.commit("INIT_WEBSOCKET");
    this.$store.dispatch("getCurrentWSvideoList");
  },
  computed: {
    ...mapState({
      cameraListLeft: (state) => state.mapdevice.cameraListLeft,
      leftScreenSrc: (state) => state.mapdevice.leftScreenSrc,
      leftScreen1: (state) => state.mapdevice.leftScreen1,
      leftScreen2: (state) => state.mapdevice.leftScreen2,
      leftScreen3: (state) => state.mapdevice.leftScreen3
    })
  },
  watch: {},
  components: { videoContainer }
};
</script>

<style lang="less">
.cameraLeft {
  width: 100%;
  height: 100vh;
  background: chocolate;
  display: flex;
  flex-direction: column;
  .cameraItem {
    background-color: #00509b;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    .arc-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 30%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .title-container {
        letter-spacing: 5px;
        color: white;
      }
    }
  }
}
</style>