.big-screen-container {
  background-image: url("~@/assets/images/lingang/bg@2x.png");
  height: 100%;
  width: 100%;
  header.header-class {
    height: 70px;
    width: 100%;
    position: relative;
    .weather {
      width: 20%;
      position: absolute;
      top: 10px;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      color: rgb(7, 277, 253);
      left: 50px;
      font-size: 18px;
      span {
        display: inline-block;
        margin-right: 20px;
      }
    }
    .date-container {
      width: 30%;
      position: absolute;
      top: 10px;
      font-size: 20px;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      color: rgb(7, 277, 253);
      right: 50px;
      span {
        display: inline-block;
        margin-left: 20px;
      }
      span.gold {
        color: gold;
        display: inline-block;
        width: 80px;
        text-align: right;
      }
    }
    img.header-img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .title {
      width: 40%;
      text-align: center;
      color: rgb(7, 277, 253);
      font-size: 34px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 5px;
    }
  }
  .body-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    height: calc(100% - 70px);
    .body-container-left,
    .body-container-right {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .body-container-middle {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 1fr;
      padding: 0 10px;
      position: relative;
      .citystate-table {
        position: absolute;
        //  top:20px;
        //  left: 20px;
        height: 50%;
        width: 60%;
        z-index: 9999;
      }
      .toolLine {
        width: 10rem;
        min-height: 22rem;
        // background: brown;
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 666;
        display: flex;
        flex-direction: column;
        .toolline_header {
          height: 3rem;
          background: #268cbb;
          color: white;
          font-size: 1.2rem;
          text-align: center;
          line-height: 3rem;
        }
        .toolline_footer {
          height: 2.5rem;
          background: rgba(8, 32, 63, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          .tool_btn {
            background: #1a4882;
            width: 70%;
            height: 1.5rem;
            color: white;
            line-height: 1.5rem;
            text-align: center;
            border-radius: 0.5rem;
            cursor: pointer;
          }
        }

        .toolline_item {
          cursor: pointer;
          height: 2.5rem;
          background: rgba(8, 32, 63, 0.8);
          display: grid;
          grid-template-columns: 2.5rem auto;
          grid-template-rows: 100%;
        }
        .toolline_item_con:first-child {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #3282a5;
          text-align: left;
          img {
            width: 1rem;
            height: 1rem;
          }
        }
        .toolline_item_con:nth-child(2) {
          cursor: pointer;
          line-height: 2.3rem;
          color: #3282a5;
        }
        .toolLine_item {
          flex: 1;
          cursor: pointer;
        }
        .toolLine_item:nth-child(1) {
          background: url("~@/assets/images/lingang/shiping@2x.png") no-repeat;
          background-size: 100%;
        }
        .toolLine_item:nth-child(2) {
          background: url("~@/assets/images/lingang/moxing@2x.png") no-repeat;
          background-size: 100%;
        }
        .toolLine_item:nth-child(3) {
          background: url("~@/assets/images/lingang/qiehuan@2x.png") no-repeat;
          background-size: 100%;
        }
        .toolLine_item:nth-child(4) {
          background: url("~@/assets/images/lingang/chuanganqi@2x.png")
            no-repeat;
          background-size: 100%;
        }
        .toolLine_item:nth-child(5) {
          background: url("~@/assets/images/lingang/zhibanbiao@2x.png")
            no-repeat;
          background-size: 100%;
        }
        .toolLine_item:nth-child(6) {
          background: url("~@/assets/images/lingang/组 137.png") no-repeat;
          background-size: 100%;
        }
      }
    }
  }
  .golble-pop {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    // background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}
#map-container {
  width: 100%;
  height: 100%;
}
