.dialog-bg{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  .dialog-container{
    width: 700px;
    min-height: 100px;
    background-color: rgba(6, 14, 58, 0.88);
    position: relative;
    border: 1px solid #24569f;
    .dialog-header{
      background: url("../../images/lingang/huiyi@2x.png");
      position: absolute;
      top: 0;
      width: 100%;
      height: 49px;
      color: #FFFFFF;
      font-size: 26px;
      line-height: 49px;
      padding-left: 40px;
      .close-button{
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }
      .close-button:hover{
        transition: transform 0.5s;
        transform:rotate(180deg);
      }
    }
  }
}
.table-panel{
  margin-top: 50px;
  padding-top: 10px;
  .number-panel{
    color: #FFFFFF;
    background: url("../../images/lingang/textborder.png") no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    margin: 0px 0 0 30px;
    .spec_sty1{
      color: #2FEEFF;
      margin-right: 15px;
    }
    .spec_sty2{
      color: #FFC600;
    }
  }
  .el-table, .el-table__expanded-cell{
    background-color: transparent;
  }
  .el-table /deep/ th, .el-table /deep/ tr{
    background-color: transparent;
  }
  .el-table /deep/ td, .el-table /deep/ th.is-leaf{
    border: none;
  }
  .el-table /deep/ thead{
    color: #70F7FD;
    font-size: 16px;
  }
  .el-table{
    color: #FFFFFF;
    font-size: 16px;
  }
  .el-table /deep/ th:hover, .el-table /deep/ tr:hover{
    background-color: transparent;
  }
  .el-table--border::after, .el-table--group::after, .el-table::before{
    background-color: transparent;
  }
  .page-bottom{
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .el-dialog, .el-pager /deep/ li{
    background: transparent;
    background-color: transparent;
  }
  .el-pagination button:disabled{
    background-color: transparent;
  }
  .el-pagination /deep/ .el-pagination__total{
    color: #FFFFFF;
  }
  .el-pagination /deep/ .el-pagination__jump{
    color: #FFFFFF;
  }
  .el-table--enable-row-hover /deep/ .el-table__body tr:hover>td{
    background-color: transparent !important;
  }


  ::-webkit-scrollbar {
    width: 3px; /*对垂直流动条有效*/
    height: 3px; /*对水平流动条有效*/
  }

  /*定义滚动条的轨道颜色、内阴影及圆角*/
  ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #141b42;
    border-radius: 3px;
  }


  /*定义滑块颜色、内阴影及圆角*/
  ::-webkit-scrollbar-thumb{
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #70F7FD;
  }

  /*定义两端按钮的样式*/
  ::-webkit-scrollbar-button {
    background-color:#141b42;
  }

  /*定义右下角汇合处的样式*/
  ::-webkit-scrollbar-corner {
    background:khaki;
  }


}