@import './color.less';
@import './flex.less';
@import './height.less';
@import './width.less';

.signs-dialog-title-container {
    height: 80px;
    line-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .basic-status-bar {
        height: 30px;
        width: 10px;
        background-color: gold;
    }

    .shangbao-status-bar {
        height: 30px;
        width: 10px;
        background-color: greenyellow;
    }

    .xietong-status-bar {
        height: 30px;
        width: 10px;
        background-color: indianred;
    }

    .chuzhi-status-bar {
        height: 30px;
        width: 10px;
        background-color: mediumorchid;
    }

    .finish-status-bar {
        height: 30px;
        width: 10px;
        background-color: mediumslateblue;
    }

    .signs-dialog-title-content {
        font-size: 36px;
        color: #ffffff;
        margin-left: 10px;
    }
}


.textEllipsis{
    flex: 1;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
// 超出n行省略号展示
.textmoreEllipsis{
    .textmoreEllipsis(5);
}
.textmoreEllipsis(@n:5){
    display: -webkit-box;
    -webkit-line-clamp: @n;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}


.toolType {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
// 小手
.handStyle{
    cursor: pointer;
}
.close-btn{
    color: #FFFFFF;
}