.info-box{
  border: 4px solid #153DA3;
  background-color: #031435;
  width: 1050px;
  height: auto;
  color: white;
  z-index: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-height: 1250px;
  min-height: 500px;
  overflow: scroll;
  .left-corner {
    height: 48px;
    width: 32px;
    border-top: 8px solid #07E6ED;
    border-left: 8px solid #07E6ED;
    position: absolute;
    left: -3px;
    top: -6px;
    border-top-left-radius: 5px;
    z-index: 15;
  }

  .right-corner {
    height: 48px;
    width: 32px;
    border-top: 8px solid #07E6ED;
    border-right: 8px solid #07E6ED;
    position: absolute;
    right: -10px;
    top: -6px;
    border-top-left-radius: 5px;
    z-index: 15;
  }

  .left-bottom-corner {
    height: 48px;
    width: 32px;
    border-left: 8px solid #07E6ED;
    border-bottom: 8px solid #07E6ED;
    position: absolute;
    left: -3px;
    bottom: -6px;
    border-bottom-left-radius: 5px;
    z-index: 15;
  }

  .right-bottom-corner {
    height: 48px;
    width: 32px;
    border-right: 8px solid #07E6ED;
    border-bottom: 8px solid #07E6ED;
    position: absolute;
    right: -10px;
    bottom: -6px;
    border-bottom-left-radius: 5px;
    z-index: 15;
  }
  .pop-title{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    height: 70px;
    width: 100%;
    background-color: #031435;
    display: flex;
    justify-content: center;
    position: absolute;
    img{
      width: 603px;
      height: 100%;
    }
    .title-text{
      position: absolute;
      top: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      height: 70px;
      line-height: 70px;
    }
  }
  ul,li{
    list-style: none;
    padding: 0;
    font-size: 34px;
    margin: 0;
  }
  ul{
    display: flex;
    flex-flow: row wrap;
    padding: 0 35px;
    padding-bottom: 20px;
    margin-top: 100px;
    .title1{
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 34px;
      color: #999999;
      padding-left: 14px;
      margin: 20px 0;
      border-left: 6px solid #999999;
    }
    .title2{
      margin-top: 40px;
    }
    li.item1{
      width: 100%;
      flex-shrink: 0;
      padding: 0px 0;
      .data-item1{
        display: flex;
        padding: 8px 0;
        .key-box{
          width: 220px;
          flex-shrink: 0;
          color: #329DFD;
        }
        .value-box{
          flex: 1;
          //margin-left: 20px;
          color: #3DD8E4;
        }
        .box2{
          width: 180px;
        }
      }
    }
    li.item2{
      width: 100%;
      padding: 0px 0;
      .data-item2{
        display: flex;
        flex-flow: row;
        padding: 8px 0;
        .key-box{
          width: 220px;
          flex-shrink: 0;
          color: #329DFD;
        }
        .value-box{
          flex: 1;
          overflow: hidden;
          //margin-left: 20px;
          color: #3DD8E4;
        }
        .box2{
          width: 180px;
        }
      }
    }
  }
  .info-photo{
    //height: 516px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
      width: 46%;
      margin: 0 20px;
      height: 100%;
      margin-bottom: 20px;
    }
  }
  .info-photo2{
    //height: 516px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    img{
      width: 46%;
      margin: 0 20px;
      height: 100%;
      margin-bottom: 20px;
    }
  }
  .close-icon {
    width: 30px;
    height: 30px;
    background: url('../../assets/images/village/chahao.png');
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1000;
    transition: all 1s;
  }
  .close-icon:hover {
    transform: rotate(360deg);
    cursor: pointer;
  }
}
.info-box::-webkit-scrollbar {
  display: none;
}