.w-40 {
    font-size: 28px;
    width: 40%;
    color: #329EFF;
}

.w-50 {
    line-height: 50px;
    margin-top: 5px;
    width: 50%;
}

.w-60 {
    width: 60%;
    font-size: 26px;
    color: #60BCF2;
}

.w-25 {
    width: 25%;
}