<template>
    <div class="number"> 
        <ul id="dataNums"> 
            <li v-for="(item,index) in list" :key="index"> 
                <div class="dataBoc"> 
                    <div class="tt" :style="{transition:'all 2.5s ease-in-out 0s',top:'-'+item.top+'px'}"> 
                        <span v-for="(item2,index2) in numList" :key="index2">{{item2}}</span>                 
                    </div> 
                </div> 
            </li> 
        </ul> 
    </div> 
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
// props:{ number:Number }, 
data() {
    return {
        list:[], 
        numList: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    }
},
methods:{ ...mapMutations([]),
    scroll(){ 
        this.$store.dispatch('getFacePushCount').then(res=>{
            this.list=res.data.toString().split(''); 
            let arr=[]; 
            this.list.forEach((value) => { 
                arr.push({ num:value, top:0 }) 
            }); 
            this.list=arr; 
            let Hei=parseFloat(getComputedStyle(document.getElementById("dataNums")).height);             
            this.list.forEach((value,index) => { 
            setTimeout(()=>{ 
                value.top=parseFloat((value.num*Hei)+(Hei*10)); },index*300); 
            }); 
        })
    }
},

mounted(){
    this.scroll()
},
watch:{},
computed:{ ...mapState({
    // dealAllNum:state=>state.echarts.dealAllNum
}),
...mapGetters([])

},
  components: {

  }
}
</script>

<style lang='less'>
.number { 
    margin-bottom: 10px; 
    text-align: center; 
    // background: cadetblue;
    width: 100%;
    ul { 
        display: inline-block; 
        height: 70px; 
        text-align: center; 
        // background: brown;
        width: 100%;
        padding-left: 0;
        li { 
            float: left; 
            width: 50px; 
            height: 70px; 
            text-align: center; 
            margin: 0 4px; 
            list-style: none;
            // background: url("../assets/images/yuyueshf/number.png") no-repeat center;//背景图                     
            // background-size: 100% 100%; 
            background: #d3ad64;
            border-radius: 5px;
            .dataBoc { 
                position: relative; 
                width: 100%; 
                height: 100%; 
                overflow: hidden; 
                .tt { 
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%; 
                    span{ 
                        width: 100%; 
                        height: 100%; 
                        line-height: 70px; 
                        float: left; 
                        text-align: center; 
                        font-size: 50px; 
                        color: #000; 
                        font-weight: 800;
                    } 
                } 
            } 
        } 
    } 
}
</style>
