// @import '../global.less';

.zhoujiadu-dashboard-container {
    // width: 1920px;
    width: 100%;
    // height: 1080px;
    height: 100%;
    position: relative;
    background-color: #161A44;
    overflow: hidden;
    // background-color: #40C8F4;
    .dashLeft{
        width: 30%;
        height: calc(90% / 3 * 2);
        position: absolute;
        top: 9.5%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .dashleftItem{
            flex: 1;
            margin: 0 1rem 0.2rem;
            background: url('~@/assets/images/sanlin/147@3x.png') no-repeat;
            background-size: 100% 100%;
        }
        .dashleftItem:last-child{
            margin: 0.2rem 1rem 0;
        }
    }
    .dashRight{
        width: 30%;
        height: calc(90% / 3 * 2);
        // background: #ccc;
        position: absolute;
        top: 9.5%;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .dashrightItem{
            flex: 1;
            margin: 0 1rem 0.2rem;
            background: url('~@/assets/images/sanlin/147@3x.png') no-repeat;
            background-size: 100% 100%;
            //overflow: hidden;
        }
        .dashrightItem:last-child{
            margin: 0.2rem 1rem 0;
        }
        .garbagetopright{
            width: 95%;
            height: 100%;
            // background-color: #40C8F4;
            position: absolute;
            top: 0;
            left: 1rem;
        }
    }
    .dashBottom{
        width: 100%;
        height: 30.5%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        .dashBottomItem{
            flex: 1;
            margin: .4rem 0.3rem .5rem 1rem;
            background: url('~@/assets/images/sanlin/147@3x.png') no-repeat;
            background-size: 100% 100%;
        }
        .dashBottomItem1{
            width: 40% !important;
            flex-shrink: 0;
            background: url('~@/assets/images/sanlin/148@3x.png') no-repeat;
            background-size: 100% 100%;
            margin: 0.4rem 0.5rem 0.5rem 0.5rem;
        }
        .dashBottomItem:last-child{
            margin: .4rem 1rem .5rem 0.3rem;
        }
    }
    .dashboard-header {
        margin: 0 auto;
        height: 9.5%;
        position: relative;
        width: 100%;

        .title {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 35rem;
            color: #40C8F4;
            font-size: 2.25rem;
            line-height: 5.3rem;
        }

        .date-week {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: #94BFD1;
            position: absolute;
            left: 3.8rem;
            z-index: 999;
            top: 0;
            height: 3.8rem;
            text-align: left;

            .date {
                font-size: 1.125rem;
                width: 10rem;

            }

            .week {
                width: 10rem;
                font-size: 1.125rem;

            }
        }

        .date-time {
            font-size: 2.25rem;
            color: #94BFD1;
            position: absolute;
            left: 15rem;
            height: 3.8rem;
            z-index: 999;
            top: 0;
        }

        .temperature {
            z-index: 999;
            height: 3.8rem;
            top: 0;
            position: absolute;
            right: 4rem;
            color: #94BFD1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 12.5rem;
            font-size: 1.125rem;
        }
    }
    .mapContainer{
        width: 40%;
        height: 59.5%;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        .mapBackground{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('~@/assets/images/sanlin/map@3x.png') no-repeat;
            background-size: 100% 100%;
            z-index: 2999 !important;
        }
        #map-container {
            position: absolute;
            top: 1%;
            left: 0.8%;
            width: 98%;
            height: 98%;
            z-index: 3000 !important;
            .tool-box {
                height: 21rem;
                width: 4rem;
                border-radius: 1rem;
                background-color: #1E3D67;
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                z-index: 999;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                .img-icon {
    
                    height: 1.7rem;
                    width: 1.7rem;
                    // cursor: pointer;  
                    z-index: 999;
    
                }
    
                .toolset {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
     
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .mapIcon {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .searchBox {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .menu {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .fangda {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .suoxiao {
                    // width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                .clear {
                    // width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .mapIcon:hover .mapType {
                    opacity: 1;
                    margin-right: 6.25rem;
                    // background: #1E3D67 !important;
                }
    
                .searchBox:hover .mapType {
                    opacity: 1;
                    margin-right: 6.25rem;
                    // background: #1E3D67 !important;
                }
    
                .menu:hover .mapType {
                    opacity: 1;
                    margin-right: 6.25rem;
                    // background: #1E3D67 !important;
                }
    
                .mapType {
                    z-index: -2;
                    // width: 12.5rem;
                    height: 3.125rem;
                    background: rgba(21, 48, 94, 0.9);
                    position: absolute;
                    right: 0;
                    top: 0;
                    opacity: 0;
                    transition: all .5s;
                    border-radius: .625rem;
                    // margin-right: 100px;
                    .mapbox {
                        display: flex;
                        width: 12rem;
                       
                        height: 100%;
    
                        .mapjiben,
                        .mapweixing,
                        .maphei {
                            flex: 1;
                            width: 4rem;
                            padding: 0 .5rem;
                            padding-top: .2rem;
                            white-space: nowrap;
                            width: 100%;
                            height: 100%;
    
                            // background-color: green;
                            img {
                                padding: top 0.375rem;
                                width: 2.1875rem;
                                height: 1.5625rem;
                                // background-color: green;
                                // box-sizing: border-box;
                                // position: ab;
                            }
    
                            .maptitle {
                                color: #80AAB9;
                                font-size: 0.625rem;
                            }
                        }
                    }
    
                    .searchInput {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: 80% 80%;
                        grid-template-rows: 100%;
    
                        .inputcontent {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: #8AC0D3;
                            font-size: 1.125rem;
                            padding-left: 1.5625rem;
                        }
    
                        .inputcontent::-webkit-input-placeholder {
                            color: #8AC0D3;
                            font-size: 1.125rem;
                        }
    
                        .inputcontent::-moz-placeholder {
                            color: #8AC0D3;
                            font-size: 1.125rem;
                        }
    
                        .inputcontent:-moz-placeholder {
                            color: #8AC0D3;
                            font-size: 1.125rem;
                        }
    
                        .inputcontent:-ms-input-placeholder {
                            color: #8AC0D3;
                            font-size: 1.125rem;
                        }
    
                        .inputicon {
                            width: 1.25rem;
                            height: 1.25rem;
                            margin-left: 0.625rem;
                            margin-top: 1rem;
                        }
                    }
                    .scenescreenBox{
                        position: absolute;
                        top: 0rem;
                        left: -35rem;
                        width: 35rem;
                        height: 20rem;
                        background:rgba(16, 70, 113,0.9);
                        border-radius: 1rem;
                        padding: 1rem;
                        box-sizing: border-box;
                        header{
                            padding-bottom: 1rem;
                            color: #0ca7fb;
                            // border-bottom: .5px solid #0ca7fb;
                        }
                        .sceneBoxcontent{
                            margin: 0 auto;
                            width: 100%;
                            height: 10rem;
                            padding: 1rem .5rem;
                            box-sizing: border-box;
                            overflow-y: scroll;
                            .el-button{
                                margin: .5rem;
                            }
                            // background: #161A44;
                            
                        }
                        .sceneBoxcontent::-webkit-scrollbar {
                            /*隐藏滚轮*/
 
                            width: 2px;
                            height: 2px;
                            background-color: #4886D3;
                        }
                        .sceneBoxcontent::-webkit-scrollbar-track{
                            background-color: #4886D3;
                        }
                        /*滚动条的滑块按钮*/
                        .sceneBoxcontent::-webkit-scrollbar-thumb{
                            border-radius: 0;
                            background-color: #cee0e0;
                            box-shadow: inset 0 0 5px #b6d8da;
                        }
                        /*滚动条的上下两端的按钮*/
                        .sceneBoxcontent::-webkit-scrollbar-button{
                            height: 0;
                            background-color: #4886D3;
                        }
                    }
                    .sceneBox{
                        position: absolute;
                        top: -10rem;
                        left: -35rem;
                        width: 35rem;
                        height: 20rem;
                        background:rgba(16, 70, 113,0.9);
                        border-radius: 1rem;
                        padding: 1rem;
                        box-sizing: border-box;
                        header{
                            padding-bottom: 1rem;
                            color: #0ca7fb;
                            // border-bottom: .5px solid #0ca7fb;
                        }
                        .sceneBoxcontent{
                            margin: 0 auto;
                            width: 100%;
                            height: 10rem;
                            padding: 1rem .5rem;
                            box-sizing: border-box;
                            overflow-y: scroll;
                            .el-button{
                                margin: .5rem;
                            }
                            // background: #161A44;
                            
                        }
                        .sceneBoxcontent::-webkit-scrollbar {
                            /*隐藏滚轮*/
 
                            width: 2px;
                            height: 2px;
                            background-color: #4886D3;
                        }
                        .sceneBoxcontent::-webkit-scrollbar-track{
                            background-color: #4886D3;
                        }
                        /*滚动条的滑块按钮*/
                        .sceneBoxcontent::-webkit-scrollbar-thumb{
                            border-radius: 0;
                            background-color: #cee0e0;
                            box-shadow: inset 0 0 5px #b6d8da;
                        }
                        /*滚动条的上下两端的按钮*/
                        .sceneBoxcontent::-webkit-scrollbar-button{
                            height: 0;
                            background-color: #4886D3;
                        }
                    }
                    
                    .scene {
                        // display: flex;
                        width: 100%;
                        .sceneItem {
                            // flex: 1;
                            // width: 4rem;
                            padding: 0 .5rem;
                            white-space: nowrap;
                            color: #8AC0D3;
                            font-size: 1.125rem;
                        }
                        .sceneItemyello{
                            flex: 1;
                            color: #f1dcc0;
                            font-size: 1.125rem;
                        }
                    }

                }
                .mapTypes{
                    opacity: 1;
                    margin-right: 6.25rem;
                }
    
                .rigthjiao {
                    border-width: 0.78125rem;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent transparent transparent rgba(21, 48, 94, 0.9);
                    position: absolute;
                    right: -1.5625rem;
                    top: 0.78125rem;
                }
            }
        }
    }
    
}
.yellofont{
    color: #fd6431;
}

.tuli{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 1.5rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: #FFFFFF;
    .tuli-item{
        height: 2.5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;
        img{
            margin-right: 0.5rem;
        }
    }
}

@media screen and (min-width:3000px){
    .title{
        color: green;
        font-size: 72px;
        line-height: 170px;
    } 
}
