// @import '../global.less';

.zhoujiadu-dashboard-container {
    // width: 1920px;
    width: 100%;
    // height: 1080px;
    height: 100%;
    position: relative;
    background-color: #161A44;
    overflow: hidden;
    // background-color: #40C8F4;
    .globle-pop{
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 1;
        // background: brown;
        z-index: 4000;
    }

    .globle-pop-touming{
        height: 30%;
        width: 30%;
        position: absolute;
        top: 24%;
        left: 25%;
        opacity: 1;
        // background: brown;
        z-index: 4000;
    }
    .dashLeft{
        width: 30%;
        height: calc(90% / 3 * 2);
        position: absolute;
        top: 9.5%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .dashleftItem{
            flex: 1;
            margin: 0 1rem 0.2rem;
            background: url('~@/assets/images/sanlin/147@3x.png') no-repeat;
            background-size: 100% 100%;
        }
        .dashleftItem:last-child{
            margin: 0.2rem 1rem 0;
        }
    }
    .dashRight{
        width: 30%;
        height: calc(90% / 3 * 2);
        // background: #ccc;
        position: absolute;
        top: 9.5%;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .dashrightItem{
            flex: 1;
            margin: 0 1rem 0.2rem;
            background: url('~@/assets/images/sanlin/147@3x.png') no-repeat;
            background-size: 100% 100%;
            //overflow: hidden;
        }
        .dashrightItem:last-child{
            margin: 0.2rem 1rem 0;
        }
        .garbagetopright{
            width: 95%;
            height: 100%;
            // background-color: #40C8F4;
            position: absolute;
            top: 0;
            left: 1rem;
        }
    }
    .dashBottom{
        width: 100%;
        height: 30.5%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        .dashBottomItem{
            flex: 1;
            margin: .4rem 0.3rem .5rem 1rem;
            background: url('~@/assets/images/sanlin/147@3x.png') no-repeat;
            background-size: 100% 100%;
        }
        .dashBottomItem1{
            width: 40% !important;
            flex-shrink: 0;
            background: url('~@/assets/images/sanlin/148@3x.png') no-repeat;
            background-size: 100% 100%;
            margin: 0.4rem 0.5rem 0.5rem 0.5rem;
        }
        .dashBottomItem:last-child{
            margin: .4rem 1rem .5rem 0.3rem;
        }
    }
    .dashboard-header {
        margin: 0 auto;
        height: 9.5%;
        position: relative;
        width: 100%;

        .title {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 35rem;
            color: #40C8F4;
            font-size: 2.25rem;
            line-height: 5.3rem;
        }

        .date-week {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: #94BFD1;
            position: absolute;
            left: 3.8rem;
            z-index: 999;
            top: 0;
            height: 3.8rem;
            text-align: left;

            .date {
                font-size: 1.125rem;
                width: 10rem;

            }

            .week {
                width: 10rem;
                font-size: 1.125rem;

            }
        }

        .date-time {
            font-size: 2.25rem;
            color: #94BFD1;
            position: absolute;
            left: 15rem;
            height: 3.8rem;
            z-index: 999;
            top: 0;
        }

        .temperature {
            z-index: 999;
            height: 3.8rem;
            top: 0;
            position: absolute;
            right: 4rem;
            color: #94BFD1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 12.5rem;
            font-size: 1.125rem;
        }
    }
    .mapContainer{
        width: 40%;
        height: 59.5%;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        .mapBackground{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('~@/assets/images/sanlin/map@3x.png') no-repeat;
            background-size: 100% 100%;
            z-index: 2999 !important;
        }
        #map-container {
            position: absolute;
            top: 1%;
            left: 0.8%;
            width: 98%;
            height: 98%;
            z-index: 3000 !important;
            .tool-box {
                height: 21rem;
                width: 4rem;
                border-radius: 1rem;
                background-color: #1E3D67;
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                z-index: 999;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                .img-icon {
    
                    height: 1.7rem;
                    width: 1.7rem;
                    // cursor: pointer;  
                    z-index: 999;
    
                }
    
                .toolset {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
     
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .mapIcon {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .searchBox {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .menu {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .fangda {
                    width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .suoxiao {
                    // width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                .clear {
                    // width: 100%;
                    height: 3.125rem;
                    padding-top: .625rem;
                    text-align: center;
                    background-color: #1E3D67;
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                }
    
                .mapIcon:hover .mapType {
                    opacity: 1;
                    margin-right: 6.25rem;
                    // background: #1E3D67 !important;
                }
    
                .searchBox:hover .mapType {
                    opacity: 1;
                    margin-right: 6.25rem;
                    // background: #1E3D67 !important;
                }
    
                .menu:hover .mapType {
                    opacity: 1;
                    margin-right: 6.25rem;
                    // background: #1E3D67 !important;
                }
    
                
    
                .rigthjiao {
                    border-width: 0.78125rem;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent transparent transparent rgba(21, 48, 94, 0.9);
                    position: absolute;
                    right: -1.5625rem;
                    top: 0.78125rem;
                }
            }
        }
    }
    
}
.yellofont{
    color: #fd6431;
}

.tuli{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 1.5rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: #FFFFFF;
    .tuli-item{
        height: 2.5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;
        img{
            margin-right: 0.5rem;
        }
    }
}

@media screen and (min-width:3000px){
    .title{
        color: green;
        font-size: 72px;
        line-height: 170px;
    } 
}
