// @import '../global.less';

.zhoujiadu-dashboard-container {
  // width: 1920px;
  width: 100%;
  // height: 1080px;
  height: 100%;
  position: relative;
  background-color: #161a44;

  .dashboard-header {
    margin: 0 auto;
    height: 9vh;
    position: relative;
    width: 100%;
    .title {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 560px;
      color: #40c8f4;
      font-size: 36px;
      line-height: 85px;
    }

    .date-week {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #94bfd1;
      position: absolute;
      left: 61px;
      z-index: 999;
      top: 0;
      height: 60px;
      text-align: left;

      .date {
        font-size: 18px;
        width: 160px;
      }

      .week {
        width: 160px;
        font-size: 18px;
      }
    }

    .date-time {
      font-size: 36px;
      color: #94bfd1;
      position: absolute;
      left: 240px;
      height: 60px;
      z-index: 999;
      top: 0;
    }

    .temperature {
      z-index: 999;
      height: 60px;
      top: 0;
      position: absolute;
      right: 65px;
      color: #94bfd1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 200px;
    }
  }

  #map-container {
    position: relative;

    .left-top-corner {
      height: 136px;
      width: 82px;
      border-top: 2px solid #00a2ff;
      border-left: 2px solid #00a2ff;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
    }

    .right-top-corner {
      height: 136px;
      width: 82px;
      border-top: 2px solid #00a2ff;
      border-right: 2px solid #00a2ff;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
    }

    .left-bottom-corner {
      height: 136px;
      width: 82px;
      border-left: 2px solid #00a2ff;
      border-bottom: 2px solid #00a2ff;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 999;
    }

    .right-bottom-corner {
      height: 136px;
      width: 82px;
      border-bottom: 2px solid #00a2ff;
      border-right: 2px solid #00a2ff;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 999;
    }

    .tool-box {
      height: 350px;
      width: 75px;
      border-radius: 22px;
      background-color: #1e3d67;
      position: absolute;
      right: 25px;
      top: 24px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .img-icon {
        height: 30px;
        width: 30px;
        // cursor: pointer;
        z-index: 999;
      }

      .toolset {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;

        position: relative;
        box-sizing: border-box;
      }

      .mapIcon {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1e3d67;
        position: relative;
        box-sizing: border-box;
      }

      .searchBox {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1e3d67;
        position: relative;
        box-sizing: border-box;
      }

      .menu {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1e3d67;
        position: relative;
        box-sizing: border-box;
      }

      .fangda {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1e3d67;
        position: relative;
        box-sizing: border-box;
      }

      .suoxiao {
        // width: 100%;
        height: 50px;
        padding-top: 10px;
        text-align: center;
        background-color: #1e3d67;
        position: relative;
        box-sizing: border-box;
      }

      .mapIcon:hover .mapType {
        opacity: 1;
        margin-right: 100px;
        // background: #1E3D67 !important;
      }

      .searchBox:hover .mapType {
        opacity: 1;
        margin-right: 100px;
        // background: #1E3D67 !important;
      }

      .menu:hover .mapType {
        opacity: 1;
        margin-right: 100px;
        // background: #1E3D67 !important;
      }

      .mapType {
        z-index: -2;
        width: 200px;
        height: 50px;
        background: rgba(21, 48, 94, 0.9);
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        transition: all 0.5s;
        border-radius: 10px;
        // margin-right: 100px;
        .mapbox {
          display: flex;
          width: 100%;
          height: 100%;

          .mapjiben,
          .mapweixing,
          .maphei {
            flex: 1;
            width: 100%;
            height: 100%;

            // background-color: green;
            img {
              padding-top: 6px;
              width: 35px;
              height: 25px;
              // background-color: green;
              // box-sizing: border-box;
              // position: ab;
            }

            .maptitle {
              color: #80aab9;
              font-size: 10px;
            }
          }
        }

        .searchInput {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 80% 80%;
          grid-template-rows: 100%;

          .inputcontent {
            background-color: transparent;
            border: none;
            outline: none;
            color: #8ac0d3;
            font-size: 18px;
            padding-left: 25px;
          }

          .inputcontent::-webkit-input-placeholder {
            color: #8ac0d3;
            font-size: 18px;
          }

          .inputcontent::-moz-placeholder {
            color: #8ac0d3;
            font-size: 18px;
          }

          .inputcontent:-moz-placeholder {
            color: #8ac0d3;
            font-size: 18px;
          }

          .inputcontent:-ms-input-placeholder {
            color: #8ac0d3;
            font-size: 18px;
          }

          .inputicon {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-top: 16px;
          }
        }

        .scene {
          display: flex;

          .sceneItem {
            flex: 1;
            color: #8ac0d3;
            font-size: 18px;
          }
          .sceneItemyello {
            flex: 1;
            color: #f1dcc0;
            font-size: 18px;
          }
        }
      }
      .mapTypes {
        opacity: 1;
        margin-right: 100px;
      }

      .rigthjiao {
        border-width: 12.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent rgba(21, 48, 94, 0.9);
        position: absolute;
        right: -25px;
        top: 12.5px;
      }
    }
  }
}
.yellofont {
  color: #fd6431;
}
@media screen and (min-width: 3000px) {
  .title {
    color: green;
    font-size: 72px;
    line-height: 170px;
  }
}
