@import "~@/assets/less/global/global.less";
.weikakou {
  width: 100%;
  height: 98%;
  // background: chartreuse;
  position: relative;
  .tableList {
    width: 100%;
    height: 201%;
    // background:rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    top: -0.5rem;
    z-index: 99999;
  }
  .weizhangParking {
    width: 96%;
    height: 82%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .videoBg {
      background: #23cefd;
      overflow: hidden;
      height: 100%;
      cursor: pointer;
      .videoImg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .more-button {
    position: absolute;
    top: 0;
    right: 2%;
    //width: 5rem;
    color: #fff;
    font-size: 0.5rem;
    background: url("../../images/sanlin/more_button.png");
    background-size: 100% 100%;
    padding: 0.4rem 0.65rem;
    text-align: center;
    // z-index: 99;
    cursor: pointer;
    ///deep/ .el-dropdown {
    //  margin-top: 0.15rem;
    //}
    /deep/ .el-dropdown-link {
      color: #fff;
      font-size: 0.5rem;
    }
  }
  //.more-button{
  //    text-align: center;
  //    width: 23%;
  //    height: 2.2rem;
  //    line-height: 2.2rem;
  //    color: #fff;
  //    font-size: 0.5rem;
  //    background: url("../../images/sanlin/more_button.png");
  //    background-size: 100% 100%;
  //    cursor: pointer;
  //    /deep/ .el-dropdown-link{
  //        color: #fff;
  //        font-size: 0.5rem;
  //    }
  //}
  .spec {
    padding: 0.3rem 0.8rem;
  }
  .title_module {
    height: 9%;
    //width: 50%;
    margin: 2% 3%;
    box-sizing: border-box;
    padding-left: 0.6rem;
    color: #23cefd;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    //.more-button{
    //    text-align: center;
    //    width: 23%;
    //    height: 2.2rem;
    //    line-height: 2.2rem;
    //    color: #fff;
    //    font-size: 0.5rem;
    //    background: url("../../images/sanlin/more_button.png");
    //    background-size: 100% 100%;
    //    cursor: pointer;
    //    /deep/ .el-dropdown-link{
    //        color: #fff;
    //        font-size: 0.5rem;
    //    }
    //}
  }
  .titlel {
    height: 9%;
    width: 40%;
    margin: 2.5% 0 0;
    // margin-left: 3%;
    box-sizing: border-box;
    padding-left: 1.6rem;
    color: #23cefd;
  }
  .titlec{
    height: 9%;
    width: 40%;
    margin: 1.5% 0 0;
    // margin-left: 3%;
    box-sizing: border-box;
    padding-left: 1.6rem;
    color: #23cefd;
  }
  .weikakouBtnBox {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 0%;
    .more-button{
      position: absolute;
      right: 100px;
      top: 0;
    }
    .weikakouBtn {
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem;
      background: #0f4d76;
      outline-style: none;
      border: none;
      color: white;
    }
    .selectweikakouBtn {
      background: #00aff1;
      color: #fff;
    }
  }
  .weikakouDate {
    // width: 5rem;
    position: absolute;
    right: 3%;
    top: -1%;
    z-index: 3333;
    .cameraSelectBtn {
      font-size: .8rem;
      background: transparent;
      width: 5rem;
      padding: 0.55rem;
      border: none;
      background: url("~@/assets/images/sanlin/more_button.png") no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
    }
    .cameraSelectoptionList{
        height: 10rem;
        // background: #bd8845;
        overflow-y: scroll;
        .cameraSelectoption{
            width: 4rem;
            color: white;
            background: #103c6b;
            padding: .3rem 0;
            font-size: .75rem;
            text-align: center;
            margin: .1rem auto;
            cursor: pointer;
        }
    }

  }
  .weikakouEcharts {
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: row;
    padding: 1.5rem 0;
    .curve{
        height: 100%;
        width: 100%;
        // background: #00aff1;
    }
    .weikakouEchartItem {
      flex: 1;
      position: relative;
      .processBox{
          height: 12.5%;
          width: 100%;
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          padding-left: 5%;
          .title{
            color: white;
            font-size: 0.6rem;
            width: 20%;
          }
          .processbar{
             width: 65%;
             padding-left: 2%;
             .el-progress__text{
                display: none;
             }
          }
          .value{
              color: white;
              font-size: 0.6REM;
          }
      }
      .weikakouEchartitle {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        color: #01a4e2;
        font-size: 0.9rem;z-index:999;
      }
      .lengends{
        width: 100%;
        position: absolute;
        bottom: -1rem;
        // background: #23cefd;
        height:3rem;
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(2,50%);
        .lengendsItem{
          font-size: .8rem;
          color: #23ccfb;
          margin: auto;
          div{
            width: 1rem;
            height: .6rem;
          }
        }
      }
    }
    .weikakouEchartItem:first-child {
      // background: url("~@/assets/images/sanlin/131@2x.png") no-repeat;
      background-size: 30%;
      background-position: center 75%;
    }
    .weikakouEchartItem:last-child {
      flex: 2;
    }
  }
  .weikakouEchartsBox{
    width: 98%;
    height: 85%;
    margin: 0 auto;
    // background-color: #0c315d;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    .box-item{
      align-self: center;
      justify-self: center;
      width: 85%;
      height: 70%;
      background: url("~@/assets/images/sanlin/textBox@2x.png") no-repeat;
      background-size: 100% 100%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 1rem;
    }
  }
  .garbageEcharts {
    width: 100%;
    height: 85%;
    display: flex;
    .garbageEchartItem {
      flex: 1;
      position: relative;
      .garbageEchartitle {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        color: #01a4e2;
        font-size: 0.9rem;
      }
    }
    .garbageEchartItem:first-child {
      background: url("~@/assets/images/sanlin/131@2x.png") no-repeat;
      background-size: 60%;
      background-position: center 75%;
    }
  }
}
.table_cell {
  display: flex;
  flex-flow: row;
  .cell_item {
    flex: 1;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-left: 0.1rem;
    box-sizing: border-box;
    overflow: hidden;
    .cell_title {
      flex: 1;
      flex-shrink: 0;
      line-height: 2.2rem;
      margin-bottom: 0.1rem;
      padding-left: 0.5rem;
      background: #0b325e;
      color: #4ebad8;
    }
    .cell_con {
      flex: 1;
      line-height: 2rem;
      margin-bottom: 0.1rem;
      padding-left: 0.5rem;
      color: #4bafb9;
      border: 0.1rem solid #0c315d;
      // box-sizing: border-box;
    }
  }
}
.cell_img {
  display: flex;
  .cell_itemImg_k {
    flex: 1;
    text-align: center;
    .cell_itemImg {
      width: 8rem;
      height: 10rem;
      background: brown;
    }
  }
}
.popContentheader {
  height: 2rem;
  width: 100%;
  display: flex;
  .popContentheadercell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #0d4279;
    border-left: 1px solid #0d4279;
    color: #06669f;
    font-size: 0.9rem;
    font-weight: 700;
  }
  .popContentheadercell:last-child {
    border-right: 1px solid #0d4279;
  }
}
.popContentContent {
  height: 2rem;
  width: 100%;
  display: flex;
  .popContentContentcell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #0d4279;
    border-left: 1px solid #0d4279;
    flex: 1;
    color: #74bbeb;
    font-size: 0.8rem;
    overflow: hidden;
    cursor: pointer;
  }
  .popContentContentcell:last-child {
    border-right: 1px solid #0d4279;
    color: #bd8845;
  }
}
.popContentContent:last-child {
  border-bottom: 1px solid #0d4279;
}

.popBottom{
    text-align: center;
    height: 3rem;
    width: 100%;
    margin-top: .5rem;
}

 /*滚动条整体部分,必须要设置*/
 .cameraSelectoptionList::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: #4886D3;
}
/*滚动条的轨道*/
.cameraSelectoptionList::-webkit-scrollbar-track{
    background-color: #4886D3;
}
/*滚动条的滑块按钮*/
.cameraSelectoptionList::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: #07E6ED;
    box-shadow: inset 0 0 5px #07E6ED;
}
/*滚动条的上下两端的按钮*/
.cameraSelectoptionList::-webkit-scrollbar-button{
    height: 0;
    background-color: #4886D3;
}
