.dangyuanTable{
    width: 100%;
    height: 100%;
    position: relative;
    background: url('~@/assets/images/sanlin/dangyuanList.png') no-repeat;
    background-size: 100% 100%;
    .dangyuan-close{
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: .4rem;
        top: .22rem;
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 1s;
        }
    }
    .dangyuan-close:hover img{
        transform: rotate(360deg);
    }
    .content-box{
        width: 100%;
        height: 100%;
        .dangyuan-title{
            height: 11%;
            font-size: 1.5em;
            text-align: center;
            letter-spacing: .1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #d1dde4;
        }
        .dangyuan-table{
            width: 88%;
            height: 75%;
            margin: 0 auto;
            .dangyuanbox{
                width: 100%;
                height: 100%;
                border: 1px solid #0c3d74;
                box-sizing: border-box;
                .dangyuanboxcol{
                    height: 10%;
                    display: flex;
                    border-bottom: 1px solid #0c3d74;
                    .dangyuanboxrow{
                        flex: 1;
                        font-size: 0.8rem;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: 1px solid #0c3d74;
                        color: #53fafd;
                        font-weight: 800;
                    }
                }
                .dangyuanboxcol_item{
                    height: 9%;
                    line-height: 1.3rem;
                    display: flex;
                    border-bottom: 1px solid #0c3d74;
                    box-sizing: border-box;

                    .dangyuanboxrow_item{
                        flex: 1;
                        padding-right: .1rem;
                        font-size: 0.8rem;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border-right: 1px solid #0c3d74;
                        color: #53fafd;
                    }
                }
            }
        }

        .garbage-tag{
            height: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0.8rem;
            font-size: 0.8rem;
            .tag2{
                display: flex;
                align-items: center;
            }
            .tag3{
                display: flex;
                flex-flow: row;
                margin-left: 0.3rem;
                .firstFive{
                    margin-left: 0.5rem;
                    padding: 0.2rem 0.5rem;
                    background: linear-gradient(0deg, #07285D 0%, #004291 100%);
                    border-radius: 4px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
                .lastFive{
                    margin-left: 0.5rem;
                    padding: 0.2rem 0.5rem;
                    background: rgba(0, 174, 239, 0.3);
                    cursor: pointer;
                    color: #00B0F1;
                    border-radius: 4px;
                }
            }
        }
        .echart-box{
            width: 100%;
            height: 36%;
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 0 2rem;
            .echartPic{
                width: 100%;
                height: 100%;
                // overflow: hidden;
            }
        }
    }
}
.el-pagination{
    padding-top: .15rem;
    text-align: center;
}
.btn-prev{
    color: white !important;
    background: #001c41 !important;
}
.btn-next{
    color: white !important;
    background: #001c41 !important;
}
.el-dialog, .el-pager li{
    color: white;
    background: #001c41;
}
.el-pagination__total{
    color: white;
}
.el-pagination__jump{
    color: white;
}
// 图表部分
.garbage-tag{
    display: flex;
    flex-flow: row;
    color: #23CEFD;
}
.blue-dot-style{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #23cefd;
    display: inline-block;
    margin: 0 0.3rem;
}
.orange-dot-style{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #d19539;
    display: inline-block;
    margin: 0 0.3rem;
}
