@import '~@/assets/less/global.less';
.out-box{
    display: flex;
    width: 90%;
    height: 82%;
    margin: 0 auto;
    .number-box{
        height: 100%;
        flex: 1.5;
        font-size: 0.8rem;
        .people-number-box{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            .number-item{
                height: 33%;
                cursor: pointer;
                .number-item-desc{
                    font-size:0.5rem;
                }
                .number-item-num{
                    margin-top: 0.2rem;
                    .number-style{
                        background: linear-gradient(90deg, #005EE4, #0EB4FF);
                        border-radius: 0.2rem;
                        padding: 0rem 0.4rem;
                        font-size: 1.2rem;
                        color: #FFFFFF;
                    }
                }
            }
            // .number-item:nth-child(2){
            //     background: cyan;
            // }
        }
    }
    .echart-box{
        height: 100%;
        flex: 3;
        // background: cornflowerblue;
        // background: chartreuse;
        //border: 0.1rem solid #0f4d76;
    }
}
.blue-text{
    color: #58DBFF;
}
.yellow-text {
    color: #FFE03D;
}