
.grid-box{
    background: url("../../images/sanlin/leftTop_bg.png");
    background-size: 100% 100%;
    width: 94%;
    height: 80%;
    margin: 2% 3%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    place-items: center start;
    position: relative;
    .out-box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        cursor: pointer;
        .right-text{
            font-size: 1.1rem;
        }
        .poople-desc{
            font-size: 1.1rem;
            color: #fff;
            background: linear-gradient(90deg, #005EE4, #0EB4FF);
            border-radius: 0.2rem;
            padding: 0.1rem 0.6rem;
        }
    }
    .center-box{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 18%;
        font-size: 1.1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        cursor: pointer;
        .right-text{
            font-size: 0.8rem;
        }
        .poople-desc{
            font-size: 0.8rem;
            color: #fff;
        }
    }
}
.blue-text{
    color: #58DBFF;
}
.yellow-text {
    color: #FFE03D;
}
.leftTopTableBox{
    height: 100%;
    color: #FFFFFF;
    display: flex;
    flex-flow: column;
    .table-title{
        height: 3rem;
        line-height: 4rem;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        .closeButton{
            position: absolute;
            right: 0.5rem;
            top: 0.3rem;
            width: 1.3rem;
            height: 1.3rem;
            cursor: pointer;
            transition: all 0.5s;
        }
        .closeButton:hover{
            transform: rotate(180deg);
        }
    }
    .table-body{
        flex: 1;
        padding: 1rem;
    }
    .table-foot{
        margin-bottom: 0.5rem;
        padding: 0 1rem;
        font-size: 0.8rem;
    }
    // 表格的样式修改
    /deep/ .el-table--border, .el-table--group {
        border: 0.01rem solid #175EA7;
    }
    /deep/ .el-table, .el-table__expanded-cell{
        background-color: transparent;
    }
    /deep/ .el-table th, /deep/ .el-table tr{
        background-color: transparent;
        text-align: center;
    }
    /deep/ .el-table td, /deep/ .el-table th.is-leaf{
        border: 0.01rem solid #175EA7;
    }
    /deep/ .el-table--border::after, .el-table--group::after, .el-table::before{
        background-color: #175EA7;
    }
    /deep/ .el-table__empty-text{
        color: #53FAFD;
    }
    /deep/  .el-table thead{
        color: #53FAFD;
    }
    // 分页的样式修改
    /deep/ .el-pagination{
        color: #fff;
    }
    /deep/ .el-pagination__total{
        color: #fff;
    }
    /deep/ .el-pagination__jump{
        color: #fff;
    }
    /deep/ .el-pager li{
       background-color: transparent;
    }
    /deep/ .el-pagination .btn-next, /deep/ .el-pagination .btn-prev{
        background-color: transparent;
        color: #fff;
    }
    /deep/ .el-input__inner{
        background-color: transparent;
        border: 0.01rem solid #175EA7;
        color: #fff;
    }
}


.login-box{
    position: absolute;
    top: -2%;
    width: 100%;
    height: 100%;
    background: url("../../images/sanlin/topLeftBg.png");
    background-size: 100% 100%;
    .login-name{
        font-size: 1rem;
        color: #FFFFFF;
        text-align: center;
        line-height: 1.1rem;
        .close1Button{
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            width: 0.8rem;
            height: 0.8rem;
            cursor: pointer;
            transition: all 0.5s;
        }
        .close1Button:hover{
            transform: rotate(180deg);
        }
    }
    .login-body{
        background: url("../../images/sanlin/bgImg.png") no-repeat;
        width: 70%;
        margin: 0 auto;
        height: 70%;
        background-size: 100%;
        margin-top: 1rem;
    }
    .login-foot{
        border: 0.01rem solid #00CAF9;
        height: 12%;
        width: 80%;
        border-radius: 0.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        input{
            width: 80%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            color: #FFFFFF;
        }
        .login-button{
            width: 4rem;
            height: 1.6rem;
            background: url("../../images/sanlin/loginButton.png");
            background-size: 100%;
            cursor: pointer;
        }
    }
}