.popContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0, 0.4);
    z-index: 9998;
    .popInfo{
        width: 40rem;
        min-height: 20rem;
        max-height: 45rem;
        overflow-y: scroll;
        background: -webkit-gradient(linear, 0 0, 0 15%, from(#0d396b), to(#062140));
        border: 1px solid #00cbff;
        box-shadow: .1rem .1rem 1.5rem .1rem #116381,-0.1rem -0.1rem 1.5rem .1rem #116381;
        position: absolute;
        left: 50%;
        margin-left: -20rem;
        top: 50%;
        margin-top: -21rem;
        .popInfoheader{
            height: 3rem;
            display: flex;
            .popInfoTitle{
                flex: 1;
                line-height: 3rem;
                color: #1ecbe8;
                font-size: 1.2rem;
                font-weight: 600;
                padding-left: 1rem;
                box-sizing: border-box;
                .popInfoTitledian{
                    height: .5rem;
                }
            }   
            .title-icon{
                width: 4rem;
                margin-left: 0.5rem;
            }
            .popInfoclose{
                flex: 1;
                position: relative;
                .closeImg{
                    width: 1.5rem;
                    height: 1.5rem;
                    // background: blueviolet;
                    position: absolute;
                    right: .5rem;
                    top: .5rem;
                    transition: all 1s;
                    border-radius: 50%;
                    .chahao{
                        font-size: 1.5rem;
                        color: #1abddc;
                    }
                }
                .closeImg:hover{
                    transform:rotate(360deg);
                    cursor: pointer;
                }
            }
        }
        .popContent{
            height: calc(100% - 3rem);
            width: 100%;
            padding: 1rem 2rem;
            box-sizing: border-box;
            .title-icon{
                width: 0.3rem;
                height: 0.65rem;
                background: linear-gradient(0deg, #327FDA 0%, #3BECE7 100%);
                border-radius: 0.2rem;
                display: inline-block;
                margin-right: 0.5rem;
            }
        }
    }
}
.popTableList{
    width: 100%;
    height: 100%;
    background: url('~@/assets/images/sanlin/video-pop-bg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    .closeImg{
        width: 1.5rem;
        height: 1.5rem;
        background: #52f6f9;
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
         border-radius: 50%;
        transition: all 1s;
        .chahao{
            font-size: 1rem;
            color: #001e41;
            // text-align: center;
            line-height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .closeImg:hover{
        transform:rotate(360deg);
        cursor: pointer;
    }
    .popHeader{
        height: 4rem;
        width: 100%;
        text-align: center;
        line-height: 4rem;
        color: white;
        font-size: 1.5rem;
    }
    .popContent{
        height: calc(100% - 7rem);
        width: 100%;
        padding: 0 2rem;
        .popContentheader{
            height: 10%;
            width: 100%;
            display: flex;
            .popContentheadercell{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #0d4279;
                border-left: 1px solid #0d4279;
                color: #53f9fd;
                font-size: .9rem;
                font-weight: 700;
            }
            .popContentheadercell:last-child{
                border-right: 1px solid #0d4279;
            }
        }
        .popContentContent{
            height: 9%;
            width: 100%;
            display: flex;
            .popContentContentcell{
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #0d4279;
                border-left: 1px solid #0d4279;
                flex: 1;
                color: #45d4db;
                font-size: .8rem;
                cursor: pointer;
            }
            .popContentContentcell:last-child{
                border-right: 1px solid #0d4279;
            }
        }
        .popContentContent:last-child{
            border-bottom: 1px solid #0d4279;
        }
    }
    .popBottom{
        text-align: center;
        height: 3rem;
        width: 100%;
        margin-top: .5rem;
    }
}

.info-table{
    border: 0.01rem solid #00509A;
    width: 100%;
    padding: 0.4rem;
    .info-table-list{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        font-size: 1rem;
        .row-item{
            flex: 50%;
            display: flex;
            flex-flow: row;
            background-color: #0B315D;
            padding: 0.2rem;
            margin: 0 0.05rem;
            .name{
                flex: 1;
                padding: 0.3rem 0.2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .value{
                flex: 1;
                padding: 0.3rem 0.2rem;
                background-color: #052240;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
            }
        }
    }
    .img-box{
        width: 100%;
        padding: 0 0.5rem;
        border-radius: 1rem;
        overflow: hidden;
        margin-top: 1rem;
        img{
            width: 100%;
        }
    }
}

.img-box{
    width: 100%;
    overflow: hidden;
    .img-box-list{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        min-height: 18rem;
        .img-item{
            width: 20%;
            margin: 0.2rem 0rem;
            border-radius: 0.5rem;
            overflow: hidden;
            padding: 0.5rem;
            .photoBox{
                width: 100%;
                height: 6.5rem;
                background-color: #2c5792;
            }
            .desc-box{
                background-color: #0f4d76;
                padding: 0.5rem;
                .desc{
                    background-color: #148392;
                    color: #54FBFE;
                    border-radius: 0.4rem;
                    font-size: 0.6rem;
                    text-align: center;
                    padding: 0.1rem;
                }
            }

        }
    }
}
 /*滚动条整体部分,必须要设置*/
.popInfo::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: #4886D3;
}
/*滚动条的轨道*/
.popInfo::-webkit-scrollbar-track{
    background-color: #4886D3;
}
/*滚动条的滑块按钮*/
.popInfo::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: #154446;
    box-shadow: inset 0 0 5px #084d50;
}
/*滚动条的上下两端的按钮*/
.popInfo::-webkit-scrollbar-button{
    height: 0;
    background-color: #4886D3;
}