<template>
  <div class="cameraRight">
    <!-- <div
      v-for="item in cameraListRight"
      :key="JSON.stringify(item.streamNode.urn)"
      class="cameraItem"
    >
      <div :id="JSON.stringify(item.streamNode.urn)" style="height:100%;width:100%;"></div>
    </div>-->
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-1-0"></div> -->
      <video-container reffer="video-1-0" :url="rightScreen1"></video-container>
    </div>
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-1-1"></div> -->
      <video-container reffer="video-1-1" :url="rightScreen2"></video-container>
    </div>
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-1-2"></div> -->
      <video-container reffer="video-1-2" :url="rightScreen3"></video-container>
    </div>
  </div>
</template>

<script>
import videoContainer from "@/components/videoContainer.vue";
import { mapState } from "vuex";
export default {
  data() {
    return {
      timer: null
    };
  },
  methods: {
    clickItem() {},
    loadVideo() {}
  },
  created() {},
  mounted() {
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
      if (
        this.timeString == "21:00:00" ||
        this.timeString == "23:30:00" ||
        this.timeString == "05:00:30" ||
        this.timeString == "12:00:00"
      ) {
        window.location.reload();
      }
    }, 1000);
    this.$store.commit("INIT_WEBSOCKET");
    this.$store.dispatch("getCurrentWSvideoList");
  },
  computed: {
    ...mapState({
      cameraListRight: (state) => state.mapdevice.cameraListRight,
      rightScreen1: (state) => state.mapdevice.rightScreen1,
      rightScreen2: (state) => state.mapdevice.rightScreen2,
      rightScreen3: (state) => state.mapdevice.rightScreen3
    })
  },
  watch: {},
  beforeDestroy() {},
  destroyed() {},
  components: {
    videoContainer
  }
};
</script>

<style lang="less">
.cameraRight {
  width: 100%;
  height: 100vh;
  background: chocolate;
  display: flex;
  flex-direction: column;

  .cameraItem {
    flex: 1;
  }
}
</style>