<template>
  <div class="cameraLeft">
    <!-- <div
      v-for="item in cameraListLeft"
      :key="JSON.stringify(item.streamNode.urn)"
      class="cameraItem"
    >
      <div
        :id="JSON.stringify(item.streamNode.urn)"
        style="height:100%;width:100%;"
        @click="clickItem"
      ></div>
    </div>-->
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-0-0"></div> -->
      <video-container
        v-if="leftTopVisible"
        :reffer="cameraLeftTop"
        :url="leftScreen1"
      ></video-container>
    </div>
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-0-1"></div> -->
      <video-container
        v-if="leftMiddleVisible"
        :reffer="cameraMiddleTop"
        :url="leftScreen2"
      ></video-container>
    </div>
    <div class="cameraItem">
      <!-- <div style="height:100%;width:100%;" id="camera-0-2"></div> -->
      <video-container
        v-if="leftBottomVisible"
        :reffer="cameraBottomTop"
        :url="leftScreen3"
      ></video-container>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import videoContainer from "@/components/videoContainer.vue";

export default {
  data() {
    return {
      leftBottomVisible: false,
      leftMiddleVisible: false,
      leftTopVisible: false,
      cameraLeftTop: "cameraLeftTop",
      cameraMiddleTop: "cameraMiddleTop",
      cameraBottomTop: "cameraBottomTop"
    };
  },
  methods: {
    loadJS: function() {
      return new Promise((resolve, reject) => {
        var head = document.getElementsByTagName("head")[0];
        let script = document.createElement("script");
        script.type = "text/javascript";
        head.appendChild(script);
        script.onload = () => {
          resolve();
        };
        script.onerror = () => {
          reject();
        };
        script.src =
          "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/cyberplayer.js";
      });
    },
    getCameralist() {},
    clickItem() {
      this.$store.dispatch("streamBext");
    },
    loadVideo() {
      // this.$store.dispatch('connectVideos',[`urn:${item.streamNode.urn.organization}:${item.streamNode.urn.group}:${item.streamNode.urn.id}`])

      this.loadJS().then(res => {
        res;
        var player = cyberplayer("camera-0-1").setup({
          width: "100%",
          height: "100%",
          backcolor: "#FFFFFF",
          stretching: "uniform",
          file: this.leftScreenSrc[1],
          type: "rtmp",
          rtmp: {
            reconnecttime: 2
          },
          ak: "85e0ba20cd14426a91f6732f5866c28c",
          autoStart: true,
          repeat: false,
          volume: 100,
          controls: "over"
        });
        player;
      });
      this.loadJS().then(res => {
        res;
        var player = cyberplayer("camera-0-2").setup({
          width: "100%",
          height: "100%",
          backcolor: "#FFFFFF",
          stretching: "uniform",
          file: this.leftScreenSrc[2],
          type: "rtmp",
          rtmp: {
            reconnecttime: 2
          },
          ak: "85e0ba20cd14426a91f6732f5866c28c",
          autoStart: true,
          repeat: false,
          volume: 100,
          controls: "over"
        });
        player;
      });
    }
    // onclosewin(){
    //   localStorage.removeItem('videoLeft')
    // }
  },
  created() {},
  mounted() {
    this.$store.commit("INIT_WEBSOCKET");
  },
  computed: {
    ...mapState({
      cameraListLeft: state => state.mapdevice.cameraListLeft,
      leftScreenSrc: state => state.mapdevice.leftScreenSrc,
      leftScreen1: state => state.mapdevice.leftScreen1,
      leftScreen2: state => state.mapdevice.leftScreen2,
      leftScreen3: state => state.mapdevice.leftScreen3
    })
  },
  watch: {
    leftScreen1: function(val) {
      if (val) {
        this.leftTopVisible = false;
        setTimeout(() => {
          this.leftTopVisible = true;
        }, 2000);
      }
    },
    leftScreen2: function(val) {
      if (val) {
        this.leftMiddleVisible = false;
        setTimeout(() => {
          this.leftMiddleVisible = true;
        }, 2000);
      }
    },
    leftScreen3: function(val) {
      if (val) {
        this.leftBottomVisible = false;
        setTimeout(() => {
          this.leftBottomVisible = true;
        }, 2000);
      }
    }
    // cameraListleft() {}
    // leftScreen1: function () {
    //   this.loadJS().then((res) => {
    //     res;
    //     var player = cyberplayer("camera-0-0").setup({
    //       width: "100%",
    //       height: "100%",
    //       backcolor: "#FFFFFF",
    //       stretching: "exactfit",
    //       file: this.leftScreen1,
    //       type: "rtmp",
    //       rtmp: {
    //         reconnecttime: 2,
    //       },
    //       ak: "85e0ba20cd14426a91f6732f5866c28c",
    //       autoStart: true,
    //       repeat: false,
    //       volume: 100,
    //       controls: "none",
    //     });
    //     player;
    //   });
    // },
    // leftScreen2: function () {
    //   this.loadJS().then((res) => {
    //     res;
    //     var player = cyberplayer("camera-0-1").setup({
    //       width: "100%",
    //       height: "100%",
    //       backcolor: "#FFFFFF",
    //       stretching: "exactfit",
    //       file: this.leftScreen2,
    //       type: "rtmp",
    //       rtmp: {
    //         reconnecttime: 2,
    //       },
    //       ak: "85e0ba20cd14426a91f6732f5866c28c",
    //       autoStart: true,
    //       repeat: false,
    //       volume: 100,
    //       controls: "none",
    //     });
    //     player;
    //   });
    // },
    // leftScreen3: function () {
    //   this.loadJS().then((res) => {
    //     res;
    //     var player = cyberplayer("camera-0-2").setup({
    //       width: "100%",
    //       height: "100%",
    //       backcolor: "#FFFFFF",
    //       stretching: "exactfit",
    //       file: this.leftScreen3,
    //       type: "rtmp",
    //       rtmp: {
    //         reconnecttime: 2,
    //       },
    //       ak: "85e0ba20cd14426a91f6732f5866c28c",
    //       autoStart: true,
    //       repeat: false,
    //       volume: 100,
    //       controls: "none",
    //     });
    //     player;
    //   });
    // },
  },
  components: { videoContainer }
};
</script>

<style lang="less">
.cameraLeft {
  width: 100%;
  height: 100vh;
  background: chocolate;
  display: flex;
  flex-direction: column;
  .cameraItem {
    background-color: red;
    flex: 1;
  }
}
</style>
