.old-street-container {
  height: 100%;
  position: relative;

  .reportlist {
    width: 30%;
    position: absolute;
    top: 2.5rem;
    right: 0;
    height: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .old-street-header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 5rem;
    background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/top%402x.png) no-repeat;
    background-size: 100% 100%;

    .title-container {
      line-height: 4rem;
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: 0.35rem;
      color: transparent;
      background-image: linear-gradient(180deg, #f8f8f9, #999);
      background-clip: text;
      -webkit-text-stroke-color: #f8f8f8;
      -webkit-text-stroke-width: 0.7px;
    }

    .date-week {
      height: 2rem;
      width: 20%;
      // background: olive;
      color: #30edf9;
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      align-items: center;

      .date,
      .week,
      .date-time {
        flex: 1;
      }

      .date-time {
        font-size: 1.2rem;
        font-weight: 800;
      }
    }

    .temperature {
      padding-left: 2rem;
      height: 2rem;
      width: 20%;
      position: absolute;
      left: 0;
      top: 0;
      color: #30edf9;
      display: flex;
      align-items: center;
    }
  }

  .tuli_box {

    width: 8rem;
    height: 30rem;
    position: absolute;
    right: 30%;
    top: 5rem;
    overflow: hidden;
    
    .margin_4rem{
      margin-left: 8rem;
    }
    .margin_0rem{
      margin-left: 0rem;
    }
    .tuli {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s;
      // margin-left: 4rem;
      width: 8rem;
      height: 10rem;
      // background: rgba(9, 32, 62, 0.5);

      .toolline_header {
        cursor: pointer;
        height: 2rem;
        background: #268cbb;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
        img{
          padding-top: 0.2rem;
          height: 1rem;
        }
      }

      .toolline_footer {
        height: 2.5rem;
        background: rgba(8, 32, 63, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;

        .tool_btn {
          background: #1a4882;
          width: 70%;
          height: 1.5rem;
          color: white;
          line-height: 1.5rem;
          text-align: center;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }

      .toolline_item {
        cursor: pointer;
        height: 2.5rem;
        background: rgba(8, 32, 63, 0.8);
        display: grid;
        grid-template-columns: 2rem auto;
        grid-template-rows: 100%;
      }

      .toolline_item_con:first-child {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3282a5;
        text-align: left;

        img {
          width: 1rem;
          height: 1rem;
        }
      }

      .toolline_item_con:nth-child(2) {
        cursor: pointer;
        line-height: 2.3rem;
        color: #3282a5;
      }

      .toolLine_item {
        flex: 1;
        cursor: pointer;
      }

      .toolLine_item:nth-child(1) {
        background: url("~@/assets/images/lingang/shiping@2x.png") no-repeat;
        background-size: 100%;
      }

      .toolLine_item:nth-child(2) {
        background: url("~@/assets/images/lingang/moxing@2x.png") no-repeat;
        background-size: 100%;
      }

      .toolLine_item:nth-child(3) {
        background: url("~@/assets/images/lingang/qiehuan@2x.png") no-repeat;
        background-size: 100%;
      }

      .toolLine_item:nth-child(4) {
        background: url("~@/assets/images/lingang/chuanganqi@2x.png") no-repeat;
        background-size: 100%;
      }

      .toolLine_item:nth-child(5) {
        background: url("~@/assets/images/lingang/zhibanbiao@2x.png") no-repeat;
        background-size: 100%;
      }

      .toolLine_item:nth-child(6) {
        background: url("~@/assets/images/lingang/组 137.png") no-repeat;
        background-size: 100%;
      }
    }
  }


  .leftcontainer,
  .rightcontainer {
    width: 30%;
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;

    .container_item {
      flex: 1;
      padding: 0 1rem 1rem;

      .container_item_box {
        width: 100%;
        height: 100%;
        background: #002353;
        border: 1px solid #113d76;
        position: relative;

        .pointer_warning {
          cursor: pointer;
        }

        .container_item_box_header {
          cursor: pointer;
          height: 2.5rem;
          background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/wenti.png) no-repeat;
          background-size: 100% 100%;
          color: #e5e9ee;
          line-height: 2.5rem;
          font-size: 1.3rem;
          padding-left: 1rem;
          letter-spacing: 0.15rem;
        }
        .container_item_box_header_new {
          cursor: pointer;
          height: 2.5rem;
          background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/keliu.png) no-repeat;
          background-size: 100% 100%;
          color: #e5e9ee;
          line-height: 2.5rem;
          font-size: 1.3rem;
          padding-left: 1rem;
          letter-spacing: 0.15rem;
          .second_title {
            color: #868c93;
            font-size: 1rem;
            padding-left: 1rem;
            cursor: pointer;
          }
        }

        .selectTimes {
          position: absolute;
          right: 0.2rem;
          top: 0.3rem;
          width: 7rem;
          height: 1.5rem;
        }

        .container_item_box_content {
          height: calc(100% - 2.5rem);
          // background: olive;
        }
      }
    }
  }

  .leftcontainer {
    position: absolute;
    left: 0;
    top: 5rem;
    
  }

  .rightcontainer {
    position: absolute;
    right: 0;
    top: 5rem;

    .container_item:first-child {
      .container_item_box {
        .container_item_box_header {
          background: url(https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/keliu.png) no-repeat;

          .second_title {
            color: #868c93;
            font-size: 1rem;
            padding-left: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  .scrollList {
    width: 20rem;
    height: auto;
    // background: brown;
    position: absolute;
    top: 5.5rem;
    left: 30%;
  }

  .wanringEchart {
    width: 100%;
    height: auto;
  }
}