<template>
    <div class="contianer">
        <!--左浮列表-->
        <div class="leftDiv">
            <div class="check-top">
                <p class="title">案件统计</p>
                <div class="checkcl">
                    <span class="time" @click="$refs.workorder.getCaseSource2(0)">天</span>
                    <span class="time" @click="$refs.workorder.getCaseSource2(1)">周</span>
                    <span class="time timeClick" @click="$refs.workorder.getCaseSource2(2)">月</span>
                </div>
                <div class="checkc2">
                    <today-case ref="workorder" class="parent-custom"></today-case>
                </div>
            </div>
            <div class="check-bottom">
                <p class="title">案件分类</p>
                <div class="checkcl">
                    <span class="time" @click="$refs.classification.loadClassification(0)">天</span>
                    <span class="time" @click="$refs.classification.loadClassification(1)">周</span>
                    <span class="time timeClick" @click="$refs.classification.loadClassification(2)">月</span>
                </div>
                <!--<rose-case ref="classification"></rose-case>-->
                <!--<p class="title">在办案件情况</p>-->
                <supervise ref="classification"></supervise>
            </div>
        </div>
        <!--右浮列表-->
        <div class="rightDiv">
            <!--<div class="check-bottom">-->
                <!--<p class="title">在办案件情况</p>-->
                <!--<supervise></supervise>-->
            <!--</div>-->
            <div class="check-top">
                <rose-from></rose-from>
            </div>
        </div>
    </div>
</template>

<script>
    // import roseCase from '../echarts/12345/roseCase.vue'
    import roseFrom from '../echarts/12345/roseFrom.vue'
    import supervise from '../echarts/12345/supervisetime.vue'
    import todayCase from '../echarts/12345/today-case.vue'
    export default {
        components: {
            // roseCase, 
            roseFrom, 
            supervise, 
            todayCase
        },
        data () {
            return {
                number:10
            }
        },
        methods:{
            timeClick: function () {
                //点击月、周、天更换背景及颜色

                $(".checkcl .time").on("click", function () {
                    $(this).addClass("timeClick").siblings().removeClass("timeClick");
                })
            }
        },
        mounted () {
            this.$nextTick(()=> {
                this.timeClick();
            })
        },
        created() {
            this.$nextTick(() => {

            })
        },
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .contianer {
        position: relative;
    }

    .leftDiv {
        width: 435px;
        height: 895px;
        position: absolute;
    }

    .leftDiv .check-top {
        width: 100%;
        height: 358px;
        background: url("/static/img/component/farme_03.gif") no-repeat;
        background-size: 100% 100%;
        padding-left: 10px;
    }
    .check-bottom {
        margin-top: 5px;
        width: 100%;
        height: 530px;
        background: url("/static/img/component/farme_02-02.gif") no-repeat;
        background-size: 100% 100%;
        padding-left: 5px;
        position: relative;
    }
    .rightDiv {
        width: 435px;
        height: 895px;
        position: absolute;
        right: 0px;
    }
    .rightDiv .check-top {
        width: 100%;
        height: 895px;
        background-size: 100% 100%;
        padding-left: 10px;
    }
    .title {
        width: 100%;
        height: 35px;
        padding-left: 30px;
        line-height: 35px;
        font-size: 18px;
        font-weight: bold;
        color: #a5ffff;
        text-align: left;
    }
    .leftDiv .check-top .checkcl {
        position: absolute;
        top: 60px;
        right: 30px;
    }

    .leftDiv .check-top .checkcl .time {
        color: #a5ffff;
        font-size: 18px;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin-right: 3px;
        text-align: center;
    }
    .leftDiv .check-top .checkcl .time:hover {
        color: black;
        cursor: pointer;
        background-color: #a5ffff;
    }
    .leftDiv .check-top .checkcl .timeClick {
        color: black;
        background-color: #a5ffff;
    }
    .leftDiv .check-top .checkc2{
        margin-top: 60px;
    }
    .leftDiv .check-bottom .checkcl {
        position: absolute;
        top: 60px;
        right: 30px;
        z-index: 9999;
    }
    .leftDiv .check-bottom .checkcl .time {
        color: #a5ffff;
        font-size: 18px;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin-right: 3px;
        text-align: center;
    }
    .leftDiv .check-bottom .checkcl .time:hover {
        color: black;
        cursor: pointer;
        background-color: #a5ffff;
    }
    .leftDiv .check-bottom .checkcl .timeClick {
        color: black;
        background-color: #a5ffff;
    }
</style>
