<template>
    <div class="contianer">

        <!--左浮列表-->
        <div class="leftDiv">
            <div class="contianerDiv" id="todayTui">
                <p class="title">人群观测处理情况统计</p>
                <div class="contentDiv">
                    <counter></counter>
                </div>
            </div>
            <div class="contianerDiv" id="yesterdayPeople">
                <p class="title">昨日各小时人流量</p>
                <div class="contentDiv">
                    <peoplenum></peoplenum>
                </div>
            </div>
            <div class="contianerDiv" id="peoplePercent">
                <p class="title">摄像头识别分数占比</p>
                <div class="contentDiv">
                    <people-percent></people-percent>
                </div>
            </div>
        </div>

        <!--右浮列表-->
        <div class="rightDiv">
            <div class="contianerDiv" id="anJian">
                <p class="title">本月案件统计</p>
                <div class="contentDiv">
                    <an-jian></an-jian>
                </div>
            </div>
            <div class="contianerDiv" id="weiNum">
                <p class="title">昨日各小时违章次数</p>
                <div class="contentDiv">
                    <wei-zhang></wei-zhang>
                </div>
            </div>
            <div class="contianerDiv" id="xiuTan">
                <p class="title">昨日嗅探统计</p>
                <div class="contentDiv">
                    <div class="xiuDiv">
                        <p class="header">昨日嗅探的总人数</p>
                        <div class="number">
                            <div>{{yesterdayXiutanallnum}}</div><span>人</span>
                        </div>
                    </div>
                    <div class="xiuDiv">
                        <p class="header">昨日嗅探的总次数</p>
                        <div class="number">
                            <div>{{yesterdayXiutanCishu}}</div><span>次</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import counter from "../echarts/index/counter.vue"
    import peoplenum from "../echarts/index/peopleNum.vue"
    import peoplePercent from "../echarts/index/peopleLibPercent.vue"
    import anJian from "../echarts/12345/today-case.vue"
    import weiZhang from "../echarts/index/weiZhang.vue"
    import { mapState } from 'vuex'

    export default {
        components: {
            counter, 
            peoplenum,
            peoplePercent, 
            anJian, 
            weiZhang
        },
        data() {
            return {
                yesterdayXiutanallnum:0,
                yesterdayXiutanCishu:0
            }
        },
        computed:{
            ...mapState({
                // yesterdayXiutanallnum:state=>state.echarts.yesterdayXiutanallnum,
                // yesterdayXiutanCishu:state=>state.echarts.yesterdayXiutanCishu,
            })
        },
        created() {
            localStorage.setItem("center", true);
            this.$nextTick(function () {
            });
        },
        mounted: function () {
            this.$nextTick(() => {
                this.$store.dispatch('yesterdayXiuTanAllNum',{type: 0}).then(res=>{
                    this.yesterdayXiutanallnum = res.data
                })
                this.$store.dispatch('yesterdayXiuTanAllNum',{type: 1}).then(res=>{
                    this.yesterdayXiutanCishu = res.data
                })
            })
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .contianer {
        position: relative;
    }

    .leftDiv {
        width: 435px;
        height: 895px;
        position: absolute;
    }
    .contianerDiv {
        background: url("/static/img/component/farme_01.gif") no-repeat;
        background-size: contain;
        width: 435px;
        height: 292px;
        margin-top: 9px;
    }
    .contianerDiv:first-child {
        margin-top: 0;
    }
    .contianerDiv p.title {
        font-size: 18px;
        color: #a5ffff;
        text-align: left;
        padding-top: 10px;
        padding-left: 40px;
        font-weight: bold;
    }
    .contianerDiv .contentDiv {
        width: 400px;
        height: 250px;
        margin-left: 25px;
        /* margin-top: 5px; */
    }
    #peoplePercent .contentDiv .percent {
        width: 50%;
        height: 100%;
        float: left;
    }
    #peoplePercent .contentDiv .percent .titleDiv {
        height: 90px;
        display: table;
    }
    #peoplePercent .contentDiv .percent .title {
        padding: 0px 20px 0;
        text-align: center;
        font-size: 22px;
        height: 90px;
        vertical-align: middle;
        display: table-cell;
        font-weight: normal;
    }
    #peoplePercent .contentDiv .percent .echarts {
        height: 120px;
        margin-top: 0px;
    }

    .rightDiv {
        width: 435px;
        height: 895px;
        position: absolute;
        right: 0px;
    }
    #xiuTan .xiuDiv {
        margin-top: 15px;
    }
    #xiuTan .xiuDiv:first-child {
        margin-top: 5px;
    }
    #xiuTan .xiuDiv .header {
        margin: 10px 0;
        font-size: 22px;
        color: #70cfde;
     
        letter-spacing: 7px;
        text-align: center;
    }
    #xiuTan .xiuDiv .number {
        margin-top: 7px;
    }
    #xiuTan .xiuDiv .number div {
        font-size: 40px;
        color: #cccccc;
        display: inline-block;
        background-color: #104257;
        padding: 0 7px;
    }
    #xiuTan .xiuDiv .number span {
        font-size: 26px;
        color: #007cc1;
        margin-left: 15px;
    }
</style>
