<template>
  <div class="video-test">
    <div style="width:50%;margin:0 auto;">
      <input type="text" style="height:50px;width:300px" v-model="rtmpUrl" />
      <button style="height:50px;width:80px;margin-left:30px;" @click="start2Play">开始播放</button>
    </div>
    <video-container v-if="showVideoContainer" :url="innerUrl" reffer="videoTest"></video-container>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import videoContainer from "@/components/videoContainer.vue";

export default {
  data() {
    return {
      showVideoContainer: false,
      innerUrl: "",
      rtmpUrl: "",
    };
  },
  methods: {
    start2Play: function () {
      this.showVideoContainer = true;
      this.innerUrl = "";
      setTimeout(() => {
        this.innerUrl = this.rtmpUrl;
      }, 2000);
    },
    ...mapActions([]),
    ...mapMutations([]),
  },

  mounted() {
    // setInterval(() => {
    //   this.showVideoContainer = !this.showVideoContainer;
    // }, 5000);
    setTimeout(() => {}, 3000);
  },
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: { videoContainer },
};
</script>

<style lang="less">
.video-test {
  height: 100%;
  width: 100%;
}
</style>
