<template>
  <div class="login-container">
    <div class="login-inner-container">
      <div class="login-inner-title">
        <span>周家渡城市运行综合管理智慧平台</span>
      </div>
      <div class="title">
        <span>用户登录</span>
      </div>
      <div class="username">
        <div class="item-inner">
          <div class="left">
            <img src="./assets/ren.png" alt />
          </div>
          <div class="right">
            <input v-model="username" class="username-input" type="text" />
          </div>
        </div>
      </div>
      <div class="password">
        <div class="item-inner">
          <div class="left">
            <img src="./assets/suo.png" alt />
          </div>
          <div class="right">
            <input
              @keydown.enter="loginUser"
              v-model="password"
              class="username-input"
              type="password"
            />
          </div>
        </div>
      </div>
      <div class="checkbox-container">
        <bear-checkbox
          @change="handleCheckboxChange"
          v-model="remerberPassword"
        ></bear-checkbox>
      </div>
      <button class="confirm-btn" @click="loginUser">
        <span>登 &nbsp;&nbsp;&nbsp;&nbsp;录</span>
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import bearCheckbox from "@/components/bearCheckbox.vue";
import Vue from "vue";
export default {
  data() {
    return { remerberPassword: false, username: "", password: "" };
  },
  methods: {
    handleCheckboxChange: function () {
      if (e) {
        Vue.ls.set("remember", true);
        Vue.ls.set("password", this.password);
      } else {
        Vue.ls.set("remember", false);
        Vue.ls.set("password", "");
      }
    },
    handleTest: function () {
      Vue.ls.get("token");
    },
    loginUser: function () {
      if (this.username && this.password) {
        this.$store.dispatch("loginUser", {
          username: this.username,
          password: this.password
        });
      } else {
        alert("请输入用户名密码");
      }
    },
    ...mapMutations([])
  },

  mounted() {
    Vue.ls.set("district", "zhoujiadu");
    this.password = Vue.ls.get("password");
    if (this.password) {
      this.remerberPassword = true;
    } else {
      this.remerberPassword = false;
    }
  },
  created() {
    // localStorage.removeItem('videoLeft')
    // localStorage.removeItem('videoRight')
    // localStorage.removeItem('closeLandR')
  },
  watch: {},
  computed: { ...mapState({}), ...mapGetters([]) },
  components: { bearCheckbox }
};
</script>

<style lang='less'>
.login-container {
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/jiebangcun-bigscreen/bg-image.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-inner-container {
  background-image: url("./assets/login-inner-container.png");
  height: 437px;
  width: 631px;
  position: fixed;
  right: 221px;
  top: 330px;
  .title {
    color: #00bff4;
    font-size: 32px;
    top: 44px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .username,
  .password {
    background-image: url("./assets/input-bg.png");
    height: 57px;
    width: 517px;
    position: absolute;
    top: 107px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .item-inner {
      width: 461px;
      height: 40px;
      line-height: 57px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 10%;
      }
      .right {
        width: 90%;
        .username-input {
          height: 38px;
          float: left;
          line-height: 38px;
          border: none;
          outline: none;
          width: 100%;
          background-color: transparent;
          color: #ffffff;
          // background-image: url('./assets/input-bg.png');
        }
      }
    }
  }
  .password {
    top: 188px;
  }
  .checkbox-container {
    position: absolute;
    top: 269px;
    width: 517px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .confirm-btn {
    height: 50px;
    width: 517px;
    top: 316px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #0ba1f8;
    border: none;
    outline: none;
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
  }
  .confirm-btn:active {
    top: 318px;
  }
}
.login-inner-title {
  position: absolute;
  top: -100px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  color: #0ba1f8;
}
</style>
