<template>
  <div class="old-street-container">
    <div id="map-container" style="height: 100%" ref="map"></div>
    <div class="old-street-header">
      <div class="title-container">
        <span>三林老街智能化管理平台</span>
      </div>
      <div class="date-week">
        <div class="date">
          <span>{{ dateString }}</span>
        </div>
        <div class="week">
          <span>星期{{ weekString }}</span>
        </div>
        <div class="date-time">{{ timeString }}</div>
      </div>
      <div class="temperature">
        <span>
          {{ weather.temperature }}
          <span>&deg;C</span>
        </span>
        <span style="margin-right: 1rem; margin-left: 1.25rem">{{
          weather.weather
        }}</span>
      </div>
    </div>
    <div class="reportlist">
      <reportreal></reportreal>
    </div>
    <div class="tuli_box">
      <div style="text-align: right; cursor: pointer" v-if="tuliRight">
        <img
          @click="showRight"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/left.png"
          alt=""
        />
      </div>
      <div
        :class="tuliRight ? ['tuli', 'margin_4rem'] : ['tuli', 'margin_0rem']"
      >
        <div class="toolline_header">
          <span>图例</span>
          <img
            @click="hideRight"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/oldstreet/%E9%A6%96%E9%A1%B5/right.png"
            alt=""
          />
        </div>
        <div class="toolline_item" @click="getcamera">
          <div class="toolline_item_con">
            <!-- <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/shipinziyuan%402x.png"
          /> -->
          </div>
          <div class="toolline_item_con">监控探头</div>
        </div>
        <div class="toolline_item" @click="getPoint(8)">
          <div class="toolline_item_con">
            <!-- <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/zhinengmoxing%402x.png"
          /> -->
          </div>
          <div class="toolline_item_con">消防栓</div>
        </div>
        <div class="toolline_item" @click="getPoint(9)">
          <div class="toolline_item_con">
            <!-- <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/lunxunqiehuan%402x.png"
          /> -->
          </div>
          <div class="toolline_item_con">微型消防站</div>
        </div>
        <div class="toolline_item" @click="getPoint(10)">
          <div class="toolline_item_con">
            <!-- <img
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/chuanganqi%402x.png"
          /> -->
          </div>
          <div class="toolline_item_con">居委</div>
        </div>
        <!-- <div class="toolline_item" @click="getSlingleTree('东入口')">
          <div class="toolline_item_con">
          </div>
          <div class="toolline_item_con">东入口</div>
        </div>
        <div class="toolline_item" @click="getSlingleTree('西入口')">
          <div class="toolline_item_con">
          </div>
          <div class="toolline_item_con">西入口</div>
        </div>
        <div class="toolline_item" @click="getSlingleTree('南入口')">
          <div class="toolline_item_con">
          </div>
          <div class="toolline_item_con">南入口</div>
        </div>
        <div class="toolline_item" @click="getSlingleTree('北入口')">
          <div class="toolline_item_con">
          </div>
          <div class="toolline_item_con">北入口</div>
        </div> -->
        <div class="toolline_footer" @click="clearMarkers">
          <div class="tool_btn">清除标记</div>
        </div>
      </div>
    </div>

    <div class="leftcontainer">
      <div class="container_item leftcontainer_top">
        <div class="container_item_box">
          <div class="container_item_box_header">基础信息</div>
          <div class="container_item_box_content">
            <!-- 基础信息组件 -->
            <basic-info></basic-info>
          </div>
        </div>
      </div>
      <div class="container_item ">
        <div class="container_item_box">
          <!-- <div
            class="container_item_box_header pointer_warning"
            @click="showIntellect"
          >
            智能告警
          </div> -->
          <div class="container_item_box_header_new">
            <span
              :class="{ second_title: !waringOrEquiment }"
              @click="handleWaringClick"
              >智能告警</span
            >
            <span
              :class="{ second_title: waringOrEquiment }"
              @click="handleEquimentClick"
              style="margin-left:1rem"
              >智能设备</span
            >
          </div>
          <div class="selectTimes">
            <selectTime
              :selectOption="intelloptions"
              @getval="getval"
              :intellValue="intellValue"
            ></selectTime>
          </div>
          <div class="container_item_box_content">
            <!-- 智能告警组件 -->
            <intellectWarning></intellectWarning>
          </div>
        </div>
      </div>
      <div class="container_item leftcontainer_bottom">
        <div class="container_item_box">
          <div class="container_item_box_header">平台跳转</div>
          <div class="container_item_box_content">
            <!-- 平台跳转组件 -->
            <platformJump></platformJump>
          </div>
        </div>
      </div>
    </div>
    <div class="rightcontainer">
      <div class="container_item rightcontainer_top">
        <div class="container_item_box">
          <div class="container_item_box_header">
            <span
              :class="{ second_title: !carOrPerson }"
              @click="handlePersonClick"
              >客流分析</span
            >
            <span
              :class="{ second_title: carOrPerson }"
              @click="handleCarClick"
              style="margin-left:1rem"
              >车流分析</span
            >
          </div>
          <div class="selectTimes">
            <analyseSelectTime
              :selectOption="analyseOptions"
              @getval="getkeliu"
            ></analyseSelectTime>
          </div>
          <div class="container_item_box_content">
            <!-- 客流分析组件 -->
            <carAnalyse></carAnalyse>
          </div>
        </div>
      </div>
      <div class="container_item rightcontainer_center">
        <div class="container_item_box">
          <div class="container_item_box_header" @click="showMonitorPopup">
            监控情况
          </div>
          <div class="container_item_box_content">
            <!-- 监控情况组件 -->
            <monitorInfo></monitorInfo>
          </div>
        </div>
      </div>
      <div class="container_item rightcontainer_bottom">
        <div class="container_item_box">
          <div class="container_item_box_header">问题&投诉</div>
          <div class="container_item_box_content">
            <!-- 问题&投诉组件 -->
            <problemComplain
              style="height: 100%; width: 100%"
            ></problemComplain>
          </div>
        </div>
      </div>
    </div>
    <monitorPopup
      v-if="monitorPopupVisible"
      @monitorPopup:close="handleCloseMonitorPopup"
    ></monitorPopup>
    <div class="scrollList">
      <warningList v-if="warningtaskVisible"></warningList>
    </div>
    <div class="wanringEchart">
      <warningEchart v-if="showWarning" @close="closeWarning"></warningEchart>
      <warningPop v-if="warningDetailVisible"></warningPop>
      <analyseCarPop v-if="analyseCarPopVisible"></analyseCarPop>
      <analysePersonPop v-if="analyseCarPersonVisible"></analysePersonPop>
      <wenbaoPop v-if="deviceInfoVisible"></wenbaoPop>
      <cameraPop v-if="cameraboxVisible"></cameraPop>
      <waringEquimentPop v-if="waringEquimentPopVisible"></waringEquimentPop>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import axios from "axios";
import Vue from "vue";
import monitorInfo from "@/components/sanlinOldStreet/monitorInfo.vue";
import monitorPopup from "@/components/sanlinOldStreet/monitorPopup.vue";
import intellectWarning from "@/components/oldstreet/intellectWarning.vue";
import selectTime from "@/components/oldstreet/selectTime.vue";
import analyseSelectTime from "@/components/oldstreet/analyseSelectTime.vue";
import platformJump from "@/components/oldstreet/platformJump.vue";
import reportreal from "@/components/oldstreet/reportreal.vue";
import problemComplain from "@/components/oldstreet/problemAndComplain/problemAndComplain.vue";
import carAnalyse from "@/components/oldstreet/analyse/carAnalyse.vue";
import warningList from "@/components/oldstreet/intellectwarning/warningList.vue";
import warningEchart from "@/components/oldstreet/intellectwarning/warningEchart.vue";
import analyseCarPop from "@/components/oldstreet/analyse/analyseCarPop.vue";
import analysePersonPop from "@/components/oldstreet/analyse/analysePersonPop.vue";
import warningPop from "@/components/oldstreet/intellectwarning/warningPop.vue";
import basicInfo from "../../components/oldstreet/basicInfo";
import wenbaoPop from "../../components/oldstreet/wenbaoPop";
import waringEquimentPop from "../../components/oldstreet/waringEquimentPop";
import cameraPop from "../../components/oldstreet/vameraPop";
export default {
  data() {
    return {
      monitorPopupVisible: false,
      timeString: "",
      d: new Date(),
      weather: {},
      carOrPerson: true,
      waringOrEquiment: true,
      intellValue: "当月",
      intelloptions: [
        {
          value: "0",
          label: "全部"
        },
        {
          value: "1",
          label: "当周"
        },
        {
          value: "2",
          label: "近七天"
        },
        {
          value: "3",
          label: "当月"
        },
        {
          value: "4",
          label: "近30天"
        },
        {
          value: "5",
          label: "当年"
        },
        {
          value: "6",
          label: "当日"
        }
      ],
      analyseOptions: [
        {
          value: "东入口",
          label: "东入口"
        },
        {
          value: "西入口",
          label: "西入口"
        },
        {
          value: "南入口",
          label: "南入口"
        },
        {
          value: "北入口",
          label: "北入口"
        }
      ],
      showWarning: false,
      tuliRight: true,
      arealist: [
        [121.492772, 31.135304],
        [121.493952, 31.133665],
        [121.495561, 31.132939],
        [121.498222, 31.13462],
        [121.499081, 31.135313],
        [121.5001, 31.136952],
        [121.500384, 31.137265],
        [121.503544, 31.138389],
        [121.506033, 31.138899],
        [121.506945, 31.138867],
        [121.508586, 31.139505],
        [121.511741, 31.141893],
        [121.510872, 31.14299],
        [121.500829, 31.139714]
      ],
      waringType: 1
    };
  },
  methods: {
    getSlingleTree(data) {
      console.log(this.cameratreelist);
      let list = this.cameratreelist.filter(res => res.address == data);
      console.log(list);
      if (list.length > 0) {
        list[0]?.list.forEach(item => {
          item.popType = "CAMERA_POINT";
          item.type = "CAMERA";
        });
        this.$store.commit("ADD_OLDSTREET_MARKER", list[0]?.list);
      } else {
        this.$store.commit("ADD_OLDSTREET_MARKER", []);
      }
    },
    clearMarkers() {
      this.$store.commit("CLEAR_OLDSTREET_MARKER");
    },
    getcamera() {
      this.$store.dispatch("getallcameralist");
    },
    getPoint(type) {
      this.$store.dispatch("getScenicCoordinateInfo", { type });
    },
    hideRight() {
      this.tuliRight = true;
    },
    showRight() {
      this.tuliRight = false;
    },
    showMonitorPopup: function() {
      this.monitorPopupVisible = true;
    },
    handleCloseMonitorPopup: function() {
      this.monitorPopupVisible = false;
    },
    handlePersonClick() {
      this.$store.commit("CHANGE_TYPE", 0);
      this.$store.dispatch("countStatistics", this.customerParams);
      this.$store.dispatch("lineStatistics", this.customerParams);
      if (this.carOrPerson) {
        this.$store.commit("ANALYSE_PERSON_POP_VISIBLE", true);
        // this.$store.commit();
      } else {
        this.carOrPerson = true;
      }
    },
    handleCarClick() {
      this.$store.commit("CHANGE_TYPE", 1);
      this.$store.dispatch("countStatistics", this.customerParams);
      this.$store.dispatch("lineStatistics", this.customerParams);
      if (this.carOrPerson) {
        this.carOrPerson = false;
      } else {
        // this.$store.commit("ANALYSE_CAR_POP_VISIBLE", true);
      }
    },
    handleWaringClick() {
      this.waringType = "1";
      this.$store.commit("CHANGE_WARN_PARAMS", {
        smartType: this.waringType,
        timeRangeType: 3
      });
      Object.assign(this.warnParams, { type: "" });
      if (this.waringOrEquiment) {
        this.waringType = "2";
        this.showWarning = true;
      } else {
        this.waringOrEquiment = true;
      }
    },
    handleEquimentClick() {
      this.waringType = "2";
      this.$store.commit("CHANGE_WARN_PARAMS", {
        smartType: this.waringType,
        timeRangeType: 3
      });
      this.$store.dispatch("countStatistics", this.customerParams);
      this.$store.dispatch("lineStatistics", this.customerParams);
      if (this.waringOrEquiment) {
        this.waringOrEquiment = false;
      } else {
        // this.$store.commit("ANALYSE_CAR_POP_VISIBLE", true);
      }
    },
    ...mapMutations([]),
    getval(val) {
      this.$store.commit("CHANGE_WARN_PARAMS", {
        smartType: this.waringType,
        timeRangeType: val.value
      });
    },
    getkeliu(val) {
      this.$store.commit("CHANGE_CUSTOMER", val.value);
      this.$store.dispatch("countStatistics", this.customerParams);
      this.$store.dispatch("lineStatistics", this.customerParams);
    },
    showIntellect() {
      this.showWarning = true;
    },
    closeWarning() {
      this.showWarning = false;
    }
  },

  mounted() {
    this.$store.dispatch("findTree");
    //时钟
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);

    // 天气
    axios
      .get(
        "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=cb3b07794f3bcac8dc6188757a5386c1"
      )
      .then(res => {
        if (res.data.info == "OK") {
          this.weather = res.data.lives[0];
          // this.currentIcon = this.weatherIcon.filter((item) => {
          //   return this.weather.weather.indexOf(item.weather) !== -1;
          // });
        }
      });

    this.$store.commit("INIT_AMAP");
    setTimeout(() => {
      Vue.prototype.globalAMap.setZoomAndCenter(15, [121.501557, 31.139182]);
    }, 1500);

    let html = document.documentElement;
    let width = html.getBoundingClientRect().width;
    console.log(width);
    html.style.fontSize = (width / 1920) * 16 + "px";
    this.$store.commit("POLY_VIDEO_GON", this.arealist);
  },
  filters: {},
  watch: {},
  computed: {
    weekString: function() {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    dateString: function() {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    ...mapState({
      warnParams: state => state.oldStreet.warnParams,
      analyseCarPopVisible: state => state.oldStreet.analyseCarPopVisible,
      analyseCarPersonVisible: state => state.oldStreet.analyseCarPersonVisible,
      customerParams: state => state.oldStreet.customerParams,
      cameratreelist: state => state.oldStreet.cameratreelist,
      deviceInfoVisible: state => state.oldStreetmap.deviceInfoVisible,
      warningtaskVisible: state => state.oldStreetmap.warningtaskVisible,
      warningDetailVisible: state => state.oldStreetmap.warningDetailVisible,
      waringEquimentPopVisible: state =>
        state.oldStreet.waringEquimentPopVisible,
      cameraboxVisible: state => state.oldStreetmap.cameraboxVisible
    }),
    ...mapGetters([])
  },
  components: {
    intellectWarning,
    platformJump,
    selectTime,
    reportreal,
    warningEchart,
    warningPop,
    problemComplain,
    carAnalyse,
    warningList,
    monitorInfo,
    monitorPopup,
    basicInfo,
    analyseCarPop,
    analysePersonPop,
    analyseSelectTime,
    wenbaoPop,
    cameraPop,
    waringEquimentPop
  }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/sanlin-old/oldStreetDashboard.less";
</style>
<style lang="less">
.amap-logo {
  display: none !important//去掉高德地图logo;
}
.el-tooltip__popper.is-light {
  width: 500px;
}
.amap-info-content {
  background: rgba(23, 33, 64, 0.9);
  .infoBox {
    ul {
      padding-left: 15px;
      li {
        list-style-type: none;
        line-height: 30px;
        img {
          width: 25px;
          height: 28px;
          vertical-align: middle;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}
.bottom-center .amap-info-sharp {
  border-top: 8px solid rgba(23, 33, 64, 0.9);
}
.amap-info-content::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 3px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.amap-info-content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #00edfb;
}
.amap-info-content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.right-top {
  display: flex;
  flex-flow: column;
}
</style>
