<template>
    <div ref="anJian" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
import { mapState } from 'vuex'
    // import {getPercentageByCarNumber} from '../../../api/components/parking'
    export default {
        data() {
            return {
                myChart: null,
                data: []
            }
        },
        mounted(){
            // this.$store.dispatch('getPercentageByCarNumber')
        },
        computed:{
            ...mapState({
                getPercentCarnumber:state=>state.echarts.getPercentCarnumber
            })
        },
        created() {
            this.$nextTick(() => {
                // setTimeout(()=>{
                this.$store.dispatch('getPercentageByCarNumber').then(res=>{
                    this.myChart = echarts.init(this.$refs['anJian']);
                    this.myChart.setOption(this.getEchartsOption());
                    if (res.data.length === 0) {
                        return false
                    }
                    for (let key in res.data[0]) {
                        this.data.push({
                            name: key.indexOf('local') === -1 ? '外地车辆' : '本地车辆',
                            value: res.data[0][key]
                        })
                    }
                    this.myChart.setOption({
                        series: [{
                            data: this.data
                        }]
                    });
                })
                    
                // },800)
            })
        },
        methods: {
            getEchartsOption: function () {
                return {
//                  legend: {
//                      orient: 'vertical',
//                      x: 'left',
//                      data:['本地车辆','外地车辆'],
//                      textStyle:{
//                          color:'#ccc'
//                      }
//                  },
                    color: ['#d3ad64', '#14c0d8', '#2f4455', '#419ee3', '#a0d11c',],
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '',
                            type: 'pie',
                            radius: [60, 90],
                            center: ['50%', '55%'],
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 10
                                    }
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            lableLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'inside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    }
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: []
                        }
                    ]
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
