<template>
    <div class="container">
        <div class="buttonWrapper">
            <div class="button"><span :class="selectIndex==2?'active':''" @click="getData(2)">月</span></div>
            <div class="button"><span :class="selectIndex==1?'active':''" @click="getData(1)">周</span></div>
            <div class="button"><span :class="selectIndex==0?'active':''" @click="getData(0)">天</span></div>
        </div>
        <div ref="anJian" style="width: 100%; height:calc(100% - 80px);"></div>
    </div>
</template>

<script>
    import echarts from "echarts"
    // import {getPercentageByPrevious} from '../../../api/components/parking'
import { mapState } from 'vuex'

    export default {
        data() {
            return {
                data: [],
                myChart: null,
                selectIndex:2
            }
        },
        mounted(){
            
        },
        created() {
            this.$nextTick(() => {
                this.getData(2)
            })
        },
        computed:{
            ...mapState({
                getPercentAgeprevious:state=>state.echarts.getPercentAgeprevious
            })
        },
        methods: {
            getData(index) {
                this.selectIndex = index
                this.$store.dispatch('getPercentageByPrevious',{previous: index}).then(res=>{
                    this.myChart = echarts.init(this.$refs['anJian']);
                    let arr = [];
                    let arr2 = [];
                    res.data.forEach(item => {
                        let it = {
                            name: item.camName,
                            value: item.num
                        }
                        arr.push(it)
                        arr2.push(item.camName)
                    });
                    this.data = [...arr];
                    this.myChart.setOption(this.getEchartsOption(arr2,this.data));
                })
            },
            getEchartsOption: function (arr2,data) {
                let option = {
                    legend: {
                        orient: 'vertical',
                        left: 0,
                        bottom: 0,
                        icon: "circle",
                        data: arr2,
//                        height:80,
                        textStyle: {
                            color: '#ccc'
                        }
                    },
                    color: ['#d3ad64', '#14c0d8', '#2f4455', '#419ee3', '#019aa0',],
                    textStyle: {
                        color: "#19B7D0"
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{b} : {c} ({d}%)"
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {
                                show: true,
                                type: ['pie']
                            },
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '',
                            type: 'pie',
                            radius: [0, 110],
                            center: ['52%', '40%'],
//                            roseType: 'radius',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'outside',
                                    textStyle: {
                                        fontSize: 10
                                    }
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            lableLine: {
                                normal: {
                                    show: {
                                        show: true,
                                        position: 'inside',
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    }
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            data: data
                        }
                    ]
                };
                return option;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        width: 100%;
        height: 100%;
    }

    .buttonWrapper {
        width: 100%;
        height: 80px;
        padding-left: calc(100% - 116px);
        padding-right: 20px;
        display: flex;
        /*margin-bottom: -20px;*/
    }

    .button {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button > span {
        display: inline-block;
        width: 30px;
        height: 30px;
        /*background: white;*/
        vertical-align: middle;
        font-size: 18px;
        color: #a5ffff;
        cursor: pointer;
        text-align: center;
    }

    .button > span:hover {
        background: #a5ffff;
        color: #000;

    }

    .button > span.active {
        background: #a5ffff;
        color: #000;
    }
</style>
