<template>
    <div ref="weiLastWeek" style="width: 100%; height: 100%;"></div>
</template>

<script>
    import echarts from "echarts"
import { mapState } from 'vuex'
    // import {getCountByYesterdayHour} from '../../../api/components/parking'

    export default {
        data() {
            return {
                myChart: null
            }
        },
        computed:{
            ...mapState({
                lastWeekXiuTanCar:state=>state.echarts.lastWeekXiuTanCar
            })
        },
        mounted(){
            
        },
        created() {
            this.$nextTick(() => {
                this.$store.dispatch('lastWeekXiuTanCarNum').then(res=>{
                    this.myChart = echarts.init(this.$refs['weiLastWeek']);
                    res.data.sort(this.sortNumber);
                    let dataX = [];
                    let dataY = [];
                    res.data.forEach(item => {
                        let showTime = '';
                        if (item.showTime < 10) {
                            showTime = "0" + item.showTime + ":00";
                        } else {
                            showTime = item.showTime + ":00";
                        }
                        dataX.push(showTime);
                        dataY.push(item.num);
                    });
                    let option = this.getEchartsOption(dataX, dataY);
                    this.myChart.setOption(option);
                })   
            })
        },
        methods: {
            sortNumber: function (a, b) {
                return a.showTime - b.showTime;
            },
            getEchartsOption: function (dataX, dataY) {
                return {
                    textStyle: {
                        color: "#19B7D0"
                    },
                    color: ['#ff3005'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        },
                        formatter: "时间: {b}<br/>违章次数: {c}"
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '10%',
                        top: "10%",
                        containLabel: true,
                    },
                    xAxis: {
                        axisLabel: {
                            rotate: -90,
                            interval: 0,
                            fontSize: 8
                        },
                        type: 'category',
                        data: dataX,
                        axisTick: {
                            show: false,
                            alignWithLabel: true
                        },
                        splitLine: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#19B7D0',
                                width: 2
                            }
                        },
                    },
                    yAxis: {
                        type: 'value',
                        splitLine: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#19B7D0',
                                width: 2
                            }
                        },
                    },
                    series: [
                        {
                            name: '记录次数',
                            type: 'bar',
                            barWidth: '40%',
                            data: dataY,
                            itemStyle: {
                                normal: {
                                    color: {
                                        type: 'linear',
                                        x: 0,
                                        y: 0,
                                        x2: 0,
                                        y2: 1,
                                        colorStops: [{
                                            offset: 0, color: '#058b8e' // 0% 处的颜色
                                        }, {
                                            offset: 1, color: '#997e48' // 100% 处的颜色
                                        }],
                                        globalCoord: false // 缺省为 false
                                    },
                                    opacity: 0.9,
                                }
                            },
                        },
                        {
                            name: '',
                            type: 'line',
//                            barWidth: '60%',
                            data: dataY,
                            itemStyle: {
                                normal: {
                                    color: '#ccc',
                                    opacity: 0,
                                }
                            },
                            lineStyle: {
                                normal: {
                                    color: '#ccc',
                                    width: 1,
                                    type: 'solid',
//                                    shadowBlur: ...,
//                                    shadowColor: ...,
//                                    shadowOffsetX: 0,
//                                    shadowOffsetY: 0,
                                    opacity: 0.8,
                                },
                            },
                        }
                    ]
                };
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
