<template>
  <div class="liqingchang-box">
    <div class="titlebg">
      <!--            <img style="height: 100%" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/titletitle.png" alt="">-->
    </div>
    <div class="echart-box" style="width: 100%;height: 100%;">
      <liqing-save></liqing-save>
      <shiliao-save></shiliao-save>
    </div>
    <div class="table-box">
      <today-production></today-production>
      <toadytable></toadytable>
    </div>
  </div>
</template>

<script>
import liqingSave from "./qilingComponents/liqingSave";
import shiliaoSave from "./qilingComponents/shiliaoSave";
import todayProduction from "./qilingComponents/todayProduction";
import toadytable from "./qilingComponents/toadytable";
import { mapState, mapGetters, mapMutations } from "vuex";
import { WSconnect } from "@/utils/socket";
export default {
  data() {
    return {};
  },
  props: [],
  methods: {
    ...mapMutations([])
  },

  created() {},
  mounted() {
    this.$store.dispatch("getProdutionInfo");
    setTimeout(() => {
      WSconnect();
    }, 3000);
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {
    liqingSave,
    shiliaoSave,
    todayProduction,
    toadytable
  }
};
</script>

<style lang="less" scoped>
.titlebg {
  /*background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/title0714.png") no-repeat;*/
  // background-size: 100% 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.liqingchang-box {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 100%;
  grid-template-rows: 8% 42% 50%;
  width: 100%;
  height: 100%;
  /*background-color: #0b305d;*/
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bigbg.png");
  background-size: 100%;
  .echart-box,
  .table-box {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
  }
}
</style>
