<template>
  <div style="padding: 10px">
    <div class="container" ref="container"></div>
  </div>
</template>

<script>
import echarts from "echarts";
import { mapState } from "vuex";
export default {
  data() {
    return {};
  },
  created() {},
  mounted() {
    this.init2();
  },
  methods: {
    init2() {
      let xline = [],
        productionNum = [];
      this.produtionInfoEchart.forEach((item) => {
        let a = item.model.replace("(", "\n(");
        xline.push(a);
        productionNum.push(item.produceSum);
      });
      var myChart = echarts.init(this.$refs.container);
      let option = {
        color: ["#84dbfb", "#f2a859"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: "1%",
          right: "0%",
          bottom: "0%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: xline,
            axisTick: {
              alignWithLabel: true
            },
            axisPointer: {
              type: "shadow"
            },
            splitLine: { show: false }, //去除网格线
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              show: true,
              textStyle: {
                color: "#bdc2cb",
                fontSize: "7"
              },
              // rotate: 56,
              interval: 0
            }
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "生产量(T)",
            nameTextStyle: {
              color: "#7dd0ef",
              fontSize: 14
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: ["#2c496c"],
                width: 1,
                type: "solid"
              }
            },
            axisLine: {
              lineStyle: {
                color: "#445c7a",
                width: 1 //这里是为了突出显示加上的
              }
            },
            axisLabel: {
              textStyle: {
                color: "#6bb7d7",
                fontSize: "14"
              }
            }
          }
        ],
        series: [
          {
            name: "生产量(T)",
            type: "bar",
            barWidth: 13,
            data: productionNum,
            itemStyle: {
              normal: {
                label: {
                  show: true, //开启显示
                  position: "top", //在上方显示
                  textStyle: {
                    color: "#6bb7d7",
                    fontSize: 14,
                    fontWeight: 600
                  }
                }
              }
            }
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }
  },
  computed: {
    ...mapState({
      produtionInfoEchart: (state) => state.liqingchang.produtionInfoEchart
    })
  }
};
</script>

<style lang="less" scoped>
.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1% 3%;
}
</style>
