<template>
  <div class="productionContainer" id="productionContainer">
    <div class="parentbox">
      <productionLeft
        v-if="produtionInfo && produtionInfoEchart.length > 0"
        class="productionLeft"
      ></productionLeft>
      <!-- <productionMiddle
        v-if="produtionInfoEchart.length > 0"
        class="productionLeft"
      ></productionMiddle> -->
      <productionRight
        v-if="produtionInfo"
        class="productionRight"
      ></productionRight>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import productionLeft from "../liqingchang/productionLeft";
// import productionMiddle from "../liqingchang/productionMiddle";
import productionRight from "../liqingchang/productionRight";
import { WSconnect } from "@/utils/socket";
export default {
  data() {
    return {};
  },
  methods: {},
  created() {
    this.$store.dispatch("getProdutionInfo");
  },
  mounted() {
    // var WH = document.body.scrollHeight*1/2;
    document.getElementById("productionContainer").style.transform = "scale(1,3)";
    document.getElementById("productionContainer").style.height = "360px";
    document.getElementById("productionContainer").style.transformOrigin = "0 0";
    // const scale = document.documentElement.clientWidth / 1920
    // 设置页面根节点字体大小（“Math.min(scale, 2)” 指最高放大比例为2，可根据实际业务需求调整）
    // document.documentElement.style.fontSize = baseSize * Math.min(scale, 2) + 'px'
    setTimeout(()=>{
      WSconnect()
    },3000)
  },
  computed: {
    ...mapState({
      produtionInfo: (state) => state.liqingchang.produtionInfo,
      produtionInfoEchart: (state) => state.liqingchang.produtionInfoEchart,
    })
  },
  components: {
    productionLeft,
    productionRight,
    // productionMiddle
  }
};
</script>

<style lang="less" scoped>
.productionContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  margin: 0;
  .titleBox {
    height: 5%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1%;
    color: #70f7fc;
    font-size: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .parentbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .productionLeft {
      height: 100%;
      width: 33.3%;
    }
    .productionRight {
      height: 100%;
      width: 66.7%;
    }
  }
}
</style>
