<template>
  <div class="container">
    <div class="modletitleBox">今日生产情况</div>
    <div class="table">
      <div class="titleBox" style="z-index: 9999;opacity: 1;">
        <div class="itemRow titleItem" style="flex: 0.7">今日项目</div>
        <div class="itemRow titleItem" style="flex: 0.5">出车时间</div>
        <div class="itemRow titleItem" style="flex: 0.5">混合料规格</div>
        <div class="itemRow titleItem" style="flex: 0.3">皮重</div>
        <div class="itemRow titleItem" style="flex: 0.3">毛重</div>
        <div class="itemRow titleItem" style="flex: 0.3">净重</div>
        <div class="itemRow titleItem" style="flex: 0.4">车牌号</div>
        <div class="itemRow titleItem">项目进度</div>
      </div>
        <div class="swiperBox">
                <swiper
                :options="swiperOption"
                style="height:90%;"
                ref="mySwiper"
                >
                <swiperSlide class="titleBox" v-for="item in this.produtionProgress" :key="item.F_StdNo" >
                    <div class="itemRow" style="flex: 0.7">{{item.F_Memo}}</div>
                    <div class="itemRow" style="flex: 0.5">{{item.F_BeginTime}}</div>
                    <div class="itemRow" style="flex: 0.5">{{item.F_Model}}</div>
                    <div class="itemRow" style="flex: 0.3">{{item.F_Tare}}</div>
                    <div class="itemRow" style="flex: 0.3">{{item.F_Gross}}</div>
                    <div class="itemRow" style="flex: 0.3">{{item.F_Net}}</div>
                    <div class="itemRow" style="flex: 0.4">{{item.F_CarNo}}</div>
                    <div class="itemRow">
                        <el-progress type="line" :percentage="Number.parseInt(item.F_YLStr02)/3000 > 1 ? 100 : (Number.parseInt(item.F_YLStr02)/3000*100).toFixed(2)" class="test">
                        </el-progress>
                    </div>
                </swiperSlide>
            </swiper>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { swiper, swiperSlide, directive } from 'vue-awesome-swiper'

export default {
  data() {
    return {
        swiperOption: {
                slidesPerView: 3,//当前box放几条数据
                direction: "vertical",   //控制滚动的方向
                paginationClickable: true,
                observer:true,//修改swiper自己或子元素时，自动初始化swiper
                observeParents:true,//修改swiper的父元素时，自动初始化swiper
                autoplay: 3200,
                autoplayDisableOnInteraction: false,
                loop: false,
                mousewheel:true,
                mousewheelControl:true,
                height:300,
                centeredSlides: false, // 是否居中显示
            },
    };
  },
  methods: {

  },
  created() {},
  mounted() {
    this.$store.dispatch("getSearchProdution");
    const scale = document.documentElement.clientWidth / 1920
    // 设置页面根节点字体大小（“Math.min(scale, 2)” 指最高放大比例为2，可根据实际业务需求调整）
    // document.documentElement.style.fontSize = 16 * Math.min(scale, 2) + 'px'
  },
  computed: {
    ...mapState({
      produtionProgress: (state) => state.liqingchang.produtionProgress
    }),
    swiper() {
      return this.$refs.mySwiper.swiper
    },
  },
  components:{
        swiper, swiperSlide
    },
    directives:{
        swiper: directive
    },
};
</script>

<style lang="less" scoped>
.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-image: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/liqingchang/bggg.png");
    background-size: 100% 100%;
  .modletitleBox {
    // height: 8%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #70f7fc;
    align-items: center;
    display: flex;
    justify-content: center;
      font-size: 1.8rem;
      /*padding: 0.5rem 0;*/
  }
  .table {
    border: 0.5px solid #5FD8FA;
    height: 91%;
    overflow: hidden;
    // margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .titleBox {
    height: 10% !important;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .swiperBox{
      width:100%;height:90%;
      overflow:hidden;
  }
  .itemRow {
    height: 78px;
    flex: 1;
    border-bottom: 0.5px solid #5FD8FA;
    border-right: 0.5px solid #5FD8FA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #145ef6;
    font-size: 1.0rem !important;
    padding: 0 1%;



  }
  .titleItem {
    color: #84dbfb;
    font-size: 1.4rem !important;
    box-sizing: border-box;
    height: 100%;
    // padding: 0 3%;
  }
}

.test /deep/ .el-progress-bar__inner {
  /* background-color: unset; */
  background-image: linear-gradient(to right, #0042f5 0%, #4cb4f9 100%);
}
.test /deep/ .el-progress-bar__outer {
  height: 15px !important;
  // border: 1px solid #78335f;
  background-color: #000c6b;
}
</style>
<style >
.el-progress {
  width: 100%;
}
</style>




