<template>
  <div class='out-box'>
    <div class="number-box">
      <people-number :leftMiddleInfo="leftMiddleInfo" :selectType="selectType"></people-number>
    </div>
    <div class="echart-box" v-if="leftEchartVisit">
      <!-- <people-echart :xData="leftMiddleInfo.xAxis" :yData="leftMiddleInfo.series"></people-echart> -->
    </div>
  </div>
</template>

<script>
import peopleNumber from "@/components/sanlin/leftMiddle/peopleNumber";
import peopleEchart from "@/components/sanlin/leftMiddle/peopleEchart";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props: ['leftMiddleInfo', 'selectType'],
  methods:{ ...mapMutations([])},

  mounted(){
  },
  watch:{},
  computed:{ ...mapState({
      leftEchartVisit: state => state.sanlinecharts.leftEchartVisit
  }),
  ...mapGetters([])

  },
  components: {
    peopleNumber,
    peopleEchart
  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
</style>
