<template>
  <div ref="peopleEchart" style="width:100%;height:100%;">

  </div>
</template>

<script>
import echart from "echarts";
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props: ['xData', 'yData'],
  methods:{ ...mapMutations([]),
    
  },

  mounted(){
    this.$nextTick(() => {
      let myChart = echart.init(this.$refs.peopleEchart);
      myChart.on('click',function({name}){
        const param = {
          type: 3,
          place: name
        }
        this.$store.dispatch('getPeopleHotEchart',param)
        this.$store.commit('CLEARHOTECHART')
        // this.$store.commit('CLEARMARKERS')
      }.bind(this))
      myChart.setOption({
        color: ['#e6a23c'],
        tooltip: {
          trigger: 'axis',
          axisPointer: {            // 坐标轴指示器，坐标轴触发有效
            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        // legend: {
        //     data:['人数', '阈值'],
        //     textStyle:{//图例文字的样式
        //         color:'#01a4e2',
        //         fontSize:14
        //     }
        // },
        grid: {
          top:'24%',
          left: '8%',
          right: '4%',
          bottom: '5%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            data: this.xData,
            axisTick: {
              show: false
            },
            axisLine:{
              lineStyle:{
                type:'solid',
                color:'#23cefd',
                width:.5
              }
            },
            axisLabel:{
              textStyle:{
                fontSize: '65%',
                color:'#01a4e2'
              },
              rotate:-40
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name:'人数',
            nameTextStyle:{
              fontSize:'75%',
            },
            axisLine:{
              lineStyle:{
                type:'solid',
                color:'#23cefd',
                width:.5
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle:{
                color: '#33394f',
                width: .5,
                type: 'solid'
              }
            },
            axisLabel:{
              textStyle:{
                fontSize: '65%',
                color:'#01a4e2'
              }
            }
          },
          {
            type: 'value',
            // name:'阈值',
            nameTextStyle:{
              fontSize:'75%',
            },
            axisLine:{
              show:false
              // lineStyle:{
              //   type:'solid',
              //   // color:'#23cefd',
              //   width:.5
              // }
            },
            axisTick: {
              show: false
            },
            splitLine: {  
              show: false,
              // lineStyle:{
              //   color: '#33394f',
              //   width: .5,
              //   type: 'solid'
              // }
            },
            axisLabel:{
              show:false
              // textStyle:{
              //   fontSize: '65%',
              //   color:'#01a4e2'
              // }
            }
          },
        ],
        series: [
          {
            name:'人数',
            type: 'bar',
            barWidth: '40%',
            data: this.yData[0].data
          },
          {
            name:'阈值',
            type: 'line',
            yAxisIndex:1,
            data: this.yData[1].data,
            itemStyle:{
              normal:{
                color:'#ff0000',
                lineStyle:{
                  color:'#ff0000'
                }
              }
            }
          },
        ]
      });
    })

  },
  watch:{},
  computed:{ ...mapState({}),
  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
</style>
