<template>
  <div class='people-number-box'>
    <div class="number-item blue-text" @click="allHeatmap">
      <div class="number-item-desc">嗅探总人数</div>
      <div class="number-item-num">
        <span class="number-style">{{leftMiddleInfo.totalPeoples}}</span> <span> 人</span>
      </div>
    </div>

    <div class="number-item blue-text">
      <div class="number-item-desc">嗅探总次数</div>
      <div class="number-item-num">
        <span class="number-style">{{leftMiddleInfo.totalTimes}}</span> <span> 次</span>
      </div>
    </div>

    <div class="number-item blue-text handStyle" @click="showTable">
      <div class="number-item-desc">告警量</div>
      <div class="number-item-num">
        <span class="number-style">{{leftMiddleInfo.alerts}}</span> <span> 条</span>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props: ['leftMiddleInfo', 'selectType'],
  methods:{
    showTable () {
      const params = {
        count: 10,
        start: 0,
        period: this.selectType
      }
      // this.$store.dispatch('getRenqunMiduList',params)
      this.$store.commit('RENKOUMIDUTABLEVISIBLE',true)
    },
    allHeatmap(){
      this.$store.commit('CLEARHOTECHART')
      const params2 = {
        type: 'period'
      }
      this.$store.dispatch('getPeopleHotEchart',params2)
    },
    ...mapMutations([])
  },

  mounted(){},
  watch:{},
  computed:{ ...mapState({}),
  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
@import "~@/assets/less/sanlin/leftMiddle.less";
</style>
