mo<template>
  <div class="big-screen-container">
    <header class="header-class">
      <section class="weather">
        <!-- <span>{{weather.temperature}}°C </span>
        <span>{{weather.weather}}</span>
        <span>{{weather.winddirection}}风{{weather.windpower}}级</span> -->
        <span>14~20°C </span>
        <span>阴</span>
        <span>东风2级</span>
      </section>
      <section class="title">
        <span>{{ allTitle }}社区综合治理平台</span>
      </section>
      <img
        class="header-img"
        src="~@/assets/images/lingang/dingbu@2x.png"
        alt=""
      />
      <section class="date-container">
        <span>{{ dateString }}</span
        ><span>星期{{ weekString }}</span>
        <span class="gold">{{ timeString }}</span>
      </section>
    </header>
    <section class="body-container">
      <section class="body-container-left">
        <section class="left-top"><basicInfo></basicInfo></section>
        <section class="left-bottom">
          <cityState v-if="!isV2"></cityState>
          <cityState2 v-if="isV2"></cityState2>
        </section>
      </section>
      <section class="body-container-middle">
        <section class="middle-top">
          <div class="toolLine">
            <div class="toolline_header">
              图例
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/shipinziyuan%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                视频资源
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/zhinengmoxing%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                智能模型
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/lunxunqiehuan%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                轮巡切换
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/chuanganqi%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                传感器
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/zhibanbiao%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                值班表
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/zhihuidangjian%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                智慧党建
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/renyuan%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                出入人员
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/cheliang%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                出入车辆
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/sousuo%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                全局搜索
              </div>
            </div>
            <div class="toolline_item">
              <div class="toolline_item_con">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/lingGang/laoren%402x.png"
                />
              </div>
              <div class="toolline_item_con">
                老人看护
              </div>
            </div>
            <div class="toolline_footer">
              <div class="tool_btn">清除标记</div>
            </div>
            <!-- <div class="toolLine_item" @click="getVideoList"></div>
            <div class="toolLine_item"></div>
            <div class="toolLine_item" @click="videoChange"></div>
            <div class="toolLine_item" @click="getSensorList"></div>
            <div class="toolLine_item" @click="getDutyList"></div>
            <div class="toolLine_item" @click="getepidemicList"></div> -->
          </div>
          <!-- <div id="map-container" style="height:100%" ref="map"> -->
          <!-- <cityStateTable
              class="citystate-table"
              v-if="cityStateTableVisible"
            ></cityStateTable> -->
          <lgmap></lgmap>
          <!-- </div> -->
        </section>
        <section class="middle-bottom"><flow></flow></section>
      </section>
      <section class="body-container-right">
        <section class="right-top">
          <noticePublic :isV2="false"></noticePublic>
          <noticePublic v-if="isV2" :isV2="isV2"></noticePublic>
          <videoEnsure></videoEnsure>
        </section>
        <section class="right-bottom">
          <!--          <warningAnalyze></warningAnalyze>-->
          <warningAnalyze2></warningAnalyze2>
        </section>
      </section>
    </section>
    <dialog-parent v-if="isShowDialog">
      <normal-child-dialog slot="normal"></normal-child-dialog>
      <unnormal-child-dialog slot="unnormal"></unnormal-child-dialog>
      <video-child-dialog slot="video"></video-child-dialog>
    </dialog-parent>
    <div class="golble-pop" v-if="false">
      <sanhuiPop></sanhuiPop>
    </div>
    <qiyeInfoPop v-if="qiyeInfoPopVisible"></qiyeInfoPop>
    <dutylistPop v-if="dutylistPopVisible"></dutylistPop>
    <sensorListPop v-if="sensorListPopVisible"></sensorListPop>
    <sanhuiPop class="golble-pop" v-if="sanhuiPopVisible"></sanhuiPop>
    <epidemicPop v-if="epidemicPopVisible"></epidemicPop>
    <hotline class="golble-pop" v-if="hotlinePopVisible"></hotline>
    <video-popup
      :node="videoRtsp"
      :visible="videoVisible"
      @video:close="handleCloseVideo"
    ></video-popup>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import basicInfo from "@/components/lingang/basicInfo";
import cityState from "@/components/lingang/cityState";
import cityState2 from "@/components/lingang/cityState2";
import warningAnalyze from "@/components/lingang/warningAnalyze";
import warningAnalyze2 from "@/components/lingang/warningAnalyze2";
import videoEnsure from "@/components/lingang/videoEnsure";
import noticePublic from "@/components/lingang/noticePublic";
import dialogParent from "../../components/lingang/dialogParent";
import normalChildDialog from "../../components/lingang/normalChildDialog";
import unnormalChildDialog from "../../components/lingang/unnormalChildDialog";
import videoChildDialog from "../../components/lingang/videoChildDialog";
import flow from "@/components/lingang/flow";
import sanhuiPop from "@/components/lingang/pop/sanhuiPop";
import qiyeInfoPop from "@/components/lingang/pop/qiyeInfoPop";
import dutylistPop from "@/components/lingang/pop/dutyListPop";
import sensorListPop from "@/components/lingang/pop/sensorListPop";
// import AMapLoader from "@amap/amap-jsapi-loader";
import videoPopup from "@/components/lingang/pop/videoPop.vue";
import hotline from "@/components/lingang/pop/12345hotline";
import epidemicPop from "@/components/lingang/pop/epidemicPop";
import lgmap from "@/views/lingang/map";

// import store from "@/store/index";
// import { selectdeviceIcon } from "@/utils/deviceIcon";

// import jsapiUtil from '@/utils/jsapi'
// import mapconfig from '@/config/config_map.js'
// import * as esriloader from 'esri-loader'
import Vue from "vue";
import cityStateTable from "@/components/lingang/pop/cityStateTable";
import axios from "axios";
// import {axios} from "@/utils/requests";
export default {
  data() {
    return {
      d: new Date(),
      timeString: "",
      map: null,
      districtId: this.GLOBAL.lgDistrictId,
      weather: {},
      allTitle: "",
      isV2: true
    };
  },
  methods: {
    ...mapMutations([]),
    videoChange() {
      this.$store.commit("CONTROL_DIALOG", true);
      this.$store.commit("SET_DIALOG_NAME", "video");
      this.$store.commit("SET_DIALOG_INFOLIST", this.lgMessageList);
      this.$store.commit("SET_DIALOG_TITLE", "轮巡切换");
    },
    getDutyList() {
      this.$store.commit("SET_DUTYLISTPOP_VISIBLE", true);
    },
    getepidemicList() {
      this.$store.commit("SET_EPIDEMICPOP_VISIBLE", true);
    },
    getSensorList() {
      this.$store.commit("SET_SENSORLISTPOP_VISIBLE", true);
    },
    getVideoList() {
      let params = {
        count: 5000,
        start: 0,
        keywords: Vue.ls.get("districtId")
      };
      this.$store.dispatch("lingangDevices", params);
    },
    handleCloseVideo: function() {
      // this.videoVisible = false;
      this.$store.commit("HIDE_VIDEO_RANDOM_VISIBLE");
    },
    showDialog() {
      this.$store.commit("CONTROL_DIALOG", true);
      this.$store.commit("SET_DIALOG_NAME", "video");
      this.$store.commit("SET_DIALOG_INFOLIST", {
        id: 1,
        url: "http://172.30.96.39:83/openUrl/WKk2fdK/live.m3u8"
      });
      this.$store.commit("SET_DIALOG_TITLE", "通知公告");
    }
  },

  mounted() {
    let width = document.body.clientWidth;
    let height = document.body.clientHeight;
    console.log(width);
    console.log(height);
    if (width / height > 25 / 9) {
      console.log(1111);
      let size = (width / 3840) * 16;
      let html = document.documentElement;
      html.style.fontSize = size + "px";
    } else {
      let size = (width / 1920) * 16;
      let html = document.documentElement;
      html.style.fontSize = size + "px";
    }

    this.$store.commit("INIT_AMAP");
    let par = {
      districtId: Vue.ls.get("districtId")
    };
    this.$store.dispatch("basicDataPool", par);
    this.allTitle = JSON.parse(Vue.ls.get("userInfo")).districtName;
    setInterval(() => {
      var d = new Date();
      this.timeString =
        (d.getHours().toString() > 9
          ? d.getHours().toString()
          : "0" + d.getHours().toString()) +
        ":" +
        (d.getMinutes().toString() > 9
          ? d.getMinutes().toString()
          : "0" + d.getMinutes().toString()) +
        ":" +
        (d.getSeconds().toString() > 9
          ? d.getSeconds().toString()
          : "0" + d.getSeconds().toString());
    }, 1000);

    axios
      .get(
        "https://restapi.amap.com/v3/weather/weatherInfo?city=310115&key=cb3b07794f3bcac8dc6188757a5386c1"
      )
      .then(res => {
        if (res.data.info == "OK") {
          this.weather = res.data.lives[0];
        }
      });
  },
  filters: {},
  watch: {
    mapLoadingComplete: function(val) {
      if (val) {
        this.$store.commit("POLY_GON");
      }
    }
  },
  computed: {
    dateString: function() {
      return (
        this.d.getFullYear() +
        "年" +
        (this.d.getMonth() + 1) +
        "月" +
        this.d.getDate() +
        "日"
      );
    },
    weekString: function() {
      var week = this.d.getDay();
      if (week == 0) {
        return "日";
      } else if (week == 1) {
        return "一";
      } else if (week == 2) {
        return "二";
      } else if (week == 3) {
        return "三";
      } else if (week == 4) {
        return "四";
      } else if (week == 5) {
        return "五";
      } else if (week == 6) {
        return "六";
      } else {
        return "";
      }
    },
    ...mapState({
      mapLoadingComplete: state => state.tools.mapLoadingComplete,
      isShowDialog: state => state.lingangVisible.isShowDialog,
      qiyeInfoPopVisible: state => state.lingangVisible.qiyeInfoPopVisible,
      dutylistPopVisible: state => state.lingangVisible.dutylistPopVisible,
      sensorListPopVisible: state => state.lingangVisible.sensorListPopVisible,
      sanhuiPopVisible: state => state.lingangVisible.sanhuiPopVisible,
      hotlinePopVisible: state => state.lingangVisible.hotlinePopVisible,
      epidemicPopVisible: state => state.lingangVisible.epidemicPopVisible,
      videoVisible: state => state.mapdevice.videoVisible,
      videoRtsp: state => state.mapdevice.videoRtsp,
      cityStateTableVisible: state => state.lingangVisible.cityStateTableVisible
      // allTitle: state => state.videoAggregation.allTitle
    }),
    ...mapGetters([])
  },
  components: {
    basicInfo,
    cityState,
    cityState2,
    warningAnalyze,
    warningAnalyze2,
    noticePublic,
    videoEnsure,
    dialogParent,
    normalChildDialog,
    unnormalChildDialog,
    videoChildDialog,
    flow,
    sanhuiPop,
    qiyeInfoPop,
    dutylistPop,
    sensorListPop,
    hotline,
    videoPopup,
    cityStateTable,
    epidemicPop,
    lgmap
  }
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/lingang/bigscreen.less";
</style>
<style lang="less">
.el-tooltip__popper.is-light {
  width: 500px;
}
.amap-info-content {
  background: rgba(23, 33, 64, 0.9);
  .infoBox {
    ul {
      padding-left: 15px;
      li {
        list-style-type: none;
        line-height: 30px;
        img {
          width: 25px;
          height: 28px;
          vertical-align: middle;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}
.bottom-center .amap-info-sharp {
  border-top: 8px solid rgba(23, 33, 64, 0.9);
}
.amap-info-content::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 3px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.amap-info-content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #00edfb;
}
.amap-info-content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.right-top {
  display: flex;
  flex-flow: column;
}
</style>
