<template>
  <div class="live-casting">
    <video-container
      :reffer="lingangReffer"
      :node="lingangNode"
      :url="lingangUrl"
    ></video-container>
  </div>
</template>

<script>
import videoContainer from "@/components/videoContainer.vue";

import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      lingangReffer: "lingang-casting-id"
    };
  },
  methods: { ...mapMutations([]) },

  mounted() {
    let params = {
      cameraId: "2c822d85f8db458399013e447e914abc",
      protocol: "rtmp",
      streamType: 0
    };
    this.$store.dispatch("getLiveUrl", params);
  },
  filters: {},
  watch: {},
  computed: {
    lingangUrl: function() {
      return this.lingangNode.metadata.url;
    },
    ...mapState({
      lingangNode: state => state.live.lingangNode
    }),
    ...mapGetters([])
  },
  components: { videoContainer }
};
</script>

<style lang="less" scoped>
.live-casting {
  height: 100%;
  width: 100%;
}
</style>
