<template>
  <div class="lingangmap" ref="map"></div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import * as esriloader from "esri-loader";
import jsapiUtil from "@/utils/jsapi";
export default {
  data() {
    return {};
  },
  props: [],
  methods: {
    ...mapMutations([]),
    async initmap() {
      let option = {
        jsApiUrl: "http://10.89.5.14/api/library/4.16/init.js",
        cssUrl: "http://10.89.5.14/api/library/4.16/esri/css/main.css"
      };
      esriloader.loadCss(option.cssUrl); //添加样式
      let that = this;
      const [
        esriConfig,
        Map,
        Basemap,
        SceneView,
        MapView,
        SpatialReference,
        IdentityManager,
        Camera,
        LayerList,
        Expand,
        Fullscreen,
        Legend,
        GroupLayer,
        TileLayer,
        SceneLayer,
        FeatureLayer,
        DirectLineMeasurement3D,
        AreaMeasurement3D,
        Graphic,
        watchUtils,
        urlUtils
      ] = await jsapiUtil.load([
        "esri/config",
        "esri/Map",
        "esri/Basemap",
        "esri/views/SceneView",
        "esri/views/MapView",
        "esri/geometry/SpatialReference",
        "esri/identity/IdentityManager",
        "esri/Camera",
        "esri/widgets/LayerList",
        "esri/widgets/Expand",
        "esri/widgets/Fullscreen",
        "esri/widgets/Legend",
        "esri/layers/GroupLayer",
        "esri/layers/TileLayer",
        "esri/layers/SceneLayer",
        "esri/layers/FeatureLayer",
        "esri/widgets/DirectLineMeasurement3D",
        "esri/widgets/AreaMeasurement3D",
        "esri/Graphic",
        "esri/core/watchUtils",
        "esri/core/urlUtils"
      ]);

      const darkblackLayer = await new TileLayer(
        "http://10.89.5.14/arcgis/rest/services/basemap/darkblack_kp_3857/MapServer",
        {
          id: "air2020",
          visible: true,
          opacity: 1,
          title: "暗黑底图"
        }
      );
      const baseMapGroupLayer = new GroupLayer({
        title: "基础底图",
        visible: true,
        visibilityMode: "exclusive",
        layers: [darkblackLayer],
        opacity: 1
      });
      window.map = new Map({
        ground: {
          surfaceColor: "#021425"
        }
      });
      const initCamera = {
        heading: 0,
        tilt: 0.49999999999913347,
        fov: 55,
        position: {
          x: 31677.802827289288,
          y: -33415.02681828593,
          z: 95587.70223144352,
          spatialReference: SpatialReference.WebMercator
        }
      };

      window.sceneView = new SceneView({
        container: this.$refs.map,
        viewingMode: "local",
        map: map,
        camera: initCamera,
        popup: {
          defaultPopupTemplateEnabled: true
        }
      });
      map.layers.add(baseMapGroupLayer);
      const xinpianquRegion = new FeatureLayer({
        title: "新片区边界",
        url: "http://10.89.5.14/arcgis/rest/services/region/lg_region/MapServer",
        group: "LGlabel",
        renderer: {
          type: "simple",
          symbol: {
            type: "simple-fill",
            color: [255, 235, 175, 0.1],
            outline: {
              color: [255, 235, 175, 1],
              width: "1.5px"
            }
          }
        },
        labelingInfo: [
          {
            symbol: {
              type: "label-3d",
              symbolLayers: [
                {
                  type: "text",
                  material: {
                    color: [255, 255, 190, 1]
                  },
                  halo: {
                    color: [0, 0, 0, 0.7],
                    size: 4
                  },
                  size: 20,
                  font: { weight: "bold" }
                }
              ]
            }
            // labelPlacement: "above-center",
            // labelExpressionInfo: {
            //   expression: "$feature.name",
            // },
          }
        ],
        elevationInfo: {
          mode: "absolute-height",
          offset: 8
        },
        definitionExpression: "NAME='360' "
        // definitionExpression:"NAME='360' OR NAME='873'"
      });
      const regionGroupLayer = new GroupLayer({
        title: "边界图层",
        visible: true,
        visibilityMode: "independent",
        layers: [xinpianquRegion],
        opacity: 1
      });
      map.layers.add(regionGroupLayer);
    }
  },

  created() {},
  mounted() {
      this.initmap()
  },
  watch: {},
  computed: {
    ...mapState({}),

    ...mapGetters([])
  },
  components: {}
};
</script>

<style lang='less' scoped>
.lingangmap {
  width: 100%;
  height: 100%;
  background: #080e32;
}
</style>
<style>
.esri-ui .esri-attribution{
  display: none;
}
</style>
